<div class="graph">
  <div class="graph__info row js-graph-info">
    <div class="graph__info-col graph__info-col_left col col-md-order-2">
      <div class="graph__info-text">
        <div class="graph-text graph-text_sm-spec">{{ graph.blue_text | safe }}</div>
      </div>
    </div>
    <div class="graph__info-grow col col-md-order-1">
      <div class="graph__info-img">
        <img class="graph__info-img-in graph__info-img-in_default" src="{{ data.global.src_img }}{{ graph.img }}" alt="{{ graph.alt }}" />
        <img class="graph__info-img-in graph__info-img-in_mob" src="{{ data.global.src_img }}{{ graph.img_mob }}" alt="{{ graph.alt }}" />
      </div>
    </div>
    <div class="graph__info-col graph__info-col_right col col-md-order-3">
      <div class="graph__info-text">
        <div class="graph-text graph-text_green graph-text_sm-spec">{{ graph.green_text | safe }}</div>
      </div>
    </div>
  </div>
</div>
