<div class="graph">
  <div class="graph__row row">
    {% for i in graph %}
    <div class="graph__col col">
      <div class="graph__numb graph__numb_md-spec js-graph-numb">
        <div class="graph__figure graph-figure{%if i.mod == 'green'%} graph-figure_green{%endif%} {%if i.mod == 'green_sm'%} graph-figure_green-sm{%endif%} js-graph-figure" data-inc-value="{{ i.number }}" data-inc-duration="2000" data-inc-delay="0">0</div>
        <div class="graph-text{%if i.mod == 'green'%} graph-figure_green{%endif%}">{{ i.text | safe }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="graph__lines-row row">
    <div class="graph__lines-col col">
      <div class="graph__lines js-lines">
        {% for i in graph %}
        <div class="graph__line js-line" data-value="{{ i.number }}"></div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="graph__lines-row row">
    <div class="graph__lines-col graph__lines-col_legend col">
      <div class="graph-legend">{{ graph_section.caption|safe }}</div>
    </div>
  </div>
</div>
