<div class="graph">
  <div class="row">
    <div class="graph__pointers col">
      <div class="graph__pointer">
        <div class="graph__pointer-row row">
          {% for i in graph %}
          <div class="graph__pointer-col col js-graph-block">
            <div class="graph__pointer-numb js-graph-numb">
              <div class="graph-figure{%if i.mod == 'green'%} graph-figure_green{%endif%} js-graph-figure" data-inc-value="{{ i.number }}" data-inc-duration="2000" data-inc-delay="0">0</div>
              <div class="graph-text graph-text_sm-spec{%if i.mod == 'green'%} graph-text_green{%endif%}">{{ i.text | safe }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
