<div class="graph">
  <div class="graph__row row">
    {% for i in graph %}
    <div class="graph__col col">
      <div class="graph__numb js-graph-numb">
        <div class="graph__figure graph-figure{%if i.mod == 'green'%} graph-figure_green{%endif%} {%if i.mod == 'green_sm'%} graph-figure_green-sm{%endif%} js-graph-figure" data-inc-value="{{ i.number }}" data-inc-duration="2000" data-inc-delay="0">0</div>
        <div class="graph-text{%if i.mod == 'green'%} graph-figure_green{%endif%}">{{ i.text | safe }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="graph__pic-row row js-graph-container">
    <div class="graph__pic-col col">
      <svg class="graph__mountain js-graph" width="920" height="130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveaspectratio="none" data-values="{{graph[0].number}},{{graph[1].number}},{{graph[2].number}}">
        <defs>
          <linearGradient x1="0%" y1="49.9089001%" x2="100.83043%" y2="50.3694819%" id="graph-grad">
            <stop stop-color="#34B3E2" offset="0%"></stop>
            <stop stop-color="#31A836" offset="100%"></stop>
          </linearGradient>
        </defs>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <polygon class="js-graph-polygon" fill-opacity="0.2" fill="#C6D6E3"></polygon>
          <polyline class="js-graph-polyline" stroke="url(#graph-grad)" stroke-width="2" stroke-linecap="round"></polyline>
          <line class="js-graph-line" stroke="#E2EAF1" stroke-linecap="round"></line>
        </g>
      </svg>
      <div class="graph-legend">{{ graph_section.caption|safe }}</div>
    </div>
  </div>
</div>
