<section class="graph-section graph-section_g graph-section_grey js-scroll-section" id="{{ graph_section.id }}">
  <div class="container">
    <div class="row">
      <div class="col col-10 col-push-1 col-lg-12 col-lg-push-0 col-md-10 col-md-push-1 col-sm-12 col-sm-push-0">
        <div class="graph-section__headlines graph-section__headlines_mr-lg">
          <h3 class="graph-section__subtitle graph-subtitle">{{ graph_section.subtitle | safe }}</h3>
          <h2 class="graph-section__title graph-title">{{ graph_section.title | safe }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-10 col-push-1 col-lg-12 col-lg-push-0">
        <div class="graph-section__graph">
          {% include "containers/graphs/_graph-type-6.html" %}
        </div>
      </div>
    </div>
  </div>
</section>
