<div class="graph">
  <div class="graph__percentage js-group-slider-container">
    <div class="graph__percentage-row row js-group-slider-wrapper">
      {% for i in graph %}
      <div class="graph__percentage-col col js-group-slider-slide">
        <div class="graph__percentage-col-in">
          <div class="graph__percentage-numb js-graph-numb">
            <div class="graph__percentage-figure graph-figure js-graph-figure" data-inc-value="{{ i.number }}" data-inc-duration="2000" data-inc-delay="0">0</div>
            <div class="graph__textual">
              <div class="graph-text graph-text_green graph-text_sm-spec">{{ i.text | safe }}</div>
              <div class="graph__percents">
                <div class="graph__arrow graph__arrow_{%if i.direction == 'top'%}top{%else%}bottom{%endif%}">{{ mixins.icon('arrow') }}</div>
                <div class="graph-relation">{{ i.percent | safe }}%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="graph__pagination js-group-slider-pagination"></div>
    <div class="graph__legend row">
      <div class="graph__percentage-col graph__percentage-col_full col">
        <div class="graph__percentage-col-in">
          <div class="graph-legend">{{ graph_section.caption|safe }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
