<div class="graph">
  <div class="graph__circles" style="background-image: url('{{ data.global.src_img }}{{ sections.section_c.bg_img }}')">
    <div class="graph__circles-in">
      <div class="graph__circles-bg-mob">
        <div class="graph__circles-bg-mob-img" style="background-image: url('{{ data.global.src_img }}{{ sections.section_c.bg_img }}')"></div>
      </div>
      <div class="row">
        <div class="graph__circles-container col js-circles-slider-container">
          <div class="graph__circles-wrapper js-circles-slider-wrapper">
            {% for i in graph %}
            <div class="graph__circles-block js-circles-slider-slide">
              <div class="graph__circles-numb js-graph-numb">
                <div class="graph-circle js-circle" data-percent="{{ i.number }}">
                  <svg class="graph-circle__svg" width="102" height="102" viewBox="0 0 102 102" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                      <linearGradient x1="33.791%" y1="-5.805%" x2="68.377%" y2="85.456%" id="circle-grad">
                        <stop stop-color="#41B6E6" offset="0%"/>
                        <stop stop-color="#43B02A" offset="100%"/>
                      </linearGradient>
                    </defs>
                    <g fill="none" fill-rule="evenodd">
                      <circle transform="rotate(83 49.935 51.065)" cx="50" cy="50" r="44" stroke="#EDF2F6" stroke-width="13"/>
                      <circle class="graph-circle__ellipse js-circle-in" transform="rotate(83 49.935 51.065)" cx="50" cy="50" r="44" stroke="url(#circle-grad)" stroke-width="2" stroke-linecap="round" stroke-dashoffset="277" stroke-dasharray="277" />
                    </g>
                  </svg>
                  <div class="graph-circle__icon{% if i.icon_mod %} graph-circle__icon_{{ i.icon_mod }}{% endif %}">{{ mixins.icon('arrow') }}</div>
                </div>
                <div class="graph-figure js-graph-figure" data-inc-value="{{ i.number }}" data-inc-duration="2000" data-inc-delay="0" data-inc-currency="%" data-inc-before="{% if i.less %}<{% endif %}">0</div>
                <div class="graph-text graph-text_green graph-text_sm-spec">{{ i.text | safe }}</div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="graph__pagination js-circles-slider-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>
