$cols: 12
$cols-11: 11
$cols-6: 6
$cols-7: 7
$cols-8: 8
$cols-10: 10
// $cols-5: 5

.container
  width: 100%
  max-width: $grid-width
  margin-left: auto
  margin-right: auto
  padding-left: 52px
  padding-right: 52px
  +lg
    // padding-left: 32px
    // padding-right: 32px
    padding: 0 66px 0
  +md
    // padding-left: 24px
    // padding-right: 24px
    padding: 0 44px
  +sm
    padding-left: 20px
    padding-right: 20px

.row
  display: flex
  flex-wrap: wrap
  margin-left: -$gutter/2
  margin-right: -$gutter/2
  +lg
    margin-left: -$gutter-lg/2
    margin-right: -$gutter-lg/2
  +md
    margin-left: -$gutter-md/2
    margin-right: -$gutter-md/2
  +sm
    margin-left: -$gutter-sm/2
    margin-right: -$gutter-sm/2

.col
  padding-left: $gutter/2
  padding-right: $gutter/2
  +lg
    padding-left: $gutter-lg/2
    padding-right: $gutter-lg/2
  +md
    padding-left: $gutter-md/2
    padding-right: $gutter-md/2
  +sm
    padding-left: $gutter-sm/2
    padding-right: $gutter-sm/2

@for $i from 0 through $cols
  .col-#{$i}
    width: 100%/$cols*$i
  .col-push-#{$i}
    margin-left: 100%/$cols*$i
  .col-order-#{$i}
    order: $i

@for $i from 0 through $cols
  .col-lg-#{$i}
    +lg
      width: 100%/$cols*$i
  .col-lg-push-#{$i}
    +lg
      margin-left: 100%/$cols*$i
  .col-lg-order-#{$i}
    +lg
      order: $i

@for $i from 0 through $cols
  .col-l-#{$i}
    +l
      width: 100%/$cols*$i
  .col-l-push-#{$i}
    +l
      margin-left: 100%/$cols*$i
  .col-l-order-#{$i}
    +l
      order: $i

@for $i from 0 through $cols
  .col-md-#{$i}
    +md
      width: 100%/$cols*$i
  .col-md-push-#{$i}
    +md
      margin-left: 100%/$cols*$i
  .col-md-order-#{$i}
    +md
      order: $i

@for $i from 0 through $cols
  .col-sm-#{$i}
    +sm
      width: 100%/$cols*$i
  .col-sm-push-#{$i}
    +sm
      margin-left: 100%/$cols*$i
  .col-sm-order-#{$i}
    +sm
      order: $i

// specific grid

@for $i from 0 through $cols-6
  .col-6-#{$i}
      width: 100%/$cols-6*$i
  .col-6-push-#{$i}
    margin-left: 100%/$cols-6*$i

@for $i from 0 through $cols-6
  .col-6-lg-#{$i}
    +lg
      width: 100%/$cols-6*$i
  .col-6-lg-push-#{$i}
    +lg
      margin-left: 100%/$cols-6*$i

@for $i from 0 through $cols-7
  .col-7-#{$i}
    width: 100%/$cols-7*$i
  .col-7-push-#{$i}
    margin-left: 100%/$cols-7*$i

@for $i from 0 through $cols-7
  .col-7-lg-#{$i}
    +lg
      width: 100%/$cols-7*$i
  .col-7-lg-push-#{$i}
    +lg
      margin-left: 100%/$cols-7*$i

@for $i from 0 through $cols-7
  .col-7-l-#{$i}
    +l
      width: 100%/$cols-7*$i
  .col-7-l-push-#{$i}
    +l
      margin-left: 100%/$cols-7*$i

@for $i from 0 through $cols-8
  .col-8-lg-#{$i}
    +lg
      width: 100%/$cols-8*$i
  .col-8-lg-push-#{$i}
    +lg
      margin-left: 100%/$cols-8*$i

@for $i from 0 through $cols-10
  .col-10-md-#{$i}
    +md
      width: 100%/$cols-10*$i
  .col-10-md-push-#{$i}
    +md
      margin-left: 100%/$cols-10*$i

@for $i from 0 through $cols-11
  .col-11-md-#{$i}
    +md
      width: 100%/$cols-11*$i
  .col-11-md-push-#{$i}
    +md
      margin-left: 100%/$cols-11*$i

@for $i from 0 through $cols
  .col-11-md-#{$i}
    +md
      width: 100%/$cols-11*$i
  .col-11-md-push-#{$i}
    +md
      margin-left: 100%/$cols-11*$i

@for $i from 0 through $cols
  .col-12-md-#{$i}
    +md
      width: 100%/$cols*$i
  .col-12-md-push-#{$i}
    +md
      margin-left: 100%/$cols*$i

@for $i from 0 through $cols
  .col-reset-sm-#{$i}
    +sm
      width: 100%/$cols*$i
  .col-reset-sm-push-#{$i}
    +sm
      margin-left: 100%/$cols*$i

// @for $i from 0 through $cols-5
//   .col-5-#{$i}
//       width: 100%/$cols-5*$i
//   .col-5-push-#{$i}
//     margin-left: 100%/$cols-5*$i

//   .col-5-lg-#{$i}
//     +lg
//       width: 100%/$cols-5*$i
//   .col-5-lg-push-#{$i}
//     +lg
//       margin-left: 100%/$cols-5*$i
