=prepare_html_body
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: var(--vh)
    overflow: hidden

@media screen and (min-width: 768px) and (min-height: 768px)
  html, body
    +prepare_html_body

body
  background: $white
  +smooth-font
  +r-reg
  color: $basic-black
  font-size: 16px
  line-height: 1.25
  +is-phone
    user-select: none
.out
  position: relative
  overflow: hidden
  // padding for header
  padding-top: 102px
  +lg
    padding-top: 104px
  +md
    padding-top: 102px
  +sm
    padding-top: 73px
  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 99
    background: rgba(#000,0.6)
    z-index: 99
    transition: opacity 0.44s $header-timing-func
    opacity: 0
    pointer-events: none
  +is-header-open
    &:before
      opacity: 1
.hide-if-menu-open
  transition: opacity 0.44s $header-timing-func
  +is-header-open
    z-index: 1
    opacity: 0
    pointer-events: none

.md-content-visible
  display: none
  +md
    display: block

.js-scroll-to
  +is-ie
    display: none
.no-wrap
  white-space: nowrap
sup
  display: inline-block
  vertical-align: top
  position: relative
  top: -3px
sub
  display: inline-block
  vertical-align: top
  position: relative
  top: 6px