.grid
  display: none
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 50%
  transform: translateX(-50%)
  z-index: 1001
  pointer-events: none
  .container
    height: 100%
  .col
    div
      height: 100vh
      background-color: rgba(0,0,0,.2)
      text-align: center
  &.is-visible
    display: block
