<div class="js-scroll-top-section js-back-to-block">
  {% include "containers/_guided-tour-hero.html" %}
</div>

<div class="guided-tour__content js-scroll-sections">
  {% set graph_section = sections.section_a %}
  {% set graph = sections.section_a.graph %}
  {% include "containers/graphs/_graph-section-a.html" %}

  {% set graph_section = sections.section_b %}
  {% set graph = sections.section_b.graph %}
  {% include "containers/graphs/_graph-section-b.html" %}

  {% set graph_section = sections.section_c %}
  {% set graph = sections.section_c.graph %}
  {% include "containers/graphs/_graph-section-c.html" %}

  {% set graph_section = sections.section_d %}
  {% set graph = sections.section_d.graph %}
  {% include "containers/graphs/_graph-section-d.html" %}

  {% set graph_section = sections.section_e %}
  {% set graph = sections.section_e.graph %}
  {% include "containers/graphs/_graph-section-e.html" %}

  {% set graph_section = sections.section_g %}
  {% set graph = sections.section_g.graph %}
  {% include "containers/graphs/_graph-section-g.html" %}

  {% set graph_section = sections.section_f %}
  {% set graph = sections.section_f.graph %}
  {% include "containers/graphs/_graph-section-f.html" %}
</div>
