<div class="js-back-to-block">
  {% include "containers/_home-hero.html" %}
</div>

<div class="home-head" id="home-head">
  <div class="home-head__arrow js-scroll-to" data-section="home-head">
    {{ mixins.icon('arrow-down') }}
  </div>
<div class="container">
  <div class="row">
    <div class="col col-8 col-lg-10 col-md-12 col-push-2 col-lg-push-1 col-md-push-0">
      <h1 class="text text--40-sm home-head__title">{{home_head.title |safe}}</h1>
    </div>
  </div>
</div>
</div>

{% include "containers/_home-slider.html" %}

{% include "containers/_home-themes.html" %}

{% include "containers/_teaser.html" %}



