<div class="js-back-to-block">
  {% include "containers/_interview-hero.html" %}
</div>

<div class="interview">
  <div class="interview-head">
    <div class="container">
      <div class="row">
        <div class="col col-10 col-sm-12 col-push-1 col-sm-push-0">
          <h1 class="interview-head__title">{{head.title |safe}}</h1>
        </div>
      </div>
    </div>
  </div>

  {% if list_section_top %}
  {% set sections = list_section_top %}
  {% include "containers/_interview-list-section.html" %}
  {% endif %}

</div>
<div class="interview-puzzle js-puzzle-scene">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-lg-8 col-md-10 col-sm-12 col-push-3 col-lg-push-2 col-md-push-1 col-sm-push-0">
        <div class="combo-img-puzzle js-gsap-puzzle">
          <div class="combo-img-puzzle__left js-gsap-puzzle-left">
            <img data-object-fit="cover" src="{{ data.global.src_img }}{{ puzzle.left_side.src }}"
              alt="{{ combo_section.content.left_side.img.alt }}" />
          </div>
          <div class="combo-img-puzzle__right js-gsap-puzzle-right">
            <picture>
              <source media="(min-width: 768px)" srcset="{{ data.global.src_img }}{{ puzzle.right_side.src }}"/>
              <source media="(max-width: 767px)" srcset="{{ data.global.src_img }}{{ puzzle.right_side.src_mob }}"/>
              <img data-object-fit="cover" src="{{ data.global.src_img }}{{ puzzle.right_side.src }}"/>
            </picture>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-push-8 col-lg-push-9 col-md-push-8 col-sm-push-5 caption-col">
        <div class="combo-caption-wrap">
          <div class="combo-caption js-scene-caption">
            <div class="combo-caption__inner">
            </div>
              <p class="text text--12">
                {{ puzzle.right_side.caption |safe}}
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if list_section_bottom %}
{% set sections = list_section_bottom %}
{% include "containers/_interview-list-section.html" %}
{% endif %}


{% include "containers/_teaser.html" %}
