<div class="story-page">
  <div class="js-scroll-top-section js-back-to-block">
    {% include "containers/_powertrain-hero.html" %}
  </div>
  
  
  <div class="js-scroll-sections">
    <div class="js-scroll-section" id="combo-section-1">
      {% set combo_section = combo_section_r %}
      {% include "containers/story-combo/_powertrain-section-r.html" %}
  
      {% include "containers/_powertrain-engine-section.html" %}
    </div>
  
    <div class="js-scroll-section" id="combo-section-2">
      {% set combo_section = combo_section_s %}
      {% include "containers/story-combo/_powertrain-section-s.html" %}
  
      {% include "containers/_powertrain-scheme.html" %}
    </div>
  </div>
  
  {% include "containers/_teaser.html" %}
</div>