<div class="story-page">
  <div class="js-scroll-top-section js-back-to-block">
    {% include "containers/_austria-hero.html" %}
  </div>
  
  <div class="js-scroll-sections">
    <div class="js-scroll-section" id="combo-section-1">
      {% set combo_section = combo_section_e %}
      {% include "containers/story-combo/_austria-section-e.html" %}
    </div>
  
    <div class="js-scroll-section" id="combo-section-2">
      {% set combo_section = combo_section_f %}
      {% include "containers/story-combo/_austria-section-f.html" %}
  
      {% set dropdown = dropdown_1 %}
      {% include "containers/_dropdown.html" %}
    </div>
  
    <div class="js-scroll-section" id="combo-section-3">
      {% set combo_section = combo_section_g %}
      {% include "containers/story-combo/_austria-section-g.html" %}
  
      {% set dropdown = dropdown_2 %}
      {% include "containers/_dropdown.html" %}
    </div>
  
    <div class="js-scroll-section" id="combo-section-4">
      {% set combo_section = combo_section_h %}
      {% include "containers/story-combo/_austria-section-h.html" %}
    </div>
  
    <div class="js-scroll-section" id="combo-section-5">
      {% set combo_section = combo_section_i %}
      {% include "containers/story-combo/_austria-section-i.html" %}
    </div>
  </div>
  
  {% include "containers/_teaser.html" %}
</div>