<div class="story-page">
  <div class="js-scroll-top-section js-back-to-block">
    {% include "containers/_e-fuel-hero.html" %}
  </div>
  
  <div class="js-scroll-sections">
    <div class="js-scroll-section" id="combo-section-1">
      {% set combo_section = combo_section_n %}
      {% include "containers/story-combo/_fuel-section-n.html" %}
  
      {% set scheme = scheme_first %}
      {% include "containers/_fuel-scheme.html" %}
    </div>
  
    <div class="js-scroll-section" id="combo-section-2">
      {% set combo_section = combo_section_o %}
      {% include "containers/story-combo/_fuel-section-o.html" %}
  
      {% set scheme = scheme_second %}
      {% include "containers/_fuel-scheme-dark.html" %}
    </div>
  
    <div class="js-scroll-section" id="combo-section-3">
      {% set combo_section = combo_section_p %}
      {% include "containers/story-combo/_fuel-section-p.html" %}
    </div>
  
    <div class="js-scroll-section" id="combo-section-4">
      {% set combo_section = combo_section_q %}
      {% include "containers/story-combo/_fuel-section-q.html" %}
    </div>
  </div>
  
  {% include "containers/_teaser.html" %}
</div>