<div class="story-page">
  <div class="js-scroll-top-section js-back-to-block">
    {% include "containers/_india-hero.html" %}
  </div>
  
  <div class="js-scroll-sections">
    <div class="js-scroll-section" id="combo-section-1">
      {% set combo_section = combo_section_a %}
      {% include "containers/story-combo/_india-section-a.html" %}
    </div>
  
    <div class="js-scroll-section" id="combo-section-2">
      {%set combo_section = combo_section_b %}
      {% include "containers/story-combo/_india-section-b.html" %}
      {% set dropdown = dropdown_1 %}
      {% include "containers/_dropdown.html" %}
    </div>
  
    <div class="js-scroll-section" id="combo-section-3">
      {%set combo_section = combo_section_c %}
      {% include "containers/story-combo/_india-section-c.html" %}
      {% set dropdown = dropdown_2 %}
      {% include "containers/_dropdown.html" %}
    </div>
  
    <div class="js-scroll-section" id="combo-section-4">
      {%set combo_section = combo_section_d %}
      {% include "containers/story-combo/_india-section-d.html" %}
    </div>
  </div>
  
  {% include "containers/_teaser.html" %}
</div>