<div class="story-page">
  <div class="js-scroll-top-section js-back-to-block">
    {% include "containers/_italy-hero.html" %}
  </div>
  
  <div class="js-scroll-sections">
    <div class="js-scroll-section" id="combo-section-1">
      {% set combo_section = combo_section_j %}
      {% include "containers/story-combo/_italy-section-j.html" %}
      {% include "containers/_car-section.html" %}
    </div>
    
    <div class="js-scroll-section" id="combo-section-2">
      {% set combo_section = combo_section_k %}
      {% include "containers/story-combo/_italy-section-k.html" %}
    </div>
    
    <div class="js-scroll-section" id="combo-section-3">
      {% set combo_section = combo_section_l %}
      {% include "containers/story-combo/_italy-section-l.html" %}
    </div>
  
    <div class="js-scroll-section" id="combo-section-4">
      {% set combo_section = combo_section_m %}
      {% include "containers/story-combo/_italy-section-m.html" %}
      {% include "containers/_italy-scheme.html" %}
    </div>
  </div>
  
  {% include "containers/_teaser.html" %}
</div>

