<div class="text-page">
  <div class="js-back-to-block">
    <div class="text-page__head">
      <div class="container">
        <div class="row">
          <div class="col col-10 col-sm-12 col-push-1 col-sm-push-0">
            <h1 class="text-page__head-title">{{article.title}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-page__content">
    <div class="container">
      <div class="row">
        <div class="col col-6 col-lg-8 col-md-10 col-sm-12 col-push-3 col-lg-push-2 col-md-push-1 col-sm-push-0">
          <div class="text-page__article">
            {{ article.content |safe }}
          </div>
        </div>
      </div>
    </div>
  </div>


</div>