.banner-wrap
  position: fixed
  width: 100%
  left: 0
  top: 100vh
  z-index: 90
  +is-mob
    display: none
.banner
  $this: &
  position: absolute
  left: 100%
  width: 980px
  +r-light
  color: $white
  transform-origin: 0 0 
  transform: translate3d(-157px, 0, 0)
  cursor: pointer
  opacity: 0
  &.is-active
    cursor: default
    #{$this}__btn
      opacity: 0
      pointer-events: none
  +lg
    width: 750px
  +md
    width: 650px
  &__bg
    position: absolute
    top: 50%
    left: 50%
    width: 3000px
    height: 3000px
    transform: translate3d(-5%,-32.5%,0) skewX(-10deg) rotate(-27deg)
    transform-origin: 50% 50%
    background: $light-blue
    +lg
      transform: translate3d(-1%,-32.5%,0) skewX(-10deg) rotate(-27deg)
    +md
      transform: translate3d(0.5%,-32.5%,0) skewX(-10deg) rotate(-27deg)
  &__inner
    position: relative
    z-index: 1
  &__cols
    position: relative
    display: flex
    align-items: flex-start
    +gpu
  &__logo-col
    flex-shrink: 0
    flex-grow: 0
    padding-right: 22px
    width: 157px
    padding-bottom: 30px
  &__logo
    display: block
    margin-bottom: 35px
    img
      width: 135px
      height: 135px
  &__btn
    max-width: 100px
    margin-left: auto
    font-size: 16px
    line-height: 1.375
    +r-reg
    cursor: pointer
    transition: opacity 0.3s ease-out
    i
      margin-top: 5px
      display: block
      width: 30px
      height: 30px
      font-size: 0
      transition: transform .2s ease-out
    svg
      width: 30px
      height: 30px
      fill: $white
    +hover
      i
        transform: translateX(10px)
  &__close
    position: absolute
    top: -55px
    right: -90px
    width: 30px
    height: 30px
    transform: translate(100%, -100%)
    cursor: pointer
    +lg
      right: 0
      top: -72px
      transform: translate(0%, -100%)
    svg
      position: relative
      top: 2px
      left: 2px
      fill: $white
      width: 26px
      height: 26px
  &__content-col
    position: relative
    flex-shrink: 1
    flex-grow: 1
    padding-top: 44px
    padding-right: 40px
    +lg
  &__content
    position: relative
    width: 71%
    +lg
      width: 95%
    +md
      width: 100%
  &__title
    margin-bottom: 30px
    font-size: 28px
    line-height: 1.35
    +r-reg
    +sm
      margin-bottom: 20px
      font-size: 24px
      line-height: 1.16
  &__text
    margin-bottom: 20px
    font-size: 19px
    line-height: 1.45
  &__link
    font-size: 19px
    line-height: 1.45
    a
      color: $white
      text-decoration: underline
      +r-reg
    