.car-section
  padding: 200px 0
  position: relative
  overflow: hidden
  color: $white
  +lg
    padding: 160px 0 190px
  +md
    padding: 140px 0
  +sm
    padding: 100px 0

  &:before
    content: ''
    position: absolute
    width: 140%
    height: 100%
    left: 0%
    top: 0%
    margin-left: -20%
    transform-origin: 50% 50%
    transform: skewY(-5deg)
    z-index: -1
    background: $basic-blue
    +lg
      transform: skewY(-8deg)
    +md
      width: 180%
      margin-left: -40%
      transform: skewY(-10deg)

  &__inner
    padding-left: 4.6%
    padding-right: 4.6%
    +lg
      padding-left: 0
      padding-right: 0
      margin-right: -2%
    +md
      padding-left: 1%
      padding-right: 1%
      margin-right: 0
    +sm
      padding-left: 0
      padding-right: 0

  &__head
    margin-bottom: 75px
    +md
      margin-bottom: 120px
    +sm
      margin-bottom: 80px

  &__title
    margin-bottom: 20px
    padding-bottom: 8px
    +r-light
    font-size: 40px
    line-height: 1.325
    color: $basic-green
    text-align: center
    border-bottom: 1px solid $basic-green
    +sm
      padding-bottom: 22px
      font-size: 30px
      line-height: 1.33

  &__text
    +r-light
    font-size: 19px
    line-height: 1.474
