.car-box
  &__inner
    position: relative
    +sm
      margin-bottom: 40px

  &__infobox
    display: none
    +sm
      display: block
      min-height: 22px
      text-align: center

  &__infoline
    display: none
    align-items: center

    &.is-active
      display: inline-flex

  &__infonumb
    margin-right: 10px
    +r-med
    font-size: 16px
    line-height: 1.375
    letter-spacing: 0.5px
    color: $light-blue

  &__infotext
    font-size: 16px
    line-height: 1.375
    color: $white

  &__img
    img
      display: block
      width: 100%
    &_basic
      display: block
      +md
        display: none
    &_mob
      display: none
      +md
        display: block

  &__circles
    +coverdiv

  &__circle
    display: inline-block
    position: absolute

    &:nth-child(1)
      top: 32.5%
      left: 101.5%
      +md
        top: -4.5%
        left: 26.8%
      +sm
        top: -6.3%
        left: 19.8%

    &:nth-child(2)
      top: 25.8%
      left: -2.8%
      +md
        top: 100%
        left: 24.5%
      +sm
        top: 99.5%
        left: 16.5%

    &:nth-child(3)
      top: 47%
      left: 101.5%
      +md
        top: -6.3%
        left: 47%
      +sm
        top: -8%
        left: 44.5%

    &:nth-child(4)
      top: 47.2%
      left: -4.2%
      +md
        top: 101%
        left: 46.4%
      +sm
        top: 101.5%
        left: 43.4%

    &:nth-child(5)
      top: 47.3%
      left: 88%
      +md
        top: 11.5%
        left: 39.4%
      +sm
        top: 9.2%
        left: 33.5%

    &:nth-child(6)
      top: 8.5%
      left: 94.5%
      +md
        top: 1.5%
        left: 4.4%
      +sm
        top: 1.5%
        left: 0%

    &:nth-child(7)
      top: 42.2%
      left: 60.2%
      +md
        top: 36%
        left: 41.2%
      +sm
        top: 32.8%
        left: 32.2%

    &:nth-child(8)
      top: 51.3%
      left: 60.3%
      +md
        top: 36%
        left: 52.8%
      +sm
        top: 32.7%
        left: 53.8%

    &:nth-child(9)
      top: 47%
      left: 22%
      +md
        top: 75%
        left: 47%
      +sm
        top: 75.5%
        left: 43%

    &:nth-child(10)
      top: -3%
      left: 57%
      +md
        top: 41%
        left: -3.5%
      +sm
        top: 41%
        left: -10.5%

    &:nth-child(11)
      top: -2%
      left: 77%
      +md
        top: 14.3%
        left: -3.6%
      +sm
        top: 14%
        left: -7.6%

    &:nth-child(12)
      top: 0.5%
      left: 36%
      +md
        top: 68%
        left: -4%
      +sm
        top: 61%
        left: -10.8%

    &:nth-child(13)
      top: -3%
      left: 66%
      +md
        top: 31.5%
        left: -3.5%
      +sm
        top: 27.7%
        left: -10.5%

    &:nth-child(14)
      top: 47%
      left: 6.3%
      +md
        top: 90.5%
        left: 46.5%
      +sm
        top: 89.5%
        left: 42.8%
