.dropdown
  $this: &
  position: relative
  z-index: 5
  padding: 197px 0 157px
  overflow: hidden
  color: $basic-blue
  +gpu
  +lg
    padding: 160px 0 145px
  +md
    padding: 121px 0 101px
  +sm
    padding: 101px 0 70px
  &::before
    content: ''
    position: absolute
    width: 140%
    height: 100%
    left: 0%
    top: 0%
    margin-left: -20%
    transform-origin: 50% 50%
    transform: skewY(-5deg)
    z-index: -1
    background: $grey-2
    transition: background $easingBig
    +lg
      transform: skewY(-10deg)
    +md
      width: 180%
      margin-left: -40%
  &__head-text, &__title
    color: inherit
    transition: color $easingBig
  &__head
    &-text
      margin-bottom: 20px
      letter-spacing: 1.4px
      +md
        margin-bottom: 11px
      +sm
        margin-bottom: 17px
        letter-spacing: 0.57px
  &__title
    margin-bottom: 22px
    +lg
      margin-bottom: 7px
    +md
      margin-bottom: 14px
    +sm
      margin-bottom: 18px
      letter-spacing: 1.8px
  &__btn-block
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 18px
    margin-bottom: 40px
    border-top: 1px solid $basic-green
    +lg
      margin-bottom: 20px
    +md
      padding-top: 16px
    +sm
      margin-bottom: 27px
      padding-top: 20px
  &__btn-text
    flex-grow: 1
    max-width: calc(((100% / 8)) * 7 - 4px)
    letter-spacing: 1.4px
    +lg
      max-width: calc(((100% / 10)) * 9 - 4px)
    +md
      max-width: calc(((100% / 10)) * 8 - 4px)
    +sm
      max-width: 100%
      padding-right: 20px
      line-height: 1.33
    +is-ie
      max-width: none
      +lg
        max-width: none
      +md
        max-width: none
  &__btn
    position: relative
    flex-shrink: 0
    flex-grow: 0
    +is-ie-css
      display: none
  &__content
    display: none
    padding-bottom: 45px
    will-change: height
    +lg
      padding-bottom: 14px
    +sm
      padding-bottom: 30px
    &-text
      color: $white
      line-height: 1.523
      letter-spacing: 0.5px
      +lg
        font-size: 21px
        letter-spacing: 0

      +md
        font-size: 18px
        line-height: 1.59
  &__list
    &-item
      margin-bottom: 60px
      +sm
        margin-bottom: 40px
    &-title
      letter-spacing: 1.4px
      color: $white
      margin-bottom: 2px
      +r-med
    &-text
      font-size: 19px
      line-height: 1.45
      color: $white
      +r-light
  &--list
    #{$this}__content
      &-text
        font-size: 19px
        line-height: 1.45
        +lg
          font-size: 19px
          line-height: 1.45
        +md
          font-size: 19px
          line-height: 1.45
  &.is-open
    &::before
      background: $dark-blue
    #{$this}__head-text, #{$this}__title
      color: $white
    #{$this}__btn
      .cta-btn__inner
        &::after
          opacity: 0
  +is-ie-css
    &::before
      background: $dark-blue
    #{$this}__head-text, #{$this}__title
      color: $white
    #{$this}__content
      display: block