.link-corporate
  +r-light
  font-size: 40px
  line-height: 1.25
  text-decoration: none
  color: $basic-black
  +sm
    font-size: 28px
    line-height: 1.429
    letter-spacing: 0.5px

.foot-headline
  +r-reg
  font-size: 20px
  line-height: 1.5
  letter-spacing: 0.5px
  +sm
    font-size: 22px
    line-height: 1.364
    letter-spacing: 0.75px

.foot-text
  font-size: 16px
  line-height: 1.25
  +sm
    font-size: 18px
    line-height: 1.333
  a
    color: $cyan-blue

.foot-extra
  +r-light
  font-size: 16px
  line-height: 1.375
  +sm
    font-size: 18px
    line-height: 1.333

.foot-copy
  +r-light
  font-size: 14px
  line-height: 1.308
  color: $basic-black
  text-decoration: none
  transition: color .2s ease-out
  +hover
    color: $cyan-blue
    text-decoration: underline

.foot-banner
  $this: &
  text-align: center
  padding: 60px 0
  background-color: $cyan-blue
  +sm
    padding: 47px 0

  &__link
    display: inline-flex
    align-items: center
    +sm
      align-items: flex-start
    +hover
      #{$this}__icon
        transform: translateX(10px)
  &__text
    order: 0
    margin-right: 20px
    +sm
      order: 1
      margin-right: 40px
      max-width: 214px
  &__icon
    order: 1
    display: block
    position: relative
    left: 10px
    transition: transform .2s ease-out
    +sm
      order: 0
      left: 24px
    .icon
      display: block
      width: 40px
      height: 40px
      fill: $white

.foot-links
  $this: &
  padding: 83px 0 73px
  background-color: $dark-blue
  color: $white
  +lg
    padding-bottom: 80px
  +sm
    padding-bottom: 76px
  &__headline
    margin-bottom: 40px
    +sm
      margin-bottom: 26px
  &__item
    &:not(:last-child)
      margin-bottom: 15px
      +sm
        margin-bottom: 10px
  &__col
    &:not(:last-child)
      +lg
        margin-bottom: 112px
      +sm
        margin-bottom: 90px
    &:last-child
      #{$this}__headline
        +lg
          margin-bottom: 20px
    &:nth-child(2)
      #{$this}__headline
        +sm
          margin-bottom: 24px
      #{$this}__item
        &:not(:last-child)
          +sm
            margin-bottom: 18px


.foot-link
  $this: &
  display: inline-flex
  width: 100%
  align-items: center
  color: $white
  text-decoration: none
  +sm
    display: flex
    flex-wrap: wrap
  &:hover
    #{$this}__name
      color: $cyan-blue
  &:hover:not(:active)
    #{$this}__icon_arrow
      transform: translateX(10px)
    #{$this}__icon_download
      .icon
        transform: translateY(-10px)
  &:active
    #{$this}__icon_arrow
      transform: translateX(0)
    #{$this}__icon_download
      .icon
        transform: translateY(0)
  &__icon
    margin-right: 20px
    +sm
      margin-right: 12px
    .icon
      display: block
      width: 30px
      height: 30px
      fill: $cyan-blue
    &_arrow
      transition: transform .2s ease-out
    &_download
      position: relative
      &:before
        content: ''
        display: block
        position: absolute
        left: 50%
        transform: translateX(-50%)
        bottom: 0
        width: 22px
        height: 2px
        background-color: $cyan-blue
      .icon
        transition: transform .2s ease-out
  &__name
    margin-right: 15px
    transition: color .2s ease-out
    +sm
      margin-right: 0
  &__extra
    +md
      display: none
    +sm
      padding-left: 30px + 12px
  &__file
    +sm
      padding-left: 30px + 12px
.foot-info
  padding: 21px 0
  background: $white
  &__container
    display: flex
    justify-content: space-between
    +sm
      display: block
  &__links
    display: flex
  &__link
    +sm
      text-decoration: underline
    &:not(:last-child)
      margin-right: 55px
      +lg
        margin-right: 88px
      +md
        margin-right: 51px
      +sm
        margin-right: 23px
  &__copy
    display: block
    +sm
      margin-bottom: 11px

