.fuel-scheme
  $this: &
  position: relative
  padding-top: 200px
  padding-bottom: 200px
  overflow: hidden
  +lg
    padding-top: 160px
    padding-bottom: 160px
  +md
    padding-top: 140px
    padding-bottom: 140px
  +sm
    padding-top: 100px
    padding-bottom: 100px
  &::before
    content: ''
    position: absolute
    width: 140%
    height: 100%
    left: 0%
    top: 0%
    margin-left: -20%
    transform-origin: 50% 50%
    transform: skewY(-5deg)
    z-index: -1
    background: $grey-2
    transition: background $easingBig
    +lg
      transform: skewY(-10deg)
  &__inner
    position: relative
    z-index: 1
  &__head
    margin-bottom: 60px
    text-align: center
    +r-light
  &__title
    font-size: 40px
    line-height: 1.17
    color: $basic-green
    padding-bottom: 20px
    border-bottom: 1px solid $basic-green
    margin-bottom: 20px
    +r-light
  &__sub-title
    margin-bottom: 20px
    font-size: 20px
    +r-reg
    line-height: 1.6
    letter-spacing: 1.4px
    color: $basic-blue
    +sm
      font-size: 18px
  &__sub-text
    margin-left: auto
    margin-right: auto
    max-width: 680px
    font-size: 19px
    line-height: 1.47
    color: $basic-blue
    +sm
      br
        display: none
  &__img
    margin-bottom: 40px
    text-align: center
    +md
      margin-top: 40px
    +sm
      margin-top: 0
    img
      max-width: 230px
  &__verical-align
    height: 100%
    display: flex
    align-items: center
    +lg
      display: block
      height: auto
      text-align: center
    +sm
      margin-bottom: 40px
    img
      max-width: 100%
      +lg
        +is-ie
          display: none
      &.is-ie-img
        display: none
        +lg
          +is-ie
            display: inline-block
            vertical-align: top
      +lg
        width: 75%
        height: auto
      +lm
        width: 90%
      +r(1099)
        width: 100%
      +sm
        max-width: 280px
  &__list
    li
      &:not(:last-of-type)
        margin-bottom: 60px
        +sm
          margin-bottom: 40px
  &__block
    &-head
      margin-bottom: 12px
      +r-med
      font-size: 16px
      line-height: 1.374
      letter-spacing: 1.4px
      color: $basic-blue
      text-transform: uppercase
      span
        color: $light-blue
    &-text
      font-size: 19px
      line-height: 1.47
      color: $basic-blue
      +r-light
    &--bottom
      text-align: center
      +sm
        margin-bottom: 0
        text-align: left
  &__side-block
    text-align: center
    &-img
      position: relative
      height: 0
      padding-bottom: 67.5%
      display: flex
      justify-content: center
      align-items: center
      margin-bottom: 20px
      +md
        height: auto
        padding-bottom: 0
      img
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 100%
        object-fit: contain
        +md
          object-fit: fill
          position: relative
          height: auto
          width: 100%
          max-width: 370px
        +sm
          max-width: 300px
    &--first
      +md
        margin-bottom: 60px
  &--dark
    &::before
      background: $dark-blue
    #{$this}__sub-title, #{$this}__sub-text
      color: $white
    #{$this}__sub-text
      max-width: 920px