.graph-section
  position: relative
  padding-top: 200px
  color: $basic-blue
  text-align: center
  overflow: hidden
  +lg
    padding-top: 140px
  +md
    padding-top: 180px
  +sm
    padding-top: 100px
  &_a
    padding-bottom: 290px
    +lg
      padding-bottom: 200px
    +md
      padding-bottom: 240px
    +sm
      padding-bottom: 45px
  &_b
    padding-bottom: 255px
    +lg
      padding-bottom: 175px
    +md
      padding-bottom: 125px
    +sm
      padding-bottom: 40px
  &_c
    padding-bottom: 90px
    +lg
      padding-bottom: 50px
    +md
      padding-bottom: 190px
    +sm
      padding-bottom: 60px
  &_d
    padding-bottom: 295px
    +lg
      padding-bottom: 210px
    +md
      padding-bottom: 250px
    +sm
      padding-bottom: 50px
  &_e
    padding-bottom: 225px
    +lg
      padding-bottom: 150px
    +md
      padding-bottom: 245px
    +sm
      padding-bottom: 45px

    .graph__lines-col_legend
      position: relative
      .graph-legend
        position: absolute
        left: 20px
        top: -98px
        +lg
          left: 15px
          top: -95px
        +md
          left: 10px
        +sm
          left: 3px
          top: -45px

  &_f
    padding-bottom: 360px
    +lg
      padding-bottom: 240px
    +sm
      padding-bottom: 115px
  &_g
    padding-bottom: 190px
    +lg
      padding-bottom: 130px
    +md
      padding-bottom: 190px
    +sm
      padding-bottom: 115px
  &_grey
    &:before
      content: ''
      position: absolute
      width: 140%
      height: 100%
      left: 0%
      top: 0%
      margin-left: -20%
      transform-origin: 50% 50%
      transform: skewY(-5deg)
      z-index: -1
      background: $grey-2
      +lg
        transform: skewY(-10deg)
      +md
        width: 180%
        margin-left: -40%

  &__headlines
    &_mr-lg
      margin-bottom: 160px
      +lg
        margin-bottom: 80px
      +md
        margin-bottom: 100px
      +sm
        margin-bottom: 50px
      &_sm-spec
        +sm
          margin-bottom: 30px
    &_mr-md
      margin-bottom: 80px
      +lg
        margin-bottom: 40px
      +md
        margin-bottom: 60px
      +sm
        margin-bottom: 50px
      &_sm-spec
        +sm
          margin-bottom: 30px
    &_mr-sm
      margin-bottom: 60px
      +lg
        margin-bottom: 30px
      +md
        margin-bottom: 100px
      +sm
        margin-bottom: 30px

  &__graph
  &__subtitle
    margin-bottom: 6px
    +lg
      margin-bottom: 3px
    +md
      margin-bottom: 8px
    +sm
      margin-bottom: 5px

  // !!! --- temp elements
  &__trigger
    background: $basic-green
    padding: 16px 24px
    margin-bottom: 40px
    color: $white
    font-size: 20px
    position: absolute
    top: 50px
    left: 50%
    transform: translateX(-50%)
    +sm
      top: 30px
      padding: 10px 16px
      font-size: 16px
