.graph
  &__row
    display: flex
    justify-content: space-between
    align-items: center
    +md
      align-items: flex-end
    +sm
      align-items: center

  &__col
    width: 100%/10*3
    +lg
      width: 100%/12*4
    &:nth-child(2)
      width: 100%/10*4
      +lg
        width: 100%/12*4

  &__numb
    margin-bottom: 40px
    opacity: 0
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 40px
    +sm
      margin-bottom: 30px

    &_md-spec
      +md
        margin-bottom: 20px
      +sm
        margin-bottom: 10px

    &.is-active
      animation: fadein 1s linear .5s forwards

  &__figure
    margin-bottom: 20px
    +lg
      margin-bottom: 15px
    +sm
      margin-bottom: 5px

  &__pic-row
    text-align: left

  &__pic-col
    width: 100%/10*8
    margin-left: 100%/10*1
    margin-right: 100%/10*1
    +lg
      width: 100%/12*10
      margin-left: 100%/12*1
      margin-right: 100%/12*1
    +sm
      width: 100%
      margin-left: auto
      margin-right: auto

  &__pointers
    width: 100%/10*8
    margin-left: 100%/10*1
    margin-right: 100%/10*1
    +lg
      width: 100%/12*10
      margin-left: 100%/12*1
      margin-right: 100%/12*1
    +md
      width: 100%
      margin-left: auto
      margin-right: auto

  &__pointer
    padding-top: 15px
    text-align: left
    +lg
      padding-top: 8px
    +md
      padding-top: 6px
    +sm
      padding-top: 0
      margin-left: -$gutter-sm/2
      margin-right: -$gutter-sm/2
    .graph-figure
      margin-bottom: 14px
      letter-spacing: -4.65px
      +lg
        margin-bottom: 4px
        letter-spacing: normal
      +sm
        margin-bottom: 0
        font-size: 40px
        line-height: 50px

  &__pointer-col
    position: relative
    padding-bottom: 42px
    +lg
      padding-bottom: 30px
    +md
      padding-bottom: 24px
    +sm
      padding-bottom: 26px

    &:nth-child(1)
      width: 100%/8*4
      padding-left: calc(100%/8*1 + #{$gutter/2})
      +lg
        width: 100%/10*5
        padding-left: calc(100%/10*2 + #{$gutter-lg/2})
      +md
        width: 100%/10*6
        padding-left: calc(100%/10*2 + #{$gutter-md/2})
      +sm
        width: 100%/10*9
        padding-left: calc(100%/10*3 + #{$gutter-sm/2} + #{$gutter-sm/3})

      &:before
        width: calc(100%/4*1 - #{$gutter})
        transition: transform .5s .35s linear
        +lg
          width: calc(100%/5*2 - #{$gutter-lg})
        +md
          width: calc(100%/6*2 - #{$gutter-md})
        +sm
          width: calc(100%/9*2 + #{$gutter-sm/2})

      &:after
        width: $gutter*1.5
        left: calc(100%/4*1 - #{$gutter} + #{$gutter/2})
        transition: transform .35s linear
        +lg
          width: $gutter-lg*1.5
          left: calc(100%/5*2 - #{$gutter-lg} + #{$gutter-lg/2})
        +md
          width: $gutter-md*1.5
          left: calc(100%/6*2 - #{$gutter-md} + #{$gutter-md/2})
        +sm
          width: calc(100%/9*1 + #{$gutter-sm*2})
          left: calc(100%/9*2 + #{$gutter-sm/2})

      &.is-active
        &:before
          transform: scaleX(1)
          transition: transform .5s linear
        &:after
          transform: rotate(-45deg) scaleX(1)
          transition: transform .35s .5s linear

    &:nth-child(2)
      width: 100%/8*8
      padding-left: calc(100%/8*5 + #{$gutter/2})
      margin-top: -32px
      +lg
        width: 100%/10*10
        padding-left: calc(100%/10*6 + #{$gutter-lg/2})
        margin-top: -50px
      +md
        width: 100%/10*10
        padding-left: calc(100%/10*5 + #{$gutter-md/2})
        margin-top: 42px
      +sm
        width: 100%/10*10
        padding-left: calc(100%/10*5 + #{$gutter-sm/2} + #{$gutter-sm/3})
        padding-bottom: 34px
        margin-top: -8px

      &:before
        width: calc(100%/8*5 - #{$gutter})
        transition: transform 1s .35s linear
        +lg
          width: calc(100%/10*6 - #{$gutter-lg})
        +md
          width: calc(100%/10*5 - #{$gutter-md})
        +sm
          width: calc(100%/10*4 + #{$gutter-sm/2})

      &:after
        width: $gutter*1.5
        left: calc(100%/8*5 - #{$gutter} + #{$gutter/2})
        transition: transform .35s linear
        +lg
          width: $gutter-lg*1.5
          left: calc(100%/10*6 - #{$gutter-lg} + #{$gutter-lg/2})
        +md
          width: $gutter-md*1.5
          left: calc(100%/10*5 - #{$gutter-md} + #{$gutter-md/2})
        +sm
          width: calc(100%/10*1 + #{$gutter-sm*2})
          left: calc(100%/10*4 + #{$gutter-sm/2})

      &.is-active
        &:before
          transform: scaleX(1)
          transition: transform 1s linear
        &:after
          transform: rotate(-45deg) scaleX(1)
          transition: transform .35s 1s linear

    &:before
      content: ''
      display: block
      position: absolute
      bottom: 0
      left: $gutter/2
      width: 100%
      height: 2px
      border-top-left-radius: 2px
      border-bottom-left-radius: 2px
      background: linear-gradient(144deg, #41B6E6 0%, #43B141 100%)
      transform: scaleX(0)
      transform-origin: 0 100%
      +lg
        left: $gutter-lg/2
      +md
        left: $gutter-md/2
      +sm
        left: 0

    &:after
      content: ''
      display: block
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 2px
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      background: #43B141
      transform-origin: 0 100%
      transform: rotate(-45deg) scaleX(0)

  &__pointer-numb
    opacity: 0
    &.is-active
      animation: fadein 1s linear .5s forwards

  &__mountain
    display: block
    width: 100%
    height: 130px
    margin-bottom: 10px
    +lg
      height: 106px
    +md
      height: 200px
      margin-bottom: 14px
    +sm
      height: 140px
      margin-bottom: 10px
    &.is-active
      polyline
        animation: dash 2s linear .5s forwards
      polygon
        animation: fadein 2s linear .5s forwards
    polyline
      stroke-dasharray: 1500
      stroke-dashoffset: 1500
    polygon
      opacity: 0

  &__percentage
    text-align: left
    +sm
      height: 250px
    .graph-figure
      font-size: 40px

  &__pagination
    display: none
    +sm
      display: block
    &.swiper-pagination-bullets
      position: relative
      bottom: 18px
      text-align: center
      .swiper-pagination-bullet
        margin: 0 5px
        width: 9px
        height: 9px
        border: 2px solid $cyan-blue
        background: transparent
        &.swiper-pagination-bullet-active
          background: $cyan-blue
          border: 2px solid $cyan-blue


  &__percentage-row
    +sm
      margin-left: 0
      margin-right: 0

  &__percentage-col
    width: 100%/10*2
    margin-left: 100%/10*1
    +lg
      width: 100%/12*2
      margin-left: 100%/12*1
    +r(1439)
      width: 100%/12*4
      margin-left: 0
    +md
      width: 100%/10*5
    +sm
      height: 77px
      padding-left: 0
      padding-right: 0
      padding-bottom: 20px
    &:not(.graph__percentage-col_full)
      margin-bottom: 80px
      // opacity: 0
      +r(1439)
        margin-bottom: 40px
      +md
        margin-bottom: 30px
      +sm
        margin-bottom: 0
      &:nth-child(3n+1)
        +lg
          margin-left: 100%/12*2
        +r(1439)
          margin-left: auto
      &:nth-last-child(-n+3)
        margin-bottom: 40px
        +r(1439)
          margin-bottom: 20px
        +md
          margin-bottom: 30px
        +sm
          margin-bottom: 0
      &:nth-last-child(-n+2)
        +md
          margin-bottom: 20px
        +sm
          margin-bottom: 0
      &:nth-child(even)
        +md
          padding-left: calc(100%/10*1 - #{$gutter-md/2})
        +sm
          padding-left: 0
    &-in
      margin-left: - $gutter
      margin-right: - $gutter
      +lg
        margin-left: - $gutter-lg
        margin-right: - $gutter-lg
      +r(1439)
        margin-left: auto
        margin-right: auto
    &_full
      width: 100%
      margin-right: 100%/10*1
      +lg
        margin-left: 100%/12*2
        margin-right: 100%/12*2
      +r(1439)
        margin-left: auto
        margin-right: auto
      +sm
        margin-right: 0


  &__percentage-col-in
    +sm
      padding: 2px

  &__percentage-numb
    opacity: 0
    &.is-active
      animation: fadein 1s linear .5s forwards

  &__percentage-figure
    position: relative
    padding-bottom: 15px
    margin-bottom: 18px
    +lg
      padding-bottom: 10px
    +md
      padding-bottom: 6px
      margin-bottom: 10px
    +sm
      padding-bottom: 10px
      margin-bottom: 8px

    &:before
      content: ''
      display: block
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 1px
      background: linear-gradient(144deg, #41B6E6 0%, #43B141 100%)

  &__textual
    display: flex
    justify-content: space-between
    align-items: flex-start
    +md
      display: block
    +sm
      display: flex

  &__percents
    display: flex
    align-items: flex-start
    +md
      margin-top: 10px
    +sm
      margin-top: 0

  &__legend
    +sm
      margin-top: -85px
    .graph-legend
      +sm
        +r-reg
        letter-spacing: 0px

  &__arrow
    margin-right: 6px
    .icon
      width: 22px
      height: 22px
      fill: $basic-green
      +sm
        width: 14px
        height: 14px
    &_top
      transform: rotate(-90deg)
    &_bottom
      transform: rotate(90deg)

  &__info
    opacity: 0
    +md
      justify-content: space-between
    +sm
      position: relative

    &.is-active
      animation: fadein 1s linear .5s forwards


  &__info-col
    display: flex
    align-items: center
    width: 100%/12*2
    +md
      width: 100%/10*4
    +sm
      // width: 100%/12*5
      // position: absolute
      // top: 50%
      // transform: translateY(-50%)
      display: none

    &_left
      text-align: right
      +sm
        left: 0
        margin-left: 100%/12*1
        text-align: center

    &_right
      text-align: left
      +sm
        right: 0
        margin-right: 100%/12*1
        text-align: center

  &__info-grow
    width: 100%/12*6
    margin-left: 100%/12*1
    margin-right: 100%/12*1
    +r(1439)
      width: 100%/12*8
      margin-left: auto
      margin-right: auto
    +md
      width: 100%
      margin-bottom: 40px
    +sm
      margin-bottom: 0

  &__info-img
    margin-left: -$gutter
    margin-right: -$gutter
    +r(1439)
      margin-left: auto
      margin-right: auto
    +sm
      position: relative
      z-index: -1
      height: 0
      padding-top: 65.29%
    img
      width: 100%


    &-in_default
      display: block
      +sm
        display: none

    &-in_mob
      display: none
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      +sm
        display: block

  &__lines-row
    text-align: left
    +lg
      margin-left: -$gutter-lg
      margin-right: -$gutter-lg
    +md
      margin-left: -$gutter-md
      margin-right: -$gutter-md
    +sm
      margin-left: -$gutter-sm
      margin-right: -$gutter-sm

  &__lines-col
    width: 100%
    margin-left: 100%/10*1
    margin-right: 100%/10*1
    +lg
      margin-left: auto
      margin-right: auto

    &_legend
      +lg
        margin-left: calc(100%/12*1 + #{$gutter-lg}/2)
        margin-right: calc(100%/12*1 + #{$gutter-lg}/2)
      +md
        margin-left: calc(100%/12*1 + #{$gutter-md}/2)
        margin-right: calc(100%/12*1 + #{$gutter-md}/2)
      +sm
        margin-left: calc(100%/12*1 + #{$gutter-sm}/2)
        margin-right: calc(100%/12*1 + #{$gutter-sm}/2)

  &__lines
    position: relative
    display: flex
    justify-content: space-between
    align-items: flex-end
    height: 192px
    margin-bottom: 6px
    +lg
      justify-content: space-around
      margin-bottom: 12px
    +md
      margin-bottom: 10px
    +sm
      height: 92px

    &:before
      content: ''
      display: block
      position: absolute
      background-color: rgba(226, 234, 241, 1)
      bottom: 0
      left: 0
      width: 100%
      height: 1px
      +lg
        left: calc(100%/12*1 + #{$gutter-lg}/2)
        width: calc(100% - 100%/12*1 - #{$gutter-lg*3} - #{$gutter-lg}/2)
      +md
        left: calc(100%/12*1 + #{$gutter-md}/2)
        width: calc(100% - 100%/12*1 - #{$gutter-md*4})
      +sm
        left: calc(100%/12*1 + #{$gutter-sm}/2)
        width: calc(100% - 100%/12*2 - #{$gutter-sm})

    &.has-negative-value
      &:before
        bottom: auto
        top: 50%
        transform: translateY(-50%)
      .graph__line
        position: relative
        &:not(.is-negative)
          bottom: 50%

  &__line
    border-radius: 2px
    transition: transform 1.5s ease-out !important
    height: 100%
    width: 2px
    margin-bottom: 4px
    background: linear-gradient(144deg, #43B141 0%, #41B6E6 100%)
    transform: scaleY(0)
    transform-origin: 0 100%

    &.is-active
      transform: scaleY(1)

    &.is-negative
      margin-bottom: -4px
      transform-origin: 0 0


  &__circles-bg-mob
    display: none
    +sm
      display: block
      +vcenter
      width: 100vw
      margin-top: 5px
      pointer-events: none

    &-img
      width: 100%
      height: 0
      padding-top: 93.75%
      background-repeat: no-repeat
      background-position: 50% 50%
      background-size: contain

  &__circles
    position: relative
    height: 0
    padding-top: 52.93%
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: contain
    +lg
      padding-top: 52.81%
    +md
      padding-top: 63.42%
    +sm
      background-size: 0 0
      position: relative
      height: auto
      padding-top: 0
      margin-left: - $gutter-sm
      margin-right: - $gutter-sm

    &-in
      +coverdiv
      +sm
        position: static

    .row
      height: 100%

    .graph-circle
      margin-bottom: 15px
      +lg
        margin-bottom: 5px

    .graph-figure
      margin-bottom: 10px
      +lg
        margin-bottom: 0

    .graph-text
      +sm
        font-size: 16px
        line-height: 22px

  &__circles-container
    display: flex
    justify-content: space-between
    width: 100%
    margin-left: 100%/10*1
    margin-right: 100%/10*1
    +md
      margin-left: auto
      margin-right: auto
    +sm
      display: block
      height: 230px

  &__circles-wrapper
    position: relative
    width: 100%
    height: 100%

  &__circles-numb
    opacity: 0
    &.is-active
      animation: fadein 1s linear .5s forwards

  &__circles-block
    position: absolute
    +sm
      position: static

    &:nth-child(1)
      top: 0
      left: 50%
      transform: translateX(-50%)
      +sm
        transform: none

      .graph-figure
        font-size: 91px
        +lg
          font-size: 74px
          line-height: 74px

    &:nth-child(2)
      top: 16%
      left: 0
      +lg
        top: calc(21.5% - 50px)
      +md
        top: calc(23.5% - 50px)
        left: 16px

      .graph-figure
        +sm
          font-size: 56px
          line-height: 65px


    &:nth-child(3)
      top: 32%
      right: -60px
      +lg
        top: calc(32.5% - 50px)
        right: -16px
      +md
        top: calc(35.5% - 50px)
        right: 25px

      .graph-figure
        +sm
          font-size: 56px
          line-height: 65px

    &:nth-child(4)
      top: 48%
      left: 52%
      +lg
        top: calc(53.5% - 50px)
      +lg
        top: calc(58.5% - 50px)

      .graph-figure
        font-size: 56px
        line-height: 56px
        +lg
          font-size: 40px
          line-height: 50px

    &:nth-child(5)
      top: 64%
      left: 14%
      +lg
        top: calc(64.5% - 50px)
        left: 10%
      +md
        top: calc(70% - 50px)
        left: 19%

      .graph-figure
        font-size: 56px
        line-height: 56px
        +lg
          font-size: 40px
          line-height: 50px

.graph-circle
  position: relative
  width: 102px
  height: 102px
  margin: 0 auto

  &__svg
    width: 100%
    height: 100%

  &__ellipse
    transition: stroke-dashoffset 2s linear !important

  &__icon
    +vcenter
    width: 40px
    height: 40px

    &_rotated-top
      transform: translate(-50%, -50%) rotate(-45deg)

    &_rotated-bottom
      transform: translate(-50%, -50%) rotate(45deg)

    svg
      width: 100%
      height: 100%
      fill: $basic-green

@keyframes dash
  to
    stroke-dashoffset: 0

@keyframes fadein
  to
    opacity: 1
