.header
  $this: &
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 100
  +is-ie
    position: fixed
  &.no-click
    pointer-events: none
  .row
    align-items: center
  &__inner
    width: 100%
    background: $white
    padding: 24px 0
    transition: transform .4s ease-in-out
    +lg
      padding: 20px 0
    +md
      padding: 24px 0
    +sm
      padding: 11px 0
    &.is-up
      transform: translateY(-104px)
    .container
      max-width: none
      padding-left: 40px
      padding-right: 43px
      +lg
        padding-left: 44px
        padding-right: 44px
      +md
        padding-left: 35px
        padding-right: 35px
      +sm
        padding-left: 14px
        padding-right: 10px
  &__container
    display: flex
    align-items: center
  &__controls
    display: flex
    justify-content: space-between
    align-items: center
    width: calc(50% + 24px)
  &__langs
    +sm
      display: none
  &__link
    font-size: 16px
    line-height: 1.1875
    color: $basic-blue
    text-decoration: none
    white-space: nowrap
    +sm
      font-size: 15px
      white-space: initial
    &_mob-hidden
      +md
        display: none
    &_mob-visible
      display: none
      +md
        display: inline-block
        max-width: 154px
      +sm
        max-width: 118px
  &__meta
    display: flex
    align-items: center
    width: calc(50% - 24px)
  &__logo
    margin-right: 60px
    +lg
      margin-right: 38px
  &__burger
    position: relative
    top: 2px
