.hero-home
  margin-top: -104px
  &__wrapper
    position: relative
    height: 0
    padding-bottom: 56.25%
    +portrait
      padding-bottom: 150%
  &__anim-block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    +sm
      margin-top: 0
    svg
      width: 100%
      height: 100%