.powertrain-hero
  $this: &
  position: relative
  z-index: 5
  +gpu
  opacity: 0
  transition: opacity $heroEasing
  margin-top: -104px
  &__main
    position: relative
    height: 1000px
    padding-top: 100px
    +lg
      height: 850px
    +l
      height: 800px
    +md
      height: 1000px
    +sm
      height: 600px
  &__side-content
    position: relative
    z-index: 4
  &__left-col
    position: relative
    z-index: 1
  &__right-col
    position: relative
    z-index: 0
  &__left-side, &__right-side
    position: relative
    height: 100%
  &__left-side
    z-index: 1
    padding-top: 150px
    +lm
      padding-top: 136px
    +md
      padding-top: 140px
    +sm
      padding-top: 50px
  &__right-side
    z-index: 0
  &__right-wrapper
    position: absolute
    left: -40%
    bottom: 1px
    width: 100vw
    height: calc(112% + 20px) // fixed pixel bug
    overflow: hidden
    padding-left: 300px
    background: $basic-green
    +lg
      padding-left: calc(70px + (200px - 2vw))
      left: -36%
    +l
      padding-left: calc(70px + (150px - 2vw))
    +lm
      padding-left: calc(100px + (150px - 6vw))
    +md
      bottom: -150px
      left: -100%
      height: calc(100% + 20px + 150px)
      width: 150vw
      padding-left: 0
    +sm
      height: calc(100% + 20px + 250px)
      width: 1500px
      bottom: -250px
      margin-left: -30px
    +r(599)
      bottom: -180px
    +r(499)
      height: calc(100% + 20px + 50px)
      bottom: -15px
  &__left-bg-wrap
    position: absolute
    right: -20%
    top: 25%
    z-index: 3
    +lm
      right: -34%
    +md
      right: 0
    +sm
      right: auto
      top: 18%
      left: 0
  &__left-bg
    position: absolute
    width: 5000px
    height: 5000px
    right: 0%
    top: 50%
    transform-origin: 50% 50%
    transform: translate(-21%, -50%) rotate(45deg)
    background: $cyan-blue
    +md
      transform: translate(-17.5%, -50%) rotate(45deg)
    +sm
      transform: translate(-111%, -50%) rotate(45deg)
      right: auto
      left: 0
    +r(599)
      transform: translate(-113%, -50%) rotate(45deg)
    +r(499)
      transform: translate(-115.5%, -50%) rotate(45deg)
  &__mask-wrapper
    position: absolute
    z-index: 3
    bottom: 0
    right: 0
    margin-right: -2350px
    width: 3000px
    height: calc(112% + 22px)
    overflow: hidden
    +l
      margin-right: -2320px
    +lm
      margin-right: -2350px
    +md
      bottom: -155px
      height: calc(100% + 30px + 150px)
      margin-right: -2210px
    +sm
        height: calc(100% + 30px + 250px)
        bottom: -252px
        margin-right: 0px
        margin-left: -30px
        right: auto
        left: 0
    +r(599)
      height: calc(112% + 30px + 250px)
    +r(499)
      bottom: -55px
      height: calc(112% + 30px + 50px)
  &__mask
    position: absolute
    z-index: 0
    top: 19%
    left: 50%
    width: 100%
    height: calc(100% + 20px)
    transform: translate(-129%, 0)
    +lg
      transform: translate(-128%, 0)
    +l
      transform: translate(-127%, 0)
    +sm
      transform: translate(-139%, 0)
    +r(599)
      transform: translate(-144%, 0)
      top: 27%
    +r(499)
      top: 29%
  &__mask-top
    transform: translate(0%, -25%) rotate(-45deg)
    transform-origin: 50% 50%
  &__mask-bottom
    transform: translate(0%, -75%) rotate(-45deg)
    transform-origin: 50% 50%
  &__mask-top, &__mask-bottom
    position: absolute
    right: 0
    top: 50%
    width: 3000px
    height: 3000px
    background: $white
    +md
      width: 3400px
      height: 3400px
  &__title
    +md
      width: 450px
    +sm
      width: 210px
      font-size: 40px
  &__sub-title
    +lg
      max-width: 430px
    +sm
      width: 222px
      font-size: 20px
    +r(379)
      width: 200px
  &__right-text
    position: absolute
    left: 400px
    top: 60%
    +lg
      font-size: 60px
    +l
      left: 25%
      +is-en
        left: 22%
    +r(1120)
      left: 23%
    +md
      display: none
  &__img
    position: relative
    top: 30%
    left: 450px
    z-index: 0
    max-height: 62%
    +is-en
      max-height: 55%
      left: 560px
      top: 38%
    +lg
      max-height: 65%
      left: 30%
      top: 25%
      +is-en
        max-height: 60%
        left: 39%
        top: 33%
    +l
      max-height: 55%
      top: 28%
      left: 30%
    +r(1300)
      +is-en
        max-height: 52%
        left: 40%
        top: 35%
    +lm
      left: 28%
    +r(1120)
      top: 38%
      left: 26%
      max-height: 50%
    +md
      +is-both-lang
        left: 44%
        top: 42%
        max-height: 40%
    +r(860)
      +is-both-lang
        left: 40%
        top: 46%
        max-height: 38%
    +sm
      +is-both-lang
        left: 40%
        max-height: 36%
    +r(720)
      +is-both-lang
        left: 37%
    +r(670)
      +is-both-lang
        left: 35%
        top: 50%
        max-height: 32%
    +r(630)
      +is-both-lang
        top: 52%
        left: 33%
        max-height: 30%
    +r(599)
      +is-both-lang
        top: 60%
        left: 27%
    +r(550)
      +is-both-lang
        left: 25%
    +r(499)
      +is-both-lang
        top: 60%
        left: 350px
        max-height: 35%
    +r(450)
      +is-both-lang
        left: 300px
    +r(410)
      +is-both-lang
        top: 62%
        left: 270px
        max-height: 32%
    +r(374)
      +is-both-lang
        top: 66%
        left: 240px
        max-height: 30%
    +r(340)
      +is-both-lang
        max-height: 28%
        left: 220px
  &.is-active
    opacity: 1
  .container, .row, .col
    height: 100%
  svg
    position: absolute
    z-index: -1
    top: 0
    left: 0