.austria-hero
  $this: &
  position: relative
  z-index: 20
  +gpu
  opacity: 0
  transition: opacity $heroEasing
  margin-top: -104px
  background: #dedcdd
  +md
    margin-top: -104px
  +sm
    margin-top: 0
    &::before
      content: ''
      position: absolute
      left: 0
      top: -190px
      width: 100%
      height: 200px
      z-index: -1
      background: #dedcdd
  &.is-active
    opacity: 1
  &__main
    position: relative
    height: 800px
    +md
      height: calc(var(--vh) + 4px)
    +is-phone
      +md
        +landscape
          height: 900px
    +sm
      min-height: 1px
      height: 600px
  &__bg
    position: absolute
    z-index: 0
    height: 100% 
    width: 100%
    left: 0
    top: 0
    font-size: 0
    &-block
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      &--right
      &--img
        overflow: hidden

    &-container
      .col
        position: relative
  &__img
    position: absolute
    z-index: 0
    top: 50%
    left: 50%
    transform: translate(-45%, -34%)
    height: 170%
    +l
      transform: translate(-43%, -34%)
    +md
      transform: translate(-45%, -34%)
    +sm
      +portrait
        transform: translate(-45.5%, -34%)
  &__left-decor-wrapper, &__right-decor-wrapper
    position: absolute
    z-index: 1
    top: 0
    width: 100%
    height: 100%
  &__left-decor-wrapper
    left: 0
  &__right-decor-wrapper
    right: 0
  &__left-decor, &__right-decor
    position: absolute
    width: 2500px
    height: 2500px
    top: 50%
    transform-origin: 50% 50%
    +rmin(1921)
      width: 5000px
      height: 5000px
  &__left-decor
    left: 0
    background: $cyan-blue
    transform: translate(-93.5%, -56.5%) rotate(45deg)
    +rmin(1921)
      transform: translate(-106%, -54%) rotate(45deg)
    +lg
      transform: translate(-94%, -57%) rotate(45deg)
    +l
      transform: translate(-95.5%, -56.5%) rotate(45deg)
    +lm
      transform: translate(-99.5%, -54.5%) rotate(45deg)
    +md
      transform: translate(-104%, -56.5%) rotate(45deg)
    +sm
      transform: translate(-106%, -59%) rotate(45deg)
      +portrait
        transform: translate(-111.5%, -53.5%) rotate(45deg)
    +r(570)
      +landscape 
        transform: translate(-108%, -62%) rotate(45deg)
  &__right-decor
    right: 0
    background: $basic-green
    transform: translate(111%, -39%) rotate(45deg)
    +rmin(1921)
      transform: translate(116%, -45%) rotate(45deg)
    +lg
      transform: translate(113%, -41%) rotate(45deg)
    +l
      transform: translate(115%, -41%) rotate(45deg)

    +lm
      transform: translate(116%, -39%) rotate(45deg)
    +sm
      transform: translate(117%, -39%) rotate(45deg)
      +portrait
        transform: translate(118%, -41%) rotate(45deg)
  &__content-container
    position: relative
    z-index: 1
  &__content
    height: 100%
    padding-top: 100px
    +sm
      padding-top: 0
  &__inner
    height: 100%
    display: flex
    flex-direction: column
    justify-content: flex-start
    padding-top: 150px
    +lm
      padding-top: 136px
    +rmin(1921)
      padding-top: 150px
    +md
      padding-top: 100px
    +is-tablet-big
      +portrait
        padding-top: 11vh
      +landscape
        padding-top: 10vh
    +is-tablet
      +portrait
        padding-top: 190px
    +is-no-touch
      +rh(890)
        padding-top: 15vh
      +rh(750)
        padding-top: 65px
  &__title
    width: 100%
    +sm
      font-size: 40px
      +portrait
        max-width: 200px
  &__sub-title
    max-width: 500px
    +md
      max-width: 350px
    +sm
      font-size: 19px
      max-width: 180px
      +landscape
        max-width: 300px
  .container
    position: relative
  .container, .row, .col 
    height: 100%
