.fuel-hero
  $this: &
  position: relative
  z-index: 5
  +gpu
  opacity: 0
  transition: opacity $heroEasing
  margin-top: -104px
  +md
    margin-bottom: 100px
  +sm
    margin-bottom: 200px
  +r(599)
    margin-bottom: 150px
  +r(499)
    margin-bottom: 0px
  &__main
    position: relative
    height: 800px
    padding-top: 100px
    +md
      height: 950px
    +sm
      height: 600px
  &__side-content
    position: relative
    z-index: 4
  &__left-col
    position: relative
    z-index: 1
  &__right-col
    position: relative
    z-index: 0
  &__left-side, &__right-side
    position: relative
    height: 100%
  &__left-side
    z-index: 1
    padding-top: 150px
    +lm
      padding-top: 136px
    +md
      padding-top: 190px
    +sm
      padding-top: 50px
  &__right-side
    z-index: 0
  &__right-wrapper
    position: absolute
    left: -40%
    bottom: 1px
    width: 100vw
    height: calc(112% + 20px) // fixed pixel bug
    overflow: hidden
    padding-left: 300px
    background: #F5F8EF
    +lg
      padding-left: calc(70px + (200px - 2vw))
    +l
      padding-left: calc(70px + (150px - 2vw))
    +lm
      padding-left: calc(100px + (150px - 6vw))
      left: -48%
    +r(1079)
      padding-left: calc(100px + (110px - 7vw))
    +md
      bottom: -150px
      left: -100%
      height: calc(100% + 20px + 150px)
      padding-left: calc(100px + (155px - 7vw))
    +r(950)
      padding-left: 0
    +sm
      height: calc(100% + 20px + 250px)
      width: 780px
      bottom: -250px
      margin-left: -30px
    +r(599)
      bottom: -180px
    +r(499)
      height: calc(100% + 20px + 50px)
      bottom: -15px
  &__left-bg-wrap
    position: absolute
    right: -20%
    top: 34%
    z-index: 3
    +lm
      right: -34%
    +md
      right: 0
    +sm
      right: auto
      top: 18%
      left: 0
  &__left-bg
    position: absolute
    width: 5000px
    height: 5000px
    right: 0%
    top: 50%
    transform-origin: 50% 50%
    transform: translate(-21%, -50%) rotate(45deg)
    background: $cyan-blue
    +md
      transform: translate(-17.5%, -50%) rotate(45deg)
    +sm
      transform: translate(-111%, -50%) rotate(45deg)
      right: auto
      left: 0
    +r(599)
      transform: translate(-113%, -50%) rotate(45deg)
    +r(499)
      transform: translate(-115.5%, -50%) rotate(45deg)
  &__mask-wrapper
    position: absolute
    z-index: 3
    bottom: 0
    right: 0
    margin-right: -2350px
    width: 3000px
    height: calc(112% + 22px)
    overflow: hidden
    +l
      margin-right: -2320px
    +lm
      margin-right: -2380px
    +r(1079)
      margin-right: -2350px
    +md
      bottom: -155px
      height: calc(100% + 30px + 150px)
      margin-right: -2210px
    +sm
        height: calc(100% + 30px + 250px)
        bottom: -252px
        margin-right: 0px
        margin-left: -30px
        right: auto
        left: 0
    +r(599)
      height: calc(112% + 30px + 250px)
    +r(499)
      bottom: -55px
      height: calc(112% + 30px + 50px)
  &__mask
    position: absolute
    z-index: 0
    top: 34%
    left: 50%
    width: 100%
    height: calc(100% + 20px)
    transform: translate(-128%, 0)
    +l
      top: 35%
    +sm
      transform: translate(-142%, 0)
    +r(599)
      transform: translate(-144%, 0)
      top: 27%
    +r(499)
      top: 29%
  &__mask-top
    transform: translate(0%, -25%) rotate(-45deg)
    background: rgba(red, 0.4)
    transform-origin: 50% 50%
  &__mask-bottom
    background: rgba(yellow, 0.4)
    transform: translate(0%, -75%) rotate(-45deg)
    transform-origin: 50% 50%
  &__mask-top, &__mask-bottom
    position: absolute
    right: 0
    top: 50%
    width: 3000px
    height: 3000px
    background: $white
    +md
      width: 3400px
      height: 3400px
  &__title
    +md
      width: 450px
    +sm
      width: 210px
      font-size: 40px
  &__sub-title
    +lg
      max-width: 430px
    +sm
      width: 222px
      font-size: 20px
    +r(379)
      width: 200px
  &__img
    position: relative
    top: -30px
    left: 0px
    z-index: 0
    max-height: 110%
    left: -5%
    +l
      left: 20%
      margin-left: -400px
    +lm
      left: 24%
    +md
      left: 57%
      max-width: 110%
      top: -200px
    +r(950)
      left: 57%
      top: -140px
    +sm
      max-height: 110%
      margin-left: -200px
      left: 48%
      top: -165px
    +r(670)
      top: -140px
      left: 33%
      margin-left: -100px
    +r(630)
      top: -80px
      left: 30%
      max-height: 100%
    +r(599)
      top: -60px
      left: 22%
    +r(499)
      top: -100px
      left: 27%
    +r(430)
      left: 22%
      top: -60px
    +r(379)
      top: 8px
      left: 20%
      max-height: 90%
  &.is-active
    opacity: 1
  .container, .row, .col
    height: 100%
  svg
    position: absolute
    z-index: -1
    top: 0
    left: 0