.interview-hero
  $this: &
  position: relative
  z-index: 5
  +gpu
  opacity: 0
  transition: opacity $heroEasing
  margin-top: -104px
  &__main
    position: relative
  &__side-content
    position: relative
  &__left-col
    position: relative
    z-index: 1
  &__right-col
    position: relative
    z-index: 0
    +md
      padding-top: 200px
    +sm
      padding-top: 0
      margin-top: -300px
    +r(599)
      margin-top: -400px
    +r(499)
      padding-top: 0
      margin-top: -180px
    +r(365)
      margin-top: -200px
    +r(349)
      margin-top: -220px
  &__left-side, &__right-side
    position: relative
    height: 100%
  &__left-side
    z-index: 1
    padding-top: 250px
    +lg
      padding-top: 200px
    +md
      padding-top: 205px
    +sm
      padding-top: 150px
    +r(499)
      padding-top: 115px
  &__title
    width: 800px
    +lg
      width: 350px
    +md
      font-size: 60px
    +sm
      font-size: 46px
      line-height: 0.95
      width: auto
      max-width: 280px
      margin-bottom: 30px
  &__sub-title
    max-width: 514px
    +lg
      width: 405px
      max-width: none
    +md
      width: 330px
    +sm
      width: auto
      max-width: 210px
      font-size: 22px
      line-height: 1.25
  &__left-decor-wrapper, &__right-decor-wrapper
    position: absolute
    z-index: 1
    top: 0
    left: 0
    width: 100%
    height: 100%
  &__right-decor, &__left-decor
    position: absolute
    background: $white
    transform-origin: 50% 50%
  &__left-decor
    width: 3000px
    height: 500px
    top: 0
    left: 0
    transform-origin: 0 0 
    transform: translate(-15%, 70%) rotate(-40deg)
    +lg
      transform: translate(-15%, 50%) rotate(-40deg)
    +lm
      transform: translate(-15%, 48%) rotate(-40deg)
    +md
      transform: translate(-14%, 48%) rotate(-44deg)
    +sm
      transform: translate(-14%, 62%) rotate(-44deg)
    +r(700)
      transform: translate(-14%, 50%) rotate(-44deg)
    +r(499)
      transform: translate(-14%, 7%) rotate(-44deg)
  &__right-decor
    width: 1000px
    height: 500px
    bottom: 0
    right: 0
    transform: translate(44%, 94%) rotate(-40deg)
    +md
      transform: translate(44%, 94%) rotate(-44deg)
    +r(499)
      transform: translate(51%, 94%) rotate(-44deg)
    +r(375)
      transform: translate(53%, 94%) rotate(-44deg)
  &.is-active
    opacity: 1
  .container, .row, .col
    height: 100%
  svg
    position: absolute
    z-index: -1
    top: 0
    left: 0
.interview-hero-blocks
  position: relative
.interview-hero-block
  $this: &
  position: relative
  font-size: 0
  &__img
    position: relative
    display: flex
    align-items: flex-end
    overflow: hidden
    img
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: auto
    picture
      width: 100%
      height: 100%
  &__text-wrap
    position: relative
    z-index: 1
    padding-top: 30px
    +sm
      padding-top: 50px
  &--first
    +sm
      padding-top: 40px
    +r(499)
      padding-top: 60px
    +r(399)
      padding-top: 40px
    #{$this}__img
      height: 950px
      +lg
        height: 800px
      +lm
        height: 780px
      +r(599)
        top: -50px
      +r(499)
        height: 360px
        top: 0
      img
        bottom: -50px
        +lg
          bottom: -240px
        +r(1499)
          bottom: -210px
        +r(1399)
          bottom: -120px
        +lm
          bottom: -100px
        +r(1099)
          bottom: -50px
        +sm
          bottom: -20px
        +r(850)
          width: 110%
          left: -5%
        +r(700)
          width: 130%
          left: -15%
        +r(499)
          width: 110%
          left: -5%
          bottom: -70px
        +r(430)
          width: 100%
          left: 0
          bottom: -30px
        +r(365)
          bottom: -20px
        
    #{$this}__text-wrap
      .text
        max-width: 240px
  &--second
    left: -40px
    position: relative
    width: calc(100% + 70%)
    +lg
      width: calc(100% + 50%)
      left: -30px
    +md
      left: -20px
    +sm
      left: -6px
    #{$this}__img
      height: 800px
      +lg
        height: 700px
      +lm
        height: 640px
      +r(499)
        height: 360px
      img
        bottom: -70px
        +lg
          bottom: -238px
          left: -15%
          width: 130%
        +r(1499)
          bottom: -200px
        +r(1399)
          left: -20%
          width: 140%
        +r(1299)
          bottom: -110px
        +lm
          bottom: -120px
        +r(1099)
          bottom: -80px
        +sm
          bottom: -180px
        +r(700)
          bottom: -70px
          left: -5%
          width: 110%
        +r(660)
          bottom: -50px
        +r(499)
          bottom: -70px
          width: 100%
          left: 0
        +r(450)
          bottom: -60px
        +r(380)
          bottom: -40px
    #{$this}__text-wrap
      &::before
        content: ''
        position: absolute
        top: -1px
        left: 0
        height: 4px
        width: 100%
        background: $white
        +gpu
        z-index: 3
      .text
        max-width: 200px
        margin-left: 40px
        +lg
          margin-left: 30px
        +md
          margin-left: 20px
        +sm
          margin-left: 6px
        +r(599)
          max-width: 150px
        +r(499)
          max-width: 130px
        +r(375)
          max-width: 110px