.guided-tour-hero
  +cover
  position: relative
  z-index: 1
  &__main
    padding-top: 164 + 102 + px
    padding-bottom: 164px
    margin-top: -102px
    +cover
    +lg
      padding-top: 96 + 104 + px
      padding-bottom: 96px
      margin-top: -104px
    +md
      padding-top: 185 + 102 + px
      padding-bottom: 185px
      margin-top: -102px
    +sm
      padding-top: 85 + 73 + px
      padding-bottom: 85px
      margin-top: -73px

  &__container
    position: relative
    z-index: 2

  &__inner
    margin-left: -$gutter
    margin-right: -$gutter
    +lg
      margin-left: auto
      margin-right: auto
      max-width: 1000px

  &__box
    position: relative
    width: 100%
    height: 0
    padding-top: 62.12%
    margin: 0 auto
    +md
      height: auto
      padding-top: 0

    &-in
      +coverdiv
      +md
        position: static

  &__down
    position: absolute
    bottom: -40px - 48px
    left: 50%
    transform: translateX(-50%) rotate(90deg)
    appearance: none
    background: none
    border: 0
    width: 48px
    height: 48px

    .icon
      width: 40px
      height: 40px
      fill: $cyan-blue

  &__bg
    position: absolute
    z-index: 1
    top: 0
    width: 100%
    height: 100%
    overflow: hidden
    pointer-events: none

  &__bg-triangle
    left: 0
    position: absolute
    top: 0

  &__triangle
    width: 1970px
    height: 2000px
    background: $white
    transform: rotate(45deg) translate(-1500px, -1000px)
    transform-origin: 0 0
    +lg
      transform: rotate(45deg) translate(-1690px, -1190px)
    +md
      transform: rotate(45deg) translate(-1650px, -1150px)
    +sm
      transform: rotate(45deg) translate(-1830px, -1330px)
