.italy-hero
  $this: &
  position: relative
  z-index: 20
  +gpu
  opacity: 0
  transition: opacity $heroEasing
  margin-top: -104px
  +md
    margin-top: -104px
  +sm
    margin-top: 0
  &.is-active
    opacity: 1
  &__main
    position: relative
    height: 950px
    overflow: hidden
    +lg
      height: 700px
    +md
      height: 950px
    +sm
      height: 550px
  &__bg
    position: absolute
    z-index: 0
    height: 100% 
    width: 100%
    left: 0
    top: 0
    font-size: 0
    &-block
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
    &-container
      .col
        position: relative
    &-imgs
      position: relative
      height: 100%
      font-size: 0
    &-img-left, &-img-right
      position: absolute
      top: 0
      height: 100%
      +md
        height: 50%
        overflow: hidden
      img
        position: relative
        +gpu
        height: 1200px
        +lg
          height: 800px
    &-img-left
      right: 0
      z-index: 1
      background: rgba(gray,0.3)
      +md
        right: auto
        left: 0
      +r(800)
        width: 600px
      +sm
        width: 580px
        left: auto
        right: -20px
      +r(670)
        width: 520px
      +r(599)
        width: 460px
      +r(499)
        +portrait
          width: 400px
      +r(449)
        +portrait
          width: 350px
      +r(399)
        +portrait
          width: 300px
      img
        +lg
          height: 1150px
          top: -200px
        +lm
          height: 1000px
          top: -100px
        +md
          top: -300px
          height: 1100px
        +r(900)
          top: -200px
          height: 930px
        +r(800)
          height: 800px
          left: 3%
        +sm
          height: auto
          width: 100%
          max-width: 100%
          top: -132%
          left: 0
        +r(670)
          top: -112%
        +r(599)
          top: -102%
        +r(499)
          +portrait
            top: -82%
        +r(449)
          +portrait
            top: -68%
        +r(399)
          +portrait
            top: -57%
    &-img-right
      z-index: 0
      left: 100%
      background: #9DA3A6
      +md
        top: 50%
        left: 0
      img
        left: -100px
        top: -100px
        +lg
          top: 0px
          left: -80px
        +md
          left: -33px
          top: -80px
          height: 600px
          +landscape
            left: 30px
        +sm
          +landscape
            left: 70px
          +portrait
            height: 450px
            left: 0px
        +r(599)
          +landscape
            left: 0px
        +r(375)
          height: 380px
          top: -50px
          left: 25px
        +r(330)
          left: -5px
  &__left-decor-wrapper, &__right-decor-wrapper
    position: absolute
    z-index: 1
    top: 0
    width: 100%
    height: 100%
  &__left-decor-wrapper
    left: 0
  &__right-decor-wrapper
    right: 0
  &__left-decor, &__right-decor
    position: absolute
    top: 50%
    transform-origin: 50% 50%
  &__left-decor
    right: 0
    width: 2000px
    height: 960px
    background: $white
    transform: translate(-51%, -50%)
    +l
      right: auto
      left: 0
      transform: translate(-84%, -50%)
    +r(1300)
      transform: translate(-86%, -50%)
    +lm
      transform: translate(-88%, -50%)
    +md
      transform: translate(-86%, -50%)
    +sm
      transform: translate(-96%, -50%)
      +landscape
        transform: translate(-91%, -50%)
    +r(600)
      +landscape
        transform: translate(-93%, -50%)
    +r(320)
      transform: translate(-97.4%, -50%)
    &::before
      content: ''
      position: absolute
      top: 0
      right: -179px
      +arr(180, 960, $white, r)
  &__right-decor
    width: 2500px
    height: 2500px
    right: 0
    background: $white
    transform: translate(119%, -61%) rotate(45deg)
    +lg
      transform: translate(117%, -57%) rotate(45deg)
    +md
      transform: translate(117%, -63%) rotate(45deg)
    +sm
      display: none
  &__content-container
    position: relative
    z-index: 1
  &__content
    height: 100%
    padding-top: 104px
    +sm
      padding-top: 0
  &__inner
    height: 100%
    display: flex
    flex-direction: column
    justify-content: flex-start
    padding-top: 150px
    +lg
      padding-top: 80px
    +md
      padding-top: 120px
    +sm
      padding-top: 70px
  &__title
    width: 100%
    +rmin(1680)
      +is-en
        font-size: 80px
    +md
      font-size: 70px
    +sm
      margin-bottom: 30px
      font-size: 40px
      line-height: 1.15
      +landscape
        max-width: 250px
  &__sub-title
    max-width: 560px
    +rmin(1680)
      +is-en
        font-size: 34px
    +lg
      max-width: 360px
    +md
      font-size: 34px
    +sm
      font-size: 20px
      line-height: 1.4
      +landscape
        max-width: 250px
  &__bottom
    position: relative
    padding-top: 30px
    +gpu
    +sm
      padding-top: 60px
    &::before
      content: ''
      position: absolute
      left: 0
      top: -2px
      height: 4px
      width: 100%
      background: $white
    .text
      letter-spacing: 1px
      +md
        letter-spacing: 0.5px
  .container
    position: relative
  .container, .row, .col 
    height: 100%
