.story-hero
  &__title
    margin-bottom: 60px
    font-size: 93px
    line-height: 0.98
    +r-light
    +lg
      margin-bottom: 40px
      font-size: 60px
    +md
      margin-bottom: 30px
    .md-text
      display: none
      +md
        display: inline-block
        vertical-align: top
  &__sub-title
    font-size: 40px
    line-height: 1.25
    +r-light
    +lg
      font-size: 30px
  &__img
    opacity: 0
    transition: opacity 0.3s ease-out
    &.is-loaded
      opacity: 1