.home-slider
  padding-bottom: 200px
  +sm
    padding-bottom: 160px
  &__slider-wrap
    position: relative
  &__btns
    position: absolute
    top: 340px
    left: 50%
    width: 66%
    height: 50px
    z-index: 2
    transform: translateX(-50%)
    +lg
      width: 83%
    +md
      width: 100%
    +sm
      top: 46px
      width: 82%
  &__btn
    position: absolute
    top: 0px
    z-index: 1
    cursor: pointer
    svg
      width: 30px
      height: 30px
      fill: $light-blue
    &--prev
      left: 0
    &--next
      right: 0
  .swiper-container
    width: 100%
    +is-ie
      min-height: 700px
  .swiper-slide
    width: 100%
  .swiper-pagination
    position: static
    margin-top: 66px
    text-align: center
    +md
      margin-top: 40px
    +sm
      margin-top: 50px
    .swiper-pagination-bullet 
      width: 10px
      height: 10px
      opacity: 1
      border: 1px solid $light-blue
      background: $white
      &.swiper-pagination-bullet-active
        background: $light-blue
.home-slider-slide
  text-align: center
  max-width: calc(100% - 40px)
  +lg
    max-width: calc(100% - 30px)
  +md
    max-width: calc(100% - 20px)
  +sm
    max-width: calc(100% - 6px)
  &__img
    padding-bottom: 30px
    border-bottom: 1px solid $basic-green
    margin-bottom: 20px
    svg
      fill: $basic-green
      font-size: 130px
  &__title
    margin-bottom: 40px
    font-size: 34px
    line-height: 1.3
    +r-reg
    color: $light-blue
    +sm
      font-size: 28px
      line-height: 1.14
    span
      position: relative
      top: -10px
      +r-light
      font-size: 28px

    .show-mob
      display: none
      +sm
        display: inline-block
        vertical-align: top
    .hide-mob
      +sm
        display: none
  &__text
    font-size: 21px
    line-height: 1.33
    +r-light
    +lg
      font-size: 20px
      line-height: 1.5
    +sm
      font-size: 19px
      line-height: 1.45