.home-head
  position: relative
  padding-top: 180px
  padding-bottom: 140px
  +lg
    padding-bottom: 200px
  +sm
    padding-top: 160px
    padding-bottom: 100px
  &__arrow
    position: absolute
    top: 30px
    left: 50%
    cursor: pointer
    transform: translate(-50%, 0)
    svg
      width: 33px
      height: 33px
      fill: $light-blue
  &__title
    text-align: center
    +sm
      font-size: 24px
      line-height: 1.33
.section-title
  margin-bottom: 60px
  text-align: center
  font-size: 28px
  line-height: 1.1
  letter-spacing: 1.5px
  +r-light
  +sm
    margin-bottom: 40px
    letter-spacing: 1.4px