.home-themes
  position: relative
  padding-bottom: 650px
  +rmin(1921)
    padding-bottom: 800px
  +lg
    padding-bottom: 700px
  +l
    padding-bottom: 650px
  +lm
    padding-bottom: 570px
  +md
    padding-bottom: 650px
  +r(950)
    padding-bottom: 550px
    +landscape
      padding-bottom: 600px
  +sm
    padding-bottom: 600px
    +landscape
      padding-bottom: 580px
  +r(599)
    +landscape
      padding-bottom: 480px
  +r(374)
    padding-bottom: 570px
  &__decor
    position: relative
    z-index: -1
    &-left, &-right
      position: absolute
      top: 50%
      transform: translate(0, -40%)
      +rmin(1921)
        transform: translate(0, -56%)
      +rmin(4000)
        transform: translate(0, -44%)
      +lg
        transform: translate(0, -30%)
      +md
        transform: translate(0, -26%)
    &-left
      left: 0
      z-index: 1
    &-right
      right: 0
      z-index: 0
      +lg
        transform: translate(0, -32%)
      +md
        +landscape
          transform: translate(0, -27%)
      +sm
        transform: translate(0, -10%)
        +landscape
          transform: translate(0, -32%)
  &__img
    position: relative
    img
      position: relative
      width: 100%
    &--left
      width: 47vw
      +rmin(1921)
        width: 40vw
      +r(1680)
        width: 52vw
      +md
        width: 61vw
      +sm
        width: 95vw
        +landscape
          width: 60vw
      img
        +r(1680)
          left: -9%
    &--right
      width: 40vw
      +rmin(1921)
        width: 37vw
      +r(1680)
        width: 50vw
      +md
        width: 59vw
      +sm
        width: 92vw
        +landscape
          width: 55vw
      img
        +r(1680)
          right: -23%
.themes-link
  $this: &
  position: relative
  z-index: 1
  display: block
  height: 100%
  min-height: 380px
  padding: 50px 40px 50px 60px
  color: $white
  +r-light
  text-decoration: none
  mix-blend-mode: multiply
  +gpu
  +l
    padding: 40px
    min-height: 300px
  +sm
    height: auto
    min-height: 280px
    padding: 40px 20px
    margin-bottom: 20px
  +hover
    #{$this}__arrow
      transform: translateX(10px)
  &__title
    display: block
    margin-bottom: 20px
    font-size: 56px
    line-height: 1.15
    +l
      font-size: 40px
      line-height: 1.3
    +sm
      margin-bottom: 15px
      line-height: 1.05
  &__text
    display: block
    font-size: 20px
    line-height: 1.5
    letter-spacing: 1px
    +r-med
    +l
      font-size: 19px
      line-height: 1.26
      letter-spacing: 0.9px
  &__arrow
    display: block
    margin-top: 5px
    transition: transform .2s ease-out
    transform: translateX(0px)
    svg
      width: 40px
      height: 40px
      fill: $white
  &.is-blue
    background: $light-blue
  &.is-green
    background: $basic-green