.interview
  color: $basic-black
  +r-light
.interview-head
  padding-top: 180px
  padding-bottom: 240px
  +lg
    padding-bottom: 200px
  +sm
    padding-top: 180px
    padding-bottom: 100px
  &__title
    text-align: center
    font-size: 40px
    line-height: 1.17
    +r-light
    +lg
      font-size: 34px
.interview-section
  position: relative
  z-index: 2
  margin-bottom: 200px
  +lg
    margin-bottom: 180px
  +sm
    margin-bottom: 140px
  &__head
    margin-bottom: 75px
    text-align: center
    +lg
      margin-bottom: 50px
    +sm
      margin-bottom: 20px
    &-green, &-blue
      font-size: 56px
      line-height: 1.16
      +r-light
      +sm
        font-size: 40px
        line-height: 1.25
    &-green
      color: $basic-green
      padding-bottom: 20px
      margin-bottom: 20px
      border-bottom: 1px solid $basic-green
      +sm
        padding-bottom: 10px
        margin-bottom: 10px
    &-blue
      color: $light-blue
  &__list
    .interview-section-block
      &:not(:last-child)
        margin-bottom: 20px
  &__quote
    margin-top: 200px
    +lg
      margin-top: 180px
    +sm
      margin-top: 140px
    .quote
      &__icon
        svg
          fill: $basic-black
          stroke: $basic-black
      &__text
        color: $basic-black
        +lg
          font-size: 40px
          line-height: 1.375
.interview-section-block
  &__title
    font-size: 20px
    line-height: 1.5
    text-transform: uppercase
    +r-med
    letter-spacing: 1px
    +sm
      letter-spacing: 0.9px
  &__text
    font-size: 21px
    line-height: 1.42
    +r-light
    +sm
      font-size: 19px
      line-height: 1.45
.interview-puzzle
  position: relative
  z-index: 0
  padding-top: 40px
  margin-bottom: 100px
  +md
    margin-bottom: 180px
  +sm
    +is-de
      margin-bottom: 200px
.combo-img-puzzle
  $this: &
  padding-bottom: 117%
  +lg
    padding-bottom: 102%
  +sm
    padding-bottom: 148%
  #{$this}__left 
    width: calc(39% + 1px)
    +sm
      width: calc(51% + 1px)
  #{$this}__right
    width: 61%
    +sm
      width: 49%
.caption-col
  +sm
  +landscape
    margin-left: 65%
  +r(600)
    +landscape
      margin-left: 60%
.combo-caption
  &__inner
    position: relative
    top: -50px
    left: -80px
    width: 500px
    height: 500px
    overflow: hidden
    +rmin(1024)
      +is-de
        top: -75px
    +md
      top: -70px
    +sm
      top: -50px
      +is-de
        top: -90px
    &:before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      width: 100%
      height: 100%
      transform-origin: 50% 50%
      background: $white
      transform: translate(-55%, -37%) rotate(15deg)
  &::before
    display: none
  .text
    +sm
      max-width: 160px
      +is-de
        max-width: 180px
        font-size: 12px
    +r(374)
      +is-de
        max-width: 160px
.teaser
  position: relative
  z-index: 1