.italy-scheme
  position: relative
  padding-top: 200px
  padding-bottom: 200px
  margin-bottom: 120px
  overflow: hidden
  +lg
    padding-top: 160px
    padding-bottom: 160px
  +md
    padding-top: 120px
    padding-bottom: 120px
    margin-bottom: 0
  +sm
    padding-top: 100px
    padding-bottom: 100px
  &::before
    content: ''
    position: absolute
    width: 140%
    height: 100%
    left: 0%
    top: 0%
    margin-left: -20%
    transform-origin: 50% 50%
    transform: skewY(-5deg)
    z-index: -1
    background: $grey-2
    transition: background $easingBig
    +lg
      transform: skewY(-10deg)
  &__inner
    position: relative
    z-index: 1
  &__head
    margin-bottom: 90px
    text-align: center
    +r-light
    +sm
      margin-bottom: 50px
  &__title
    font-size: 40px
    line-height: 1.17
    color: $basic-green
    padding-bottom: 10px
    border-bottom: 1px solid $basic-green
    margin-bottom: 20px
    +r-light
    +sm
      font-size: 34px
      margin-bottom: 15px
  &__sub-title
    margin-left: auto
    margin-right: auto
    font-size: 19px
    line-height: 1.47
    color: $basic-blue
    +sm
      br
        display: none
  &__img
    margin-bottom: 40px
    text-align: center
    +md
      margin-top: 40px
    +sm
      margin-top: 0
    img
      max-width: 230px
  &__block
    +sm
      margin-bottom: 40px
    &-head
      margin-bottom: 12px
      +r-med
      letter-spacing: 1.4px
      color: $basic-blue
      text-transform: uppercase
    &-text
      font-size: 19px
      line-height: 1.47
      color: $basic-blue
      +r-light
    &--bottom
      text-align: center
      +sm
        margin-bottom: 0
        text-align: left
