.menu-headline
  +r-light
  color: $basic-blue
  font-size: 30px
  line-height: 1.167
  text-transform: uppercase
  letter-spacing: 1.5px
  +sm
    font-size: 28px
    line-height: 1.25
    letter-spacing: 1px

.menu
  $this: &
  position: absolute
  top: 102px
  left: 0
  width: 100%
  z-index: 200
  overflow: hidden
  +lg
    top: 104px
  +md
    top: 102px
  +sm
    top: 73px
  &__container
    width: 100%
    height: calc(100vh - 102px)
    position: relative
    overflow-y: auto
    overflow-x: hidden
    opacity: 0
    visibility: hidden
    transition: opacity 0.44s $header-timing-func, visibility 0s 0.44s
    &.is-active
      opacity: 1
      visibility: visible
      transition: opacity 0.44s $header-timing-func, visibility 0.44s $header-timing-func
    &:before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: calc(100% - 148px - 60px)
      background-color: $light-blue
  &__inner
    position: relative
    padding-top: 116px
    padding-bottom: 148px
    margin-bottom: 60px
    overflow: hidden
    +lg
      padding-top: 94px
    &:before
      content: ''
      position: absolute
      width: 140%
      height: 100%
      left: 0%
      top: 0%
      margin-left: -20%
      transform-origin: 50% 50%
      transform: skewY(-5deg)
      z-index: -1
      background: $light-blue
      +lg
        top: 1.6%
        margin-left: -10%
        transform: skewY(-10deg)
      +md
        margin-left: -35%
      +sm
        top: -3.2%
        margin-left: -20%
  &__langs
    display: none
    position: relative
    +sm
      display: block
    &-inner
      position: absolute
      top: -53px
      right: 0
  &__headline
    margin-bottom: 40px
    +lg
      margin-bottom: 54px
    +md
      width: 100%/12*8
      padding-right: $gutter-md/4
      margin-bottom: 48px
    +sm
      width: 100%
      padding-right: 0
      margin-bottom: 40px
  &__list
    display: flex
    flex-wrap: wrap
    margin: 0 -16px 106px -16px
    +lg
      margin: 0 -$gutter-lg/2
      margin-bottom: 90px
    +md
      margin: 0 -$gutter-md/2
      margin-bottom: 30px
    +sm
      margin: 0 -$gutter-sm/2
      margin-bottom: 2px
  &__item
    position: relative
    width: 20%
    padding: 0 16px
    +lg
      width: 33.33%
      padding: 0 $gutter-lg/2
      margin-bottom: 32px
    +md
      width: 100%/12*5
      margin-right: 100%/12*1
      padding: 0 $gutter-md/2
      margin-bottom: 36px
    +sm
      width: 100%
      margin-right: 0
      padding: 0 3px
      padding-bottom: 20px
      border-bottom: 1px solid $border-blue
      margin-bottom: 20px
    &:before
      content: ""
      position: absolute
      top: 0
      right: 0
      display: block
      width: 1px
      height: 256px
      background-color: $border-blue
      +lg
        height: 316px
      +l
        height: 256px
      +md
        right: calc(-100%/12*1 - #{$gutter-md}/4)
    &:nth-child(3n)
      +lg
        &:before
          display: none
      +md
        &:before
          display: block
    &:last-child
      +md
        &:before
          display: none
    &:nth-last-child(2)
      +sm
        padding-bottom: 60px
      &:before
        display: none
        +md
          display: block
    &_md
      display: none
      +md
        display: block
      +sm
        display: none
      #{$this}__headline
        margin-bottom: 34px
  &__row
    display: flex
    flex-wrap: wrap
    margin: 0 -16px
    +lg
      margin: 0 -$gutter-lg/2
    +md
      margin: 0 -$gutter-md/2
    +sm
      margin: 0 -$gutter-sm/2
  &__col
    &_long
      position: relative
      width: 40%
      padding: 0 16px
      +lg
        width: 66.66%
        padding: 0 $gutter-lg/2
      +md
        width: 100%/12*11
        padding: 0 $gutter-md/2
      +sm
        width: 100%
        padding: 0 $gutter-sm/2
        padding-bottom: 60px
        border-bottom: 1px solid $border-blue
        margin-bottom: 20px
      &:before
        content: ""
        position: absolute
        top: 0
        right: 0
        display: block
        width: 1px
        height: 349px
        background-color: $border-blue
        +lg
          display: none
      #{$this}__headline
        margin-bottom: 34px
        +lg
          max-width: 440px
        +md
          width: 100%/11*8
          padding-right: $gutter-md/4
        +sm
          width: 100%
          padding-right: 0
          margin-bottom: 20px
    &_short
      width: 20%
      padding-left: 16px
      +lg
        width: 33.33%
        padding: 0 $gutter-lg/2
      +md
        display: none
      +sm
        display: block
        width: 100%
        padding: 0 $gutter-sm/2
        padding-bottom: 60px
      #{$this}__headline
        margin-bottom: 34px
        +sm
          margin-bottom: 10px
    &_short-sm
      display: none
      +sm
        display: block


