.modal
  $this: &
  display: none
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  width: 100%
  height: var(--vh)
  background: $white
  +is-ms
    height: 100vh
  &__overlay
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
  &__close
    position: fixed
    right: 0px
    top: 0px
    z-index: 102
    display: flex
    align-items: center
    justify-content: center
    width: 60px
    height: 60px
    transition: transform $easing
    font-size: 0
    cursor: pointer
    overflow: hidden
    &::before
      content: ''
      position: absolute
      z-index: -1
      bottom: 0
      left: 0
      width: 200%
      height: 200%
      transform-origin: 0 100%
      transform: translate(-33%, -50%) rotate(45deg)
      background: $cyan-blue
    svg
      font-size: 28px
      fill: $white
  &__close-cookie-wrap
    height: 100%
    display: flex
    align-items: center
    justify-content: flex-end
    +sm
      justify-content: center
  &__close-cookie
    display: flex
    align-items: center
    justify-content: center
    width: 48px
    height: 48px
    cursor: pointer
    svg
      width: 48px
      height: 48px
      fill: $light-blue
  &__content
    position: relative
    height: 100%
    &-inner
      position: relative
      overflow-y: auto
      height: 100%
  &__bg
    position: absolute
    z-index: -1
    left: 0
    top: 0
    width: 100%
    height: 100%
  &__cookie-text
    font-size: 16px
    line-height: 1.375
    +r-light
    color: $light-blue
  &--cookie
    display: block
    height: auto
    padding: 30px 0
    top: auto
    bottom: 0
    transform: translateY(101%)
    transition: transform 0.5s ease-out
    +is-ms
      height: auto
    &.is-active
      transform: translateY(0%)
  &--story
    #{$this}__content-inner
      padding: 120px 0
      +sm
        padding: 100px 0 120px
    .text
      &--28-sm
        letter-spacing: 0.69px
    .modal-md-inline-text
      +md
        display: inline
    .combo-mb-61, .combo-mb-50
      +md
        margin-bottom: 41px
    section
      display: block
      width: 100%
      &:not(:last-of-type)
        margin-bottom: 120px
  &.is-active
    display: block
