.powertrain-scheme
  $this: &
  position: relative
  padding-top: 200px
  padding-bottom: 200px
  overflow: hidden
  margin-bottom: 120px
  +lg
    padding-top: 160px
    padding-bottom: 160px
  +md
    padding-top: 140px
    padding-bottom: 140px
    margin-bottom: 0
  +sm
    padding-top: 100px
    padding-bottom: 100px
  &::before
    content: ''
    position: absolute
    width: 140%
    height: 100%
    left: 0%
    top: 0%
    margin-left: -20%
    transform-origin: 50% 50%
    transform: skewY(-5deg)
    z-index: -1
    background: $grey-2
    transition: background $easingBig
    +lg
      transform: skewY(-10deg)
  &__inner
    position: relative
    z-index: 1
  &__head
    margin-bottom: 60px
    text-align: center
    +r-light
  &__title
    font-size: 44px
    line-height: 1.45
    color: $basic-green
    padding-bottom: 20px
    border-bottom: 1px solid $basic-green
    margin-bottom: 20px
    +r-light
    +lg
      font-size: 40px
    +sm
      font-size: 34px
  &__sub-title
    max-width: 700px
    margin: 0 auto
    font-size: 20px
    +r-reg
    line-height: 1.6
    letter-spacing: 1px
    color: $basic-blue
    text-transform: uppercase
    +md
      letter-spacing: 0.5px
    +sm
      font-size: 18px
      text-transform: none
  &__img-wrap
    position: relative
    display: flex
    justify-content: center
    will-change: transform
    width: 100%
    transition: transform 0.4s ease-out
    +l
      top: 0
      transform: translateX(50%)
    +md
      margin-bottom: 80px
      transform: none
    +sm
      margin-bottom: 60px
    &.is-left-pos
      transform: translateX(-15px)
      +md
        transform: none
    &.is-no-transition
      transition: none
  &__img
    position: relative
    max-width: 593px
    width: 100%
    +l
      max-width: 100%
    img
      width: 100%
      max-width: 100%
    & > div
      &:nth-of-type(1)
        top: 22%
        left: 44.5%
        +r(499)
          top: 24%
          left: 46.5%
          max-width: 85px
      &:nth-of-type(2)
        top: 36%
        left: 70%
        +r(499)
          top: 53%
          left: 76%
          max-width: 85px
      &:nth-of-type(3)
        top: 50%
        left: 33%
        +r(499)
          top: 46%
          left: 27%
          max-width: 96px
      &:nth-of-type(4)
        top: 68%
        left: 52.5%
        +r(499)
          top: 70%
          left: 41.5%
          max-width: 108px
  &__row
    position: relative
  &__img-col
    position: relative
  &__content-wrap
    position: relative
    +is-ie
      min-height: 700px
      +grid
        min-height: 780px
      +l
        min-height: 600px
  &__content
    &-block
      display: none
      width: 360px
      +gpu
      +grid
        width: 100%
    &-title
      margin-bottom: 20px
      font-size: 20px
      letter-spacing: 1.4px
      line-height: 1.2
      color: $light-blue
      +r-reg
    &-sub-title
      margin-bottom: 15px
      font-size: 16px
      line-height: 1.375
      letter-spacing: 1.4px
      +r-med
      color: $basic-blue
    &-text
      font-size: 19px
      line-height: 1.47
      color: $basic-blue
      +r-light
      +is-ie
        +lg
          font-size: 18px

.powertrain-scheme-btn
  $this: &
  position: absolute
  display: flex
  align-items: flex-start
  font-size: 16px
  line-height: 1.375
  letter-spacing: 0.25px
  +r-med
  color: $basic-blue
  cursor: pointer
  transform-origin: 50% 50%
  transform: translate3d(-50%,-50%, 0)
  transition: color .25s ease-out
  +r(499)
    align-items: center
  &.is-active
    color: $light-blue
    #{$this}__icon
      opacity: 1
      i
        transform: translate3d(0,0,0) rotate(45deg)
  &__icon
    position: relative
    flex-shrink: 0
    flex-grow: 0
    display: flex
    align-items: center
    justify-content: center
    width: 26px
    height: 26px
    background: $light-blue
    opacity: 0.65
    font-size: 0
    border-radius: 50%
    i
      transform-origin: 50% 50%
      transition: transform .25s ease-out, opacity .25s ease-out
      display: block
      width: 10px
      height: 10px
    svg
      width: 10px
      height: 10px
      stroke: $white
  &__text
    display: inline-block
    vertical-align: top
    padding-top: 16px
    padding-right: 10px
    white-space: nowrap
    +r(499)
      white-space: normal
      padding-top: 0px
    &.hide-mob
      +sm
        display: none
    &.show-mob
      display: none
      +sm
        display: inline-block
  

