.engine-section
  padding-top: 270px
  position: relative
  z-index: 0
  +grid
    padding-top: 210px
  +lm
    padding-top: 180px
  +md
    padding-top: 150px
  +sm
    padding-top: 60px
  &__top
    position: relative
    padding-top: 100px
    padding-bottom: 100px
    +sm
      padding-top: 0
    &-bg  
      position: absolute
      z-index: -1
      left: 0
      top: 0
      width: 100%
      height: calc(100% + 400px)
      overflow: hidden
      +md
        height: calc(100% + 200px)
      +sm
        height: 100%
        top: 200px
        +landscape
          top: 300px
      &:before
        content: ''
        position: absolute
        width: 140%
        height: 100%
        left: 0%
        top: 0%
        margin-left: -20%
        transform-origin: 50% 50%
        transform: skewY(-5deg)
        background: $grey-2
        +lg
          transform: skewY(-10deg)
    &-content
      position: relative
      z-index: 1
  &__img
    position: relative
    +sm
      margin-bottom: 60px
    img
      display: block
      position: absolute
      left: 7.5%
      top: -350px
      width: 85%
      +grid
        top: -300px
      +lm
        top: -250px
      +md
        top: -230px
        width: 92%
        left: 4%
      +sm
        position: relative
        width: 100%
        left: 0
        top: 0px 
  &__list
    li
      &:not(:last-of-type)
        margin-bottom: 60px
        +sm
          margin-bottom: 40px
.engine-section-block
  &__head
    margin-bottom: 12px
    +r-med
    font-size: 16px
    line-height: 1.374
    letter-spacing: 1.4px
    color: $basic-blue
    text-transform: uppercase
    span
      color: $light-blue
  &__text
    font-size: 19px
    line-height: 1.47
    color: $basic-blue
    +r-light