.quote
  &__text
    position: relative
    margin-bottom: 24px
  &__icon
    font-size: 0
    position: absolute
    top: 4px
    left: -20px
    transform: translateX(-100%)
    +sm
      position: relative
      left: 0
      margin-bottom: 4px
      transform: none
    svg
      width: 19px
      height: 19px
      fill: $basic-green
      stroke: $basic-green
  &__info
  &__author
    margin-bottom: 3px
  &__position