.combo-section
  $this: &
  &--j
    padding-top: 200px
    overflow: hidden
    +md
      padding-top: 180px
      padding-bottom: 180px
    +sm
      padding-top: 100px
      padding-bottom: 120px
    #{$this}__col-left 
      padding-top: 80px
      +md
        padding-top: 0
    #{$this}__col-right
      +md
        margin-bottom: 80px
  &--k
    padding-bottom: 140px
    +l
      padding-bottom: 120px
    +md
      padding-top: 120px
      padding-bottom: 180px
    +sm
      padding-bottom: 80px
    #{$this}__col-left 
      padding-top: 350px
      +md
        padding-top: 0
    #{$this}__middle-content
      margin-top: 200px
      +lg
        margin-top: 140px
      +md
        margin-top: 180px
      +sm
        margin-top: 120px
  &--l
    +md
      padding-top: 120px
      padding-bottom: 150px
    +sm
      padding-top: 100px
      padding-bottom: 150px
    #{$this}__col-left 
      padding-top: 170px
      +md
        padding-top: 0
  &--m
    +md
      padding-top: 120px
      padding-bottom: 160px
    +sm
      padding-bottom: 120px
    #{$this}__col-left 
      padding-top: 220px
      +md
        padding-top: 0
    .quote-col
      position: relative
      z-index: 4
    .quote
      margin-top: 150px
      +sm
        margin-top: 120px
    .combo-md-content
      margin-top: 100px
  &--k, &--l, &--m
    #{$this}__col-right
      +md
        display: none
.caption-col
  &--j
    +sm
      +landscape
        margin-left: 65%

.combo-caption
  &--j
    &::before
      width: 800px
      height: 800px
      transform: translate(-17%, -18%) rotate(32deg) skewY(45deg) 
      transform-origin: 50% 50%
      +sm
        width: 600px
        height: 600px
        transform: translate(-9%,-25%) rotate(44deg) skewY(30deg)
      +r(374)
        transform: translate(-11%,-28%) rotate(44deg) skewY(30deg)
    .text
      max-width: 180px
      +sm
        max-width: 160px
      +r(374)
        max-width: 140px
  &--k
    &-left, &-right
      &::before
        width: 800px
        height: 800px
        transform-origin: 50% 50%
    &-left
      +sm
        display: none
      &:before
        transform: translate(-83%, -10%) rotate(16deg) skewY(41deg) 
        +l
          transform: translate(-83%, -15%) rotate(16deg) skewY(41deg) 
        +lm
          transform: translate(-85%, -10%) rotate(16deg) skewY(41deg) 
        +md
          transform: translate(-85%, -24%) rotate(16deg) skewY(41deg) 

    &-right
      left: auto
      right: 0
      +sm
        display: none
      &:before
        left: auto
        right: 0
        transform: translate(79.5%,28%) rotate(30deg) skewY(41deg)
        +l
          transform: translate(81.5%,28%) rotate(30deg) skewY(41deg)
        +lm
          transform: translate(83.5%,10%) rotate(30deg) skewY(41deg)
        +md
          transform: translate(85.5%,1%) rotate(30deg) skewY(41deg)

.combo-img
  &--j
    padding-bottom: 127%
.combo-img-puzzle
  $this: &
  &--k
    padding-bottom: 70%
    +sm
      padding-bottom: 143%
    #{$this}__left 
      +sm
        left: 0
        width: calc(50% + 1px)
    #{$this}__right
      +sm
        width: 50%
  &--m
    img
      width: 100%

