.combo-section
  $this: &
  &--e
    padding-top: 140px
    // padding-bottom: 200px
    +md
      padding-top: 120px
      padding-bottom: 270px
      +landscape
        padding-bottom: 150px
    +sm
      padding-top: 80px
      padding-bottom: 200px
      +landscape
        padding-bottom: 120px
    #{$this}__col-left 
      padding-top: 80px
      +md
        padding-top: 0
    #{$this}__col-right
      +md
        margin-bottom: 140px
  &--f
    +md
      padding-top: 120px
      padding-bottom: 200px
    #{$this}__col-left 
      padding-top: 100px
      +md
        padding-top: 0
    .quote-col
      position: relative
      z-index: 4
    .quote
      margin-bottom: 100px
      +md
        margin-bottom: 60px
    .combo-caption-wrap
      z-index: 2
    .combo
  &--g
    +md
      padding-bottom: 120px
    +sm
      padding-top: 80px
      padding-bottom: 100px
    #{$this}__col-left 
      padding-top: 80px
      +md
        padding-top: 0
    .quote-row
      &--first
        margin-bottom: 100px
  &--h
    padding-bottom: 60px
    +md
      padding-top: 120px
      padding-bottom: 120px
    +sm
      padding-top: 80px
      padding-bottom: 100px
    #{$this}__col-left 
      padding-top: 160px
      +md
        padding-top: 0
    .quote-row
      position: relative
      z-index: 3
    .quote
      margin-top: 240px
      +sm
        margin-top: 220px
  &--i
    padding-top: 60px
    padding-bottom: 320px
    +l
      padding-bottom: 260px
    +lm
      padding-bottom: 200px
    +md
      padding-top: 120px
      padding-bottom: 40px
    #{$this}__col-left 
      padding-top: 160px
      +md
        padding-top: 0
    #{$this}__middle-content
      margin-top: 200px
      +md
        margin-top: 80px
      +sm
        margin-top: 0
    .quote-row
      position: relative
      z-index: 3
      .quote
        margin-top: 200px
        margin-bottom: 200px
        +md
          margin-bottom: 80px
  &--g, &--i
    #{$this}__col-left 
      +md
        order: 1
    #{$this}__col-right
      +md
        order: 2
      .quote
        margin-top: 100px
        +sm
          margin-top: 0
      .combo-article
        &__title, &__text
          +md
            display: none

  &--f, &--h 
    #{$this}__col-right
      +md
        display: none
.animated-row
  position: relative
  z-index: 1
.caption-col
  &--e
    +sm
      +landscape
        margin-left: 70%
    +r(600)
      +landscape
        margin-left: 66%   
    +mob-sm
      margin-left: 36.5%
  &--f
    z-index: 3
  &--g
    z-index: 3
    +sm
      +landscape
        margin-left: 67%
    +r(600)
      +landscape
        margin-left: 60%    
  &--i
    &-first
      +sm
        +landscape
          margin-left: 67%
    &-second
      +sm
        +landscape
          margin-left: 67%
.img-coll
  &--f
    position: relative
    z-index: 4
  &--g
    &-second
      +sm
        position: relative
        z-index: 5
      .text
        margin-top: 50px
        max-width: 185px
.combo-caption
  $this: &
  &--e
    top: auto
    bottom: 0
    +sm
      width: 160px
      height: 200px
    &::before
      width: 300%
      height: 300%
      top: 50%
      left: 50%
      transform: translate(-21%,-66%) rotate(45deg)
      +md
        transform: translate(-10%,-76%) rotate(45deg)
      +sm
        width: 600px
        height: 600px
        transform: translate(-9%,-77%) rotate(45deg)
        +portrait
          transform: translate(-6%,-80%) rotate(45deg)
  &--f
    top: -200px
    +r(374)
      top: -230px
    &::before
      width: 300%
      height: 300%
      top: 50%
      left: 50%
      transform: translate(-70%,-99%) rotate(45deg)
  &--g
    top: -160px
    +sm
      position: relative
      top: -100px
      width: 160px
      margin-bottom: 80px
    &::before
      display: none
    #{$this}__bg
      position: absolute
      width: 800px
      height: 800px
      left: 50%
      top: 50%
      transform-origin: 50% 50%
      transform: translate(-15%, -72%)
      overflow: hidden
      +md
        transform: translate(-17%, -72%)
      +sm
        +portrait
          transform: translate(-14%, -74%)
      &::before
        content: ''
        position: absolute
        width: 400px
        height: 1000px
        top: 50%
        left: 50%
        transform: translate(-50%,-53%) skewX(-54deg)
        transform-origin: 50% 50%
        background: $white
  &--h
    top: 0px
    &::before
      width: 300%
      height: 300%
      top: 50%
      left: 50%
      transform: translate(-55%,-62%) rotate(45deg)
  &--i
    &-first
      &::before
        width: 300%
        height: 300%
        top: 50%
        left: 50%
        transform: translate(-19%,-68%) rotate(45deg)
        +sm
          transform: translate(-7%,-74%) rotate(45deg)
    &-second
      top: -70px
      +sm
        position: relative
        top: 0
      &::before
        display: none
      #{$this}__bg
        position: absolute
        width: 800px
        height: 800px
        left: 50%
        top: 50%
        transform-origin: 50% 50%
        transform: translate(-18%, -64%)
        overflow: hidden
        +sm
          transform: translate(-15%, -64%)
        &::before
          content: ''
          position: absolute
          width: 600px
          height: 1000px
          top: 50%
          left: 50%
          transform: translate(-50%,-53%) skewX(-54deg)
          transform-origin: 50% 50%
          background: $white
    &-first, &-second
      .text
        +md
          max-width: 160px
.combo-img
  &--f
    &-first
      padding-bottom: 125%
      margin-bottom: 200px
      +md
        margin-bottom: 150px
      +r(374)
        margin-bottom: 190px
  &--g
    &--first
      padding-bottom: 133%
    &-second
      margin-top: 0px
      padding-bottom: 121%
      +md
        margin-top: -40px
  &--i
    &-first
      padding-bottom: 124%
    &-second
      padding-bottom: 124%
      +sm
        mix-blend-mode: multiply
    &-third
      position: absolute
      top: 0px
      mix-blend-mode: multiply
      +md
        position: relative
      +sm
        top: 20px
        mix-blend-mode: normal
