.combo-section
  $this: &
  &--n
    padding-top: 140px
    overflow: hidden
    +md
      padding-top: 120px
      padding-bottom: 150px
    +sm
      padding-top: 80px
      padding-bottom: 120px
      +portrait
        padding-bottom: 140px
    #{$this}__col-left 
      padding-top: 150px
      +lg
        padding-top: 200px
      +md
        padding-top: 0
    #{$this}__col-right
      +md
        margin-bottom: 140px
  &--o
    +md
      padding-top: 100px
      padding-bottom: 100px
  &--p
    +md
      padding-top: 100px
      padding-bottom: 40px
  &--q
    +md
      display: none
      padding-top: 120px
      padding-bottom: 0
  &--o, &--p
    #{$this}__col-right
      +md
        display: none
.caption-col
  &--n
    +sm
      +landscape
        margin-left: 68%
    +r(600)
      +landscape
        margin-left: 58%   
    +mob-sm
      margin-left: 24.5%
.combo-caption
  $this: &
  &--n
    top: -200px
    +md
      top: -80px
      position: relative
    +sm
      top: 0
      width: 200px
      height: 200px
    &::before
      width: 400%
      height: 400%
      top: 50%
      left: 50%
      transform: translate(-8%,-71%) rotate(45deg)
      +lg
        transform: translate(-15%,-65%) rotate(45deg)
      +md
        transform: translate(-10%,-76%) rotate(45deg)
      +sm
        width: 600px
        height: 600px
        transform: translate(-11%,-82%) rotate(45deg)
        +portrait
          transform: translate(0%,-85%) rotate(53deg)
    .text
      width: 240px
      +l
        max-width: 100%