.combo-section
  $this: &
  z-index: 1
  position: relative
  padding-top: 120px
  padding-bottom: 120px
  +l
    padding-top: 80px
    padding-bottom: 80px
  +md
    padding-top: 110px
    padding-bottom: 100px
  &--full-pt
    padding-top: 240px
    +l
      padding-top: 160px
  &--full-pb
    padding-bottom: 240px
    +l
      padding-bottom: 160px
  &__inner
  &__col-left 
    position: relative
    z-index: 0
    +md
      order: 1
  &__col-right
    position: relative
    z-index: 3
    background: $white
    +gpu
    +md
      order: 0
    .quote
      &__icon
        +rmin(1024)
          display: none
  &__img-quote-side
    position: relative

  &__text-side
.quote-row
.img-coll
  
.combo-mb-61
  margin-bottom: 61px
.combo-mb-50
  margin-bottom: 50px
.combo-mb-43
  margin-bottom: 43px
.combo-mb-30
  margin-bottom: 30px
.combo-mb-22
  margin-bottom: 22px

.combo-caption-wrap
  position: relative
.caption-col

.combo-caption
  position: absolute
  width: 100%
  z-index: 2
  left: 0
  width: 200px
  height: 200px
  +gpu
  &::before
    content: ''
    position: absolute
    width: 200%
    left: 0
    height: 200%
    transform-origin: 0% 50%
    background: $white
  .text
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    width: 100%

.combo-img-wrapper
  position: relative
  .combo-img
    max-width: 100%
    width: 100%
.combo-img
  position: relative
  z-index: 1
  height: 0
  padding-bottom: 137%
  font-size: 0
  img
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    object-fit: cover
.combo-img-puzzle
  position: relative
  z-index: 1
  height: 0
  padding-bottom: 137%
  font-size: 0
  &__left, &__right
    position: absolute
    top: 0
    height: 100%
    overflow: hidden
  img
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    object-fit: cover
    +gpu
  &__left
    width: calc(50% + 1px)
    left: 0
  &__right
    width: 50%
    right: 0
    img
      left: auto
      right: 0
.combo-mob-show
  display: none
  +sm
    display: block
.combo-mob-hide
  +sm
    display: none
.combo-md-content
  text-align: center
  margin-top: 200px
  +sm
    margin-top: 60px
  &__text
    margin-bottom: 20px
    p
      &:not(:first-of-type)
        margin: 10px 0
  &__btn-wrap
    display: flex
    justify-content: center
  &--small-mt
    margin-top: 60px
  &--b
    margin-top: 170px
.combo-number-col
  position: relative
  z-index: -1
  +md
    display: none
.combo-number-wrap 
  position: absolute
  left: 0
  top: 0
  width: 200px
.combo-number
  position: absolute
  left: 0px
  top: 0
  font-size: 400px
  +r-reg
  line-height: 0.75
  color: rgba($grey-6, 0.5)
  +gpu
  will-change: transform
  opacity: 0
  transition:  opacity 0.3s linear
  &.is-active
    opacity: 1
.combo-article    
  h3, p
    &:empty
      display: none
  p
    &:last-of-type
      &:empty
        display: block
        height: 0
        margin-top: -30px