.combo-section
  $this: &
  &--a
    padding-top: 120px
    padding-bottom: 140px
    +lg
      padding-bottom: 240px
    +grid
      padding-bottom: 18vw
    +l
      padding-bottom: 21vw
    +lm
        padding-bottom: 18vw
    +md
      padding-bottom: 350px
    +sm
      padding-bottom: 100px
    #{$this}__col-right
      +md
        margin-bottom: 140px
    #{$this}__col-left 
      padding-top: 80px
  &--b
    +md
      padding-top: 120px
      padding-bottom: 350px
      +landscape
        padding-bottom: 150px
    +sm
      padding-top: 80px
      padding-bottom: 350px
      +landscape
        padding-bottom: 150px
      
    #{$this}__col-left 
      padding-top: 178px
      +md
        padding-top: 0
  &--b, &--c, &--d
    #{$this}__col-right
      +md
        display: none 
  &--c
    +md
      padding-top: 200px
      padding-bottom: 230px
    +sm
      padding-bottom: 140px
    #{$this}__col-right
      +md
        margin-bottom: 140px
    #{$this}__col-left 
      padding-top: 150px
      +md
        padding-top: 50px
    .quote
      margin-top: 300px
      +lg
        margin-top: 430px
      +grid
        margin-top: 28vw
      +md
        margin-top: 300px
      +sm
        margin-top: 80px
  &--d
    +md
      padding-bottom: 40px
    +sm
      padding-top: 80px
    #{$this}__col-left 
      padding-top: 200px
      +lg
        padding-top: 140px
      +md
        padding-top: 0
    .quote
      margin-bottom: 180px
      +lg
        margin-bottom: 160px
      +sm
        margin-bottom: 80px
.combo-article
  $this: &
  &--a
    #{$this}__title
      &:first-child
        max-width: 400px
        +md
          max-width: 100%
.combo-caption
  &--a, &--c
    top: -300px
    width: 200px
    height: 200px
    &::before
      width: 200%
      top: 100%
      transform:  translate(-38%, -40%) rotate(-45deg) 
  &--c
    top: 0px
  &--b
    top: auto
    bottom: 0
    width: 200px
    height: 200px
    +sm
      width: 160px
      height: 200px

    &::before
      width: 200%
      height: 300%
      top: 50%
      transform: translate(38%,-92%) rotate(43deg) skewY(26deg)
      +sm
        width: 1000px
        height: 1000px
        transform: translate(27%,-92%) rotate(43deg) skewY(26deg)
.combo-img
  &--a
    &-first
    &-second
      position: absolute
      top: -200px
      left: 0
      z-index: 2
      padding-bottom: 133%
      mix-blend-mode: multiply
      +lg
        top: -180px
      +l
        top: -130px
      +lm
        top: -100px

      +sm
        position: relative
        top: 0
        margin-top: 7vh
        +landscape
          margin-top: -16vh
  &--c
    &-first
    &-second
      position: absolute
      top: -200px
      left: 0
      z-index: 2
      padding-bottom: 133%
      mix-blend-mode: multiply
      +lg
        top: -200px
      +l
        top: -180px
      +lm
        top: -130px
      +md
        top: -100px
        +landscape
          top: -180px
      +sm
        position: relative
        top: 0
        margin-top: 7vh
        +landscape
          margin-top: -16vh
.combo-md-content
  &--b
    margin-top: 170px
