.combo-section
  $this: &
  &--r
    padding-top: 100px
    +md
      padding-top: 240px
      padding-bottom: 100px
    +sm
      padding-top: 320px
      padding-bottom: 80px
      +portrait
        padding-top: 120px

    #{$this}__col-left
      padding-top: 100px
      +sm
        padding-top: 0
    #{$this}__col-right
      +md
        margin-bottom: 80px
  &--s
    +md
      padding-top: 100px
      padding-bottom: 160px
    +sm
      padding-top: 80px
      padding-bottom: 120px
      +portrait
        padding-top: 120px

    #{$this}__col-left
      padding-top: 100px
      +md
        padding-top: 0
      +sm
        padding-top: 0
    #{$this}__col-right
      +md
        display: none