.teaser
  padding-bottom: 180px
  &__head
    padding-top: 120px
    padding-bottom: 40px
    text-align: center
    &-title
      margin-bottom: 180px
      font-size: 40px
      line-height: 1.25
      +r(1439)
        margin-bottom: 160px
        font-size: 28px
      +md
        margin-bottom: 180px
        font-size: 28px
      +sm
        margin-bottom: 160px
        font-size: 24px
    &-sub-title
      +r-light
      font-size: 28px
      line-height: 1.1
      text-transform: uppercase


.teaser-headline
  +r-light
  font-size: 21px
  line-height: 1.238
  color: $cyan-blue
  +sm
    font-size: 24px
    line-height: 1.167

.teaser-text
  +r-light
  font-size: 16px
  line-height: 1.5
  +lg
    font-size: 18px
    line-height: 1.444
  +sm
    font-size: 19px
    line-height: 1.37


.teaser-slider
  overflow: hidden
  &__blocks
    display: none
    max-width: 320px
    margin: 0 auto
    +sm
      display: block
    &-headline
      margin-bottom: 20px
  &__container
    padding-bottom: 60px
    overflow: visible
    +lg
      padding-bottom: 20px
    +sm
      padding-bottom: 0
  &__wrapper
    &.swiper-wrapper
      +sm
        display: block
  &__slide
    max-width: 320px
    min-width: 320px
    padding-right: 40px
    +md
      padding-right: 20px
    +sm
      padding-right: 0
      margin-bottom: 40px
      max-width: none
      min-width: auto
    &:nth-child(odd)
      padding-top: 186px
      +lg
        padding-top: 148px
      +sm
        padding-top: 0
    .info-box
      +sm
        margin: 0 auto
  &__scrollbar
    width: 509px
    height: 7px
    margin: 0 auto
    +lg
      width: 430px
    +md
      position: relative
      left: 100%/12*4
      margin: 0
    +sm
      display: none
    &.swiper-scrollbar
      background: transparent
      &:before
        content: ''
        display: block
        position: absolute
        top: 3px
        left: 0
        width: 100%
        height: 1px
        background: $grey-4
    .swiper-scrollbar-drag
      background: transparent
      cursor: pointer
      &:before
        content: ''
        display: block
        position: absolute
        top: 3px
        left: 0
        width: 100%
        height: 1px
        background: $cyan-blue
.teaser-banner-wrapper
  padding-top: 120px
  +sm
    padding-top: 80px
.teaser-banner
  $this: &
  position: relative
  display: block
  width: 680px
  margin: 0 auto

  cursor: pointer
  text-decoration: none
  +l
    width: 534px
  +md
    width: 514px
  +r(450)
    width: 280px
  &__decor
    display: block
    position: absolute
    left: 50%
    top: 50%
    width: calc(100% + 40px)
    height: calc(100% + 40px)
    transform: translate(-50%, -50%)
    z-index: 0
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__content
    position: relative
    z-index: 1
    display: block
    padding: 87px 60px 55px
    min-height: 430px
    background: $light-blue
    +r-light
    color: $white
    mix-blend-mode: multiply
    overflow: hidden
    &::before
      content: ''
      position: absolute
      width: 400px
      height: 400px
      right: -50%
      top: -4px
      transform-origin: 100% 0
      transform: rotate(45deg)
      background: $white
      +l
        right: -65%
      +md
        right: -70%
      +r(450)
        right: -167%
    +l
      min-height: 338px
      padding: 60px 55px 55px
    +md
      min-height: 325px
    +r(450)
      min-height: 200px
      padding: 25px 25px 25px
  &__title
    display: block
    margin-bottom: 25px
    font-size: 56px
    line-height: 1.18
    +l
      margin-bottom: 40px
      font-size: 42px
      line-height: 1.23
    +r(450)
      margin-bottom: 20px
      font-size: 28px
      line-height: 1.2
  &__text
    display: block
    margin-bottom: 50px
    font-size: 21px
    line-height: 1.42
    +l
      font-size: 18px
      line-height: 1.33
    +r(450)
      margin-bottom: 10px
      font-size: 18px
      line-height: 1.2
    +r-med
    letter-spacing: 0.9px
    text-transform: uppercase
  &__icon
    display: block
    width: 40px
    height: 40px
    font-size: 0
    transition: transform .2s ease-out
    svg
      width: 40px
      height: 40px
      fill: $white
  +hover
    #{$this}__icon
      transform: translateX(10px)