.text-page
  &__head
    padding-top: 280px
    padding-bottom: 240px
    margin-top: -104px
    +lg
      padding-bottom: 200px
    +sm
      padding-top: 100px
      padding-bottom: 100px
    &-title
      text-align: center
      font-size: 40px
      line-height: 1.17
      +r-light
      +lg
        font-size: 34px
  &__article
    margin-bottom: 150px
    +r-light
    +sm
      margin-bottom: 100px
    h1,h2,h3,h4,h5,h6
      font-weight: normal
      +r-light
      font-size: 20px
      line-height: 1.5
      text-transform: uppercase
      +r-med
      letter-spacing: 1px
      &:not(:first-of-type)
        margin-top: 40px
      +sm
        letter-spacing: 0.9px
    h2
      font-size: 26px
    h3
      font-size: 24px
    h4
      font-size: 22px
    h5
      font-size: 20px
    strong
      +r-reg
    p
      font-size: 21px
      line-height: 1.42   
      &:not(:last-of-type)
        margin-bottom: 10px 
      +sm
        font-size: 19px
        line-height: 1.45
      a
        color: $basic-green
        font-size: inherit
        line-height: inherit
        text-decoration: none
