{% extends "containers/story-combo/_section-template.html" %}

{% block combo_section_left %}
<div class="row js-scene-left-row">
  <div class="col col-7-5 col-11-md-10 col-reset-sm-12 col-11-md-push-0 col-reset-sm-push-0">
    <div class="combo-img-wrapper">
      <div class="combo-img combo-img--i-first js-scene-big-img">
        <img data-object-fit="cover" src="{{ data.global.src_img }}{{ combo_section.content.left_side.first_img.src }}"
          alt="{{ combo_section.content.left_side.first_img.alt }}" />
      </div>
    </div>
  </div>
  <div
    class="col col-7-3 col-11-md-4 col-reset-sm-8 col-7-push-4 col-11-md-push-7 col-reset-sm-push-4 caption-col caption-col--i-first">
    <div class="combo-caption-wrap">
      <div class="combo-caption combo-caption--i-first js-scene-caption">
        <p class="text text--12">
          {{ combo_section.content.left_side.caption |safe}}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row quote-row">
  <div class="col col-7-5 col-11-md-8 col-reset-sm-12 col-7-push-1 col-11-md-push-1 col-reset-sm-push-0">
    {% set quote = combo_section.content.left_side.quote %}
    <div class="js-scene-quote">
      {% include "containers/_quote.html" %}
    </div>
  </div>
</div>
<div class="row combo-mob-show">
  <div class="col col-7-3 col-11-md-5 col-reset-sm-6 col-11-md-push-0 col-reset-sm-push-0">
    <div class="combo-img-wrapper">
      <div class="combo-img combo-img--i-third js-loco-elem"
        data-p-tablet-disable="true"
        data-l-tablet-disable="true"

        data-p-mob-speed="-1.5"
        data-l-mob-speed="-2"
        data-p-mob-direction="horizontal"
        data-l-mob-direction="horizontal"
        data-l-mob-big-disable="true"
      >
        <img data-object-fit="cover" src="{{ data.global.src_img }}{{ combo_section.content.left_side.third_img.src }}"
          alt="{{ combo_section.content.left_side.third_img.alt }}" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-7-4 col-11-md-8 col-reset-sm-10 col-7-push-2 col-7-lg-push-1 col-11-md-push-3 col-reset-sm-push-2">
    <div class="combo-img-wrapper">
      <div class="combo-img combo-img--i-second js-scene-medium-img">
        <img data-object-fit="cover" src="{{ data.global.src_img }}{{ combo_section.content.left_side.second_img.src }}"
          alt="{{ combo_section.content.left_side.second_img.alt }}" />
      </div>
    </div>
  </div>
  <div
    class="col col-7-2 col-11-md-3 col-reset-sm-7 col-7-push-5 col-7-lg-push-4  col-11-md-push-8 col-reset-sm-push-5 caption-col caption-col--i-second">
    <div class="combo-caption-wrap">
      <div class="combo-caption combo-caption--i-second js-scene-caption-2">
        <div class="combo-caption__bg"></div>
        <p class="text text--12">
          {{ combo_section.content.left_side.caption_2 |safe}}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row combo-mob-hide">
  <div class="col col-7-3 col-11-md-5 col-reset-sm-6 col-11-md-push-0 col-reset-sm-push-0">
    <div class="combo-img-wrapper">
      <div class="combo-img combo-img--i-third js-scene-small-img">
        <img data-object-fit="cover" src="{{ data.global.src_img }}{{ combo_section.content.left_side.third_img.src }}"
          alt="{{ combo_section.content.left_side.third_img.alt }}" />
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block combo_section_right %}
<h3 class="combo-article__title combo-mb-61 text text--28-sm text--uppercase text--reg">{{combo_section.content.right_side.head_1|safe}}</h3>
<P class="combo-article__title combo-mb-30 text text text--28-sm">{{combo_section.content.right_side.head_2|safe}}</p>
<P class="combo-article__text combo-mb-61 text text--21">{{combo_section.content.right_side.text_1|safe}}</p>
<P class="combo-article__text combo-mb-61 text text--40">{{combo_section.content.right_side.text_big_1|safe}}</p>
<P class="combo-article__text text text--21">{{combo_section.content.right_side.text_2|safe}}</p>

{% if combo_section.content.middle_content.quote %}
<div class="row">
  <div class="col col-12-md-8 col-reset-sm-12 col-12-md-push-2 col-reset-sm-push-0">
    {% set quote = combo_section.content.middle_content.quote %}
      {% include "containers/_quote.html" %}
  </div>
</div>
{% endif %}
{% endblock %}

{% block combo_section_md_content %}
<div class="combo-md-content combo-md-content--small-mt">
  <div class="combo-md-content__text">
    <p class="text text--20-md-only text--l-blue">{{combo_section.content.md_content.text_block.text|safe}}</p>
    <p class="text text--16 text--l-blue">{{combo_section.content.md_content.text_block.text_2|safe}}</p>
  </div>
  <div class="combo-md-content__btn-wrap">
    <a href="#" class="btn js-modal-link" data-target="story" data-modal-scroll-block="{{combo_section.content.md_content.modal_link.scroll_block_number}}">
      <span class="btn__inner">
        {{ mixins.icon('arrow')}}
        {{combo_section.content.md_content.modal_link.text}}
      </span>
    </a>
  </div>
</div>
{% endblock %}