{% extends "containers/story-combo/_section-template.html" %}

{% block combo_section_left %}
<div class="row">
  <div
    class="col col-7-5 col-12-md-8 col-reset-sm-12 col-7-push-1 col-12-md-push-2 col-reset-sm-push-0 quote-row quote-row--first">
    {% set quote = combo_section.content.left_side.quote %}
    <div class="js-scene-quote">
      {% include "containers/_quote.html" %}
    </div>
  </div>
  <div class="col col-7-4 col-12-md-7 col-reset-sm-12 col-reset-sm-push-0">
    <div class="combo-img-wrapper">
      <div class="combo-img combo-img--g-first js-scene-small-img js-loco-elem">
        <img data-object-fit="cover" src="{{ data.global.src_img }}{{ combo_section.content.left_side.first_img.src }}"
          alt="{{ combo_section.content.left_side.first_img.alt }}" />
      </div>
    </div>
  </div>
</div>
<div class="row js-scene-block animated-row">
  <div
    class="col col-7-2 col-12-md-5 col-reset-sm-7 col-7-push-2 col-12-md-push-4 col-reset-sm-push-5 caption-col caption-col--g">
    <div class="combo-caption-wrap">
      <div class="combo-caption combo-caption--g js-scene-caption">
        <div class="combo-caption__bg"></div>
        <p class="text text--12">
          {{ combo_section.content.left_side.caption |safe}}
        </p>
      </div>
    </div>
  </div>
  <div
    class="col col-7-4 col-12-md-6 col-reset-sm-12 col-7-push-3 col-12-md-push-6 col-reset-sm-push-0  img-col img-coll--g-second">
    <div class="combo-img-wrapper">
      <div class="combo-img combo-img--g-second js-scene-big-img">
        <img data-object-fit="cover" src="{{ data.global.src_img }}{{ combo_section.content.left_side.second_img.src }}"
          alt="{{ combo_section.content.left_side.second_img.alt }}" />
      </div>
      <p class="text text--12">
        {{ combo_section.content.left_side.caption_2 |safe}}
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block combo_section_right %}
<div class="row">
  <div class="col col-11-md-8 col-reset-sm-12">
    <h3 class="combo-article__title combo-mb-61 text text--28-sm text--uppercase text--reg">{{combo_section.content.right_side.head_1|safe}}</h3>
    <P class="combo-article__title combo-mb-30 text text text--28-sm">{{combo_section.content.right_side.head_2|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--21">{{combo_section.content.right_side.text_1|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--40">{{combo_section.content.right_side.text_big_1|safe}}</p>
    <P class="combo-article__text text text--21">{{combo_section.content.right_side.text_2|safe}}</p>
  </div>
</div>

{% if combo_section.content.left_side.quote_2 %}
{% set quote = combo_section.content.left_side.quote_2 %}
<div class="row">
  <div
    class="col col-12-md-8 col-reset-sm-12 col-12-md-push-2 col-reset-sm-push-0 ">
      {% set quote = combo_section.content.left_side.quote_2 %}
      {% include "containers/_quote.html" %}
  </div>
</div>
{% endif %}
{% endblock %}