{% extends "containers/story-combo/_section-template.html" %}

{% block combo_section_left %}
<div class="row">
  <div class="col col-7-3 col-7-push-4 combo-number-col">
    <div class="combo-number-wrap js-scene-number-wrap">
      <div class="combo-number js-scene-number">
        {{ combo_section.content.left_side.number |safe}}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block combo_section_right %}
<h3 class="combo-article__title combo-mb-61 text text--28-sm text--uppercase text--reg">{{combo_section.content.right_side.head_1|safe}}</h3>
<P class="combo-article__title combo-mb-30 text text text--28-sm">{{combo_section.content.right_side.head_2|safe}}</p>
<P class="combo-article__text text text--21">{{combo_section.content.right_side.text_1|safe}}</p>
{% endblock %}