{% extends "containers/story-combo/_section-template.html" %}

{% block combo_section_left %}
<div class="row js-scene-left-row">
  <div
    class="col col-7-4 col-7-lg-4 col-7-l-5 col-11-md-8 col-reset-sm-12 col-7-push-1 col-7-lg-push-1 col-7-l-push-0 col-11-md-push-1 col-reset-sm-12 col-reset-sm-push-0">
    <div class="combo-img combo-img--n-first js-scene-big-img">
      <img data-object-fit="cover" src="{{ data.global.src_img }}{{ combo_section.content.left_side.first_img.src }}"
        alt="{{ combo_section.content.left_side.first_img.alt }}" />

    </div>
  </div>
  <div class="col col-7-3 col-11-md-5 col-reset-sm-9 col-7-push-4 col-11-md-push-7 col-reset-sm-push-3 caption-col caption-col--n">
    <div class="combo-caption-wrap">
      <div class="combo-caption combo-caption--n js-scene-caption">
        <p class="text text--12">
          {{ combo_section.content.left_side.caption |safe}}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">

</div>

{% endblock %}

{% block combo_section_right %}
<h3 class="combo-article__title text text--28-sm combo-mb-30">{{combo_section.content.right_side.head_1|safe}}</h3>
<P class="combo-article__text text text--21">{{combo_section.content.right_side.text|safe}}</p>
{% endblock %}