{% extends "containers/story-combo/_section-template.html" %}

{% block combo_section_left %}
<div class="row">
    <div class="col col-7-3  col-11-md-10 col-reset-sm-12 col-11-md-push-1 col-reset-sm-push-0">
        <div class="combo-caption-wrap">
            <div class="combo-caption combo-caption--c js-scene-caption">
                <p class="text text--12">
                    {{ combo_section.content.left_side.caption |safe}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-7-5 col-7-lg-6 col-11-md-8 col-reset-sm-12 col-11-md-push-3 col-reset-sm-push-0">
        <div class="combo-img-wrapper">
            <div class="combo-img combo-img--c-first js-scene-big-img" >
                <img data-object-fit="cover"
                    src="{{ data.global.src_img }}{{ combo_section.content.left_side.first_img.src }}"
                    alt="{{ combo_section.content.left_side.first_img.alt }}" />
            </div>
        </div>
    </div>
    <div class="col col-7-4 col-7-lg-5 col-11-md-6 col-reset-sm-10 col-7-push-3 col-7-lg-push-2 col-11-md-push-5 col-reset-sm-push-1 ">
        <div class="combo-img-wrapper">
            <div class="combo-img combo-img--c-second js-scene-small-img js-loco-elem" 
                data-p-tablet-disable="true"
                data-scroll-speed="1" 
                data-p-mob-speed="1"
                data-l-mob-speed="1"
                data-l-mob-big-speed="1"
                data-p-mob-direction="horizontal"
                data-l-mob-direction="horizontal"
                data-l-mob-big-direction="vertical"
            >
                <img data-object-fit="cover"
                    src="{{ data.global.src_img }}{{ combo_section.content.left_side.second_img.src }}"
                    alt="{{ combo_section.content.left_side.second_img.alt }}" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-6-5 col-7-lg-6 col-11-md-8 col-reset-sm-12 col-6-push-1 col-7-lg-push-1 col-11-md-push-1 col-reset-sm-push-0">
        {% set quote = combo_section.content.left_side.quote %}
        <!-- data-scroll 
        data-scroll-speed="1" 
        data-l-mob-big-speed="1"
        data-l-mob-big-direction="vertical"
        data-l-mob-disable="true"
        data-p-mob-disable="true" -->
        <div class="js-scene-quote"

        >
            {% include "containers/_quote.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block combo_section_right %}
<div class="row">
    <div class="col col-11-md-8 col-reset-sm-12">
        <h3 class="combo-article__title combo-mb-61 text text text--28-sm text--uppercase text--reg">{{combo_section.content.right_side.head_1|safe}}</h3>
        <P class="combo-article__title combo-mb-30 text text--28">{{combo_section.content.right_side.head_2|safe}}</p>
        <P class="combo-article__text combo-mb-30 text text--21">{{combo_section.content.right_side.text|safe}}</p>
        <P class="combo-article__text combo-mb-43 text text--40">{{combo_section.content.right_side.text_big|safe}}</p>
        <P class="combo-article__text combo-mb-30 text text--21">{{combo_section.content.right_side.text_2|safe}}</p>
        <P class="combo-article__text text text--21">{{combo_section.content.right_side.text_3|safe}}</p>
    </div>
</div>
{% endblock %}



