{% extends "containers/story-combo/_section-template.html" %}

{% block combo_section_left %}
<div class="row js-scene-left-row">
  <div
    class="col col-7-5 col-7-lg-6 col-11-md-11 col-reset-sm-12 col-7-push-1 col-11-md-push-0 col-reset-sm-12 col-reset-sm-push-0">
    <div class="combo-img combo-img--b-first js-scene-big-img">
      <img data-object-fit="cover" src="{{ data.global.src_img }}{{ combo_section.content.left_side.first_img.src }}"
        alt="{{ combo_section.content.left_side.first_img.alt }}" />

    </div>
  </div>
  <div class="col col-7-3 col-11-md-5 col-reset-sm-7 col-7-push-4 col-11-md-push-6 col-reset-sm-push-5">
    <div class="combo-caption-wrap">
      <div class="combo-caption combo-caption--b js-scene-caption">
        <p class="text text--12">
          {{ combo_section.content.left_side.caption |safe}}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">

</div>

{% endblock %}

{% block combo_section_right %}
<h3 class="combo-article__title text text--28-sm text--uppercase text--reg combo-mb-43">{{combo_section.content.right_side.head_1|safe}}</h3>
<P class="combo-article__title text text text--28 combo-mb-30">{{combo_section.content.right_side.head_2|safe}}</p>
<P class="combo-article__text text text--21 combo-mb-22">{{combo_section.content.right_side.text|safe}}</p>
<P class="combo-article__text text text--21">{{combo_section.content.right_side.text_2|safe}}</p>
{% endblock %}