{% extends "containers/story-combo/_section-template.html" %}

{% block combo_section_left %}

<div class="row">
  <div
    class="col col-7-5 col-11-md-10 col-reset-sm-12 col-11-md-push-0 col-reset-sm-12 col-reset-sm-push-0">
    <div class="combo-img-puzzle combo-img-puzzle--m js-gsap-puzzle">
      <div class="combo-img-puzzle__left js-gsap-puzzle-left">
        <img data-object-fit="cover" src="{{ data.global.src_img }}{{ combo_section.content.left_side.first_img.src }}"
          alt="{{ combo_section.content.left_side.first_img.alt }}" />
      </div>
      <div class="combo-img-puzzle__right js-gsap-puzzle-right">
        <img data-object-fit="cover" src="{{ data.global.src_img }}{{ combo_section.content.left_side.second_img.src }}"
          alt="{{ combo_section.content.second_img.img.alt }}" />
      </div>
    </div>
  </div>
  <div
  class="col col-7-5 col-11-md-8 col-reset-sm-12 col-7-push-1 col-11-md-push-1 col-reset-sm-push-0 quote-col">
  {% set quote = combo_section.content.left_side.quote %}
    {% include "containers/_quote.html" %}
</div>
</div>

{% endblock %}

{% block combo_section_right %}
<h3 class="combo-article__title text text--28-sm text--uppercase text--reg combo-mb-61">{{combo_section.content.right_side.head_1|safe}}</h3>
<P class="combo-article__text text text--28-sm combo-mb-30">{{combo_section.content.right_side.head_2|safe}}</p>
<P class="combo-article__text text text--21 combo-mb-61">{{combo_section.content.right_side.text_1|safe}}</p>
<P class="combo-article__text combo-mb-61 text text--40">{{combo_section.content.right_side.text_big_1|safe}}</p>
<P class="combo-article__text text text--21">{{combo_section.content.right_side.text_2|safe}}</p>
{% endblock %}

{% block combo_section_md_content %}
<div class="combo-md-content">
  <div class="combo-md-content__text">
    <p class="text text--20-md-only text--l-blue">{{combo_section.content.md_content.text_block.text|safe}}</p>
    <p class="text text--16 text--l-blue">{{combo_section.content.md_content.text_block.text_2|safe}}</p>
    
  </div>
  <div class="combo-md-content__btn-wrap">
    <a href="#" class="btn js-modal-link" data-target="story" data-modal-scroll-block="{{combo_section.content.md_content.modal_link.scroll_block_number}}">
      <span class="btn__inner">
        {{ mixins.icon('arrow')}}
        {{combo_section.content.md_content.modal_link.text}}
      </span>
    </a>
  </div>
</div>
{% endblock %}


