{% extends "containers/story-combo/_section-template.html" %}

{% block combo_section_left %}

<div class="row">
  <div
    class="col col-7-5 col-11-md-10 col-reset-sm-12 col-11-md-push-0 col-reset-sm-12 col-reset-sm-push-0">
    <div class="combo-img combo-img--j js-scene-big-img">
      <img data-object-fit="cover" src="{{ data.global.src_img }}{{ combo_section.content.left_side.first_img.src }}"
        alt="{{ combo_section.content.left_side.first_img.alt }}" />

    </div>
  </div>
  <div class="col col-7-2 col-11-md-5 col-reset-sm-6 col-7-push-4 col-11-md-push-7 col-reset-sm-push-6 caption-col caption-col--j">
    <div class="combo-caption-wrap">
      <div class="combo-caption combo-caption--j js-scene-caption">
        <p class="text text--12">
          {{ combo_section.content.left_side.caption |safe}}
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block combo_section_right %}
<h3 class="combo-article__title text text--28-sm text--uppercase text--reg combo-mb-61">{{combo_section.content.right_side.head_1|safe}}</h3>
<P class="combo-article__text text text--28-sm">{{combo_section.content.right_side.text|safe}}</p>
{% endblock %}