{% extends "containers/story-combo/_section-template.html" %}

{% block combo_section_left %}

<div class="row">
  <div class="col col-7-5 col-11-md-8 col-reset-sm-12 col-7-push-1 col-11-md-push-1 col-reset-sm-push-0">
    {% set quote = combo_section.content.left_side.quote %}
    {% include "containers/_quote.html" %}
  </div>
</div>

{% endblock %}

{% block combo_section_right %}
<h3 class="combo-article__title text text--28-sm text--uppercase text--reg combo-mb-61">{{combo_section.content.right_side.head_1|safe}}</h3>
<P class="combo-article__text text text--28-sm combo-mb-30">{{combo_section.content.right_side.head_2|safe}}</p>
<P class="combo-article__text text text--21 combo-mb-22">{{combo_section.content.right_side.text_1|safe}}</p>
<P class="combo-article__text text text--21">{{combo_section.content.right_side.text_2|safe}}</p>
{% endblock %}

{% block middle_content %}
<div
  class="col col-10 col-md-12 col-push-1 col-md-push-0">
  <div class="combo-img-puzzle combo-img-puzzle--k js-gsap-puzzle">
    <div class="combo-img-puzzle__left js-gsap-puzzle-left">
      <img data-object-fit="cover" src="{{ data.global.src_img }}{{ combo_section.content.middle_content.first_img.src }}"
        alt="{{ combo_section.content.left_side.img.alt }}" />
        <div class="combo-caption combo-caption--k-left js-scene-caption-left"></div>
    </div>
    <div class="combo-img-puzzle__right js-gsap-puzzle-right">
      <img data-object-fit="cover" src="{{ data.global.src_img }}{{ combo_section.content.middle_content.second_img.src }}"
        alt="{{ combo_section.content.left_side.img.alt }}" />
        <div class="combo-caption combo-caption--k-right js-scene-caption-right"></div>
    </div>
  </div>
</div>
{% endblock %}