<div class="combo-section js-combo-section {% if combo_section.mode %}{{combo_section.mode}}{% endif %}">
  <div class="combo-section__inner">
    <div class="container">
      <div class="row">
        <div class="combo-section__col-left col {{combo_section.left_col_mode}} js-scene-left-col">
          <div class="combo-section__img-quote-side">
            <div class="js-scene-animated-content">
              {% block combo_section_left %}{% endblock %}
            </div>
          </div>
        </div>
        <div class="combo-section__col-right col {{combo_section.right_col_mode}} js-scene-right-col">
          <div class="combo-section__text-side">
            <div class="combo-article {% if combo_section.article_mode %}{{combo_section.article_mode}}{% endif %}">
              {% block combo_section_right %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if combo_section.content.middle_content %}
    <div class="combo-section__middle-content js-scene-middle-content">
      <div class="container ">
        <div class="row">
            {% block middle_content %}
            {% endblock %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if combo_section.content.md_content %}
    <div class="container md-content-visible">
      <div class="row">
        <div class="col col-12">
          {% block combo_section_md_content %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>