@function em($size, $context: 16)
  @return ($size/$context) * 1em

@function img-url($image)
  @return url('../img/#{$image}')

=image($image)
  background-image: img-url($image)

=trans($what: all, $dur: 0.2s, $easing: ease)
  transition: $what $dur $easing

=smooth-scroll
  -webkit-overflow-scrolling: touch

=smooth-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

=gpu
  transform: translate3d(0,0,0)

=grid
  +r(1504)
    @content

// 1679 - 1025
=lg
  +r(1679)
    @content
=grid
  +r(1504)
    @content
// custom breakpoint(not for grid)
=l
  +r(1439)
    @content
    
// custom breakpoint(not for grid)
=lm
  +r(1199)
    @content
// 1023 - 769
=md
  +r(1023)
    @content

// 767 - 320
=sm
  +r(767)
    @content

=mob-md
  +r(375)
    @content

=mob-sm
  +r(320)
    @content

=landscape
  @media only screen and (orientation: landscape) 
    @content
=portrait
  @media only screen and (orientation: portrait) 
    @content