<!-- begin footer -->
<footer class="footer js-footer">
  <div class="foot-links">
    <div class="container">
      <div class="row">
        <div class="foot-links__col col col-5 col-lg-6 col-md-7 col-sm-12">
          <h3 class="foot-links__headline foot-headline">{{footer.downloads.title}}</h3>
          <ul class="foot-links__list">
            {% for item in footer.downloads.list %}
            <li class="foot-links__item">
              <a href="{{data.global.pdf_url}}{{ item.file_src }}" class="foot-link" download>
                <span class="foot-link__icon foot-link__icon_download">{{ mixins.icon('download') }}</span>
                <span class="foot-link__name foot-text">{{ item.name }}</span>
                <span class="foot-link__file foot-extra">{{ item.file_name }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="foot-links__col col col-4 col-lg-6 col-md-5 col-sm-12">
          <h3 class="foot-links__headline foot-headline">{{footer.info_links.title}}</h3>
          <ul class="foot-links__list">
            {% for item in footer.info_links.list %}
            <li class="foot-links__item foot-link">
              <a 
              {% if item.isOutLink == true %}href="{{ item.url }}"{% else %}href="{{data.global.link_url}}{{lang}}/{{ item.url }}"{% endif %}
                class="foot-link"
                {% if item.blank %} target="_blank"{% endif %}
                >
                <span class="foot-link__icon foot-link__icon_arrow">{{ mixins.icon('arrow') }}</span>
                <span class="foot-link__name foot-text">{{ item.name }}</span>
                {% if item.extra %}
                <span class="foot-link__extra foot-extra">{{ item.extra }}</span>
                {% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="foot-links__col col col-3 col-lg-12">
          <h3 class="foot-links__headline foot-headline">{{footer.contact.title}}</h3>
          <div class="foot-links__text foot-text">{{footer.contact.text}} <a href="mailto:{{footer.contact.email.url}}">{{footer.contact.email.text}}</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="foot-banner">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <a href="{{footer.central_link.url}}" target="_blank"  class="foot-banner__link link-corporate">
            <span class="foot-banner__icon">{{ mixins.icon('arrow') }}</span>
            <span class="foot-banner__text">{{footer.central_link.text}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="foot-info">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="foot-info__container">
            <a href="{{footer.copy_link.url}}" target="_blank" class="foot-info__copy foot-copy">{{footer.copy_link.text}}</a>
            <div class="foot-info__links">
              {% for item in footer.bottom_line.links %}
                <a href="{{data.global.link_url}}{{lang}}/{{item.url}}" class="foot-info__link foot-copy">{{item.text}}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
