<!-- begin grid -->
<div class="grid js-grid">
  <div class="container">
    <div class="row">
        {% for item in range(0, 12) %}
        <div class="col col-1"><div>{{loop.index}}</div></div>
        {% endfor %}
    </div>
  </div>
</div>
<!-- end grid -->
