<header class="header" data-scroll-sticky data-scroll-target="body">
  {% include "partials/_menu.html" %}
  <div class="header__inner js-header">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="header__container">
            <div class="header__meta">
              <div class="header__logo">
                {% include "components/_logo.html" %}
              </div>
              <a href="{{ data.global.link_url }}{{lang}}/{{ header.header_link.url }}" class="header__link header__link_mob-hidden">{{ header.header_link.text }}</a>
            </div>
            <div class="header__controls">
              <div class="header__burger">
                {% include "components/_burger.html" %}
              </div>
              <a href="/" class="header__link header__link_mob-visible">{{ header.header_link.text }}</a>
              <div class="header__langs">
                {% include "components/_lang-switcher.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
