<nav class="menu">
  <div class="menu__container js-menu{% if menu_active %} is-active{% endif %}" style="display: none;">
    <div class="menu__inner">
      <div class="container">
        <div class="row">
          <div class="col col-12 col-lg-10 col-l-12 col-lg-push-1 col-l-push-0">
            <div class="menu__langs">
              <div class="menu__langs-inner">
                {% set lang_switcher_mod = 'active-white' %}
                {% include "components/_lang-switcher.html" %}
              </div>
            </div>
            <h2 class="menu__headline menu-headline">{{ menu.top_preview.headline |safe }}</h2>
            <ul class="menu__list">
              {% for item in menu.top_preview.list %}
              <li class="menu__item">
                {% include "components/_link-box.html" %}
              </li>
              {% endfor %}
              <li class="menu__item menu__item_md">
                <h2 class="menu__headline menu-headline">{{ menu.short_preview.headline |safe }}</h2>
                {% set item = menu.short_preview %}
                {% include "components/_link-box.html" %}
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col col-12 col-lg-10 col-l-12 col-lg-push-1 col-l-push-0">
            <div class="menu__row">
              <div class="menu__col menu__col_long">
                <h2 class="menu__headline menu-headline">{{ menu.long_preview.headline |safe }}</h2>
                {% set item = menu.long_preview %}
                {% include "components/_link-box.html" %}
              </div>
              <div class="menu__col menu__col_short">
                <h2 class="menu__headline menu-headline">{{ menu.short_preview.headline |safe }}</h2>
                {% set item = menu.short_preview %}
                {% include "components/_link-box.html" %}
              </div>
              <div class="menu__col menu__col_short-sm">
                {% set item = menu.short_preview_sm %}
                {% set menuLinkBoxOutherLink = true %}
                {% include "components/_link-box.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
