<div class="story-hero austria-hero js-hero-austria js-hero-block">
  <div class="austria-hero__main js-hero-austria-main">
    <div class="austria-hero__bg">
      <div class="austria-hero__bg-block austria-hero__bg-block--img">
        <div class="container austria-hero__bg-container austria-hero__bg-container--img">
          <div class="row">
            <div class="col col-12">
              <img class="story-hero__img austria-hero__img js-hero-img" src="{{ data.global.src_img }}{{ hero_block.img.src }}" onLoad="this.classList.add('is-loaded')" />
            </div>
          </div>
        </div>
      </div>
      <div class="austria-hero__bg-block">
        <div class="container austria-hero__bg-container">
          <div class="row">
            <div class="col col-12">
              <div class="austria-hero__left-decor-wrapper js-hero-austria-left-decor">
                <div class="austria-hero__left-decor"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="austria-hero__bg-block  austria-hero__bg-block--right">
        <div class="container austria-hero__bg-container">
          <div class="row">
            <div class="col col-12">
              <div class="austria-hero__right-decor-wrapper js-hero-austria-right-decor">
                <div class="austria-hero__right-decor"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container austria-hero__content-container">
      <div class="austria-hero__content">
        <div class="row">
          <div class="col col-6 col-md-7 col-sm-9">
            <div class="austria-hero__inner">
              <h1 class="story-hero__title austria-hero__title">{{hero_block.title|safe}}</h1>
              <p class="story-hero__sub-title austria-hero__sub-title js-hero-austria-text">{{hero_block.sub_title|safe}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>