<div class="banner-wrap js-banner-wrap hide-if-menu-open">
<div class="banner js-banner">
  <div class="banner__bg js-banner-bg"></div>
  <div class="banner__inner">
    <div class="banner__cols">
      <div class="banner__logo-col js-banner-left-col">
        <div class="banner__logo">
          <img src="{{ data.global.src_img }}logo/100-years-black.png"/>
        </div>
        <div class="banner__btn js-banner-show-btn">
          <p>{{banner.banner.btn.text |safe}}</p>
          <i>{{ mixins.icon('arrow') }}</i>
        </div>
      </div>
      <div class="banner__content-col">
        <div class="banner__content">
          <div class="banner__title">
            {{banner.banner.title |safe}}
          </div>
          <div class="banner__text">
            {{banner.banner.text |safe}}
          </div>
          <div class="banner__link">
            <p>{{banner.banner.link.head |safe}}</p>
            <a href="{{ banner.banner.link.url }}" target="_blank">
              {{ banner.banner.link.text }}
            </a>
          </div>
          <div class="banner__close js-banner-close">
            {{ mixins.icon('close-modal') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




