<div class="car-box js-car-box">
  <div class="car-box__inner">
    <div class="car-box__img car-box__img_basic">
      <img src="{{data.global.src_img}}car.svg" alt="Car"/>
    </div>
    <div class="car-box__img car-box__img_mob">
      <img src="{{data.global.src_img}}car-md.svg" alt="Car"/>
    </div>
    <div class="car-box__circles">
      {% for i in car.details %}
      {% set number = i.number %}
      {% set text = i.text %}
      {% set position = i.position %}
      <div class="car-box__circle js-tooltip-container">
        {% include "components/_circle-number.html" %}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="car-box__infobox">
    {% for i in car.details %}
    {% set number = i.number %}
    {% set text = i.text %}
    <div class="car-box__infoline js-infoline">
      <div class="car-box__infonumb">{{ number }}</div>
      <div class="car-box__infotext">{{ text }}</div>
    </div>
    {% endfor %}
  </div>
</div>
