<div class="car-section">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-push-3 col-lg-8 col-lg-push-2 col-md-10 col-md-push-1 col-sm-12 col-sm-push-0">
        <div class="car-section__head">
          <h2 class="car-section__title">{{ car.title | safe }}</h2>
          <div class="car-section__text">{{ car.text | safe }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-8 col-push-2 col-md-6 col-md-push-3 col-sm-8 col-sm-push-2">
        <div class="car-section__inner">
          {% include "containers/_car-box.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
