<div class="dropdown {% if dropdown.mode %}{{dropdown.mode}}{% endif %} js-dropdown">
  <div class="dropdown__inner">
    <div class="container">
      <div class="row">
        <div class="col col-8 col-lg-10 col-sm-12 col-push-2 col-lg-push-1 col-sm-push-0">
          <div class="dropdown__head">
            <div class="dropdown__head-text text text--20 text--uppercase">
              {{dropdown.head_text |safe}}
            </div>
            <h3 class="dropdown__title text text--56">{{dropdown.title |safe}}</h3>
            <div class="dropdown__btn-block">
              <p class="dropdown__btn-text text--20 text--green text--uppercase">{{dropdown.btn_text |safe}}</p>
              <div class="dropdown__btn cta-btn js-dropdown-btn js-click-update-scroll">
                <div class="cta-btn__inner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dropdown__content js-dropdown-content">
      <div class="container">
        {% if dropdown.contentList %}
        <div class="row dropdown__list">
          {% set dropdownCollClass = cycler("col col-4 col-lg-5 col-sm-12 col-push-2 col-lg-push-1 col-sm-push-0", "col col-4 col-lg-5 col-sm-12") %}

          {% for item in dropdown.contentList %}
          <div class="dropdown__list-item {{dropdownCollClass.next()}}">
            <p class="text text--16 text--uppercase dropdown__list-title">{{ item.title |safe }}</p>
            <p class="dropdown__list-text">{{ item.text |safe }}</p>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <div class="row">
          <div class="col {% if dropdown.text_col_mode %}{{dropdown.text_col_mode}}{% else %} col-7 col-lg-9 col-md-8 col-sm-12 col-push-2 col-lg-push-1 col-sm-push-0 {% endif %}">
            <div class="dropdown__content-text text text--21">
              {{dropdown.content |safe}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>