<div class="story-hero fuel-hero js-hero-fuel js-hero-block">
  <div class="fuel-hero__main js-hero-fuel-main">
    <div class="container">
      <div class="row">
        <div class="col col-6 fuel-hero__left-col">
          <div class="fuel-hero__left-side">
            <div class="fuel-hero__mask-wrapper js-hero-mask-wrapper">
              <div class="fuel-hero__mask">
                <div class="fuel-hero__mask-top"></div>
                <div class="fuel-hero__mask-bottom"></div>
              </div>
            </div>
            <div class="fuel-hero__left-bg-wrap js-hero-left-bg-wrap">
              <div class="fuel-hero__left-bg"></div>
            </div>
            <div class="fuel-hero__side-content">
              <h1 class="story-hero__title fuel-hero__title">{{hero_block.title|safe}}</h1>
              <p class="story-hero__sub-title fuel-hero__sub-title js-hero-text">{{hero_block.sub_title|safe}}</p>
            </div>
          </div>
        </div>
        <div class="col col-6 fuel-hero__right-col">
          <div class="fuel-hero__right-side js-hero-right-side">
            <div class="fuel-hero__right-wrapper">
              <picture>
                <source media="(min-width: 1024px)" srcset="{{ data.global.src_img }}{{ hero_block.img.src }}"/>
                <source media="(max-width: 1023px)" srcset="{{ data.global.src_img }}{{ hero_block.img.src_vertical }}"/>
                <img class="story-hero__img fuel-hero__img js-hero-img" src="{{ data.global.src_img }}{{ hero_block.img.src }}" onLoad="this.classList.add('is-loaded')" />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>