<div class="fuel-scheme">
  <div class="fuel-scheme__inner">
    <div class="container">
      <div class="row">
        <div class="col col-8 col-lg-10 col-sm-12 col-push-2 col-lg-push-1 col-sm-push-0">
          <div class="fuel-scheme__head">
            <h2 class="fuel-scheme__title">{{ scheme.title |safe }}</h2>
            <p class="fuel-scheme__sub-title">{{ scheme.sub_title |safe }}</p>
            <p class="fuel-scheme__sub-text">{{ scheme.sub_text |safe }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-5 col-lg-4 col-md-5 col-sm-12 col-push-1 col-sm-push-0">
          <div class="fuel-scheme__verical-align">
            <picture>
              <source media="(min-width: 1680px)" srcset="{{ data.global.src_img }}{{ scheme.left_block.img.src }}"/>
              <source media="(max-width: 1679px)" srcset="{{ data.global.src_img }}{{ scheme.left_block.img.src_vertical }}"/>
              <img src="{{ data.global.src_img }}{{ scheme.left_block.img.src }}"/>
              <img class="is-ie-img" src="{{ data.global.src_img }}{{ scheme.left_block.img.src_vertical }}"/>
            </picture>
          </div>
        </div>
        <div class="col col-4 col-lg-5 col-sm-12 col-push-1 col-sm-push-0">
          <ul class="fuel-scheme__list">
            {% for item in scheme.right_list %}
            <li class="fuel-scheme__block">
              <p class="fuel-scheme__block-head">{{item.head |safe}}</p>
              <p class="fuel-scheme__block-text">{{item.text |safe}}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>