<div class="fuel-scheme fuel-scheme--dark">
  <div class="fuel-scheme__inner">
    <div class="container">
      <div class="row">
        <div class="col col-8 col-lg-10 col-sm-12 col-push-2 col-lg-push-1 col-sm-push-0">
          <div class="fuel-scheme__head">
            <h2 class="fuel-scheme__title">{{ scheme.title |safe }}</h2>
            <p class="fuel-scheme__sub-title">{{ scheme.sub_title |safe }}</p>
            <p class="fuel-scheme__sub-text">{{ scheme.sub_text |safe }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-4 col-md-12 col-sm-10 col-push-1 col-md-push-0 col-sm-push-1">
          <div class="fuel-scheme__side-block fuel-scheme__side-block--first">
            <div class="fuel-scheme__side-block-img">
              <!-- <picture> -->
                <!-- <source media="(min-width: 1680px)" srcset="{{ data.global.src_img }}{{ scheme.left_block.img.src }}"/> -->
                <!-- <source media="(max-width: 1679px)" srcset="{{ data.global.src_img }}{{ scheme.left_block.img.src_vertical }}"/> -->
                <img data-object-fit="contain" src="{{ data.global.src_img }}{{ scheme.left_block.img.src }}"/>
              <!-- </picture> -->
            </div>
            <div class="text text-16 text--white">{{ scheme.left_block.text |safe}}</div>
          </div>
        </div>
        <div class="col col-4 col-md-12 col-sm-10 col-push-2 col-md-push-0 col-sm-push-1">
          <div class="fuel-scheme__side-block">
            <div class="fuel-scheme__side-block-img">
              <!-- <picture> -->
                <!-- <source media="(min-width: 1680px)" srcset="{{ data.global.src_img }}{{ scheme.right_block.img.src }}"/> -->
                <!-- <source media="(max-width: 1679px)" srcset="{{ data.global.src_img }}{{ scheme.right_block.img.src_vertical }}"/> -->
                <img data-object-fit="contain" src="{{ data.global.src_img }}{{ scheme.right_block.img.src }}"/>
              <!-- </picture> -->
            </div>
            <div class="text text-16 text--green">{{ scheme.right_block.text |safe}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>