<div class="graph">
  <div class="graph__numbers">
    {% for i in numbers %}
    <div class="graph__col js-graph-col">
      <div class="graph__number graph-figure{%if i.mod == 'green'%} graph-figure_green{%endif%} js-graph-number" data-inc-value="{{ i.number }}" data-inc-duration="2000" data-inc-delay="0">0</div>
      <div class="graph-text{%if i.mod == 'green'%} graph-figure_green{%endif%}">{{ i.text | safe }}</div>
    </div>
    {% endfor %}
  </div>
  {% set number_0 = numbers[0].number %}
  {% set number_1 = numbers[1].number %}
  {% set number_2 = numbers[2].number %}
  {% include "components/_graph-container.html" %}
</div>
