<div class="guided-tour-hero js-hero-guided-tour" style="background-image: url({{data.global.src_img}}{{hero.img}});">
  <div class="guided-tour-hero__main js-hero-guided-tour-main">
    <div class="guided-tour-hero__container container">
      <div class="row">
        <div class="col col-8 col-push-2 col-lg-10 col-lg-push-1 col-sm-12 col-sm-push-0">
          <div class="guided-tour-hero__inner js-hero-teaser-block">
            <div class="guided-tour-hero__box">
              <div class="guided-tour-hero__box-in">
                <div class="box-simple">
                  <div class="box-simple__inner">
                    <h1 class="box-simple__title text text--93 text--white">{{ hero.title|safe }}</h1>
                    <div class="box-simple__text text text--40-sm text--white">{{ hero.text|safe }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="guided-tour-hero__bg">
      <div class="guided-tour-hero__bg-triangle js-hero-guided-tour-decor">
        <div class="guided-tour-hero__triangle"></div>
      </div>
    </div>
  </div>

  <button class="guided-tour-hero__down js-scroll-to" data-section="graph-a">{{ mixins.icon('arrow') }}</button>
</div>
