<div class="home-themes js-home-themes">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2 class="section-title">
          {{ themes_block.head }}
        </h2>
      </div>
    </div>
    <div class="row">
      {% set themesCollClass = cycler("col col-5 col-l-6  col-sm-12 col-push-1 col-l-push-0", "col col-5 col-l-6 col-sm-12") %}
      {% for item in themes_block.list %}
      <div class="{{themesCollClass.next()}}">
        <a href="{{data.global.link_url}}{{lang}}/{{item.url}}" class="themes-link {{item.mode}}">
          <span class="themes-link__title">{{ item.title |safe }}</span>
          <span class="themes-link__text">{{ item.text |safe }}</span>
          <span class="themes-link__arrow">
            {{ mixins.icon('arrow') }}
          </span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="home-themes__decor">
    <div class="home-themes__decor-left">
      <div class="home-themes__img home-themes__img--left js-scene-left-img">
        <picture>
          <source media="(min-width: 1681px)" srcset="{{ data.global.src_img }}{{ themes_block.left_img.src }}" />
          <source media="(max-width: 1680px)" srcset="{{ data.global.src_img }}{{ themes_block.left_img.src_small }}" />
          <img src="{{ data.global.src_img }}{{ themes_block.left_img.src_small }}" />
        </picture>
      </div>
    </div>
    <div class="home-themes__decor-right">
      <div class="home-themes__img home-themes__img--right js-scene-right-img">
        <picture>
          <source media="(min-width: 1681px)" srcset="{{ data.global.src_img }}{{ themes_block.right_img.src }}" />
          <source media="(max-width: 1680px)"
            srcset="{{ data.global.src_img }}{{ themes_block.right_img.src_small }}" />
          <img src="{{ data.global.src_img }}{{ themes_block.right_img.src_small }}" />
        </picture>
      </div>
    </div>
  </div>
</div>