<div class="home-slider">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h2 class="section-title">
          {{ slider_block.head }}
        </h2>
      </div>
    </div>
  </div>
  <div class="home-slider__slider-wrap">
    <div class="container">
      <div class="swiper-container js-home-slider">
        <div class="swiper-wrapper">
          {% for item in slider_block.slides %}
          <div class="swiper-slide">
            <div class="row">
              <div class="col col-6 col-lg-8 col-md-10 col-sm-12 col-push-3 col-lg-push-2 col-md-push-1 col-sm-push-0">
                <div class="home-slider-slide">
                  <div class="home-slider-slide__img">
                    {{ mixins.icon(item.icon) }}
                  </div>
                  <div class="home-slider-slide__title">
                    {{ item.title |safe }}
                  </div>
                  <div class="home-slider-slide__text">
                    {{ item.text |safe }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination js-swiper-pagination"></div>
        <div class="home-slider__btns">
          <div class="home-slider__btn home-slider__btn--prew js-swiper-prev">
            {{ mixins.icon('arrow-left') }}
          </div>
          <div class="home-slider__btn home-slider__btn--next js-swiper-next">
            {{ mixins.icon('arrow') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- If we need pagination -->


<!-- If we need navigation buttons -->