<div class="hero-home js-hero">
  <div class="hero-home__wrapper">
    <div class="hero-home__anim-block js-anim-block" data-icon="{{data.global.assets}}{{hero_block.json.src}}" data-vertical-icon="{{data.global.assets}}{{hero_block.json.src_vertical}}"></div>
  </div>
</div>