<div class="story-hero india-hero js-hero-india js-hero-block">
  <div class="india-hero__main js-hero-india-main">
    <div class="container">
      <div class="row">
        <div class="col col-6 india-hero__left-col">
          <div class="india-hero__left-side">
            <div class="india-hero__mask-wrapper js-hero-mask-wrapper">
              <div class="india-hero__mask">
                <div class="india-hero__mask-top"></div>
                <div class="india-hero__mask-bottom"></div>
              </div>
            </div>
            <div class="india-hero__left-bg-wrap js-hero-left-bg-wrap">
              <div class="india-hero__left-bg"></div>
            </div>
            <div class="india-hero__side-content">
              <h1 class="story-hero__title india-hero__title">{{hero_block.title|safe}}</h1>
              <p class="story-hero__sub-title india-hero__sub-title js-hero-text">{{hero_block.sub_title|safe}}</p>
            </div>
          </div>
        </div>
        <div class="col col-6 india-hero__right-col">
          <div class="india-hero__right-side js-hero-right-side">
            <div class="india-hero__right-wrapper">
              <div class="india-hero__green-block"></div>
              <picture>
                <source media="(min-width: 1024px)" srcset="{{ data.global.src_img }}{{ hero_block.img.src }}"/>
                <source media="(max-width: 1023px)" srcset="{{ data.global.src_img }}{{ hero_block.img.src_vertical }}"/>
                <img class="story-hero__img india-hero__img js-hero-img" src="{{ data.global.src_img }}{{ hero_block.img.src }}" onLoad="this.classList.add('is-loaded')" />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="india-hero__bottom-block">
    <div class="container">
      <div class="row">
        <div class="col col-5 col-lg-6 col-md-5 col-sm-10 col-push-7 col-lg-push-6 col-md-push-4 col-sm-push-2">
          <p class="india-hero__text text text--12">{{hero_block.right_text|safe}}</p>
        </div>
      </div>
    </div>
  </div>
</div>