{% for section in sections %}
<div class="interview-section {% if section.mode %}{{ section.mode }}{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-lg-8 col-md-10 col-sm-12 col-push-3 col-lg-push-2 col-md-push-1 col-sm-push-0">
        <div class="interview-section__head">
          <h3 class="interview-section__head-green">{{ section.head.green |safe }}</h3>
          <h3 class="interview-section__head-blue">{{ section.head.blue |safe }}</h3>
        </div>
        <div class="interview-section__list">
          {% for item in section.list %}
          <div class="interview-section-block">
            <div class="interview-section-block__title">{{ item.title |safe }}</div>
            <p class="interview-section-block__text">{{ item.text |safe }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      {% if section.quote %}
      <div class="col col-5 col-lg-7 col-md-9 col-sm-12 col-push-1 col-sm-push-0 interview-section__quote">
        {% set quote = section.quote %}
        {% include "containers/_quote.html" %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}