<div class="story-hero interview-hero js-hero-interview js-hero-block">
  <div class="interview-hero__main js-hero-interview-main">
    <div class="container">
      <div class="row">
        <div class="col col-5 col-lg-4 col-md-2 col-sm-11 interview-hero__left-col">
          <div class="interview-hero__left-side">
            <h1 class="story-hero__title interview-hero__title ">{{hero_block.title|safe}}</h1>
            <p class="story-hero__sub-title interview-hero__sub-title js-hero-text">{{hero_block.sub_title|safe}}</p>
          </div>
        </div>
        <div class="col col-7 col-lg-8 col-md-10 col-sm-12 interview-hero__right-col">
          <div class="interview-hero-blocks">
            <div class="interview-hero__left-decor-wrapper js-scene-left-decor">
              <div class="interview-hero__left-decor"></div>
            </div>
            <div class="row">
              <div class="col col-7-4 col-8-lg-5 col-10-md-6 col-reset-sm-6 col-reset-sm-push-1">
                <div class="interview-hero-block interview-hero-block--first">
                  <div class="interview-hero-block__img">
                    <img class="story-hero__img js-scene-first-img" 
                      src="{{ data.global.src_img }}{{ hero_block.first_block.img.src }}" alt="alt" onLoad="this.classList.add('is-loaded')" />
                  </div>
                  <div class="interview-hero-block__text-wrap">
                    <p class="text text--12">
                      {{ hero_block.first_block.text |safe}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col col-7-3 col-8-lg-3 col-10-md-4 col-reset-sm-5">
                <div class="interview-hero-block--second">
                  <div class="interview-hero-block__img">
                      <img class="story-hero__img js-scene-second-img" 
                        src="{{ data.global.src_img }}{{ hero_block.second_block.img.src }}" alt="alt" onLoad="this.classList.add('is-loaded')" />
                    <div class="interview-hero__right-decor-wrapper js-scene-right-decor">
                      <div class="interview-hero__right-decor"></div>
                    </div>
                  </div>
                  <div class="interview-hero-block__text-wrap">
                    <p class="text text--12">
                      {{ hero_block.second_block.text |safe}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>