<div class="italy-scheme">
  <div class="italy-scheme__inner">
    <div class="container">
      <div class="row">
        <div class="col col-10 col-lg-12 col-push-1 col-lg-push-0">
          <div class="italy-scheme__head">
            <h2 class="italy-scheme__title">{{ scheme.title |safe }}</h2>
            <p class="italy-scheme__sub-title">{{ scheme.sub_title |safe }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-3 col-lg-4 col-md-5 col-sm-12 col-push-1 col-lg-push-0 col-md-order-1 col-sm-order-2">
          <div class="italy-scheme__block">
            <p class="text text--16 italy-scheme__block-head">
            {{ scheme.left_block.head |safe }}
            </p>
            <p class="italy-scheme__block-text">
            {{ scheme.left_block.text |safe }}
            </p>
          </div>
        </div>
        <div class="col col-4 col-md-12 col-md-order-3 col-sm-order-1">
          <div class="italy-scheme__img">
            <picture>
              <source media="(min-width: 768px)" srcset="{{ data.global.src_img }}{{ scheme.center_block.img.src }}"/>
              <source media="(max-width: 767px)" srcset="{{ data.global.src_img }}{{ scheme.center_block.img.mob_src }}"/>
              <img src="{{ data.global.src_img }}{{ scheme.center_block.img.src }}"/>
            </picture>
          </div>
        </div>
        <div class="col col-3 col-lg-4 col-md-5 col-sm-12 col-md-push-2 col-md-order-2 col-sm-push-0 col-sm-order-3">
          <div class="italy-scheme__block">
            <p class="text text--16 italy-scheme__block-head">
            {{ scheme.right_block.head |safe }}
            </p>
            <p class="italy-scheme__block-text">
            {{ scheme.right_block.text |safe }}
            </p>
          </div>
        </div>
        <div class="col col-4 col-lg-6 col-md-8 col-sm-12 col-push-4 col-lg-push-3 col-md-push-2 col-sm-push-0 col-md-order-4 col-sm-order-4">
          <div class="italy-scheme__block italy-scheme__block--bottom">
            <p class="text text--16 italy-scheme__block-head">
            {{ scheme.center_block_bottom.head |safe }}
            </p>
            <p class="italy-scheme__block-text">
            {{ scheme.center_block_bottom.text |safe }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>