<div class="story-hero italy-hero js-hero-italy js-hero-block">
  <div class="italy-hero__main js-hero-italy-main">
    <div class="italy-hero__bg">
      <div class="italy-hero__bg-block italy-hero__bg-block--imgs">
        <div class="container">
          <div class="row">
            <div class="col col-8 col-md-8 col-sm-10 col-md-push-4 col-sm-push-2">
              <div class="italy-hero__bg-imgs">
                <div class="italy-hero__bg-img-left js-hero-img-left-wrapper">
                  <img class="story-hero__img js-hero-img" src="{{ data.global.src_img }}{{ hero_block.img_left.src }}" alt="img" onLoad="this.classList.add('is-loaded')" />
                </div>
                <div class="italy-hero__bg-img-right js-hero-img-right-wrapper">
                  <picture>
                    <source media="(min-width: 1024px)" srcset="{{ data.global.src_img }}{{ hero_block.img_right.src }}"/>
                    <source media="(max-width: 1023px)" srcset="{{ data.global.src_img }}{{ hero_block.img_right.src_md }}"/>
                    <img class="story-hero__img js-hero-img" src="{{ data.global.src_img }}{{ hero_block.img_right.src }}" alt="img" onLoad="this.classList.add('is-loaded')" />
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="italy-hero__bg-block italy-hero__bg-block--decor">
        <div class="container italy-hero__bg-container">
          <div class="row">
            <div class="col col-12">
              <div class="italy-hero__left-decor-wrapper js-hero-italy-left-decor">
                <div class="italy-hero__left-decor"></div>
              </div>
              <div class="italy-hero__right-decor-wrapper js-hero-italy-right-decor">
                <div class="italy-hero__right-decor"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container italy-hero__content-container">
      <div class="italy-hero__content">
        <div class="row">
          <div class="col col-4 col-md-7 col-sm-8">
            <div class="italy-hero__inner">
              <h1 class="story-hero__title italy-hero__title">{{hero_block.title|safe}}</h1>
              <p class="story-hero__sub-title italy-hero__sub-title js-hero-italy-text">{{hero_block.sub_title|safe}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="italy-hero__bottom">
    <div class="container">
      <div class="row">
        <div class="col col-3 col-md-5 col-sm-10 col-push-8 col-md-push-4 col-sm-push-2">
          <div class="text text--12">
            {{hero_block.bottom_text|safe}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>