<div class="pointers">
  {% for i in pointers %}
  <div class="pointers__block js-graph-block">
    <div class="pointers__col js-graph-col">
      <div class="pointers__number graph-figure{%if i.mod === green%} graph-figure_green{%endif%} js-graph-number" data-inc-value="{{ i.number }}" data-inc-duration="2000" data-inc-delay="0">0</div>
      <div class="graph-text">{{ i.text | safe }}</div>
    </div>
  </div>
  {% endfor %}
</div>
