<div class="story-hero powertrain-hero js-hero-powertrain">
  <div class="powertrain-hero__main js-hero-powertrain-main">
    <div class="container">
      <div class="row">
        <div class="col col-4 powertrain-hero__left-col">
          <div class="powertrain-hero__left-side">
            <div class="powertrain-hero__mask-wrapper js-hero-mask-wrapper">
              <div class="powertrain-hero__mask">
                <div class="powertrain-hero__mask-top"></div>
                <div class="powertrain-hero__mask-bottom"></div>
              </div>
            </div>
            <div class="powertrain-hero__left-bg-wrap js-hero-left-bg-wrap">
              <div class="powertrain-hero__left-bg"></div>
            </div>
            <div class="powertrain-hero__side-content">
              <h1 class="story-hero__title powertrain-hero__title">{{hero_block.title|safe}}</h1>
              <p class="story-hero__sub-title powertrain-hero__sub-title js-hero-text">{{hero_block.sub_title|safe}}</p>
            </div>
          </div>
        </div>
        <div class="col col-8 powertrain-hero__right-col">
          <div class="powertrain-hero__right-side js-hero-right-side">
            <div class="powertrain-hero__right-wrapper">
                <p class="powertrain-hero__right-text text text--93">
                  {{hero_block.right_text|safe}}
                </p>
                <img class="story-hero__img powertrain-hero__img js-hero-img" src="{{ data.global.src_img }}{{ hero_block.img.src }}" onLoad="this.classList.add('is-loaded')" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>