<div class="powertrain-scheme js-powertrain-scheme">
  <div class="powertrain-scheme__inner">
    <div class="container">
      <div class="row">
        <div class="col col-10 col-lg-12 col-push-1 col-lg-push-0">
          <div class="powertrain-scheme__head">
            <h2 class="powertrain-scheme__title">{{ scheme.head.title |safe }}</h2>
            <p class="powertrain-scheme__sub-title">{{ scheme.head.sub_title |safe }}</p>
          </div>
        </div>
      </div>
      <div class="row powertrain-scheme__row js-scheme-row">
        <div
          class="col col-6 col-l-6 col-md-8 col-sm-12 col-push-3 col-l-push-0 col-md-push-2 col-sm-push-0 powertrain-scheme__img-col js-img-col">
          <div class="powertrain-scheme__img-wrap js-scheme-img-wrap">
            <div class="powertrain-scheme__img js-scheme-img">
              <img src="{{ data.global.src_img }}{{ scheme.img.src }}" />
              {% for item in scheme.list %}
              <div class="powertrain-scheme-btn js-scheme-btn" data-index="{{loop.index - 1}}">
                {% if item.btn.mob_text  %}
                <span class="powertrain-scheme-btn__text hide-mob">{{item.btn.text |safe}}</span>
                <span class="powertrain-scheme-btn__text show-mob">{{item.btn.mob_text |safe}}</span>
                {% else %}
                <span class="powertrain-scheme-btn__text">{{item.btn.text |safe}}</span>
                {% endif %}
                <div class="powertrain-scheme-btn__icon">
                  <i>{{ mixins.icon('plus') }}</i>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div
          class="col col-3 col-l-5 col-md-7 col-sm-12 col-l-push-1 col-md-push-3 col-sm-push-0 powertrain-scheme__content-col js-content-col">
          <div class="powertrain-scheme__content-wrap">
            {% for item in scheme.list %}
            <div class="powertrain-scheme__content-block js-content-block" data-index="{{loop.index - 1}}">
              <h4 class="powertrain-scheme__content-title">{{ item.content.title |safe}}</h4>
              <p class="powertrain-scheme__content-sub-title">{{ item.content.sub_title |safe}}</p>
              <p class="powertrain-scheme__content-text">{{ item.content.text |safe}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>