<div class="engine-section js-engine-section">
  <div class="engine-section__top">
    <div class="engine-section__top-bg"></div>
    <div class="engine-section__top-content">
      <div class="container js-scene-container">
        <div class="row">
          <div class="col col-6 col-sm-12">
            <div class="engine-section__img js-scene-img">
              <picture>
                <source media="(max-width: 767px)" srcset="{{ data.global.src_img }}{{ ingine_section.img.src_mob }}"/>
                <source media="(max-width: 1023px)" srcset="{{ data.global.src_img }}{{ ingine_section.img.src_tablet }}"/>
                <source media="(min-width: 1024px)" srcset="{{ data.global.src_img }}{{ ingine_section.img.src }}"/>
                <img src="{{ data.global.src_img }}{{ ingine_section.img.src }}"/>
              </picture>
            </div>
          </div>
          <div class="col col-5 col-lg-5 col-md-6 col-sm-12 col-push-1 col-md-push-0">
            <ul class="engine-section__list">
              {% for item in ingine_section.right_list %}
              <li class="engine-section-block">
                <p class="engine-section-block__head">{{item.head |safe}}</p>
                <p class="engine-section-block__text">{{item.text |safe}}</p>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="engine-section__dropdown">
  {% set dropdown = dropdown_1 %}
  {% include "containers/_dropdown.html" %}
  </div>
</div>