<div class="quote {% if quote.mode %}{{quote.mode}}{% endif %}">
  <div class="quote__text text text--44 text--green">
    <div class="quote__icon">{{mixins.icon('quote')}}</div>
    {{quote.text |safe}}
  </div>
  <div class="quote__info">
    <div class="quote__author text text--12 text--bold text--uppercase">{{quote.author |safe}}</div>
    <div class="quote__position text text--12">{{quote.position |safe}}</div>
  </div>
</div>