<div class="teaser">
  <div class="teaser__head">
    <div class="container">
      <div class="row">
        <div class="col col-8 col-md-10 col-sm-12 col-push-2 col-md-push-1 col-sm-push-0">
          <h3 class="teaser__head-title text text--40">{{teaser.head.title|safe}}</h3>
          <p class="teaser__head-sub-title">{{teaser.head.sub_title|safe}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="teaser-slider">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="teaser-slider__container swiper-container js-horizontal-slider">
            <div class="teaser-slider__wrapper swiper-wrapper">
              {% for item in teaser.slider %}
              <div class="teaser-slider__slide swiper-slide">
                {% include "components/_info-box.html" %}
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="teaser-slider__scrollbar swiper-scrollbar js-horizontal-slider-scrollbar"></div>
        </div>
      </div>
    </div>
  </div>
  {% include "containers/_teaser-banner.html" %}
</div>
