{% if hide_teaser_banner != false  %}
<div class="teaser-banner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <a class="teaser-banner" href="{{data.global.link_url}}{{lang}}/{{ teaserBanner.banner.url }}">
          <span class="teaser-banner__decor">
            <img src="{{ data.global.src_img }}{{ teaserBanner.banner.decor_url }}" data-object-fit="cover" />
          </span>
          <span class="teaser-banner__content">
            <span class="teaser-banner__title">{{ teaserBanner.banner.title |safe}}</span>
            <span class="teaser-banner__text">{{ teaserBanner.banner.text |safe}}</span>
            <span class="teaser-banner__icon">{{ mixins.icon('arrow') }}</span>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}