---
styles: ['story-austria']
scripts: ['storyAustria']
stop_scroll_on_init: true
lang: 'de'
page_name_de: 'aus-industrie-4-0-wird-mahle-4-0'
page_name_en: 'from-industry-4-0-to-mahle-4-0'

is_story_page: true
sections: [
{id: 'combo-section-1'},
{id: 'combo-section-2'},
{id: 'combo-section-3'},
{id: 'combo-section-4'},
{id: 'combo-section-5'},
]

title: 'Aus Industrie 4.0 – wird MAHLE 4.0 - MAHLE Geschäftsbericht 2019'
description: 'Wie MAHLE die Digitalisierung intelligent für sich nutzt – und welche Chancen sich daraus für Mitarbeiter und Kunden ergeben.'

og_title: false
og_description: false
og_img: 'social/mahle_gb2019_aus_industrie_4.0_wird_mahle_4.0.jpg'


hero_block: {
  title: 'Aus Industrie <br/> 4.0 wird <br/> MAHLE 4.0',
  sub_title: '
  Wie MAHLE die Digitalisierung intelligent für sich nutzt.
  ',
  img:{
    src: 'story-austria/hero-2.jpg',
  }
}

combo_section_e: {
  mode: 'combo-section--e js-austria-scene-e',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12 col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--e',
  content: {
    left_side:{
      caption: '
      Eine digitalisierte Produktionslinie in Montblanc, bei der auch analog umgedacht wurde: Hier gehen die Mitarbeiter zu den Komponenten, anstatt an einer Produktionslinie stehend die Komponenten zu sich kommen zu lassen.
        ',
      first_img:{
        src: 'story-austria/story-e/e-img.jpg',
        alt: 'story 1'
      },
    },
    right_side:{
      head_1: '
      Wie Mahle die Digitalisierung intelligent für sich nutzt — und welche Chancen sich daraus für Mitarbeiter und Kunden ergeben.
      ',
      text: '
      Die Welt steht uns offen – 24 stunden, sieben Tage die Woche, kompakt und leuchtend hinter einem kleinen Screen. Auch bei MAHLE an den Produktionslinien sind intelligente Computersysteme längst implementiert und werden als leuchtende Screens in den Händen der Mitarbeiter und an den Produktionslinien sichtbar. Welchen Mehrwert MAHLE f&uuml;r seine Mitarbeiter und Kunden durch Digitalisierung schafft, erfahren wir auf einem Gang durch die Produktionswerke in St. Michael in Österreich und Montblanc in Spanien. Dabei wird schnell klar, wie ein Unternehmen mit 100-jähriger Tradition wie MAHLE nicht von einem Tag auf den anderen digitalisieren kann – und es auch nicht muss. Außerdem, und das ist die beste Nachricht, braucht Digitalisierung vor allem eines: Menschen, die sie erfolgreich gestalten und begleiten.
      ',

    },
  }
}

combo_section_f: {
  mode: 'combo-section--f combo-section--full-pb js-austria-scene-f',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-11 col-sm-12  col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--f',
  content: {
    left_side:{
      quote:{
        text: '
        Die Digitalisierung ist ein wichtiges Werkzeug, das uns hilft, schnell Neues auszuprobieren, ohne Zeit und Material zu verschwenden.
        ',
        author: 'MANFRED JESCH,',
        position: 'Entwickler, MAHLE St. Michael, Österreich'
      },
      first_img:{
        src: 'story-austria/story-f/f-img-1.jpg',
        alt: 'story 1'
      },
      caption: '
      Manfred Jesch hat nicht lange gezögert, die Pappe aus der Hand zu legen und die Möglichkeit von Virtual Reality zu nutzen. Alles, was das Werk effizienter macht, zählt.
        ',
      second_img:{
        src: 'story-austria/story-f/f-img-2.jpg',
        alt: 'story 2'
      },
    },
    right_side:{
      head_1: 'Mit 4.0 schneller agieren',
      head_2: '
      <strong>Pa-pamm. Pa-pamm. Pa-pamm.</strong> Der Amboss stampft laut im Werk von MAHLE Filtersysteme in St. Michael, als wollte er daran erinnern, dass auch er einst eine wegbereitende Innovation gewesen ist. Ein St&uuml;ck weiter, durch die nächste T&uuml;r, wird es dann plötzlich ganz ruhig. In nur wenigen Schritten haben wir die alte Technologie hinter uns gelassen und stehen an der neuesten Produktionslinie, in der ohne großen Krach Ölfilter f&uuml;r die E&#8209;Mobilität entstehen. Der Spagat zwischen den beiden Hallen aus unterschiedlichen Zeiten erzählt die Geschichte vieler Großunternehmen, die bereits seit Jahrzehnten die Mobilität gestalten.
        ',
      text_1: '
      Der Standortleiter Thomas Berg bringt diese Geschichte f&uuml;r das 50&nbsp;Jahre alte Werk in St. Michael auf den Punkt: „So einen traditionsreichen Ort zu digitalisieren ist eine ganz andere Herausforderung, als heute einfach eine neue Halle auf eine gr&uuml;ne Wiese zu setzen.“ Der Frage, an welcher Stelle in der Produktion die Digitalisierung von Vorteil ist, folgt grundsätzlich immer eine große Frage vorweg: „Was macht uns denn und damit unsere Kunden erfolgreicher?“ Thomas Berg setzt gleich fort: „Industrie 4.0 ist erst mal nur ein Buzzword. Welche Themen stecken denn darin, die wir f&uuml;r uns sinnvoll nutzen können?“
        ',
      text_big_1: '
        Der softe Übergang zur Digitalisierung  
      ',
      text_2: '
      Genau diese Frage kann keine Software, sondern nur der Mensch beantworten. Zum Beispiel Manfred Jesch, der seit 24 Jahren die Entwicklungen am Standort St. Michael miterlebt und mitgestaltet. Er ist unter anderem verantwortlich f&uuml;r das Cardboard Engineering und arbeitet heute mit einem ganz neuen Tool. Statt mit Karton und Kleber Prototypen f&uuml;r Arbeitsstationen und Produktionslinien zu bauen, hält Manfred Jesch jetzt zwei Controller in der Hand. Auf seiner Nase sitzt eine Virtual-Reality-Brille. Schwungvoll bewegt er die Arme und geht ein paar Schritte zur Seite. Auf einem großen Screen neben ihm ist zu sehen, was er baut. Als er sich dreht, fällt eine virtuelle Box von einer virtuellen Ablage. Trotzdem ist nichts passiert. Das kreative Gestaltungs-Tool auf Basis von Virtual Reality unterst&uuml;tzt das Team darin, Arbeitsplätze, Abläufe und Prozesse schnell zu modellieren, zu simulieren und zu analysieren. Ohne dabei weder Zeit noch Material zu verschwenden. F&uuml;r ein solches Modell braucht es nur wenige Tage statt fr&uuml;her ein bis zwei Wochen. Erst danach wird der Prototyp gebaut – und zwar aus Karton. Hier in St. Michael nennt man das den „soften Übergang“ zur Digitalisierung. Nur wer versteht, was beim Einsatz digitaler Programme passieren kann, kann auch nachvollziehen, was es bedeutet, wenn die neuen Hilfsmittel mal ausfallen sollten. Denn das passiert auch mit dem besten Programm. Genau dann m&uuml;ssen Manfred Jesch und sein Team wieder Hand anlegen.
      ',
    },
  }
}

dropdown_1: {
  head_text: 'Sidefacts',
  title: 'Zusatz&shy;ausbildung',
  btn_text: 'WERKSMEISTER IN DIGITALISIERUNG & SMART PRODUCTION',
  content: '
  In Kooperation mit der HTL Wolfsberg hat MAHLE am Standort St. Michael die neue Zusatzausbildung „Werksmeister Digitalisierung“ eingef&uuml;hrt. 15 Beschäftigte von MAHLE absolvieren derzeit diesen zertifizierten Lehrgang. Innerhalb von zwei Jahren qualifizieren sie sich f&uuml;r die zukunftsweisenden Themen wie Coding und Smart Production.
    '
}

combo_section_g: {
  mode: 'combo-section--g combo-section--full-pt combo-section--full-pb js-austria-scene-g',
  left_col_mode: 'col-7 col-md-12',
  right_col_mode: 'col-5 col-md-12',
  article_mode: 'combo-article--g',
  content: {
    left_side:{
      quote:{
        text: '
        Wir können in Echtzeit sehen, was in der Maschine passiert, und unsere Produkte vor Fehlern sch&uuml;tzen, weil sie so gar nicht erst entstehen.
          ',
        author: 'FRANCISCO ALMAGRO,',
        position: 'Software- und Automatisierungsingenieur MAHLE Montblanc, Spanien'
      },
      first_img:{
        src: 'story-austria/story-g/g-img-1.jpg',
        alt: 'story 1'
      },
      caption: '
      Roboter, Software und der Mensch arbeiten im Einklang. Aufgaben werden neu eingeteilt und die Mitarbeiter an Stellen eingesetzt, wo sie neue Mehrwerte schaffen.
      ',
      second_img:{
        src: 'story-austria/story-g/g-img-2.jpg',
        alt: 'story 2'
      },
      caption_2: '
      Francisco Almagro (rechts) und Joan Andreu Boque treiben als Produktions- und IT-Experten die Vernetzung aller Maschinen in Montblanc voran.
      ',
      quote_2:{
        text: '
        Unsere Hauptaufgabe ist es, dem Team digitales Wissen zu vermitteln. Und jeden Tag dabei selbst zu lernen.
          ',
        author: 'JOAN ANDREU BOQUE,',
        position: 'Computertechniker MAHLE Montblanc, Spanien'
      },
    },
    right_side:{
      head_1: 'Mit 4.0 immer hundertprozentig abliefern',
      head_2: '
      „Er denkt nach.“ Rund 1.600 km s&uuml;dlich von St. Michael entfernt rollt eine Kiste mit Komponenten auf einer Produktionslinie und stoppt unter einer intelligenten Kamera. Roger Gombau, Leiter des MAHLE Werks im spanischen Montblanc, steht neben der Produktionslinie und tippt sich mit seinem Zeigefinger mehrmals an seine Schläfe. „So sieht es aus, wenn eine Maschine arbeitet – was bei der Software passiert, sehen wir nicht“, sagt Gombau. Kurz darauf rollt die Kiste nach links. Die nächste Kiste stoppt. Auf den ersten und auch zweiten Blick enthält sie exakt die gleichen Komponenten, aber die Kamera sieht mehr.
        ',
      text_1: '
      Die Kiste rollt nach rechts. Links, rechts, rechts, links, rechts. Die Produktion läuft. Und zwar unter den wachsamen Augen von MES, einem bei MAHLE global eingef&uuml;hrten System zur Fertigungsoptimierung. Die Software &uuml;berwacht jeden einzelnen Prozessschritt und sichert dabei sämtliche Daten. All das erfolgt in einem Zusammenspiel mit Data Matrix Codes, die an jedem einzelnen Bauteil angebracht sind. Was in der haptischen Welt als simpler Aufkleber in Erscheinung tritt, ist ein Informationsspeicher, der alle wichtigen Antworten zur jeweiligen Komponente sichert.
       ',
      text_big_1: '
      MES stillt unsere Neugier. Wir können rund um die Uhr sehen, was in der Maschine und mit den Produkten passiert.
      ',
      text_2: '
      Francisco Almagro, Software- und Automatisierungsingenieur bei MAHLE in Montblanc, ist begeistert von der Entwicklung. „MES stillt unsere Neugier. Wir können rund um die Uhr sehen, was in der Maschine und mit den Produkten passiert. In Echtzeit können wir so sichergehen, dass wir immer beste Qualität liefern.“ Vor der Einf&uuml;hrung von MES hatte das Team in Montblanc bereits eigene Lösungen entwickelt, um die Produktion zu verbessern. „Wir haben erkannt, dass es einiges Offensichtliches an der Produktionslinie gibt, das wir nutzen können. Bestimmte Manöver wie beispielsweise die Pause zwischen einem Bremsvorgang und der nächsten Bewegung. Muss die Pause so lang sein? Wie viele qualitativ hervorragende Komponenten schaffen wir in einer bestimmten Zeit?“ Francisco und sein Team haben aufgrund der Daten die Maschinen neu programmiert. Die Lösung gilt intern als Vorstufe von MES. Der Stolz dieser Eigeninitiative wird hier in Montblanc sp&uuml;rbar. Wer heute von MES spricht, spricht immer auch von Francisco und seinem Team.
        ',
    },
  }
}

dropdown_2: {
  mode: 'dropdown--list',
  text_col_mode: 'col-8 col-lg-10 col-sm-12 col-push-2 col-lg-push-1 col-sm-push-0',
  head_text: 'Sidefacts',
  title: 'Alle Daten im Fluss',
  btn_text: 'Digitale Infrastruktur',
  contentList: [
    {
      title: 'MATERIALDATEN',
      text: '
      Management des gesamten Produktlebenszyklus durch ein global bereitgestelltes System mit OnePLM.
      '
    },
    {
      title: 'BETRIEBSDATEN',
      text: '
      Fertigungsoptimierung, hohe Transparenz &uuml;ber Material- und Wertefl&uuml;sse mit MES.
      '
    },
    {
      title: 'PERSONALDATEN',
      text: '
      HR-Excellence ist der Schl&uuml;ssel zum Erfolg von MAHLE – kompetenz- und strategiebasiertes Personalmanagement.
      '
    },
    {
      title: 'SYSTEMDATEN',
      text: '
      Effizienzsteigerung durch Prozessstandardisierung sowie durch Schaffung einer globalen digitalen Echtzeitdaten- und Prozessplattform.
        '
    },
    {
      title: 'FINANZDATEN',
      text: '
      Die Verwaltung unserer multiplen Unternehmensstruktur und die Konsolidierung unserer Geschäftsergebnisse.
        '
    },
    {
      title: 'LIEFERANTENDATEN',
      text: 'Nutzung der globalen Beschaffungsstrategie f&uuml;r Produktions- und Nicht-Produktionsmaterial.
      '
    }
  ],
  content: '
  Keine Daten ohne ihre Verwalter. Neben der digitalen Infrastruktur gilt es vor allem die digitale Kultur zu pflegen. Das bedeutet, alle Mitarbeiter zu informieren, zu schulen und f&uuml;r die Möglichkeiten der Digitalisierung zu begeistern.
    '
}

combo_section_h: {
  mode: 'combo-section--h combo-section--full-pt js-austria-scene-h',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12',
  article_mode: 'combo-article--h',
  content: {
    left_side:{
      first_img:{
        src: 'story-austria/story-h/h-img-1.jpg',
        alt: 'story 1'
      },
      caption: '
      Jared Sowa hat &uuml;ber die Jahre viele verschiedene Messtechniken kennengelernt: Messen mit Strahlen ist die neueste und liefert mehr Daten als je zuvor.
        ',
      quote:{
        text: '
        Das Bauteil ist beim Kunden, aber die Produktionsdaten haben wir. So können wir alles nachhalten, nachmessen und wissen mehr &uuml;ber das Bauteil als je zuvor.
        ',
        author: 'JARED SOWA,',
        position: 'Leiter Messtechnik MAHLE St. Michael, Österreich'
      },
    },
    right_side:{
      head_1: 'Mit 4.0 neue Welten entdecken',
      head_2: '
      In St. Michael steht Jared Sowa, seit mehr als 15 Jahren bei MAHLE und zuständig f&uuml;r die Leitung Messtechnik, in einem hell erleuchteten weißen Raum. An f&uuml;nf wuchtigen Maschinen bewegen sich feine Stäbe und messen tastend einzelne Komponenten. Dazwischen sitzen vereinzelt Mitarbeiter hinter Screens. Der eigentliche „Superstar“ des Maschinenparks steht unscheinbar in der hintersten Ecke: ein Computertomograf. „Im Bereich des Messens ist diese Maschine absolut State of the Art“, erklärt Jared Sowa stolz. „Mithilfe von Strahlentechnik können wir Bauteile zerstörungsfrei pr&uuml;fen. Statt sie zu zerschneiden, durchleuchten wir sie und schauen hinein. Dadurch können wir viel mehr messen als zuvor.“ Jared Sowa legt gleich nach: „Und wenn wir ein Bauteil gemessen haben, können wir diese Daten ablegen und bei Bedarf sogar nur diese Daten messen. Das Bauteil ist nicht mehr nötig.“
        ',
      text_1: '
      Mehr Platz, mehr Informationen, zufriedene Kunden. Mit der Strahlenmesstechnik können Probleme an den Bauteilen schneller oder &uuml;berhaupt erst richtig verstanden und gelöst werden. Als Jared Sowa die T&uuml;r des Computertomografen öffnet und sich das Innere offenbart, fällt der Blick auf einen Warnhinweis zum Strahlenschutz. Das läutet die Frage ein, wie sehr sich ein Beruf im Zuge der Digitalisierung verändert. „Ich lerne jetzt Strahlentechnik. Eigentlich bin ich heute zu 90 Prozent ein anderer Messtechniker als der Standardmesstechniker, mit dem ich gestartet bin.“ Er schmunzelt. Was dieses Lächeln bedeutet: „Die Digitalisierung bietet uns Mitarbeitern die Chance, noch mehr &uuml;ber die Prozesse und Materialien zu lernen. Manchmal f&uuml;hlen wir uns wie ein digitaler Kolumbus, der f&uuml;r sich und unsere Kunden neues Land f&uuml;r innovative Lösungen betritt.“
        ',
      text_big_1: '',
      text_2: ''
    },
  }
}

combo_section_i: {
  mode: 'combo-section--i js-austria-scene-i',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-12',
  article_mode: 'combo-article--i',
  content: {
    left_side:{
      first_img:{
        src: 'story-austria/story-i/i-img-1.jpg',
        alt: 'story 1'
      },
      caption: '
      Cristina Barco war die erste Ingenieurin im Bereich Instandsetzung bei MAHLE in Montblanc und gestaltet den Wandel des Standorts seit 20 Jahren mit.
      ',
      quote:{
        text: '
        Wir m&uuml;ssen uns jeden Tag neues Wissen aneignen. Ein hohes Maß an Flexibilität und Kreativität sind das Wichtigste bei der Digitalisierung.
        ',
        author: 'CRISTINA BARCO,',
        position: 'Ingenieurin MAHLE Montblanc, Spanien'
      },
      second_img:{
        src: 'story-austria/story-i/i-img-2.jpg',
        alt: 'story 1'
      },
      caption_2: '
      Digitalisierung ist Teamarbeit: Das Team in St. Michael bespricht dabei täglich die aktuellen Themen, diskutiert Lösungsvorschläge und tauscht sich aus.
      ',
      third_img:{
        src: 'story-austria/story-i/i-img-3.jpg',
        alt: 'story 1'
      },
    },
    right_side:{
      head_1: 'Mit 4.0 Profi im Umdenken sein',
      head_2: '
      Cristina Barco war vor 20 Jahren die erste Ingenieurin in der Instandsetzung bei MAHLE in Montblanc. Digitalisierung bedeutet f&uuml;r sie vor allem eines: nie aufhören zu lernen, Neues zu denken, kreativ zu sein. Sowohl digital als auch analog. „Digitalisierung unterst&uuml;tzt uns, aber darauf ausruhen, d&uuml;rfen wir uns nicht. Um besser zu werden, zählt jede einzelne Lösung.“
        ',
      text_1: '
      Sie zeigt auf eine Station gleich neben ihr. Parallel zur Implementierung von MES wurde die komplette Produktionslinie neu gedacht. So bewegen jetzt Mitarbeiter innerhalb einer Produktionslinie Rollwägen, um eine Komponente an verschiedenen Stationen zusammenzubauen. Während an den anderen Stationen die Komponenten zum Mitarbeiter kommen, gehen hier die Mitarbeiter zu den Komponenten. Cristina verzieht das Gesicht, als sie das Wort „Rollwagen“ sagt, und lacht. „Genauso waren damals unsere ersten Reaktionen. Denn die Idee klang zunächst wie ein R&uuml;ckschritt. Aber wenn ich heute die Mitarbeiter frage, sind sie zufriedener, weil die Bewegung ihrem Körper guttut und den Kopf fit hält“, ergänzt sie. „So unterlaufen den Mitarbeitern viel weniger Fehler. Das zeigen auch die Daten von MES.“
        ',
      text_big_1: '
      Es ist die Chance, mit Digitalisierung eine professionelle Unterstützung zu haben, um MAHLE voranzubringen.
      ',
      text_2: '
      Im nächsten Moment stoppt ein Roboterarm neben uns. Es ist der kollaborative Roboter, der eine Mitarbeiterin bei der Arbeit unterst&uuml;tzt. Als sie ihn ber&uuml;hrt, bleibt er stehen. „Die Mitarbeiterin hat das Sagen“, kommentiert Cristina. Entwickelt hat ihn das Team gemeinsam mit Francisco. Ein Screen &uuml;ber der Station zeigt jetzt die Zahl 4. Was bedeutet Industrie 4.0 also f&uuml;r MAHLE? Es ist die Chance, mit Digitalisierung eine professionelle Unterst&uuml;tzung zu haben, um MAHLE voranzubringen. Noch dynamischer, noch bessere Produkte f&uuml;r die Mobilität, noch zufriedenere Kunden. Denn von den besten Produkten und Lösungen profitieren alle. Dann, wenn Feierabend ist und sich der Mitarbeiter ins Auto setzt und nach Hause fährt, während die Digitalisierung bei  MAHLE weiterarbeitet. Genauso, wie es der Mensch will.
        '
    },
    middle_content: {
      quote:{
        text: '
        Hier treffen langjährige Mitarbeiter mit unglaublicher Kompetenz auf junge Ingenieure mit ganz neuem Mindset. Wir stellen sicher, dass sie alle Ressourcen zur Verf&uuml;gung haben, um ihre Ideen und Lösungen einzubringen. Und wir gemeinsam die Produktion nicht einfach digitalisieren – sondern erfolgreicher machen.
        ',
        author: 'ROGER GOMBAU,',
        position: 'Werksleiter MAHLE Montblanc, Spanien'
      },
    },
    md_content: {
      text_block: {
        text: 'Mehr erfahren über <br/> MAHLEs digitale Transformation?',
        text_2: 'Lesezeit 6 Minuten',
      },
      modal_link:{
        scroll_block_number: '5',
        text: 'Mehr lesen'
      }
    }
  }
}

teaser: {
  head:{
    title: '
    MAHLE nutzt die Digitalisierung um jeden Tag besser zu werden und damit Mehrwert für seine Kunden zu schaffen.
    ',
    sub_title: 'Weitere Stories'
  },
  slider: [
    {
      url: 'gruener-tanken-effizienter-fahren',
      img: 'teaser/e-fuel.jpg',
      alt: 'Grüner tanken – effizienter fahren',
      title: 'Grüner tanken – effizienter fahren',
      text: 'Über die Chance, mit dem Verbrennungsmotor einen wichtige Beitrag zum Klimaschutz zu leisten.'
    },
    {
      url: 'aus-bekannt-wird-besser',
      img: 'teaser/powertrain.jpg',
      alt: 'Aus bekannt – wird besser',
      title: 'Aus bekannt – wird besser',
      text: 'Wie MAHLE eine bewährte Technologie zu einem neuen Antriebsstrangsystem entwickelt.'
    },
    {
      url: 'diverse-mobiltaet-digitale-werkstatt',
      img: 'teaser/italy.jpg',
      alt: 'Diverse Mobilität – digitale Werkstatt',
      title: 'Diverse Mobilität – digitale Werkstatt',
      text: 'Die neue Mobilität ist vielfältig – und herausfordernd in der Wartung und Reparatur. Mit erstklassiger Serviceausrüstung liefert MAHLE den Autowerkstätten die Chance, effizienter denn je zu arbeiten.'
    },
    {
      url: 'elektrisch-fahren-fuer-alle',
      img: 'teaser/india.jpg',
      alt: 'Elektrisch fahren – für alle',
      title: 'Elektrisch fahren – für alle',
      text: 'Andere Länder, andere Perspektiven, neue Chancen. MAHLE startet die Elektrifizierung der populärsten Fortbewegungsmittel in Indien: der Zwei- und Dreiräder..'
    },
    {
      url: 'ohne-wandel-keine-bewegung',
      img: 'teaser/interview.jpg',
      alt: 'Ohne Wandel – keine Bewegung',
      title: 'Ohne Wandel – keine Bewegung',
      text: 'Dr. Jörg Stratmann und Nathalie Cyrys über Wandel, Innovation, Chancen und Zukunft.'
    },

  ]
}

---

{% import "data/"+lang+"/header.html" as header %}
{% import "data/"+lang+"/menu.html" as menu %}
{% import "data/"+lang+"/footer.html" as footer %}
{% import "data/"+lang+"/cookie.html" as cookie %}
{% import "data/"+lang+"/banner.html" as banner %}

{% extends "layouts/_layout.html" %}

{% block content %}


{% include "page-templates/_story-austria.html" %}


{% endblock %}

{% block modals %}
{% include "modals/_austria-story-modal.html" %}
{% endblock %}
