---
styles: ['powertrain']
scripts: ['powertrain']
stop_scroll_on_init: true
lang: 'de'
page_name_de: 'aus-bekannt-wird-besser'
page_name_en: 'from-proven-to-improved-technology'

is_story_page: true
sections: [
{id: 'combo-section-1'},
{id: 'combo-section-2'},
]

title: 'Aus bekannt – wird besser - MAHLE Geschäftsbericht 2019'
description: 'Wie MAHLE eine bewährte Technologie zu einem neuen Antriebsstrangsystem entwickelt.'

og_title: false
og_description: false
og_img: 'social/mahle_gb2019_aus_bekannt_wird_besser.jpg'


hero_block: {
  title: 'Aus <br/> bekannt <span class="md-text">wird besser</span>',
  sub_title: 'Wie MAHLE eine bewährte Technologie zu einem neuen Antriebsstrangsystem entwickelt.',
  right_text: 'wird <br/> besser',
  img:{
    src: 'powertrain/hero.png',
  },
}

combo_section_r: {
  mode: 'combo-section--r js-simple-left-side-scene',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12 col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--r',
  content: {
    left_side:{
      quote:{
        text: '
        Nur mit einem effizienten Beitrag aller Technologien können wir die <span class="no-wrap">CO<sub>2</sub></span>-Emissionsziele bis 2030 erreichen.
        ',
        author: 'DR. MIKE BASSETT,',
        position: 'leitender Entwicklungsingenieur MAHLE Powertrain'
      },
    },
    right_side:{
      head_1: '
      Mit dem Auto zur Arbeit, nach Feierabend noch schnell zum Supermarkt, anschließend die Kinder vom Sport abholen – und das alles rein elektrisch. Am Wochenende dann &uuml;ber die Autobahn zu Besuch zu den Großeltern – und zwar ohne Sorge um die Reichweite des Fahrzeugs.
        ',
      text_1: '
      Ein Hybridfahrzeug vereint zwei Antriebskonzepte und bietet die Möglichkeit, den sinnvollsten Antrieb f&uuml;r die jeweilige Fahrsituation zu nutzen. Während die Energie f&uuml;r Kurzstrecken aus der Batterie kommt, kann der Fahrer auf Langstrecken auf die bewährten praktischen Vorteile konventioneller oder gar synthetischer Kraftstoffe zur&uuml;ckgreifen. Mit dem neu entwickelten Modular Hybrid Powertrain verschafft MAHLE der bewährten Hybridtechnologie einen entscheidenden Vorsprung: Der MAHLE Modular Hybrid Powertrain (MMHP) ist ein kosteneffizienter, kompakter und leichter Plug-in-Hybridantrieb, der auf eine Vielzahl von Fahrzeuganwendungen zugeschnitten werden kann. Damit Hybridfahrzeuge in Zukunft noch mehr dazu beitragen können, die Klimaziele zu erreichen.
      ',
    },
  }
}

dropdown_1: {
  head_text: 'Sidefacts',
  title: 'Gesetzliche Vorgabe der EU',
  btn_text: 'IM EINSATZ FÜR 2030 – UND DARÜBER HINAUS',
  content: '
  Bis 2030 m&uuml;ssen Fahrzeughersteller in der EU deutlich schärfere <span class="no-wrap">CO<sub>2</sub></span>-Flottenziele einhalten. Die 2019 verabschiedeten Zielvorgaben schreiben eine weitere Reduktion um 37,5 Prozent im Durchschnitt der Fahrzeugflotte vor. Ein ambitioniertes Ziel, das im gegenwärtigen Regulierungsansatz mit konventionellen Antrieben in diesem knappen Zeithorizont tendenziell nicht zu erreichen sein wird. Dabei werden einseitig die Emissionen am Fahrzeugauspuff betrachtet, ohne zum Beispiel Laufleistung oder Energieerzeugung bei fossilen Kraftstoffen, aber auch bei Strom und regenerativen Kraftstoffen zu ber&uuml;cksichtigen. Wirksamer Klimaschutz erfordert einen ganzheitlichen Ansatz, der den Beitrag aller Technologieoptionen ermöglicht.
  '
}

ingine_section: {
  img:{
    src: 'powertrain/engine-section-img.png',
    src_tablet: 'powertrain/engine-section-img-tablet.png',
    src_mob: 'powertrain/engine-section-img-mob.png'
  },
  right_list: [
  {
    head: '<span>1</span>',
    text: '
    Dedicated Hybrid Engine (DHE) – von MAHLE eigenständig entwickelt. Verbrauchsoptimierter Zweizylinder-Turbo mit passiver MAHLE Jet Ignition&#174; (MJI).
      '
  },
  {
    head: '<span>2</span>',
    text: '
    MAHLE Hochspannungswechselrichter, direkt im Generatorgehäuse integriert. Der Traktionsmotor f&uuml;r den direkten Fahrzeugantrieb (hinter dem Verbrennungsmotor) verf&uuml;gt ebenfalls &uuml;ber einen integrierten Wechselrichter.
      '
  },
  {
    head: '<span>3</span>',
    text: '
    Kompaktes Ein-, Zwei- oder Vierganggetriebe. Der kupplungslose Direktantrieb des Traktionsmotors sorgt f&uuml;r eine optimale Fahrdynamik.
    '
  },
  ]
}

combo_section_s: {
  mode: 'combo-section--s combo-section--full-pt combo-section--full-pb js-simple-left-side-scene',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12 col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--s',
  content: {
    left_side:{
      quote:{
        text: '
        Mit dem MAHLE Modular Hybrid Powertrain haben wir das Konzept des Hybridantriebs radikal neu gedacht. Damit können wir Potenziale heben, die bisher unerreichbar schienen.
          ',
        author: 'DR. MARTIN BERGER,',
        position: 'Leiter Forschung und Vorausentwicklung bei MAHLE'
      },
    },
    right_side:{
      head_1: '
      Ein klassischer Verbrennungsmotor und ein Elektromotor in einem Fahrzeug – das sind die Merkmale eines Hybridautos.
        ',
      text_1: '
      Bestehende Hybridaggregate sind gut, lassen dabei bisher jedoch weiteren Raum f&uuml;r Verbesserungen. Ingenieure von MAHLE haben schnell erkannt, dass man hier noch weitergehen kann, und f&uuml;r diese wichtige Zukunftstechnologie eine eigene innovative Lösung entwickelt, den MAHLE Modular Hybrid Powertrain (MMHP). Sein Verbrennungsmotor kann vereinfacht konstruiert werden, weil das Anfahren und die Beschleunigung des Fahrzeugs der Elektromotor &uuml;bernehmen kann. Der MAHLE Modular Hybrid Powertrain kombiniert eine Dedicated Hybrid Engine (DHE), einen Generator, Traktionsmotor, Getriebe und Leistungselektronik in einer geschlossenen Baugruppe. MAHLE f&uuml;gte zudem sein Vorkammer-Z&uuml;ndverfahren, auch bekannt als MAHLE Jet Ignition&#174;, der DHE hinzu – f&uuml;r einen extrem effizienten Betrieb.
      ',
      text_2: '
      Die Vorteile dieser Entwicklung: Alle diese notwendigen Komponenten sind in einer einzigen kompakten, leichten E&#8209;Antriebseinheit integriert, wodurch das gesamte System effizienter, kleiner, leichter, kosteng&uuml;nstiger und f&uuml;r unterschiedliche Fahrzeuggrößen skalierbar ausgelegt werden kann – vom Kleinwagen bis zum schweren SUV. Die Antriebstechnologie wird so g&uuml;nstiger – und damit attraktiver f&uuml;r den Endkunden. Mit dem Modular Hybrid Powertrain liefert MAHLE einen weiteren wichtigen Beitrag, um die L&uuml;cke zwischen klassischer und rein elektrischer Mobilität zu verkleinern – und um einen schnellen und damit sehr wertvollen Beitrag zu einer effizienteren Mobilität zu leisten.
      ',
    },
    md_content: {
      text_block: {
        text: 'Mehr erfahren über die <br/> MAHLE Hybridtechnology?',
        text_2: 'Lesezeit 2 Minuten',
      },
      modal_link:{
        scroll_block_number: '5',
        text: 'Mehr lesen'
      }
    }
  }
}

scheme: {
  head:{
    title: 'Die Welt der Hybridfahrzeuge',
    sub_title: '
    MILD, VOLL ODER PLUG-IN? UNTERSCHIEDLICHE HYBRIDE, UNTERSCHIEDLICHE MERKMALE.
    '
  },
  img: {
    src: 'powertrain/scheme.svg'
  },
  list: [
  {
    btn: {
      text: 'Mild-Hybrid'
    },
    content: {
      title: 'ELEKTRIFIZIERT FAHREN',
      sub_title: 'Mild-Hybrid',
      text: '
      Kleine, elektrische Kraft. Der Elektromotor unterst&uuml;tzt beim Beschleunigen, ist jedoch zu schwach, um das Fahrzeug alleine anzutreiben. Der Verbrennungsmotor ist beim Fahren immer in Betrieb.
      '
    }
  },
  {
    btn: {
      text: 'Voll-Hybrid'
    },
    content: {
      title: 'ELEKTRIFIZIERT FAHREN',
      sub_title: 'Voll-Hybrid',
      text: '
      Volle Power zweier Technologien. Der Elektro- und der Verbrennungsmotor arbeiten unabhängig voneinander oder miteinander gekoppelt. Damit kann der Voll-Hybrid auf Kurzstrecken voll elektrisch fahren.
        '
    }
  },
  {
    btn: {
      text: 'Plug-in-Hybrid'
    },
    content: {
      title: 'EXTERN LADEN',
      sub_title: 'Plug-in-Hybrid',
      text: '
      Ein Voll-Hybrid mit einem Vorteil: Die Batterie lässt sich, während das Auto parkt, an einer Steckdose extern nachladen.
        '
    }
  },
  {
    btn: {
      text: 'MAHLE Modular Hybrid <br/> Powertrain (MMHP)',
      mob_text: 'MMHP'
    },
    content: {
      title: 'NEUER HYBRIDANTRIEB',
      sub_title: 'MAHLE Modular Hybrid <br/> Powertrain (MMHP)',
      text: '
      Der MAHLE Modular Hybrid Powertrain besteht aus einer Dedicated Hybrid Engine (DHE), einem Generator, Traktionsmotor, Getriebe und Leistungselektronik – all das in einer geschlossenen Baugruppe. Das Herzst&uuml;ck des Systems ist die MAHLE Dedicated Hybrid Engine, ein von MAHLE entwickelter Verbrennungsmotor f&uuml;r den Einsatz in Hybriden, in kompakter Zweizylinderbauweise mit hoher Kraftstoffeffizienz dank der MAHLE Jet Ignition&#174;-Technologie. Dieser neue Hybridantrieb mit optimierter K&uuml;hlung ist kosteng&uuml;nstig, leicht, kompakt und flexibel. Die Vorteile des Systems auf einen Blick: geringerer Kraftstoffverbrauch, reduzierte Emissionen, minimierter Bauraum und gute Skalierbarkeit f&uuml;r verschiedene Fahrzeuganwendungen.
      '
    }
  }
  ]
}

teaser: {
  head:{
    title: '
    Mit dem Modular Hybrid Powertrain liefert MAHLE einen weiteren wichtigen Beitrag, um die Lücke zwischen klassischer und rein elektrischer Mobilität zu verkleinern.
    ',
    sub_title: 'Weitere Stories'
  },
  slider: [
    {
      url: 'gruener-tanken-effizienter-fahren',
      img: 'teaser/e-fuel.jpg',
      alt: 'Grüner tanken – effizienter fahren',
      title: 'Grüner tanken – effizienter fahren',
      text: 'Über die Chance, mit dem Verbrennungsmotor einen wichtige Beitrag zum Klimaschutz zu leisten.'
    },
    {
      url: 'aus-industrie-4-0-wird-mahle-4-0',
      img: 'teaser/austria.jpg',
      alt: 'Aus Industrie 4.0 – wird MAHLE 4.0',
      title: 'Aus Industrie 4.0 – wird MAHLE 4.0',
      text: 'Wie MAHLE die Digitalisierung intelligent für sich nutzt – und welche Chancen sich daraus für Mitarbeiter und Kunden ergeben.'
    },
    {
      url: 'diverse-mobiltaet-digitale-werkstatt',
      img: 'teaser/italy.jpg',
      alt: 'Diverse Mobilität – digitale Werkstatt',
      title: 'Diverse Mobilität – digitale Werkstatt',
      text: 'Die neue Mobilität ist vielfältig – und herausfordernd in der Wartung und Reparatur. Mit erstklassiger Serviceausrüstung liefert MAHLE den Autowerkstätten die Chance, effizienter denn je zu arbeiten.'
    },
    {
      url: 'elektrisch-fahren-fuer-alle',
      img: 'teaser/india.jpg',
      alt: 'Elektrisch fahren – für alle',
      title: 'Elektrisch fahren – für alle',
      text: 'Andere Länder, andere Perspektiven, neue Chancen. MAHLE startet die Elektrifizierung der populärsten Fortbewegungsmittel in Indien: der Zwei- und Dreiräder..'
    },
    {
      url: 'ohne-wandel-keine-bewegung',
      img: 'teaser/interview.jpg',
      alt: 'Ohne Wandel – keine Bewegung',
      title: 'Ohne Wandel – keine Bewegung',
      text: 'Dr. Jörg Stratmann und Nathalie Cyrys über Wandel, Innovation, Chancen und Zukunft.'
    },

  ]
}

---

{% import "data/"+lang+"/header.html" as header %}
{% import "data/"+lang+"/menu.html" as menu %}
{% import "data/"+lang+"/footer.html" as footer %}
{% import "data/"+lang+"/cookie.html" as cookie %}
{% import "data/"+lang+"/banner.html" as banner %}

{% extends "layouts/_layout.html" %}

{% block content %}


{% include "page-templates/_powertrain.html" %}


{% endblock %}

{% block modals %}
{% include "modals/_powertrain-modal.html" %}
{% endblock %}
