---
styles: ['text-page']
scripts: ['textPage']
stop_scroll_on_init: false
lang: 'de'
page_name_de: 'datenschutz'
page_name_en: 'privacy-statement'

hide_banner: true

title: 'Datenschutzhinweise bei MAHLE - MAHLE Geschäftsbericht 2019'
description: 'Data protection notice - MAHLE Annual Report 2019'

og_title: false
og_description: false
og_img: 'social/mahle_gb2019_home.jpg'


article: {
  title: 'Datenschutzhinweise bei MAHLE',
  content: '
    <h2>Verantwortlicher im Sinne der Datenschutz-Grundverordnung („DSGVO“) ist:</h2>
    <p>
      MAHLE GmbH („Wir“) <br/> 
      Pragstraße 26 – 46 <br/> 
      70376 Stuttgart <br/> 
      Deutschland <br/>
      E&#8209;Mail: <a href="mailto:info@mahle.com">info@mahle.com</a>
    </p>
    <h2>Datenschutz&shy;beauftragter:</h2>
    <p>
      MAHLE GmbH <br/> 
      Konzernbeauftragter für den Datenschutz <br/> 
      Dr. Alexander Deicke <br/> 
      70376 Stuttgart <br/> 
      Deutschland <br/> 
      E&#8209;Mail: <a href="mailto:KDSB@mahle.com">KDSB@mahle.com</a>
    </p>
    <h2>Rechtliche Vorgaben</h2>
    <p>MAHLE verpflichtet sich, die nationalen und internationalen Gesetze und Vorschriften zur Wahrung des Rechts auf informationelle Selbstbestimmung strikt einzuhalten.</p>
    <p>Bei der Erhebung, Speicherung und Verarbeitung personenbezogener Daten beachten wir die europäischen Vorschriften zum Datenschutzrecht und die sich daraus ergebenden nationalen Bestimmungen. Als Unternehmen mit Sitz in Deutschland gelten für uns vor allem die Datenschutzgrundverordnung (DSGVO), das Bundesdatenschutzgesetz-Neu, das Telekommunikationsgesetz und das Telemediengesetz.</p>
    <h2>Erhebung und Verarbeitung Ihrer personenb&shy;ezogenen Daten</h2>
    <p>Beim Besuch unserer Webseiten, speichern wir automatisch anonymisiert den Namen Ihres Internet Service Providers, die Webseite, von der aus Sie uns besuchen, die Webseiten, die Sie bei uns besuchen, Webseiten, die Sie von uns aus besuchen, sowie das Datum und die Dauer Ihres Besuches. Diese Informationen können von uns anonymisiert ausgewertet werden. Weitere persönliche Daten werden nur dann erhoben und gespeichert, wenn Sie uns dies ausdrücklich erlauben. Unsere Datenschutzhinweise gelten ausschließlich für den Gebrauch unserer Webseiten und nicht für Ihre Aktivitäten auf den Webseiten von sozialen Netzwerken oder anderen Anbietern, die Sie über die Links auf unseren Webseiten erreichen können. Wir bitten Sie, sich auf den Webseiten dieser Anbieter über deren Datenschutzbestimmungen zu informieren.</p>
    <p>Wir schließen, soweit gesetzlich zulässig, die Haftung für Schäden die durch Nutzung der verlinkten Webseiten entstehen können, aus.</p>
    <p>Andere personenbezogene Daten speichern wir nur, falls Sie uns diese Daten z. B. im Rahmen eines Kontaktformulars, einer Umfrage, eines Preisausschreibens, einer Registrierung oder zur Durchführung eines Vertrages mitteilen, und auch in diesen Fällen nur, soweit uns dies aufgrund einer von Ihnen erteilten Einwilligung oder nach den geltenden Rechtsvorschriften (s. "Rechtsgrundlage der Verarbeitung") gestattet ist.</p>
    <p>Es gibt für Sie keine gesetzliche oder vertragliche Verpflichtung, Ihre personenbezogenen Daten zu überlassen. Es ist jedoch möglich, dass bestimmte Funktionen unserer Webseiten von der Überlassung personenbezogener Daten abhängen. Falls Sie in diesen Fällen personenbezogene Daten nicht überlassen, kann dies zu einer Einschränkung oder Ausbleiben von Funktionen führen.</p>
    <h2>Nutzungszwecke personen&shy;bezogener Daten</h2>
    <p>Ihre persönlichen Daten werden nur zu dem Zweck verwendet, für den Sie uns diese Daten freiwillig überlassen haben und um unsere IT-Systeme vor Angriffen und anderen rechtswidrigen Handlungen zu schützen. Sollten Sie uns weitere personenbezogene Daten z. B. im Rahmen eines Kontaktformulars, einer Umfrage, eines Preisausschreibens, einer Registrierung oder zur Durchführung eines Vertrages mitgeteilt haben, nutzen wir diese Daten zu den genannten Zwecken, zu Zwecken der Kundenverwaltung und – soweit erforderlich – zu Zwecken der Abwicklung und Abrechnung etwaiger Geschäftsvorgänge, in jeweils dem dafür erforderlichen Umfang. Unsere Mitarbeiter und Dienstleister sind von uns zur strengsten Vertraulichkeit verpflichtet.</p>
    <h2>Cookie Erklärung</h2>
    <p>Hinweise zum Einsatz von Cookies sowie der Auswertung von Nutzungsdaten und dem Einsatz von Analyse-Werkzeugen:</p>
    <p>Wir verwenden Cookies, um Ihre Nutzungsinteressen und besonders populäre Bereiche unserer Webseiten zu erkennen und mit diesen Informationen die Gestaltung der Webseiten zu verbessern und noch nutzerfreundlicher zu machen. Zu denselben Zwecken verwenden wir das Analyse-Werkzeug Google Analytics; auch dabei können Cookies zum Einsatz kommen.</p>
    <h5>Funktionen und Einsatz von Cookies</h5>
    <ul>
      <li>
        <p>Cookies sind kleine Dateien, die von einer Webseite, die Sie besuchen, auf Ihrem Desktop-, Notebook- oder Mobilgerät abgelegt werden. Daraus können wir z. B. erkennen, ob es zwischen Ihrem Gerät und unseren Webseiten schon eine Verbindung gegeben hat, oder welche Sprache oder andere Einstellungen Sie bevorzugen. Cookies können auch personenbezogen Daten enthalten.</p>
      </li>
      <li>
        <p>Wenn Sie unsere Webseiten nutzen, stimmen Sie damit dem Einsatz von Cookies zu. Sie können unsere Webseiten auch besuchen, ohne der Verwendung von Cookies zuzustimmen. D.h. Sie können die Verwendung ablehnen und Cookies auch jederzeit löschen, indem Sie entsprechende Einstellungen auf Ihrem Gerät vornehmen. Dies geschieht wie folgt:</p>
        <p>Die meisten Browser sind so voreingestellt, dass sie Cookies automatisch akzeptieren. Diese Voreinstellung ändern Sie, indem Sie in Ihrem Browser die Einstellung *keine Cookies akzeptieren* aktivieren.</p>
        <p>Vorhandene Cookies können Sie jederzeit löschen. Wie das im Einzelnen funktioniert, erfahren Sie in der Anleitung Ihres Browser- bzw. Geräte-Herstellers.</p>
        <p>Wie der Einsatz von Cookies ist auch deren Ablehnung oder Löschung an das verwendete Gerät und zudem an den jeweils eingesetzten Browser gebunden. Sie müssen die Cookies also für jedes Ihrer Geräte und bei Verwendung mehrerer Browser auch für jeden Browser separat ablehnen bzw. löschen.</p>
        <p>Wenn Sie sich gegen den Einsatz von Cookies entscheiden, kann es sein, dass Ihnen nicht alle Funktionen unserer Webseiten oder einzelne Funktionen nur eingeschränkt zur Verfügung stehen.</p>
      </li>
    </ul>
    <h2>Auswertung von Nutzungsdaten; Einsatz von Analyse-Werkzeugen</h2>
    <ul>
      <li>
        <p>Wir möchten die Inhalte unserer Webseiten möglichst zielgenau auf Ihre Interessen abstimmen und auf diese Weise unser Angebot für Sie verbessern. Um Nutzungsvorlieben und besonders populäre Bereiche der Webseiten zu erkennen, verwenden wir folgendes Analyse-Werkzeug: Google Analytics.</p>
      </li>
      <li>
        <p>Beim Einsatz dieses Analyse-Werkzeugs können Daten an in den USA gelegene Server übertragen und dort verarbeitet werden. Bitte beachten Sie dazu Folgendes: In den USA besteht aus der Sicht der Europäischen Union kein den EU-Standards entsprechendes „angemessenes Schutzniveau“ für die Verarbeitung personenbezogener Daten. Dieses Schutzniveau kann jedoch für einzelne Unternehmen durch eine Zertifizierung nach dem sogenannten „EU-U.S. Privacy Shield“ ersetzt werden.</p>
      </li>
      <li>
        <p>Falls Sie nicht möchten, dass wir unter Einsatz der genannten Analyse-Werkzeuge Informationen über Ihren Besuch auf unseren Webseiten sammeln und auswerten, können Sie dem jederzeit für die Zukunft widersprechen („Opt-Out“).</p>
        <p>Ihren Widerspruch setzen wir um, indem wir in Ihrem Browser ein Opt-Out Cookie setzen. Dieses Cookie dient nur der Zuordnung Ihres Widerspruchs. Bitte beachten Sie, dass ein Opt-Out Cookie aus technischen Gründen nur in dem Browser wirkt, in dem es gesetzt wurde. Wenn Sie die Cookies löschen oder einen anderen Browser bzw. ein anderes Endgerät verwenden, nehmen Sie das Opt-Out bitte erneut vor.</p>
        <p>Nachfolgend finden Sie Informationen zu den Anbietern der von uns eingesetzten Analyse-Werkzeuge und die jeweilige Opt-Out-Möglichkeit:</p>
        <p>Google Inc. („Google“) <br/> 
        Google ist nach dem EU-U.S. Privacy Shield zertifiziert. Sie können die Übertragung Ihrer Daten und deren Erfassung und Verarbeitung durch Google verhindern. Hierüber informiert Google über den folgenden Link: <a href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=de</a></p>
      </li>
    </ul>
    <h2>Übertragung personen&shy;bezogener Daten an Dritte</h2>
    <p>Auf einigen MAHLE Internetseiten sind Inhalte und Dienste von anderen Anbietern eingebunden, die ihrerseits Cookies und aktive Komponenten verwenden können. Wenn Sie ein solches Angebot anklicken, übertragen wir im erforderlichen Umfang Daten an den jeweiligen Anbieter (z. B. die Angabe, dass Sie dieses Angebot bei uns gefunden haben und gegebenenfalls weitere Informationen, die Sie hierfür auf unseren Webseiten bereits angegeben haben). MAHLE hat auf die Verarbeitung von personenbezogenen Daten durch diese Anbieter keinen Einfluss. Bitte informieren Sie sich auf den Internetseiten der jeweiligen Anbieter über den Umgang mit Ihren Daten.</p>
    <h2>Social Media Plugins und Video Streaming</h2>
    <ul>
      <li>
          <p><strong>Facebook</strong> <br/> 
          Unser Internetauftritt verwendet Social Plugins („Plugins“) des sozialen Netzwerkes Facebook.com, welches von der Facebook Inc., Palo Alto, USA betrieben wird („Facebook“). Die Plugins sind mit einem Facebook-Logo oder dem Zusatz „Facebook“ oder „Like“ oder „Share“ gekennzeichnet.</p>
          <p>Wenn Sie eine Seite unseres Internetauftritts aufrufen, die solche Plugins enthält, dann sind diese zunächst deaktiviert. Erst wenn Sie den bereitgestellten Button klicken, werden die Plugins aktiviert. Mit dieser Aktivierung stellen Sie die Verbindung zu Facebook her und erklären Ihre Einwilligung zur Übermittlung von Daten an Facebook. Sind Sie bei Facebook eingeloggt, kann Facebook den Besuch Ihrem dortigen Konto zuordnen. Wenn Sie den jeweiligen Button betätigen, wird die entsprechende Information von Ihrem Browser direkt an Facebook übermittelt und dort gespeichert.</p>
          <p>Zweck und Umfang der Datenerhebung, der weiteren Verarbeitung und Nutzung der Daten durch Facebook sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre entnehmen Sie bitte den Datenschutzhinweisen von Facebook.</p>
          <p>Wenn Sie es nicht möchten, dass Facebook über unseren Internetauftritt Daten über Sie sammelt, müssen Sie sich vor Ihrem Besuch unseres Internetauftritts bei Facebook ausloggen.</p>
      </li>
      <li>
          <p><strong>YouTube</strong> <br/> 
          Wir verwenden auf einigen Internetseiten die Videoplattform YouTube, welche von YouTube LLC, 901 Cherry Ave. San Bruno, CA 94066 in USA betrieben wird. YouTube ist eine Plattform, durch die die Wiedergabe von Audio- und Videodateien ermöglicht wird.</p>
          <p>Wenn Sie eine Seite unseres Internetauftritts aufrufen, stellt der dort eingebundene Player von YouTube eine Verbindung zu YouTube her, um die technische Übertragung des Videos bzw. der Audiodatei sicherzustellen. Bei der Herstellung der Verbindung zu YouTube werden Daten an YouTube übertragen.</p>
          <p>Zweck und Umfang der Datenerhebung, der weiteren Verarbeitung und Nutzung der Daten durch YouTube sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre entnehmen Sie bitte den Datenschutzhinweisen von YouTube.</p>
      </li>
      <li>
        <p><strong>Google Maps</strong> <br/> 
        Diese Seite nutzt über eine API den Kartendienst Google Maps. Anbieter ist die Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.</p>
        <p>Zur Nutzung der Funktionen von Google Maps ist es notwendig, Ihre IP Adresse zu speichern. Diese Informationen werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Der Anbieter dieser Seite hat keinen Einfluss auf diese Datenübertragung.</p>
        <p>Die Nutzung von Google Maps erfolgt im Interesse einer ansprechenden Darstellung unserer Online-Angebote und an einer leichten Auffindbarkeit der von uns auf der Website angegebenen Orte. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.</p>
        <p>Mehr Informationen zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerklärung von Google.</p>
      </li>
    </ul>
    <p>Das Social Plugin bleibt aktiv, bis Sie es deaktivieren oder Ihre Cookies löschen.</p>
    <p>Wenn Sie den Link zu einem Angebot anklicken oder ein Social Plugin aktivieren, kann es sein, dass personenbezogene Daten zu Anbietern in Ländern außerhalb des europäischen Wirtschaftsraums gelangen, die aus der Sicht der europäischen Union („EU“) kein den EU-Standards entsprechendes „angemessenes Schutzniveau“ für die Verarbeitung personenbezogener Daten gewährleisten. Bitte denken Sie an diesen Umstand, bevor Sie einen Link oder ein Social Plugin aktivieren und damit die Übertragung Ihrer Daten auslösen.</p>
    <h2>Onlinepräsenzen in sozialen Medien</h2>
    <p>Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und Plattformen, um mit den dort aktiven Kunden, Interessenten und Nutzern kommunizieren und sie dort über unsere Leistungen informieren zu können.</p>
    <p>Wir weisen darauf hin, dass dabei Daten der Nutzer außerhalb des Raumes der Europäischen Union verarbeitet werden können. Hierdurch können sich für die Nutzer Risiken ergeben, weil so z.B. die Durchsetzung der Rechte der Nutzer erschwert werden könnte. Im Hinblick auf US-Anbieter die unter dem Privacy-Shield zertifiziert sind, weisen wir darauf hin, dass sie sich damit verpflichten, die Datenschutzstandards der EU einzuhalten.</p>
    <p>Ferner werden die Daten der Nutzer im Regelfall für Marktforschungs- und Werbezwecke verarbeitet. So können z.B. aus dem Nutzungsverhalten und sich daraus ergebenden Interessen der Nutzer Nutzungsprofile erstellt werden. Die Nutzungsprofile können wiederum verwendet werden, um z.B. Werbeanzeigen innerhalb und außerhalb der Plattformen zu schalten, die mutmaßlich den Interessen der Nutzer entsprechen. Zu diesen Zwecken werden im Regelfall Cookies auf den Rechnern der Nutzer gespeichert, in denen das Nutzungsverhalten und die Interessen der Nutzer gespeichert werden. Ferner können in den Nutzungsprofilen auch Daten unabhängig der von den Nutzern verwendeten Geräte gespeichert werden (insbesondere wenn die Nutzer Mitglieder der jeweiligen Plattformen sind und bei diesen eingeloggt sind).</p>
    <p>Für eine detaillierte Darstellung der jeweiligen Verarbeitungen und der Widerspruchsmöglichkeiten (Opt-Out), verweisen wir auf die nachfolgend verlinkten Angaben der Anbieter.</p>
    <p>Auch im Fall von Auskunftsanfragen und der Geltendmachung von Nutzerrechten, weisen wir darauf hin, dass diese am effektivsten bei den Anbietern geltend gemacht werden können. Nur die Anbieter haben jeweils Zugriff auf die Daten der Nutzer und können direkt entsprechende Maßnahmen ergreifen und Auskünfte geben. Sollten Sie dennoch Hilfe benötigen, dann können Sie sich an uns wenden.</p>
    <ul>
      <li><p>Facebook, -Seiten, -Gruppen, (Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland) auf Grundlage einer <a href="https://www.facebook.com/legal/terms/page_controller_addendum" target="_blank">Vereinbarung über gemeinsame Verarbeitung personenbezogener Daten</a> – <a href="https://www.facebook.com/about/privacy/" target="_blank">Datenschutzerklärung</a>, <a href="https://www.facebook.com/legal/terms/information_about_page_insights_data" target="_blank">speziell für Seiten</a>, Opt-Out: <a href="https://www.facebook.com/settings?tab=ads" target="_blank">https://www.facebook.com/settings?tab=ads</a> und <a href="http://www.youronlinechoices.com/" target="_blank">http://www.youronlinechoices.com</a>, <a href="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active" target="_blank">Privacy Shield</a></p></li>
      <li><p>Google/ YouTube (Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA) – <a href="https://policies.google.com/privacy" target="_blank">Datenschutzerklärung</a>, <a href="https://adssettings.google.com/" target="_blank">Opt-Out</a>, <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active" target="_blank">Privacy Shield</a></p></li>
      <li><p>Instagram (Instagram Inc., 1601 Willow Road, Menlo Park, CA, 94025, USA) – <a href="http://instagram.com/about/legal/privacy/" target="_blank">Datenschutzerklärung/ Opt-Out</a></p></li>
      <li><p>LinkedIn (LinkedIn Ireland Unlimited Company Wilton Place, Dublin 2, Irland) – <a href="https://www.linkedin.com/legal/privacy-policy" target="_blank">Datenschutzerklärung</a>, <a href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out" target="_blank">Opt-Out</a>, <a href="https://www.privacyshield.gov/participant?id=a2zt0000000L0UZAA0&status=Active" target="_blank">Privacy Shield</a></p></li>
      <li><p>Xing (XING AG, Dammtorstraße 29-32, 20354 Hamburg, Deutschland) – <a href="https://privacy.xing.com/de/datenschutzerklaerung" target="_blank">Datenschutzerklärung/ Opt-Out</a></p></li>
    </ul>
    <h2>Anonyme Datenerhebung mittels Google Analytics</h2>
    <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Beim Einsatz dieser Analysewerkzeuge können Daten an in den USA gelegenen Server übertragen und dort verarbeitet werden. Bitte beachten Sie hierbei, dass in den USA aus Sicht der Europäischen Union kein den EU-Standards entsprechendes „angemessenes Schutzniveau“ für die Verarbeitung personenbezogener Daten besteht. Dieses Schutzniveau kann jedoch für einzelne Unternehmen durch eine Zertifizierung nach dem „EU-U.S. Privacy Shield“ ersetzt werden. Google ist nach dem EU-U.S. Privacy Shield zertifiziert. Falls Sie nicht möchten, dass wir unter Einsatz des genannten Analysewerkzeuges Informationen über Ihren Besuch auf unseren Webseiten sammeln und auswerten, können Sie jederzeit für die Zukunft widersprechen („Opt-Out“).</p>
    <p>Ihren Widerspruch setzen wir um, indem wir in Ihrem Browser ein Opt-Out Cookie setzen. Dieses Cookie dient nur der Zuordnung Ihres Widerspruchs. Bitte beachten Sie, dass ein Opt-Out Cookie aus technischen Gründen nur in dem Browser wirkt, in dem es gesetzt wurde. Wenn Sie die Cookies löschen oder einen anderen Browser bzw. ein anderes Endgerät verwenden, nehmen Sie das Opt-Out bitte erneut vor.</p>
    <h2>Browser-Add-on zur Deaktivierung von Google Analytics (BETA) –Google Analytics deaktivieren</h2>
    <p>Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.</p>
    <p><strong>Sie können die Webseiten der MAHLE GmbH grundsätzlich anonym besuchen, d.h. ohne uns mitzuteilen, wer Sie sind.</strong></p>
    <h2>Sicherheit</h2>
    <p>Durch organisatorische und technische Maßnahmen sorgen wir dafür, dass Ihre von uns verarbeiteten Daten gegen Manipulationen, Verlust, Zerstörung und gegen den Zugriff unberechtigter Personen geschützt sind. Unsere hierfür getroffenen Sicherheitsmaßnahmen passen wir immer dem aktuellsten Stand der Technik an.</p>
    <h2>Newsletter</h2>
    <p>Wenn Sie einen auf unserer Webseite angebotenen Newsletter abonnieren, werden die bei der Newsletter-Anmeldung angegebenen Daten nur für den Versand des Newsletters verwendet, soweit Sie nicht einer weitergehenden Nutzung zustimmen. Sie können das Abonnement jederzeit über die im Newsletter vorgesehene Abmeldemöglichkeit beenden.</p>
    <h2>Einwilligung</h2>
    <p>Mit der Nutzung unserer Internetseiten stimmen Sie der unter dieser Erklärung beschriebenen Speicherung und Nutzung Ihrer Daten zu. Wir erlauben uns die Datenschutzerklärung anzupassen und zu ergänzen. Es gilt die jeweils aktuell veröffentlichte Datenschutzerklärung.</p>
    <h2>Rechtsgrundlage der Verarbeitung</h2>
    <p>Soweit Sie uns für die Verarbeitung Ihrer personenbezogenen Daten eine Einwilligung erteilt haben, stellt diese die Rechtsgrundlage für die Verarbeitung dar (Art. 6 Abs. 1 Buchst. a DSGVO).</p>
    <p>Für eine Verarbeitung personenbezogener Daten für die Zwecke der Anbahnung oder der Erfüllung eines Vertrages mit Ihnen ist Art. 6 Abs. 1 Buchst. b DSGVO die Rechtsgrundlage.</p>
    <p>Soweit die Verarbeitung Ihrer personenbezogenen Daten zur Erfüllung unserer rechtlichen Verpflichtungen (z.B. zur Aufbewahrung von Daten) erforderlich ist, sind wir dazu gemäß Art. 6 Abs. 1 Buchst. c DSGVO befugt.</p>
    <p>Daneben verarbeiten wir personenbezogene Daten zu Zwecken der Wahrnehmung unserer berechtigten Interessen sowie berechtigter Interessen Dritter gemäß Art. 6 Abs. 1 Buchst. f DSGVO. Die Erhaltung der Funktionsfähigkeit unserer IT-Systeme, aber auch die Vermarktung eigener und fremder Produkte und Dienstleistungen und die rechtlich gebotene Dokumentation von Geschäftskontakten sind solche berechtigten Interessen.</p>
    <h2>Löschung Ihrer personen&shy;bezogenen Daten</h2>
    <p>Wir löschen Ihre personenbezogenen Daten, sobald der Zweck, zu dem wir die Daten erhoben und verarbeitet haben, entfällt. Über diesen Zeitpunkt hinaus findet eine Speicherung nur statt, wenn dies gemäß den Gesetzen, Verordnungen oder sonstigen Rechtsvorschriften der Europäischen Union oder eines Mitgliedstaates der Europäischen Union, denen wir unterliegen, erforderlich ist.</p>
    <h2>Rechte des Betroffenen</h2>
    <p>Wir weisen Sie darauf hin, dass Sie als betroffene Person nach der EU Datenschutzgrundverordnung (EU DSGVO) folgende Rechte im Zusammenhang mit der Verarbeitung Ihrer personenbezogenen Daten haben:</p>
    <ul>
      <li><p>Auskunftsrecht laut Artikel 15 EU DSGVO</p></li>
      <li><p>Recht auf Berichtigung laut Artikel 16 EU DSGVO</p></li>
      <li><p>Recht auf Löschung laut Artikel 17 EU DSGVO</p></li>
      <li><p>Recht auf Einschränkung der Verarbeitung laut Artikel 18 EU DSGVO</p></li>
      <li><p>Datenübertragbarkeit laut Artikel 20 EU DSGVO</p></li>
    </ul>
    <p>Haben Sie in die Verarbeitung Ihrer personenbezogenen Daten durch uns eingewilligt, steht es Ihnen gemäß Artikel 21 EU-DSGVO jederzeit frei, Ihre Einwilligung in die Erhebung, Verarbeitung/Speicherung und Nutzung Ihrer personenbezogenen Daten zu widerrufen.</p>
    <p>Die Rechtmäßigkeit der Verarbeitung Ihrer personenbezogenen Daten bis zu einem Widerruf wird durch den Widerruf nicht berührt. Ebenso unberührt bleibt eine weitere Verarbeitung dieser Daten aufgrund einer anderen Rechtsgrundlage, etwa zur Erfüllung rechtlicher Verpflichtungen (vgl. Abschnitt „Rechtsgrundlage der Verarbeitung“).</p>
    <h2>Widerspruchs&shy;recht</h2>
    <p><strong>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund von Art. 6 Abs. 1 e) DSGVO (Datenverarbeitung im öffentlichen Interesse) oder Art. 6 Abs. 1 f) DSGVO (Datenverarbeitung auf der Grundlage einer Interessenabwägung) erfolgt, Widerspruch einzulegen. Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nur weiter verarbeiten, soweit wir dafür zwingende berechtigte Gründe nachweisen können, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder soweit die Verarbeitung der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen dient.</strong></p>
    <p>Wenn Sie der Ansicht sind, dass die Verarbeitung Ihrer personenbezogenen Daten gegen gesetzliche Vorgaben verstoßen, haben Sie das Recht zur Beschwerde bei einer zuständigen Datenschutzaufsichtsbehörde nach Art. 77 DSGVO.</p>
    <h2>Ansprechpartner</h2>
    <p>Falls Sie Fragen zum Datenschutz bei MAHLE haben oder Ihre Auskunftsrechte oder Erklärungen als Betroffener nutzen möchten, wenden Sie sich bitte an den Datenschutzbeauftragten unseres Unternehmens. Sie erreichen ihn über die offizielle Anschrift der MAHLE GmbH oder unter der E&#8209;Mail-Adresse: <a href="mailto:datenschutz@mahle.com">datenschutz@mahle.com</a></p>
    '
}


---

{% import "data/"+lang+"/header.html" as header %}
{% import "data/"+lang+"/menu.html" as menu %}
{% import "data/"+lang+"/footer.html" as footer %}
{% import "data/"+lang+"/cookie.html" as cookie %}

{% extends "layouts/_layout.html" %}

{% block content %}


{% include "page-templates/_text-page.html" %}


{% endblock %}
