---
styles: ['story-india']
scripts: ['storyIndia']
stop_scroll_on_init: true
lang: 'de'
page_name_de: 'elektrisch-fahren-fuer-alle'
page_name_en: 'electric-driving-for-everyone'

is_story_page: true
sections: [
{id: 'combo-section-1'},
{id: 'combo-section-2'},
{id: 'combo-section-3'},
{id: 'combo-section-4'},
]

title: 'Elektrisch fahren – für alle - MAHLE Geschäftsbericht 2019'
description: 'Andere Länder, andere Perspektiven, neue Chancen. MAHLE startet die Elektrifizierung der populärsten Fortbewegungsmittel in Indien: der Zwei- und Dreiräder.'

og_title: false
og_description: false
og_img: 'social/mahle_gb2019_elektrisch_fahren_fuer_alle.jpg'


hero_block: {
  title: 'Elektrisch <br/> fahren – <br/> für alle',
  sub_title: 'Andere Länder, andere Perspektiven, neue Chancen.',
  img:{
    src: 'story-india/mahle-india-landscape.jpg',
    src_vertical: 'story-india/mahle-india-vertical.jpg',
  },
  right_text: '
  Gestalten gut gelaunt die mobile Zukunft: Raj Kalra, President MAHLE India, und Govindarajan Narayanan, Standortleiter MAHLE Electric Drives India Coimbatore, freuen sich auf die Chancen, die sich aus der Elektrifizierung der Zwei- und Dreiräder in Indien ergeben.
  '
}

combo_section_a: {
  mode: 'combo-section--a js-india-scene-a',
  left_col_mode: 'col-6 col-lg-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-push-1 col-lg-push-0 col-md-11 col-sm-12  col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--a',
  content: {
    left_side:{
      caption: '
      Udayarani Radhakrishnan ist Teamleiterin Einkauf am Standort Coimbatore und pendelt die zirka zehn Kilometer lange Strecke zur Arbeit noch mit einem konventionellen Zweirad.
      ',
      first_img:{
        src: 'story-india/story-a/a-img-1.jpg',
        alt: 'story 1'
      },
      second_img:{
        src: 'story-india/story-a/a-img-2.jpg',
        alt: 'story 2'
      },
    },
    right_side:{
      head_1: '
      MAHLE STARTET DIE ELEKTRIFIZIERUNG DER POPULÄRSTEN FORT&shy;BEWEGUNGSMITTEL IN INDIEN: DER ZWEI- UND DREIRÄDER.
      ',
      head_2: '',
      text: '
      In einem der bevölkerungsreichsten Länder der Erde bewegen sich 1,3 Milliarden Menschen fort. Während man in Europa beim Stichwort „fortbewegen“ sofort an vier Räder denkt, ist in Indien ein anderes Bild vorherrschend. Der Subkontinent ist der weltweit größte Zweiradhersteller. Pro Jahr verlassen 22 Millionen neue Zweiräder die Produktionshallen und füllen die indischen Straßen. Laut, knatternd, röhrend, allesamt angetrieben durch den Verbrennungsmotor. Das Zweirad bewegt das ganze Land. Vom Lastentransport bis zum Ausflug einer vierköpfigen Familie. Mittendrin die vielen, jungen Menschen, die das Gesellschaftsbild dominieren. Sie sind in Aufbruchsstimmung, wollen unabhängiger sein, weiterkommen, Neues ausprobieren – auch mit der E&#8209;Mobilität. MAHLE Electric Drives India ist der Partner der ersten Stunde, um ihnen diesen Weg zu ebnen. Willkommen in Coimbatore in Indien, bei einem euphorischen Team, das eine ganz besondere Chance ergreift.
      '
    },
  }
}

combo_section_b: {
  mode: 'combo-section--b combo-section--full-pb js-india-scene-b',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-sm-12',
  article_mode: 'combo-article--b',
  content: {
    left_side:{
      caption: '
      Eine junge und motivierte Mannschaft entwickelt und fertigt am Standort im s&uuml;dindischen Coimbatore hochwertige Traktionsmotoren für E&#8209;Scooter und Tuk Tuks.
      ',
      first_img:{
        src: 'story-india/story-b/b-img.jpg',
        alt: 'story 1'
      },
    },
    right_side:{
      head_1: 'Auf zum Aufbruch',
      head_2: '
      <strong>Nöt-nöt-nöt-nöt-nöt.</strong> Wer in den indischen Straßen unterwegs ist, wird von dem Geräusch Hunderter von Hupen begleitet. Es sind nicht die Autos, die sich oft nur im Schritttempo durch den dichten Verkehr schieben, sondern die unzähligen Zwei- und Dreiräder, die jeden freien Platz zwischen den Autos f&uuml;llen – <strong>nöt-nöt</strong> –, um diesen mit einem Hupen und einem Schwenk gleich wieder zu verlassen.
        ',
      text: '
      <strong>Nöt-nöt</strong>. Auch Udayarani Radhakrishnan hupt. Nach zehn Kilometern Fahrt quer durch die Stadt verlässt sie an diesem Morgen die &uuml;berf&uuml;llte Hauptstraße und biegt ab in einen von gr&uuml;nen Bäumen umsäumten Weg. Am Wegesrand schlafen Hunde, Händler bieten hinter Verkaufsständen Gew&uuml;rze und Kokosn&uuml;sse an, Kinder rennen um ihre M&uuml;tter herum, zupfen an den bunten Saris. Staub wird aufgewirbelt. Udayarani biegt noch einmal ab und hält auf einem Parkplatz, auf dem bereits viele Zweiräder stehen. Den Roller abgestellt, f&uuml;hrt Udayaranis Weg entlang einer Mauer auf ein großes Tor zu, durch das sie nun ein reichlich begr&uuml;ntes Gelände betritt. Festen Schrittes geht es geradewegs auf eines von zwei neuen Gebäuden zu. Der Himmel ist strahlend blau, aber ein anderes Blau fällt sofort ins Auge. Oben, auf dem Dach des ersten Gebäudes, stehen sie, die f&uuml;nf blauen Buchstaben, die den großen Umbruch der Mobilität in Indien begleiten: MAHLE.
      ',
      text_2: '
      Der Tag kann beginnen am neuen Standort von MAHLE Electric Drives India. Udayarani marschiert am ersten Gebäude vorbei, aus dem leise Maschinengeräusche zu vernehmen sind, und geht zum nächsten – ins B&uuml;ro im Hauptgebäude. Sie ist Ingenieurin, Teamleaderin und zuständig f&uuml;r den Einkauf. Angefangen hat sie beim ehemaligen Joint Venture MAHLE Letrika Roots India, bei dem MAHLE 2019 seine Anteile von 50 Prozent auf 90 Prozent erhöht hat. Seit vier Jahren ist sie dabei. Und heute mehr als stolz auf ihre neuen Aufgaben: geeignete Zulieferer zu finden, die den hohen Qualitätsstandards und Werten von MAHLE gerecht werden, um die Produkte der Zukunft zu produzieren: elektrische Traktionsmotoren und Steuergeräte f&uuml;r Zwei- und Dreiräder. Denn was bislang aus Europa von MAHLE Electric Drives Slowenia zugeliefert wurde, soll k&uuml;nftig gänzlich in Indien entwickelt und produziert werden. Während Udayarani ihren Platz im B&uuml;ro einnimmt, treffen wir auf zwei zufriedene Männer vor dem Haupteingang, die die Chance f&uuml;r MAHLE in Indien erkannt und entschieden mit vorangetrieben haben: Raj Kalra, President MAHLE India, und Govindarajan Narayanan, Standortleiter MAHLE Electric Drives India.
        '
    },
  }
}

dropdown_1: {
  head_text: 'Sidefacts',
  title: 'E&#8209;Mobilität in Indien',
  btn_text: 'FÖRDERPROGRAMM FAME II',
  content: '
  Mit der Fortsetzung des Förderprogramms FAME (Faster Adoption and Manufacturing of Hybrid & Electric Vehicles) macht Indien mit FAME II die E&#8209;Mobilität ganzheitlich weiter attraktiv: von Subventionen für E&#8209;Busse &uuml;ber Prämien beim Kauf von E&#8209;Fahrzeugen bis zur Senkung der Mehrwertsteuer für E&#8209;Fahrzeuge und f&uuml;r Ladestationen.
  '
}

combo_section_c: {
  mode: 'combo-section--c combo-section--full-pt combo-section--full-pb js-india-scene-c',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-11 col-sm-12  col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--c',
  content: {
    left_side:{
      caption: '
      Jedes Jahr verlassen rund 22 Millionen Zweiräder die Produktionshallen und füllen die Straßen Indiens. Die Zweiräder der Zukunft sind in Indien elektrisch.
      ',
      first_img:{
        src: 'story-india/story-c/c-img-1.jpg',
        alt: 'story 1'
      },
      second_img:{
        src: 'story-india/story-c/c-img-2.jpg',
        alt: 'story 2'
      },
      quote:{
        text: '
        Der Touchscreen, die Konnektivität, das stylische Design und lokal keine Emissionen. Wir alle wollen den E&#8209;Scooter fahren.
        ',
        author: 'UDAYARANI RADHAKRISHNAN,',
        position: 'Ingenieurin MAHLE Electric Drives India'
      },
    },
    right_side:{
      head_1: 'Die neue Energie im Land',
      head_2: '
      „MAHLE ist zur richtigen Zeit am richtigen Ort – und liefert das richtige Produkt“, beginnt Raj. Und „richtig“ bedeutet zu dieser Stunde in Indien vor allem eines: elektrisch. Raj zeigt auf ein neues Zweirad neben ihm. Ganz in Weiß, mit ausgefeiltem Design und statt Tacho mit einem makellosen Screen. Ein E&#8209;Scooter. Im Inneren verborgen: der elektrische Traktionsmotor und das Steuergerät von MAHLE.
          ',
      text: '
      Wieso dieser E&#8209;Scooter schon sehr bald die indischen Straßen bestimmen wird, können Raj und Govindarajan sehr gut erzählen, denn sie kennen ihr Land. Von der Stimmung auf den Straßen bis hin zu den Zielen der Politik. „Es ist wichtig, die aktuelle Situation in Indien erst einmal zu begreifen“, beginnt Raj, „wir haben sehr, sehr viele jungen Menschen hier. Die meisten sind unter 30 Jahren. Und diese junge Generation ist im Wandel. Das Einkommen steigt. Sie wollen weiterkommen, moderner und auch nachhaltiger leben. Sie lieben ihr Smartphone, wollen sich mit allen Devices verbinden und die neuen Features nutzen. Mit dem E&#8209;Scooter können sie sehen, wo sie waren, wie viel sie am Tag gefahren sind. Alles ist elektronisch und miteinander verkn&uuml;pft. Die jungen Menschen wollen das.“ Govindarajan nickt kräftig und setzt gleich weiter fort: „Dann gibt es den Druck, dringend etwas gegen die Luftverschmutzung zu tun, insbesondere in den Städten. 15 Städte in Indien gehören zu den weltweit am meisten belasteten, was die Umweltverschmutzung betrifft. Aus gutem Grund unterst&uuml;tzt die indische Regierung die E&#8209;Mobilität. Es gibt ein umfassendes Förderprogramm, um die alternative Antriebstechnologie f&uuml;r alle attraktiver und zugänglicher zu machen.“
        ',
      text_big: '
      Mit der Elektrifizierung der Zwei- und Dreiräder in Indien adressiert MAHLE Electric Drives India genau das richtige Fortbewegungsmittel
      ',
      text_2: '
      Raj macht es plakativ: „Hinsichtlich der <span class="no-wrap">CO<sub>2</sub></span>-Emissionen denken alle erst mal an Nutzfahrzeuge und das Auto. Aber wenn in Indien jährlich 22 Millionen neue Zweiräder mit dem Verbrennungsmotor fahren, dann haben die einen beträchtlichen Anteil am Ausstoß von <span class="no-wrap">CO<sub>2</sub></span>.“ Gleichzeitig bietet der Fokus auf das elektrische Zwei- und Dreirad zu Beginn auch die effektivste und realistischste Chance, Indien in der E&#8209;Mobilität voranzubringen. Denn auch wenn sich mit wachsendem Wohlstand im Land die Nutzung von Autos vervielfacht hat, stellt das E&#8209;Auto eine noch größere Herausforderung f&uuml;r den indischen Markt dar. Vor allem hinsichtlich der Ladeinfrastruktur. Einen E&#8209;Scooter hingegen kann man mit der bereits vorhandenen Infrastruktur nutzen. Den kann jeder daheim einfach über das Hausstromnetz aufladen.
      ',
      text_3: ''
    },
  }
}

dropdown_2: {
  head_text: 'Sidefacts',
  title: 'MAHLE elektrifiziert die Welt',
  btn_text: '
  MAHLE SETZT SEINE DOPPELSTRATEGIE KONSEQUENT UM UND BAUT SEINE POSITION ALS SYSTEMANBIETER FÜR ALTERNATIVE ANTRIEBSKONZEPTE WEITER AUS
  ',
  content: '
  MAHLE Electric Drives India zählt zum neuen Geschäftsbereich Elektronik und Mechatronik, in der seit 1.&nbsp;Januar 2020 sämtliche Aktivitäten im Bereich der Elektrik und Elektronik gebündelt werden. Die elektrischen Traktionsmotoren sind nur ein Baustein der MAHLE Produktpalette im Bereich E&#8209;Mobilität. Ob Ladesysteme, Leistungselektronik oder Thermomanagement rund um Motor, Batterie und Innenraum – MAHLE deckt das komplette Spektrum ab.
  '
}

combo_section_d: {
  mode: 'combo-section--d combo-section--full-pt combo-section--full-pb js-india-scene-d',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-11 col-sm-12  col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--d',
  content: {
    left_side:{
      quote:{
        text: '
        Die jungen Mitarbeiter brennen dafür, an der Entwicklung und Produktion der Komponenten für E&#8209;Mobilität zu arbeiten. Sie wissen, dass das die Zukunft ist.
          ',
        author: 'RAJ KALRA,',
        position: 'President MAHLE India, auf dem neuen E&#8209;Scooter'
      },
      first_img:{
        src: 'story-india/story-d/d-img-1.jpg',
        alt: 'story 1'
      },
    },
    right_side:{
      head_1: 'Neues Produkt, neues Mindset',
      head_2: '
      Ein gemeinsamer Besuch der neu installierten Produktionslinie. Govindarajan nimmt einen der Traktionsmotoren in die Hand, der die Linie frisch verlassen hat. „Da ist es, unser Alleinstellungsmerkmal. Der Motor ist bemerkenswert effizient, sorgt f&uuml;r eine hohe Reichweite und gleichzeitig viel Fahrspaß. Und er ist trotz hoher qualitativer Ansprüche preiswert.“ Der Produktionsbeginn ist für April 2020 geplant.
      ',
      text_1: '
      Es ist ein Anfang, denn der Aufbau einer lokalen Produktion dauert, insbesondere die Suche nach inländischen Zulieferern. Noch werden Einzelteile aus Europa zugeliefert. Bis September 2020 sollen einige der Schl&uuml;sselkomponenten lokal geliefert werden. Die vollständige Entwicklung und Produktion der Traktionsmotoren vor Ort in Indien machen den Weg frei für ein qualitativ hochwertiges und kostengünstiges Produkt. Denn effiziente E&#8209;Scooter n&uuml;tzen nur, wenn sich die Bevölkerung diese auch leisten kann.
      ',
      text_big_1: '
      Die Expertise von MAHLE, die in dem kleinen Motor steckt, hat bereits das Vertrauen neuer Kunden geweckt.
        ',
      text_2: '
      „Unser erster große Kunde hatte mit den anderen Motoren, die er zuvor getestet hat, einige Probleme. Erst mit unserem war er zufrieden und hat den E&#8209;Scooter danach erfolgreich auf den Markt gebracht.“ Dieser fährt bereits in zwei Städten. Indes kümmern sich neben uns genau diejenigen um die Produktion, die den E&#8209;Scooter auf den Straßen sehen wollen. Die junge, aufstrebende Generation Indiens. Die jungen Mitarbeiterinnen und Mitarbeiter sind stolz, an dieser Zukunftstechnologie mitzuarbeiten.
      ',
      text_big_2: '
      MAHLE liefert dabei nicht nur ein aufregendes Produkt, sondern auch eine Kultur, die das indische Team begeistert.
        ',
      text_3: '
      „Wir genießen die Freiheit, uns aktiv mit einzubringen und auch mitzuentscheiden. Wir haben ein tolles Management, das uns fördert und fortbildet. Die Hierarchien sind flach, die Wege kurz“, lautet der allgemeine Tenor. 
      ',
      text_4: '
      Zurück auf dem Gelände. Im warmen Wind weht eine Flagge, auf der „100 Years“ steht. MAHLE feiert sein Jubiläum. MAHLE Electric Drives India ist noch jung, aber angesichts des ersten erfolgreichen Jahrhunderts des Unternehmens schaut man in Coimbatore zuversichtlich in die Zukunft. „Unsere Vision als Konzern ist es, die künftige Mobilität zu gestalten. Mit dem Standort, den wir hier errichtet haben, leben wir genau das. Denn das Zweirad gehört zu den Straßen der Welt. Und wir hier in Indien wollen das Exzellenz-Zentrum für elektrische Zwei- und Dreiräder werden.“ Während er das sagt, untermauert Govindarajan das Statement mit einer kleinen Nebenbemerkung: „Die Kunden fragten uns voriges Jahr: Wie schnell könnt ihr hier in Coimbatore eine Produktionslinie installieren?“ Lächeln. Sechs Monate später stand die neue Linie. Ein Tempo, in dem es gut weitergehen kann.
      ',
      text_5: '
      Die Sonne neigt sich. Feierabend f&uuml;r Udayarani. Wie war der Tag? „Viel verhandelt.“ Sie lächelt. Auf dem Weg zum Parkplatz kommt sie am E&#8209;Scooter vorbei und erwähnt beiläufig einen weiteren Vorteil: „Für uns Ladies ist der E&#8209;Scooter noch leichter zu handhaben, auch weil er weniger wiegt.“ Dann schwingt sie sich auf ihr Zweirad und fährt los. Die Straßen sind wieder voll. Alles sieht aus wie immer. Aber Udayarani weiß, dass sich das Bild sehr bald ändern wird. Und dass sie daran tatkräftig mitwirkt. F&uuml;r die Chance, eine neue Mobilität in Indien auf den Weg zu bringen – dynamischer, effizienter und nachhaltiger als je zuvor.
      '
    },
    md_content: {
      text_block: {
        text: 'Mehr erfahren über die <br/> MAHLE E&#8209;Mobilität?',
        text_2: 'Lesezeit 5 Minuten',
      },
      modal_link:{
        scroll_block_number: '4',
        text: 'Mehr lesen'
      }
    }
  }
}

teaser: {
  head:{
    title: '
    MAHLE Electric Drives India ist der Partner der ersten Stunde, um Indien den Weg in die E&#8209;Mobilität zu ebnen.
  ',
    sub_title: 'Weitere Stories'
  },
  slider: [
     {
      url: 'gruener-tanken-effizienter-fahren',
      img: 'teaser/e-fuel.jpg',
      alt: 'Grüner tanken – effizienter fahren',
      title: 'Grüner tanken – effizienter fahren',
      text: 'Über die Chance, mit dem Verbrennungsmotor einen wichtige Beitrag zum Klimaschutz zu leisten.'
    },
    {
      url: 'aus-bekannt-wird-besser',
      img: 'teaser/powertrain.jpg',
      alt: 'Aus bekannt – wird besser',
      title: 'Aus bekannt – wird besser',
      text: 'Wie MAHLE eine bewährte Technologie zu einem neuen Antriebsstrangsystem entwickelt.'
    },
    {
      url: 'aus-industrie-4-0-wird-mahle-4-0',
      img: 'teaser/austria.jpg',
      alt: 'Aus Industrie 4.0 – wird MAHLE 4.0',
      title: 'Aus Industrie 4.0 – wird MAHLE 4.0',
      text: 'Wie MAHLE die Digitalisierung intelligent für sich nutzt – und welche Chancen sich daraus für Mitarbeiter und Kunden ergeben.'
    },
    {
      url: 'diverse-mobiltaet-digitale-werkstatt',
      img: 'teaser/italy.jpg',
      alt: 'Diverse Mobilität – digitale Werkstatt',
      title: 'Diverse Mobilität – digitale Werkstatt',
      text: 'Die neue Mobilität ist vielfältig – und herausfordernd in der Wartung und Reparatur. Mit erstklassiger Serviceausrüstung liefert MAHLE den Autowerkstätten die Chance, effizienter denn je zu arbeiten.'
    },
    {
      url: 'ohne-wandel-keine-bewegung',
      img: 'teaser/interview.jpg',
      alt: 'Ohne Wandel – keine Bewegung',
      title: 'Ohne Wandel – keine Bewegung',
      text: 'Dr. Jörg Stratmann und Nathalie Cyrys über Wandel, Innovation, Chancen und Zukunft.'
    },

  ]
}

---

{% import "data/"+lang+"/header.html" as header %}
{% import "data/"+lang+"/menu.html" as menu %}
{% import "data/"+lang+"/footer.html" as footer %}
{% import "data/"+lang+"/cookie.html" as cookie %}
{% import "data/"+lang+"/banner.html" as banner %}

{% extends "layouts/_layout.html" %}

{% block content %}


{% include "page-templates/_story-india.html" %}


{% endblock %}

{% block modals %}
{% include "modals/_india-story-modal.html" %}
{% endblock %}
