---
styles: ['story-e-fuel']
scripts: ['storyEFuel']
stop_scroll_on_init: true
lang: 'de'
page_name_de: 'gruener-tanken-effizienter-fahren'
page_name_en: 'protecting-the-climate-with-greener-fuels'

is_story_page: true
sections: [
{id: 'combo-section-1'},
{id: 'combo-section-2'},
{id: 'combo-section-3'},
{id: 'combo-section-4'},
]

title: 'Grüner tanken – effizienter fahren - MAHLE Geschäftsbericht 2019'
description: 'Über die Chance, mit dem Verbrennungsmotor einen wichtige Beitrag zum Klimaschutz zu leisten.'

og_title: false
og_description: false
og_img: 'social/mahle_gb2019_klima_schuetzen_gruener_tanken.jpg'


hero_block: {
  title: 'Klima schützen, <br/> grüner tanken',
  sub_title: '
  Über die Chance, mit dem Verbrennungsmotor einen wichtigen Beitrag zum Klimaschutz zu leisten.
  ',
  img:{
    src: 'story-e-fuel/hero-landscape.jpg',
    src_vertical: 'story-e-fuel/hero-vertical.jpg',
  },
}

combo_section_n: {
  mode: 'combo-section--n combo-section--full-pb js-austria-scene-n',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12 col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--n',
  content: {
    left_side:{
      caption: '
      One MAHLE: Ein konzern&uuml;bergreifendes und interdisziplinäres Expertenteam hat den Einfluss synthetischer Kraftstoffe auf gängige MAHLE Filtermedien und Motorkomponenten getestet. Das Ergebnis: MAHLE ist E-Fuel-ready! Im Bild v.l.n.r.: André Marhofer, Cornelius Dosch, Dr. Peter Wieske, Michael Dohms und Tobias Neubrand.
      ',
      first_img:{
        src: 'story-e-fuel/story-n/n-img.jpg',
        alt: 'story 1'
      },
    },
    right_side:{
      head_1: '
      Ein gelber Zettel mit der Frage „E-Fuel?“ liegt auf dem Schreibtisch von Cornelius Dosch, Fahrzeugtechnik-Ingenieur, als er 2017 seine Arbeit bei MAHLE in der Vorausentwicklung aufnimmt. Jetzt ist aus der Frage eine starke Antwort geworden: MAHLEs Komponenten sind „E-Fuel-ready“. Eine kleine Botschaft mit großer Wirkung. E&#8209;Fuels – also synthetisch hergestellte Kraftstoffe – werden konventionellen Kraftstoffen beigemischt und f&uuml;hren zur <span class="no-wrap">CO<sub>2</sub></span>-Einsparung.
      ',
      text: '
      Und zwar in der Bestandsflotte. Also genau dort, wo es derzeit drauf ankommt: im Großteil der Fahrzeuge mit Verbrennungsmotor, der heute und auch noch morgen auf den Straßen fährt. Aber wie kann der Verbrennungsmotor mit E&#8209;Fuels schon heute noch umweltfreundlicher werden? Und welches Potenzial steckt in diesen Kraftstoffen f&uuml;r die Zukunft? Um die Antworten zu finden, hat sich ein konzern&uuml;bergreifendes und interdisziplinäres Team von MAHLE auf den Weg gemacht. Ein Blick auf die wichtigsten Erkenntnisse.
      ',

    },
  }
}

scheme_first: {
  title: 'Der E&#8209;Fuel-Kreislauf',
  sub_title: 'NAHEZU <span class="no-wrap">CO<sub>2</sub></span>-NEUTRAL',
  sub_text: '
  Synthetische Kraftstoffe können den Verbrennungsmotor nahezu <span class="no-wrap">CO<sub>2</sub></span>-neutral machen und einen großen Beitrag zur Begrenzung der Erderwärmung leisten. Daf&uuml;r braucht es einen perfekten Kreislauf.
  ',

  left_block: {
    img: {
      src: 'story-e-fuel/scheme-1-img.svg',
      src_vertical: 'story-e-fuel/scheme-1-img-vertical.svg'
    }
  },
  right_list: [
  {
    head: '<span>1</span> Schritt',
    text: '
    Mit Strom aus erneuerbaren Energien wird in einem elektrolytischen Verfahren Wasserstoff gewonnen.
    '
  },
  {
    head: '<span>2</span> Schritt',
    text: '
    Der Wasserstoff wird mit <span class="no-wrap">CO<sub>2</sub></span>, z. B. aus der Zementindustrie, später aus der Atmosphäre, in synthetischen, fl&uuml;ssigen Treibstoff umgewandelt.
    '
  },
  {
    head: '<span>3</span> Schritt',
    text: '
    Das beim Fahren entstehende <span class="no-wrap">CO<sub>2</sub></span> entspricht der Menge an <span class="no-wrap">CO<sub>2</sub></span> die vorher bei der Herstellung aus der Atmosphäre gebunden wurde.
    '
  }
  ],
}

combo_section_o: {
  mode: 'combo-section--o combo-section--full-pt combo-section--full-pb js-austria-scene-o',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12',
  article_mode: 'combo-article--o',
  content: {
    left_side:{
      number: '1',
      quote:{
        text: '
        E&#8209;Fuels sind der größte Hebel, um auch in der Bestandsflotte <span class="no-wrap">CO<sub>2</sub></span> einzusparen. Sie stellen damit eine wichtige Ergänzung zur E&#8209;Mobilität dar, um die <span class="no-wrap">CO<sub>2</sub></span>-Ziele innerhalb des Verkehrssektors zu erreichen.
        ',
        author: 'DR. PETER WIESKE,',
        position: 'MAHLE Vorausentwicklung Stuttgart, Deutschland'
      },
    },
    right_side:{
      head_1: 'Neuer Fokus',
      head_2: '
      Sind Autos mit Verbrennungsmotor automatisch nicht mehr zeitgemäß? Ist elektrisches Fahren automatisch besser und sauberer? Wie sieht es mit dem <span class="no-wrap">CO<sub>2</sub></span>-Footprint aus – mit Blick auf den Lebenszyklus des Fahrzeugs? Viele Fragen; sie sorgfältig zu beantworten f&uuml;hrt in eine hohe technische Komplexität.
      ',
      text_1: '
      Tatsache ist: Die Diskussion um den richtigen Antrieb hat in den vergangenen Jahren zu einer Verunsicherung vor allem bei den Verbrauchern gef&uuml;hrt. Fest steht zudem: Der Anteil von E&#8209;Fahrzeugen in vielen Regionen der Welt wird stetig ansteigen. Gleichzeitig werden Fahrzeuge mit Verbrennungsmotor weiterhin f&uuml;r viele Anwendungen die richtige Wahl sein und viele Menschen, G&uuml;ter und Waren zuverlässig, effizient und sauber ans Ziel bringen.
      ',
      text_big_1: '
      Ob konventionelle oder alternative Antriebe – MAHLE widmet sich beiden gleichermaßen.
      ',
      text_2: '
      Dabei verfährt das Unternehmen seit nunmehr 100 Jahren nach einer einfachen Maxime: f&uuml;r komplexe Fragen keine vorschnellen Antworten geben, nicht das scheinbar Offensichtliche &uuml;bereilt annehmen, sondern den Dingen auf den Grund gehen und die Themen systemisch betrachten. Denn nur mit einem technologieoffenen Ansatz, der auf wissenschaftlichen Fakten basiert, lassen sich alle Möglichkeiten ausschöpfen, Emissionen im Straßenverkehr effektiv zu senken. Heute gilt diese Philosophie mehr denn je. So ist MAHLE weiterhin auch vom Potenzial der Verbrennungsmotoren überzeugt und schöpft dieses Potenzial auch in Zukunft weiter aus. Dabei schauen die Entwickler nicht nur auf den Auspuff, sondern setzen den Fokus bereits viel fr&uuml;her. Dazu hat ein bereichs&uuml;bergreifendes Team bei MAHLE den Einfluss synthetischer Kraftstoffe auf gängige MAHLE Filtermedien und Motorenkomponenten getestet. Einerseits auf dem Motorenpr&uuml;fstand. Andererseits im Feld, also direkt auf der Straße und in Zusammenarbeit mit einem deutschen Automobilhersteller im Premiumsegment. Die Resultate sind vielversprechend: Denn die getesteten Motorkomponenten und Filtermedien arbeiten unter Beimischung bestimmter E&#8209;Fuels so effizient und so effektiv wie mit rein konventionellen Kraftstoffen. Einzig auf die richtige Mischung kommt es an. Das ist eine gute Nachricht f&uuml;r das Klima, f&uuml;r alle Autofahrer und den Automobilstandort Deutschland.
      '
    },
  }
}

scheme_second: {
  title: 'Synthetischer Kraftstoff vs. fossiler Kraftstoff',
  sub_title: 'Ergänzung zur Elektrifizierung',
  sub_text: '
  Mithilfe von E&#8209;Fuels aus erneuerbaren Energien kann die Geschwindigkeit, mit der der Verkehrssektor defossilisiert wird, in Ergänzung zur Elektrifizierung verdoppelt werden.
  ',

  left_block: {
    img: {
      src: 'story-e-fuel/scheme-2-left-img.svg',
    },
    text: '
    100% fossiler Kraftstoff: <br/> 336 g <span class="no-wrap">CO<sub>2</sub></span> / kWh&#8205;<sub>th</sub> <br/> (Kilowattstunde thermischer Energie)
    '
  },
  right_block: {
    img: {
      src: 'story-e-fuel/scheme-2-right-img.svg',
    },
    text: '
    100% synthetischer Kraftstoff: <br/> 75 g <span class="no-wrap">CO<sub>2</sub></span> / kWh&#8205;<sub>th</sub> <br/> (Kilowattstunde thermischer Energie)
    '
  },
}

combo_section_p: {
  mode: 'combo-section--p combo-section--full-pt js-austria-scene-p',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12',
  article_mode: 'combo-article--p',
  content: {
    left_side:{
      number: '2',
      quote:{
        text: '
        E&#8209;Fuels sind ideal daf&uuml;r geeignet, rohölbasierte Produkte zu ersetzen. Kurz- und mittelfristig in der Automobilindustrie, langfristig auch in anderen Bereichen wie zum Beispiel im Chemiesektor.
        ',
        author: 'CORNELIUS DOSCH,',
        position: 'MAHLE Vorausentwicklung, Stuttgart'
      },
    },
    right_side:{
      head_1: 'Neue Kraftstoffe',
      head_2: '
      Der große Teil der bestehenden Fahrzeugflotte auf den Straßen fährt heute mit fossilen Kraftstoffen – rohölbasierte Produkte, aus der Erde gefördert. Synthetische Kraftstoffe bauen auf folgender Idee auf: Aus erneuerbaren Energien wie Wind- oder Sonnenenergie wird aus Wasser zunächst Wasserstoff produziert – und anschließend mit <span class="no-wrap">CO<sub>2</sub></span> in synthetischen, fl&uuml;ssigen Treibstoff verwandelt. Die dabei gebundene Menge an <span class="no-wrap">CO<sub>2</sub></span> entspricht der Menge, die das Fahrzeug bei der Verbrennung mit diesem Kraftstoff emittiert. Durch diesen Kreislauf wird das E&#8209;Fuel <span class="no-wrap">CO<sub>2</sub></span>-neutral.
      ',

      text_big_1: '
      Die gute Nachricht für den Autofahrer: MAHLE ist E-Fuel-ready.
      ',
      text_1: '
      Dabei gibt es viele unterschiedliche Arten von alternativen Kraftstoffen aus regenerativen Quellen, und grundsätzlich bieten sie ein hohes Potenzial zur Senkung von <span class="no-wrap">CO<sub>2</sub></span>-Emissionen. Unkritisch ist aus Sicht von MAHLE die erste Generation von E&#8209;Fuels, bei der von einer Normkonformität entsprechend den heutigen Kraftstoffen auszugehen ist. Zwei vielversprechende mögliche E&#8209;Fuels der zweiten Generation, die MAHLE getestet hat, sind Oxymethylenether (OME) f&uuml;r Dieselkraftstoffe und Dimethylcarbonat (DMC) als Beimischung zu Ottokraftstoffen. Das MAHLE Team hat dabei untersucht, wie effektiv und beständig die Komponenten und Materialien noch arbeiten, wenn diese E&#8209;Fuels den konventionellen Kraftstoffen beigemischt werden. Die Ergebnisse können sich sehen lassen: MAHLE Motorkomponenten und Filter funktionieren auch dann noch einwandfrei, wenn bis zu 20 Prozent der getesteten synthetischen Kraftstoffe mit herkömmlichem Kraftstoff gemischt werden. Damit ist technisch heute schon mehr möglich, als es die Kraftstoffnorm zulässt. Die gute Nachricht f&uuml;r den Autofahrer: <strong>MAHLE ist E-Fuel-ready</strong>.
      '
    },
    md_content: {
      text_block: {
        text: 'Mehr erfahren über <br/> MAHLE E&#8209;Fuels?',
        text_2: 'Lesezeit 2 Minuten',
      },
      modal_link:{
        text: 'Mehr lesen'
      }
    }
  }
}

combo_section_q: {
  mode: 'combo-section--q combo-section--full-pb js-austria-scene-q',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12',
  article_mode: 'combo-article--q',
  content: {
    left_side:{
      number: '3',
    },
    right_side:{
      head_1: 'Bereithalten',
      head_2: '
      Mit seinen Tests hat MAHLE gezeigt, dass E&#8209;Fuels eine starke Ergänzung zur E&#8209;Mobilität und ein weiterer Meilenstein f&uuml;r eine umweltfreundlichere Mobilität f&uuml;r alle sind.
        ',
      text_1: '
      Doch bis Autofahrer diese neuen Kraftstoffe an den Tankstellen kaufen können, wird noch einige Zeit vergehen. Denn eine Vielzahl an Themen muss hier ber&uuml;cksichtigt werden, wie etwa Wirtschaftlichkeitsaspekte, Investitionen in Produktionsanlagen, Regulierung der Kraftstoffnormen oder <span class="no-wrap">CO<sub>2</sub></span>-Gesetzgebungen. Bis es so weit ist, fokussiert sich MAHLE auf seine Stärken: mit Know-how, Ingenieurskunst, Beharrlichkeit und Geduld kontinuierlich seine Produkte weiter zu optimieren. MAHLE hat aufgezeigt: Dank E&#8209;Fuels sind Potenziale da – f&uuml;r eine weitere Optimierung des Verbrennungsmotors und damit f&uuml;r die weitere Senkung von <span class="no-wrap">CO<sub>2</sub></span>-Emissionen im Straßenverkehr. Höchste Zeit, sie zu heben! MAHLE hat hier – einmal mehr – vorgelegt. Jetzt m&uuml;ssen die anderen mitziehen.
      '
    },
  }
}

teaser: {
  head:{
    title: '
    MAHLE ist weiterhin vom Potenzial der Verbrennungsmotoren überzeugt und schöpft dieses Potenzial auch in Zukunft weiter aus.
    ',
    sub_title: 'Weitere Stories'
  },
  slider: [
    {
      url: 'aus-bekannt-wird-besser',
      img: 'teaser/powertrain.jpg',
      alt: 'Aus bekannt – wird besser',
      title: 'Aus bekannt – wird besser',
      text: 'Wie MAHLE eine bewährte Technologie zu einem neuen Antriebsstrangsystem entwickelt.'
    },
    {
      url: 'aus-industrie-4-0-wird-mahle-4-0',
      img: 'teaser/austria.jpg',
      alt: 'Aus Industrie 4.0 – wird MAHLE 4.0',
      title: 'Aus Industrie 4.0 – wird MAHLE 4.0',
      text: 'Wie MAHLE die Digitalisierung intelligent für sich nutzt – und welche Chancen sich daraus für Mitarbeiter und Kunden ergeben.'
    },
    {
      url: 'diverse-mobiltaet-digitale-werkstatt',
      img: 'teaser/italy.jpg',
      alt: 'Diverse Mobilität – digitale Werkstatt',
      title: 'Diverse Mobilität – digitale Werkstatt',
      text: 'Die neue Mobilität ist vielfältig – und herausfordernd in der Wartung und Reparatur. Mit erstklassiger Serviceausrüstung liefert MAHLE den Autowerkstätten die Chance, effizienter denn je zu arbeiten.'
    },
    {
      url: 'elektrisch-fahren-fuer-alle',
      img: 'teaser/india.jpg',
      alt: 'Elektrisch fahren – für alle',
      title: 'Elektrisch fahren – für alle',
      text: 'Andere Länder, andere Perspektiven, neue Chancen. MAHLE startet die Elektrifizierung der populärsten Fortbewegungsmittel in Indien: der Zwei- und Dreiräder..'
    },
    {
      url: 'ohne-wandel-keine-bewegung',
      img: 'teaser/interview.jpg',
      alt: 'Ohne Wandel – keine Bewegung',
      title: 'Ohne Wandel – keine Bewegung',
      text: 'Dr. Jörg Stratmann und Nathalie Cyrys über Wandel, Innovation, Chancen und Zukunft.'
    },

  ]
}

---

{% import "data/"+lang+"/header.html" as header %}
{% import "data/"+lang+"/menu.html" as menu %}
{% import "data/"+lang+"/footer.html" as footer %}
{% import "data/"+lang+"/cookie.html" as cookie %}
{% import "data/"+lang+"/banner.html" as banner %}

{% extends "layouts/_layout.html" %}

{% block content %}


{% include "page-templates/_story-e-fuel.html" %}


{% endblock %}

{% block modals %}
{% include "modals/_e-fuel-story-modal.html" %}
{% endblock %}
