---
styles: ['text-page']
scripts: ['textPage']
stop_scroll_on_init: false
lang: 'de'
page_name_de: 'impressum'
page_name_en: 'imprint'

hide_banner: true

title: 'Impressum - MAHLE Geschäftsbericht 2019'
description: 'Imprint - MAHLE Annual Report 2019'

og_title: false
og_description: false
og_img: 'social/mahle_gb2019_home.jpg'


article: {
  title: 'Impressum',
  content: '
    <h2>Anbieter</h2>
    <p>
      MAHLE GmbH <br/>
      Pragstraße 26 – 46 <br/>
      70376 Stuttgart/Deutschland <br/> 
      Telefon +49 711 501-0 <br/> 
      Mail: <a href="mailto:info@mahle.com">info@mahle.com</a>
    </p>
    <p>Geschäftsführung: Dr. Jörg Stratmann (Vorsitzender), Georg Dietz, Bernd Eckl, Wilhelm Emperhoff, Anke Felder, Michael Frick, Martin Weidlich</p>
    <p>Registergericht: Amtsgericht Stuttgart HRB 638<br/>
    Umsatzsteueridentnummer UIN: DE147848147</p>
    <h2>Links zu Seiten Dritter</h2>
    <p>Die Webseiten der MAHLE GmbH enthalten Links zu Webseiten, die von Dritten betrieben werden. Die MAHLE GmbH macht sich die durch Links erreichbaren Seiten Dritter nicht zu eigen und ist für deren Inhalte nicht verantwortlich.</p>
    <p>Die mit &#174; gekennzeichneten Begriffe sind in Deutschland und weiteren Ländern registriert.</p>
    '
}


---

{% import "data/"+lang+"/header.html" as header %}
{% import "data/"+lang+"/menu.html" as menu %}
{% import "data/"+lang+"/footer.html" as footer %}
{% import "data/"+lang+"/cookie.html" as cookie %}

{% extends "layouts/_layout.html" %}

{% block content %}


{% include "page-templates/_text-page.html" %}


{% endblock %}


