<div class="circle-number">
  <button class="circle-number__circle js-tooltip-button">{{ number }}</button>
  <div class="circle-number__tooltip js-tooltip">
    {% include "components/_simple-tooltip.html" %}
  </div>
</div>
