<a href="{{data.global.link_url}}{{lang}}/{{item.url}}" class="info-box">
  <span class="info-box__img{%if item.img_mod%} info-box__img_{{item.img_mod}}{%endif%}">
    <img src="{{data.global.src_img}}{{item.img}}" alt="{{item.alt}}" data-object-fit="cover"/>
  </span>
  <span class="info-box__textual">
    <h3 class="info-box__headline teaser-headline">{{item.title|safe}}</h3>
    <span class="info-box__text teaser-text">{{item.text|safe}}</span>
  </span>
  <span class="info-box__icon">{{mixins.icon('arrow')}}</span>
</a>
