<!-- <nav class="lang-switcher{% if lang_switcher_mod %} lang-switcher_{{ lang_switcher_mod }}{% endif %}">
  <a href="{{ data.global.link_url }}/{{ title }}{{ request.url }}" class="lang-switcher__link{% if title == 'de' %} is-active{% endif %}">DE</a>
  <a href="{{ data.global.link_url }}/{{ title }}{{ request.url }}" class="lang-switcher__link{% if title == 'en' %} is-active{% endif %}">EN</a>
</nav> -->
{% set active_de = true %}
{% if lang == 'en' %}
{% set active_de = false %}
{% endif %}

<nav class="lang-switcher{% if lang_switcher_mod %} lang-switcher_{{ lang_switcher_mod }}{% endif %}">
  <a href="{{ data.global.link_url }}de/{{ page_name_de }}" class="lang-switcher__link{% if active_de == true %} is-active{% endif %}">DE</a>
  <a href="{{ data.global.link_url }}en/{{ page_name_en }}" class="lang-switcher__link{% if active_de != true %} is-active{% endif %}">EN</a>
</nav>
