<a {% if menuLinkBoxOutherLink == true %} href="{{ item.url }}" {% else %}
  href="{{ data.global.link_url }}{{lang}}/{{ item.url }}" {% endif %}

  {% if menuLinkBoxOutherLink == true %} target="_blank" {% endif %}
  class="link-box{% if item.layout %} link-box_{{ item.layout }}{% endif %}">
  <span class="link-box__container">
    {% if item.img %}
    <span class="link-box__img">
      <img src="{{ data.global.src_img }}{{ item.img }}" alt="{{ item.alt }}" data-object-fit="cover" />
    </span>
    {% endif %}
    <span class="link-box__textual">
      <h3 class="link-box__title">{{ item.title | safe }}</h3>
      {% if item.description %}
      <span class="link-box__description">{{ item.description | safe }}</span>
      {% endif %}
      <span class="link-box__icon">{{ mixins.icon('arrow') }}</span>
    </span>
  </span>
</a>