<div class="logo">
  <div class="logo__text">
    <a href="{{ data.global.link_url }}{{lang}}/{{ header.header_link.url }}">
      <img class="logo-text logo-text_lg" src="{{data.global.src_img}}logo/mahle-logo-large.svg" alt="MAHLE"/>
      <img class="logo-text logo-text_sm" src="{{data.global.src_img}}logo/mahle-logo-small.svg" alt="MAHLE"/>
    </a>
  </div>
  <div class="logo__img">
    <a href="{{header.header_other_link.url}}" target="_blank">
      <img class="logo-img" src="{{data.global.src_img}}logo/100-years-color.png" alt="100 years"/>
    </a>
  </div>
</div>
