<div class="page-nav hide-if-menu-open js-page-nav">
  {% if is_story_page == true %}
    {% for item in sections %}
    <button data-target-section="{{ item.id }}" class="page-nav__button js-page-nav-btn{%if loop.index == 1%} is-active{%endif%}"></button>
    {% endfor %}
  {% else %}
    {% for name, item in sections %}
    <button data-target-section="{{ item.id }}" class="page-nav__button js-page-nav-btn{%if loop.index == 1%} is-active{%endif%}"></button>
    {% endfor %}
  {% endif %}

</div>
