{% extends "modals/_story-modal-template.html" %}

{% block storyModalContent %}

<section class="modal-section js-modal-section" data-modal-section="2">
  <div class="combo-article">
    <p class="combo-article__title combo-mb-61 text text--28-sm text--uppercase text--reg">{{combo_section_f.content.right_side.head_1|safe}}</p>
    <P class="combo-article__title combo-mb-30 text text text--28-sm">{{combo_section_f.content.right_side.head_2|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--21">{{combo_section_f.content.right_side.text_1|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--40">{{combo_section_f.content.right_side.text_big_1|safe}}</p>
    <P class="combo-article__text text text--21">{{combo_section_f.content.right_side.text_2|safe}}</p>
  </div>
</section>

<section class="modal-section js-modal-section" data-modal-section="3">
  <div class="combo-article">
    <p class="combo-article__title combo-mb-61 text text--28-sm text--uppercase text--reg">{{combo_section_g.content.right_side.head_1|safe}}</p>
    <P class="combo-article__title combo-mb-30 text text text--28-sm">{{combo_section_g.content.right_side.head_2|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--21">{{combo_section_g.content.right_side.text_1|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--40">{{combo_section_g.content.right_side.text_big_1|safe}}</p>
    <P class="combo-article__text text text--21">{{combo_section_g.content.right_side.text_2|safe}}</p>
  </div>
</section>

<section class="modal-section js-modal-section" data-modal-section="4">
  <div class="combo-article">
    <p class="combo-article__title combo-mb-61 text text--28-sm text--uppercase text--reg">{{combo_section_h.content.right_side.head_1|safe}}</p>
    <P class="combo-article__title combo-mb-30 text text text--28-sm">{{combo_section_h.content.right_side.head_2|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--21">{{combo_section_h.content.right_side.text_1|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--40">{{combo_section_h.content.right_side.text_big_1|safe}}</p>
    <P class="combo-article__text text text--21">{{combo_section_h.content.right_side.text_2|safe}}</p>
  </div>
</section>

<section class="modal-section js-modal-section" data-modal-section="5">
  <div class="combo-article">
    <p class="combo-article__title combo-mb-61 text text--28-sm text--uppercase text--reg">{{combo_section_i.content.right_side.head_1|safe}}</p>
    <P class="combo-article__title combo-mb-30 text text text--28-sm">{{combo_section_i.content.right_side.head_2|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--21">{{combo_section_i.content.right_side.text_1|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--40">{{combo_section_i.content.right_side.text_big_1|safe}}</p>
    <P class="combo-article__text text text--21">{{combo_section_i.content.right_side.text_2|safe}}</p>
  </div>
</section>
{% endblock %}