<div class="modal modal--cookie js-modal js-cookie-modal" data-modal="cookie">
  <div class="modal__overlay js-modal-overlay">
    <div class="modal__content js-modal-content">
      <div class="modal__content-inner js-modal-content-inner">
        <div class="container">
          <div class="row">
            <div class="col col-9 col-md-11 col-sm-10 col-push-1 col-md-push-0 col-sm-push-0">
              <div class="modal__cookie-text">
                {{ cookie.cookie.text |safe }}
              </div>
            </div>
            <div class="col col-1 col-sm-2">
              <div class="modal__close-cookie-wrap">
                <div class="modal__close-cookie js-modal-close">
                  {{mixins.icon('cookie-close')}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>