{% extends "modals/_story-modal-template.html" %}

{% block storyModalContent %}

<section class="modal-section js-modal-section" data-modal-section="2">
  <div class="combo-article">
    <h3 class="combo-article__title text text--28-sm combo-mb-61 text--uppercase text--reg combo-mb-43">{{combo_section_b.content.right_side.head_1|safe}}</h3>
    <P class="combo-article__title text text text--28 combo-mb-30">{{combo_section_b.content.right_side.head_2|safe}}</p>
    <P class="combo-article__text text text--21 combo-mb-22">{{combo_section_b.content.right_side.text|safe}}</p>
    <P class="combo-article__text text text--21">{{combo_section_b.content.right_side.text_2|safe}}</p>
  </div>
</section>

<section class="modal-section js-modal-section" data-modal-section="3">
  <div class="combo-article">
    <P class="combo-article__title combo-mb-61 text text text--28-sm text--uppercase text--reg">{{combo_section_c.content.right_side.head_1|safe}}</p>
    <P class="combo-article__title combo-mb-50 text text--28">{{combo_section_c.content.right_side.head_2|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--21">{{combo_section_c.content.right_side.text|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--40">{{combo_section_c.content.right_side.text_big|safe}}</p>
    <P class="combo-article__text combo-mb-30 text text--21 modal-md-inline-text">{{combo_section_c.content.right_side.text_2|safe}}</p>
    <P class="combo-article__text text text--21 modal-md-inline-text">{{combo_section_c.content.right_side.text_3|safe}}</p>
  </div>
</section>

<section class="modal-section js-modal-section" data-modal-section="4">
  <div class="combo-article">
    <h3 class="combo-article__title combo-mb-61 text text--28-sm text--uppercase text--reg">{{combo_section_d.content.right_side.head_1|safe}}</h3>
    <P class="combo-article__title combo-mb-30 text text text--28-sm">{{combo_section_d.content.right_side.head_2|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--21">{{combo_section_d.content.right_side.text_1|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--40">{{combo_section_d.content.right_side.text_big_1|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--21">{{combo_section_d.content.right_side.text_2|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--40">{{combo_section_d.content.right_side.text_big_2|safe}}</p>
    <P class="combo-article__text combo-mb-43 text text--21">{{combo_section_d.content.right_side.text_3|safe}}</p>
    <P class="combo-article__text combo-mb-43 text text--21">{{combo_section_d.content.right_side.text_4|safe}}</p>
    <P class="combo-article__text text text--21">{{combo_section_d.content.right_side.text_5|safe}}</p>
  </div>
</section>
{% endblock %}