{% extends "modals/_story-modal-template.html" %}

{% block storyModalContent %}

<section class="modal-section js-modal-section" data-modal-section="2">
  <div class="combo-article">
    <p class="combo-article__title text text--28-sm text--uppercase text--reg combo-mb-61">{{combo_section_k.content.right_side.head_1|safe}}</p>
    <P class="combo-article__text text text--28-sm combo-mb-30">{{combo_section_k.content.right_side.head_2|safe}}</p>
    <P class="combo-article__text text text--21 combo-mb-22">{{combo_section_k.content.right_side.text_1|safe}}</p>
    <P class="combo-article__text text text--21">{{combo_section_k.content.right_side.text_2|safe}}</p>
  </div>
</section>

<section class="modal-section js-modal-section" data-modal-section="3">
  <div class="combo-article">
    <p class="combo-article__title text text--28-sm text--uppercase text--reg combo-mb-61">{{combo_section_l.content.right_side.head_1|safe}}</p>
    <P class="combo-article__text text text--28-sm combo-mb-30">{{combo_section_l.content.right_side.head_2|safe}}</p>
    <P class="combo-article__text text text--21 combo-mb-22">{{combo_section_l.content.right_side.text_1|safe}}</p>
    <P class="combo-article__text text text--21">{{combo_section_l.content.right_side.text_2|safe}}</p>
  </div>
</section>

<section class="modal-section js-modal-section" data-modal-section="4">
  <div class="combo-article">
    <p class="combo-article__title text text--28-sm text--uppercase text--reg combo-mb-61">{{combo_section_m.content.right_side.head_1|safe}}</p>
    <P class="combo-article__text text text--28-sm combo-mb-30">{{combo_section_m.content.right_side.head_2|safe}}</p>
    <P class="combo-article__text text text--21 combo-mb-61">{{combo_section_m.content.right_side.text_1|safe}}</p>
    <P class="combo-article__text combo-mb-61 text text--40">{{combo_section_m.content.right_side.text_big_1|safe}}</p>
    <P class="combo-article__text text text--21">{{combo_section_m.content.right_side.text_2|safe}}</p>
  </div>
</section>
{% endblock %}