{% extends "modals/_story-modal-template.html" %}

{% block storyModalContent %}

<section class="modal-section js-modal-section" data-modal-section="2">
  <div class="combo-article">
    <P class="combo-article__text text text--28-sm combo-mb-30">{{combo_section_r.content.right_side.head_1|safe}}</p>
    <P class="combo-article__text text text--21">{{combo_section_r.content.right_side.text_1|safe}}</p>
  </div>
</section>

<section class="modal-section js-modal-section" data-modal-section="3">
  <div class="combo-article">
    <P class="combo-article__text text text--28-sm combo-mb-30">{{combo_section_r.content.right_side.head_1|safe}}</p>
    <P class="combo-article__text text text--21 combo-mb-30">{{combo_section_r.content.right_side.text_1|safe}}</p>
    <P class="combo-article__text text text--21">{{combo_section_r.content.right_side.text_2|safe}}</p>
  </div>
</section>

{% endblock %}