<div class="modal modal--story js-modal js-modal-story" data-modal="story">
  <div class="modal__overlay js-modal-overlay">
    <div class="modal__content js-modal-content">
      <div class="modal__content-inner js-modal-content-inner">
        <div class="modal__close js-modal-close">
          {{mixins.icon('close-modal')}}
        </div>
        <div class="container">
          <div class="row">
            <div class="col col-md-10 col-sm-12 col-md-push-1 col-sm-push-0">
              {% block storyModalContent %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>