{% import "partials/_mixins.html" as mixins %}
{% import "data/data-prod.html" as data %}
<!doctype html>
<html data-lang="{{lang}}">

<head>

  <!-- Google Tag Manager -->
  <script type="text/javascript" async="" src="https://www.google-analytics.com/plugins/ua/linkid.js"></script>
  <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
  <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-TX8PWQC"></script>
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TX8PWQC');
  </script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{data.global.assets}}favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{data.global.assets}}favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{data.global.assets}}favicon/favicon-16x16.png" />
  <link rel="manifest" href="{{data.global.assets}}favicon/site.webmanifest" />
  <link rel="mask-icon" href="{{data.global.assets}}favicon/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />

  <meta property="og:title"
    content="{% if og_title and og_title != false %}{{ og_title }}{% else %}{{  title }}{% endif %}" />
  <meta property="og:description"
    content="{% if og_description and og_description != false %}{{ og_description }}{% else %}{{ description }}{% endif %}" />
  <meta property="og:image" content="{{ data.global.link_url }}img/{{ og_img }}" />

  <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}description{% endif %}" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#fff" />
  <meta name="format-detection" content="telephone=no" />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=latin-ext"
    rel="stylesheet" />
  <link rel="stylesheet" media="all" href="{{data.global.src_css}}app.css" />
  <link rel="stylesheet" media="all" href="{{data.global.src_css}}grid.css" />

  {% for item in styles %}
  <link rel="stylesheet" media="all" href="{{data.global.src_css}}{{ item }}.css" />
  {% endfor %}

  {# {% include "../partials/_media-tags.html" %} #}
</head>

<body>

  {% include "../partials/_header.html" %}
  {% include "../components/_back-to-top.html" %}
  {% include "../components/_page-navigation.html" %}
  {% if hide_banner != true %}
  {% include "containers/_banner.html" %}
  {% endif %}

  {% import "data/"+lang+"/teaser-banner.html" as teaserBanner %}

  {% include "../partials/_grid.html" %}


  <div class="page-scroll-container js-page-scroll-container" data-scroll-container
    data-stop-scroll-on-init="{% if stop_scroll_on_init %}{{ stop_scroll_on_init }}{% endif %}">
    <!-- BEGIN content -->
    <div class="out js-out" data-scroll-section>


      {% block content %}{% endblock %}
      {% include "partials/_footer.html" %}
    </div>
    <!-- END content -->
  </div>


  {% include "modals/_cookie-modal.html" %}
  {% block modals %}
  {% endblock %}


  <script nomodule
    src="https://polyfill.io/v3/polyfill.min.js?features=Object.assign%2CElement.prototype.append%2CNodeList.prototype.forEach%2CCustomEvent%2Csmoothscroll"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{data.global.src_js}}app.js"></script>
  <script type="text/javascript" src="{{data.global.src_js}}grid.js"></script>

  {% for item in scripts %}
  <script type="text/javascript" src="{{data.global.src_js}}{{ item }}.js"></script>
  {% endfor %}
  <!-- END scripts -->

</body>

</html>