.box-simple
  position: relative
  height: 100%
  padding-left: $gutter
  padding-right: $gutter
  overflow: hidden
  +r(1024)
    padding-left: 0
    padding-right: 0
  &:before
    content: ''
    position: absolute
    width: 182%
    height: 300%
    left: 0%
    top: 0%
    margin-left: -20%
    transform-origin: 50% 50%
    transform: skewY(45deg)
    z-index: 0
    background: rgba($cyan-blue, .85)

  &__inner
    position: relative
    z-index: 1
    padding: 120px calc(100%/8*1 - #{$gutter} + 3px) 175px
    +r(1130)
      padding: 78px calc(100%/10*1 - #{$gutter-lg} + 3px) 115px
    +md
      padding: 56px 100%/10*1 212px
    +sm
      padding: 24px 100%/12*1 124px

  &__title
    margin-bottom: 40px
    +r(1024)
      margin-bottom: 40px
    +sm
      margin-bottom: 30px
