.is-ie
  .angled-btn
    background: none
    &:after
      display: none
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 200%
      height: 250%
      transform: translateX(-90%) translateY(20%) rotate(-45deg)
      transform-origin: 0 0
      background-color: $cyan-blue
      z-index: 0

.cta-btn
  display: block
  position: relative
  overflow: hidden
  width: 36px
  height: 36px
  background: $basic-green
  cursor: pointer
  user-select: none
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 500%
    height: 250%
    transform: translateX(-70%) translateY(-10%) rotate(-45deg)
    transform-origin: 0 0
    background-color: $dark-green-hover
    z-index: 0
    transition: transform .3s ease-out
  +hover
    &:before
      transform: translateY(36px) translateX(-50%) rotate(-45deg)
  &__inner
    display: block
    position: relative
    width: 100%
    height: 100%
    z-index: 1
    &:before, &:after
      content: ''
      +vcenter
      background: $white
    &:before
      width: 20px
      height: 2px
    &:after
      width: 2px
      height: 20px
      transition: opacity $easingBig

.btn
  position: relative
  overflow: hidden
  width: 100%
  max-width: 208px
  padding: 12px 34px 9px
  appearance: none
  display: block
  color: #fff
  +r-med
  font-size: 16px
  left: 1.1875
  letter-spacing: 0.8px
  text-decoration: none
  background: $light-blue
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 250%
    height: 500%
    transform: translateX(-70%) translateY(-20%) rotate(-45deg)
    transform-origin: 0 0
    background-color: $dark-blue-hover
    z-index: 0
    transition: transform .3s ease-out
  +hover
    &:before
      transform: translateY(55px) translateX(-15%) rotate(-45deg)
    .icon
      transform: translateX(5px)
  .icon
    width: 30px
    height: 30px
    margin-right: 12px
    fill: currentColor
    transition: transform .3s ease-out
  &__inner
    display: inline-flex
    align-items: center
    position: relative
    z-index: 1

.angled-btn
  $this: &
  position: relative
  width: 60px
  height: 60px
  background: none
  appearance: none
  border: 0
  overflow: hidden
  background: $cyan-blue
  clip-path: polygon(50% 0%, 100% 50%, 100% 100%, 0 100%, 0 0)
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 200%
    height: 250%
    transform: translateX(-130%) translateY(-50%) rotate(-45deg)
    transform-origin: 0 0
    background-color: $dark-blue-hover
    z-index: 0
    transition: transform .3s ease-out
  +hover
    &:after
      transform: translateY(0%) translateX(-60%) rotate(-45deg)
    .icon
      transform: translateY(-5px) rotate(-90deg)
  .icon
    position: relative
    width: 30px
    height: 30px
    fill: $white
    z-index: 1
    transform: rotate(-90deg)
    transition: transform .3s ease-out

