.circle-number
  $this: &
  display: inline-block
  position: relative

  +hover
    #{$this}__circle
      background: $light-blue
    #{$this}__tooltip
      opacity: 1
      visibility: visible
      pointer-events: auto

  &__circle
    appearance: none
    width: 26px
    height: 26px
    color: $white
    +r-bold
    font-size: 12px
    line-height: 25px
    text-align: center
    border-radius: 50%
    background: rgba($light-blue, .65)
    border: 1px solid $light-blue

    &.is-active
      background: $light-blue

  &__tooltip
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 100%
    opacity: 0
    visibility: hidden
    pointer-events: none
    z-index: 2
    transition: opacity .3s ease-out
    +sm
      display: none

    &.is-active
      opacity: 1
      visibility: visible
      pointer-events: auto
