.graph-subtitle
  +r-med
  font-size: 20px
  line-height: 1.5
  text-transform: uppercase
  letter-spacing: 1px
  +sm
    font-size: 16px
    line-height: 1.375
    letter-spacing: 0.5px

.graph-title
  +r-light
  font-size: 40px
  line-height: 1.25
  +lg
    font-size: 34px
    line-height: 1.235
  +sm
    font-size: 24px
    line-height: 1.16

.graph-figure
  +r-med
  font-size: 74px
  line-height: 74px
  white-space: nowrap
  +lg
    font-size: 56px
    line-height: 65px
  +sm
    font-size: 20px
    line-height: 28px
  &_green
    color: $basic-green
    font-size: 93px
    +lg
      font-size: 74px
    +md
      font-size: 68px
    +sm
      font-size: 28px
  &_green-sm
    color: $basic-green
  &_small
    font-size: 56px
    line-height: 65px
    +lg
      font-size: 40px
      line-height: 50px

.graph-text
  font-size: 16px
  line-height: 1.375
  text-transform: uppercase
  word-break: break-word
  +sm
    font-size: 13px
    line-height: 1.385
  &_green
    color: $basic-green
  &_sm-spec
    +sm
      font-size: 12px
      line-height: 1.25

.graph-legend
  +r-light
  font-size: 13px
  line-height: 1.385
  +sm
    letter-spacing: 0.5px

.graph-relation
  +r-light
  font-size: 28px
  line-height: 1
  color: $basic-green
  +sm
    +r-reg
    font-size: 16px
    line-height: 1.375
