.info-box
  $this: &
  display: block
  width: 100%
  max-width: 320px
  text-decoration: none
  color: $basic-black
  +hover
    color: $cyan-blue
    #{$this}__img img
      transform: scale(1.1)
    #{$this}__icon
      transform: translateX(10px)
  &__img
    display: block
    width: 100%
    height: 240px
    margin-bottom: 20px
    overflow: hidden
    +mob-md
      height: 214px
    +mob-sm
      height: 187px
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
      transition: transform .3s ease-out
    &_lg
      height: 255px
      +mob-sm
        height: 222px
  &__headline
    margin-bottom: 10px
  &__textual
    display: block
    margin-bottom: 10px
  &__text
    transition: color .3s ease-out
  &__icon
    display: block
    transition: transform .3s ease-out
    .icon
      width: 30px
      height: 30px
      fill: $cyan-blue
