.lang-switcher
  $this: &
  display: flex
  &__link
    padding: 0 4px
    font-size: 14px
    line-height: 1.143
    text-decoration: none
    color: $basic-blue
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0
    &:not(:last-child)
      position: relative
      padding-right: 5px
      &:after
        content: ''
        display: block
        width: 1px
        height: 100%
        position: absolute
        top: 0
        right: 0
        background: $basic-blue
    &.is-active
      color: $light-blue
  &_active-white
    #{$this}__link
      &.is-active
        color: $white
