.link-box
  $this: &
  color: $white
  text-decoration: none
  +hover
    #{$this}__img
      img
        transform: scale(1.1)
    #{$this}__icon
      transform: translateX(10px)
  &__img
    position: relative
    display: block
    margin-bottom: 20px
    height: 190px
    overflow: hidden
    +lg
      height: 0
      padding-bottom: 70%
    +md
      margin-bottom: 16px
    +sm
      height: 190px
      padding-bottom: 0
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
      transition: transform .3s ease-out
      +lg
        position: absolute
        left: 0
        top: 0
      +sm
        position: relative
        object-fit: fill
        width: auto
  &__title
    +r-light
    font-size: 21px
    line-height: 1.238
    +sm
      font-size: 24px
      line-height: 1.167
  &__icon
    margin-top: 10px
    display: block
    transition: transform .3s ease-out
    .icon
      width: 30px
      height: 30px
      fill: $white
  &__textual
    display: block
  &__description
    display: block
    margin-top: 14px
    +r-light
    font-size: 16px
    line-height: 1.375
    +lg
      margin-top: 16px
    +md
      margin-top: 12px
    +sm
      margin-top: 10px
  &_expanded
    #{$this}__container
      display: flex
      flex-wrap: wrap
    #{$this}__img
      margin-bottom: 0
      width: 50%
      height: 220px
      padding-right: 16px
      +lg
        height: 0
        padding-bottom: 33.4%
      +md
        width: 100%/11*5
        padding-right: $gutter-md/2
      +sm
        width: 100%
        height: 190px
        padding-right: 0
        padding-bottom: 0
        margin-bottom: 20px
    #{$this}__textual
      width: 50%
      padding-left: 16px
      +md
        width: 100%/11*6
        padding-left: $gutter-md/2
      +sm
        width: 100%
        padding-left: 0
  &_short-img
    #{$this}__img
      width: 112px
      height: 112px
