.logo
  display: flex
  align-items: center
  &__text
    margin-right: 30px
    +lg
      margin-right: 20px
    +md
      margin-right: 26px
  &__img
    +sm
      display: none

.logo-text
  display: block
  &_lg
    width: 113px
    height: 25px
    +sm
      display: none
  &_sm
    display: none
    width: 98px
    height: 22px
    +sm
      display: block

.logo-img
  display: block
  width: 54px
  height: 54px
  +lg
    width: 64px
    height: 64px
  +md
    width: 54px
    height: 54px
