.page-nav
  position: fixed
  top: 50%
  transform: translateY(-50%)
  left: 18px
  color: red
  font-size: 100px
  z-index: 99
  margin-top: 100vh
  +md
    display: none
  +is-ie
    display: none

  &__button
    display: block
    position: relative
    appearance: none
    background: none
    text-decoration: none
    border: 0
    width: 24px
    height: 52px
    &:not(:last-child)
      margin-bottom: 26px

    &:before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      width: 1px
      height: 100%
      background: $grey-4
      transition: transform .35s ease-out

    &.is-active
      &:before
        background: $cyan-blue
        transform: translateX(-50%) scaleX(2)