.simple-tooltip
  position: relative
  bottom: 10px
  width: 243px
  padding: 17px 20px
  font-size: 16px
  line-height: 1.375
  background: $light-blue

  &:before
    content: ''
    display: inline-block
    position: absolute
    bottom: -8px
    left: 50%
    transform: translateX(-50%)
    width: 0
    height: 0
    border-style: solid
    border-width: 8px 10.5px 0 10.5px
    border-color: $light-blue transparent transparent transparent

  &__text
    color: $basic-blue

  &__number
    margin-right: 10px
    +r-bold
    color: $white

