.text
  color: $basic-black
  font-weight: normal
  +r-light
  strong
    +r-reg
  &--93
    font-size: 93px
    line-height: 0.98
    +lg
      font-size: 70px
      line-height: 1.08
    +md
      font-size: 76px
      line-height: 1.05
    +sm
      font-size: 40px
      line-height: 1.15

  &--56
    font-size: 56px
    line-height: 1.16
    //  +sm - letter-spacing 1
    +lg
      font-size: 46px
      line-height: 1.217
    +md
      font-size: 44px
      line-height: 1.25
    +sm
      font-size: 36px
      line-height: 1.055

  &--44
    font-size: 44px
    line-height: 1.25
    +lg
      font-size: 36px
      line-height: 1.333
    +sm
      font-size: 34px
      line-height: 1.294
      
  &--40
    font-size: 40px
    line-height: 1.25
    +lg
      font-size: 28px
      line-height: 1.357
    +md
      font-size: 34px
      line-height: 1.235
    +sm
      font-size: 28px
      line-height: 1.357

  &--40-sm
    font-size: 40px
    line-height: 1.25
    +lg
      font-size: 34px
      line-height: 1.23
    +sm
      font-size: 22px
      line-height: 1.27

  &--28
    font-size: 28px
    line-height: 1.45 // in ui 1.428 
    +lg
      font-size: 22px
      line-height: 1.363
    +md
      font-size: 23px
      line-height: 1.478
  &--28-sm
    font-size: 28px
    line-height: 1.428
    +lg
      font-size: 22px
      line-height: 1.363
    +md
      font-size: 22px
      line-height: 1.454

  &--21
    font-size: 21px
    line-height: 1.428
    +lg
      font-size: 18px
      line-height: 1.555
    +md
      font-size: 20px
      line-height: 1.5
    +sm
      font-size: 19px
      line-height: 1.578

  &--20
    font-size: 20px
    line-height: 1.5
    +md
      font-size: 18px
      line-height: 1.333
      letter-spacing: 0.5px

  &--16
    font-size: 16px
    line-height: 1.375
    &-ls
      letter-spacing: 0.5px   

  &--12
    font-size: 12px
    line-height: 1.5
    letter-spacing: 0.5px
    +md
      font-size: 13px
      
  // specific breakpoints
  &--20-md-only
    +md
      font-size: 20px
      line-height: 1.3

  &--uppercase
    text-transform: uppercase

  &--blue
    color: $basic-blue
  &--l-blue
    color: $light-blue
  &--green
    color: $basic-green
  &--white
    color: $white
  &--reg
    +r-reg
  &--med
    +r-med
  &--bold
    +r-bold
  &--ebold
    +r-extrabold
.text-link
  color: $basic-black
  text-decoration: none
  &::after
    content: '+'
    color: $basic-green
  strong
    text-decoration: underline
    text-decoration-color: $basic-green
    text-underline-position: under