---
styles: ['story-india']
scripts: ['storyIndia']
stop_scroll_on_init: true
lang: 'en'
page_name_de: 'elektrisch-fahren-fuer-alle'
page_name_en: 'electric-driving-for-everyone'

is_story_page: true
sections: [
{id: 'combo-section-1'},
{id: 'combo-section-2'},
{id: 'combo-section-3'},
{id: 'combo-section-4'},
]

title: 'Electric driving for everyone - MAHLE Annual Report 2019'
description: 'Different countries, different perspectives, new chances. MAHLE is paving the way for the electrification of the most popular means of transportation in India: two- and three-wheelers.'

og_title: false
og_description: false
og_img: 'social/mahle_gb2019_elektrisch_fahren_fuer_alle.jpg'


hero_block: {
  title: 'Electric <br/> driving <br/> for everyone',
  sub_title: 'Different countries, different perspectives, new chances.',
  img:{
    src: 'story-india/mahle-india-landscape.jpg',
    src_vertical: 'story-india/mahle-india-vertical.jpg',
  },
  right_text: '
  Shaping the future of mobility with a smile: Raj Kalra, President of MAHLE India, and Govindarajan Narayanan, Plant manager for MAHLE Electric Drives India in Coimbatore, are delighted by the chances arising from the electrification of two- and three-wheelers in India.
  '
}

combo_section_a: {
  mode: 'combo-section--a js-india-scene-a',
  left_col_mode: 'col-6 col-lg-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-push-1 col-lg-push-0 col-md-11 col-sm-12  col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--a',
  content: {
    left_side:{
      caption: '
      Udayarani Radhakrishnan is a Purchasing team leader at the Coimbatore location. She still rides a conventional two-wheeler to commute the distance of around 10 kilometers to work.
      ',
      first_img:{
        src: 'story-india/story-a/a-img-1.jpg',
        alt: 'story 1'
      },
      second_img:{
        src: 'story-india/story-a/a-img-2.jpg',
        alt: 'story 2'
      },
    },
    right_side:{
      head_1: '
      MAHLE IS PAVING THE WAY FOR THE ELECTRIFICATION OF THE MOST POPULAR MEANS OF TRANSPORTATION IN INDIA: TWO- AND THREE-WHEELERS.
      ',
      head_2: '',
      text: '
      In one of the most populous countries in the world, 1.3 billion people are on the move. While in Europe “on the move” immediately brings to mind four wheels, the general picture is different in India. The subcontinent is the world’s largest manufacturer of two-wheelers. Every year, approximately 22 million new two-wheelers leave the production halls and fill the Indian roads. Loud, rattling, and roaring—they are all powered by the combustion engine. The two-wheeler moves the whole country. From transporting loads to an outing for a family of four. And right in the middle are the many young people who dominate the social scene. They want to break free, be more independent, make progress, and try out new things—including e&#8209;mobility. From the very start, MAHLE Electric Drives India has been the partner that is making this possible for them. Welcome to Coimbatore in India, to a euphoric team that is seizing a very special opportunity.
      '
    },
  }
}

combo_section_b: {
  mode: 'combo-section--b combo-section--full-pb js-india-scene-b',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-sm-12',
  article_mode: 'combo-article--b',
  content: {
    left_side:{
      caption: '
      A young and motivated team develops and manufactures high-quality traction motors for e&#8209;scooters and auto-rickshaws at the location in the city of Coimbatore in southern India.
      ',
      first_img:{
        src: 'story-india/story-b/b-img.jpg',
        alt: 'story 1'
      },
    },
    right_side:{
      head_1: 'A time of change',
      head_2: '
      <strong>Beep-beep-beep-beep-beep.</strong> When out and about in India, you’re surrounded by the sound of hundreds of horns. It doesn’t come from the cars that are generally only pushing themselves through the dense traffic at walking pace, but from the countless two- and three-wheelers that fill every free space between the cars — <strong>beep-beep</strong> — to leave again immediately with a honk of the horn and a swift turn.
        ',
      text: '
      <strong>Beepbeep</strong>. Udayarani Radhakrishnan is honking her horn too. After a 10 km drive across the city, this morning she leaves the crowded main road and turns into a tree-lined lane. Dogs sleep on the wayside, traders sell spices and coconuts behind their stalls, children run around their mothers, plucking at the colorful saris. Dust is whirled up. Udayarani turns off once more and stops at a parking lot that contains many other two-wheelers. After parking her scooter, Udayarani’s path leads along a wall to a large gate that opens up into richly planted area. Walking at a steady pace, she heads toward one of two new buildings. The sky is bright blue, but another blue immediately catches the eye. At the top, on the roof of the first building, are the five blue letters that are accompanying the major mobility transformation in India: MAHLE.
      ',
      text_2: '
      The day can begin at the new location of MAHLE Electric Drives India. Udayarani marches past the first building, from which soft machine noises are heard, and walks to the next—toward the office in the main building. She is an engineer, a team leader, and responsible for Purchasing. She first started work at the former joint venture MAHLE Letrika Roots India, in which MAHLE increased its share from 50 to 90 percent in 2019. She has been there for four years. And today she couldn’t be prouder of her new task: to look for suitable suppliers that meet MAHLE’s high quality standards and values to produce the products of the future— electric traction motors and control units for twoand three-wheelers. This is because what has so far been supplied from Europe by MAHLE Electric Drives Slovenia will in the future be developed and produced entirely in India. While Udayarani takes her seat in the office, we meet two cheerful men in front of the main entrance, who have recognized the opportunity for MAHLE in India and want to help move things forward: Raj Kalra, President of MAHLE India, and Govindarajan Narayanan, plant manager for MAHLE Electric Drives India.
      '
    },
  }
}

dropdown_1: {
  head_text: 'Sidefacts',
  title: 'E&#8209;mobility in India',
  btn_text: 'SUBSIDY PROGRAM FAME II',
  content: '
  With the continuation of the FAME (Faster Adoption and Manufacturing of Hybrid & Electric Vehicles) subsidy program, India is using FAME II to make e&#8209;mobility as a whole even more attractive: from subsidies for e&#8209;buses to premiums for the purchase of electric vehicles through the reduction of VAT for electric vehicles and charging stations.
  '
}

combo_section_c: {
  mode: 'combo-section--c combo-section--full-pt combo-section--full-pb js-india-scene-c',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-11 col-sm-12  col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--c',
  content: {
    left_side:{
      caption: '
      Every year, around 22 million two-wheelers leave the production halls and fill India’s roads. In India, the two-wheelers of the future are electric.
      ',
      first_img:{
        src: 'story-india/story-c/c-img-1.jpg',
        alt: 'story 1'
      },
      second_img:{
        src: 'story-india/story-c/c-img-2.jpg',
        alt: 'story 2'
      },
      quote:{
        text: '
        The touch screen, the connectivity, the stylish design, and zero local emissions. We all want to ride an e&#8209;scooter.
        ',
        author: 'UDAYARANI RADHAKRISHNAN,',
        position: 'Engineer at MAHLE Electric Drives India'
      },
    },
    right_side:{
      head_1: 'Giving new energy to the country',
      head_2: '
      “MAHLE is in the right place at the right time—with the right product,” starts Raj. And “right” at this moment in India means one thing above all else: electric. Raj points to a new two-wheeler next to him. It’s completely white, with an elaborate design and a pristine screen instead of a speedometer. An e&#8209;scooter. Hidden inside: the electric traction motor and the control unit from MAHLE.
      ',
      text: '
      Raj and Govindarajan can tell you exactly why this e&#8209;scooter will very soon be dominating the Indian roads, because they know how their country works. From the mood on the streets to the politicians’ objectives. “It’s important to first understand the current situation in India,” begins Raj. “We have very, very many young people here. Most of them are under 30 years old. And this young generation is changing. Incomes are rising. They want to move forward, to live in a more modern and more sustainable way. They love their smartphones and want to connect to every device and use the new features. With the e&#8209;scooter, they can see where they have been and how far they have traveled each day. Everything is electronic and linked together. That’s what young people want.” Govindarajan nods vigorously and continues immediately: “Then there is the pressure to respond urgently to air pollution, especially in the cities. Fifteen of the world’s most environmentally polluted cities are in India. The Indian government is supporting e&#8209;mobility for good reason. There is a comprehensive subsidy program to make alternative powertrain technology more attractive and accessible to all.”
      ',
      text_big: '
      With the electrification of two- and three-wheelers in India, MAHLE Electric Drives India is making exactly the right type of progress.
      ',
      text_2: '
      Raj spells it out: “When it comes to <span class="no-wrap">CO<sub>2</sub></span> emissions, people always think of commercial vehicles and cars at first. But when 22 million new two-wheelers are powered by the combustion engine in India every year, they account for a considerable proportion of these emissions.” At the same time, the initial focus on electric two- and three-wheelers gives India the most effective and realistic chance of successfully driving forward e&#8209;mobility. Because even though the use of cars has grown with the increasing prosperity in the country, the electric car presents an even greater challenge for the Indian market. Most of all in terms of the charging infrastructure. An e&#8209;scooter, on the other hand, can be used with the existing infrastructure. It can simply be charged at home via the domestic electricity network.
      ',
      text_3: ''
    },
  }
}

dropdown_2: {
  head_text: 'Sidefacts',
  title: 'MAHLE electrifies the world',
  btn_text: '
  MAHLE IS CONSISTENTLY IMPLEMENTING IST DUAL STRATEGY AND FURTHER EXPANDING IST POSITION AS A SYSTEMS PROVIDER FOR ALTERNATIVE DRIVE CONCEPTS
  ',
  content: '
  MAHLE Electric Drives India is part of the new Electronics and Mechatronics business unit, in which all activities in the area of electrics and electronics have been combined since January 1, 2020. The electric traction motors are only one aspect of the MAHLE product range in the area of e&#8209;mobility. From charging systems and power electronics to thermal management for engines, batteries, and cabins—MAHLE covers the entire spectrum.
  '
}

combo_section_d: {
  mode: 'combo-section--d combo-section--full-pt combo-section--full-pb js-india-scene-d',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-11 col-sm-12  col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--d',
  content: {
    left_side:{
      quote:{
        text: '
        The young employees are desperate to work on the development and production of components for e&#8209;mobility. They know that this is the future.
        ',
        author: 'RAJ KALRA,',
        position: 'President of MAHLE India, on the new e&#8209;scooter'
      },
      first_img:{
        src: 'story-india/story-d/d-img-1.jpg',
        alt: 'story 1'
      },
    },
    right_side:{
      head_1: 'New product, new mind-set',
      head_2: '
      We visit the newly installed production line together. Govindarajan picks up one of the traction motors that has just left the line. “There it is, our unique selling proposition. The motor is remarkably efficient and offers a long cruising range with lots of driving pleasure. And it’s inexpensive, despite the high quality standards.” Start of production is scheduled to be in April 2020.
      ',
      text_1: '
      This is just a start, because it takes time to build up local production capacity, especially when it comes to finding domestic suppliers. Components are still being supplied from Europe. By September 2020, some of the key components should be procured locally. By developing and producing traction motors exclusively in India, it is possible to create a high-quality, low-cost product. After all, efficient e&#8209;scooters are only useful if the population can afford them.
      ',
      text_big_1: '
      MAHLE’s expertise, which is packaged in the small motor, has already inspired the confidence of new customers.
      ',
      text_2: '
      “Our first major customer had some problems with the other motors he had already tested. After he was satisfied with ours, he launched the e scooter successfully on the market.” It is already on the streets in two cities. Meanwhile—aside from us—it is precisely the people who want to see the e&#8209;scooter on the road who are also taking care of production. This is the young, emerging generation of India. These young Employees are proud to work on this future technology.
      ',
      text_big_2: '
      MAHLE is not only providing an exciting product, but also a culture that is inspiring the Indian team.
      ',
      text_3: '
      “We like having the freedom to actively participate and have our own say. We have a great management team that encourages and trains us. The hierarchies are flat, and the paths are short,” is the general message that comes through.
      ',
      text_4: '
      Back on the ground. In the warm wind a flag is waving, on which “100 Years” is written. MAHLE is celebrating its anniversary. MAHLE Electric Drives India is still young, but in view of the first successful century of the company, the people in Coimbatore are looking confidently to the future. “Our Vision as a group is to shape future mobility. And with the location we have built here, this is precisely what we are doing. Because the two-wheeler belongs on the world’s streets. And here in India, we want to become the center of excellence for electric two- and three-wheelers.” While he’s saying this, Govindarajan backs up the statement with a little aside: “Last year, our customers asked us: How quickly could you install a production line here in Coimbatore?” Smiles all around. Six months later the new line was ready. At this pace, things will progress well.
      ',
      text_5: '
      The sun starts to go down. Time for Udayarani to leave work. How was the day? “There was a lot of negotiating.” She’s smiling. On the way to the parking lot she passes the e&#8209;scooter and casually mentions another advantage: “For us ladies, the e&#8209;scooter is even easier to handle, partly because it weighs less.” Then she gets on her two-wheeler and drives off. The streets are full again. Everything looks the same. But Udayarani knows that things will change very soon. And that she is playing an active role in this change. For the chance to launch a new type of mobility in India—one that is more dynamic, more efficient, and more sustainable than ever before.
      '
    },
    md_content: {
      text_block: {
        text: 'Learn more about <br/> MAHLE′s e&#8209;mobility?',
        text_2: 'Reading time 5 minutes',
      },
      modal_link:{
        scroll_block_number: '4',
        text: 'Read more'
      }
    }
  }
}

teaser: {
  head:{
    title: '
    MAHLE Electric Drives India is the partner of the first hour to pave India&#8242;s way into e&#8209;mobility.
    ',
    sub_title: 'MORE STORIES'
  },
  slider: [
    {
      url: 'protecting-the-climate-with-greener-fuels',
      img: 'teaser/e-fuel.jpg',
      alt: 'Protecting the climate with greener fuels',
      title: 'Protecting the climate with greener fuels',
      text: 'A look at the chance to make an important contribution to climate protection using the combustion engine.'
    },
    {
      url: 'from-proven-to-improved-technology',
      img: 'teaser/powertrain.jpg',
      alt: 'From proven to improved technology',
      title: 'From proven to improved technology',
      text: 'How MAHLE is seizing the chance to apply tried-and-tested technology to a new drive.'
    },
    {
      url: 'from-industry-4-0-to-mahle-4-0',
      img: 'teaser/austria.jpg',
      alt: 'From industry 4.0 to MAHLE 4.0',
      title: 'From industry 4.0 to MAHLE 4.0',
      text: 'How MAHLE is turning digitalization to its advantage – and what chances this opens up for employees and customers.'
    },
    {
      url: 'digital-workshops-for-different-forms-of-mobility',
      img: 'teaser/italy.jpg',
      alt: 'Digital workshops for different forms of mobility',
      title: 'Digital workshops for different forms of mobility',
      text: 'The new world of mobility is diverse – and can pose a challenge when it comes to maintenance and repair. MAHLE’s first-class service equipment gives automobile garages the chance to operate more efficiently than ever.'
    },
    {
      url: 'no-action-without-change',
      img: 'teaser/interview.jpg',
      alt: 'No action without change',
      title: 'No action without change',
      text: 'Dr. Jörg Stratmann and Nathalie Cyrys discuss change, innovation, chances and the future.'
    },

  ]
}

---

{% import "data/"+lang+"/header.html" as header %}
{% import "data/"+lang+"/menu.html" as menu %}
{% import "data/"+lang+"/footer.html" as footer %}
{% import "data/"+lang+"/cookie.html" as cookie %}
{% import "data/"+lang+"/banner.html" as banner %}

{% extends "layouts/_layout.html" %}

{% block content %}


{% include "page-templates/_story-india.html" %}


{% endblock %}

{% block modals %}
{% include "modals/_india-story-modal.html" %}
{% endblock %}
