---
styles: ['story-austria']
scripts: ['storyAustria']
stop_scroll_on_init: true
lang: 'en'
page_name_de: 'aus-industrie-4-0-wird-mahle-4-0'
page_name_en: 'from-industry-4-0-to-mahle-4-0'

is_story_page: true
sections: [
{id: 'combo-section-1'},
{id: 'combo-section-2'},
{id: 'combo-section-3'},
{id: 'combo-section-4'},
{id: 'combo-section-5'},
]

title: 'From industry 4.0 to MAHLE 4.0 - MAHLE Annual Report 2019'
description: 'How MAHLE is turning digitalization to its advantage—and what chances this opens up for employees and customers.'

og_title: false
og_description: false
og_img: 'social/mahle_gb2019_aus_industrie_4.0_wird_mahle_4.0.jpg'


hero_block: {
  title: 'From Industry <br/> 4.0 to <br/> MAHLE 4.0',
  sub_title: '
  How MAHLE is turning digitalization to its advantage.
  ',
  img:{
    src: 'story-austria/hero-2.jpg',
  }
}

combo_section_e: {
  mode: 'combo-section--e js-austria-scene-e',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12 col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--e',
  content: {
    left_side:{
      caption: '
      A digital production line in Montblanc/Spain that also benefited from an analog rethink: here, the employees go to the components instead of standing at a production line with the components coming to them.
      ',
      first_img:{
        src: 'story-austria/story-e/e-img.jpg',
        alt: 'story 1'
      },
    },
    right_side:{
      head_1: '
      How MAHLE is turning digitalization to its advantage — and what chances this opens up for employees and customers.
      ',
      text: '
      The world is at our fingertips 24/7, compact and glowing brightly behind a small screen. It’s a world built from data, which is used to continuously expand the possibilities of our everyday lives. At MAHLE too, intelligent computer systems have long been implemented in the production lines and are visible as illuminated screens in the hands of employees and on the lines themselves. On a tour around the production plants of St. Michael/Austria and Montblanc/Spain, we find out about the specific added value that MAHLE is creating for its employees and customers through digitalization. It soon becomes clear that a 100-year-old company like MAHLE cannot be digitalized overnight—and that this isn’t necessary either. Besides—and this is the best part of the story digitalization needs one thing above all else: people who can shape and support a successful transformation.
      ',

    },
  }
}

combo_section_f: {
  mode: 'combo-section--f combo-section--full-pb js-austria-scene-f',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-11 col-sm-12  col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--f',
  content: {
    left_side:{
      quote:{
        text: '
        Digitalization is an important tool to help us try out new things quickly, without wasting time and materials.
        ',
        author: 'MANFRED JESCH,',
        position: 'Developer, MAHLE St. Michael, Austria'
      },
      first_img:{
        src: 'story-austria/story-f/f-img-1.jpg',
        alt: 'story 1'
      },
      caption: '
      It didn’t take Manfred Jesch long to put his cardboard aside and embrace the possibilities of virtual reality. Everything that makes the plant more efficient counts.
      ',
      second_img:{
        src: 'story-austria/story-f/f-img-2.jpg',
        alt: 'story 2'
      },
    },
    right_side:{
      head_1: 'Acting faster with 4.0',
      head_2: '
      <strong>Pa-pamm. Pa-pamm. Pa-pamm.</strong> The anvil pounds loudly in the MAHLE Filter Systems plant in St. Michael, as if to remind us that it too was once a groundbreaking innovation. We go a little further on, through the next door, and it’s suddenly very peaceful. In just a few steps, we’ve left the old technology behind us and are standing next to the latest production line, which is quietly turning out oil filters for e&#8209;mobility applications. The divide between the two halls from different eras is a story that’s playing out at many large companies that have been shaping mobility for decades.
      ',
      text_1: '
      Location manager Thomas Berg sums up this narrative for the 50-year-old plant in St. Michael in a nutshell: “Digitalizing a long-established place like this is a very different challenge to simply building a new production hall on a fresh site today.” When deciding which areas of production would benefit from digitalization, there is always one question to ask first: “What would make us, and therefore our customers, more successful?” Thomas Berg continues: “Industry 4.0 is just a buzzword. What themes does it involve that we can use to our advantage?”
      ',
      text_big_1: '
      The soft transition to digital transformation
        ',
      text_2: '
      And it’s precisely this question that no software can answer — only a person can. One such person is Manfred Jesch, who has lived through and helped to shape developments at the St. Michael location for 24 years. His responsibilities include cardboard engineering, and today he is working with a completely new tool. Instead of building prototypes for workstations and production lines using cardboard and glue, Manfred Jesch now holds two controllers in his hands. And he’s wearing a pair of virtual reality glasses. He moves his arms energetically and takes a few steps to the side. A large screen next to him shows what he’s building. As he turns, a virtual box falls from a virtual shelf. Yet nothing actually happens. The creative design tool based on virtual reality technology helps the team to model, simulate, and analyze workplaces, workflows, and processes quickly. Without wasting either time or materials. A model like this takes only a few days to set up rather than one or two weeks, as it used to. Only then is a prototype built. From cardboard, as before. Here in St. Michael, they call this the “soft transition” to digital transformation. People who understand how the digital programs work are in a better position to think things through if the new tools fail. After all, that’s something that happens to even the best programs. And it’s at precisely these moments that Manfred Jesch and his team need to get hands-on again.
      ',
    },
  }
}

dropdown_1: {
  head_text: 'Sidefacts',
  title: 'Supplementary training course',
  btn_text: 'DIGITALIZATION & SMART PRODUCTION FOREMEN',
  content: '
  In collaboration with Wolfsberg Technical College (HTL Wolfsberg), MAHLE has introduced a new supplementary training course at the St. Michael location—digitalization foreman. Fifteen MAHLE employees are currently enrolled on the certified course. Within two years, they will be qualified to tackle future-oriented subjects such as coding and smart production.
  '
}

combo_section_g: {
  mode: 'combo-section--g combo-section--full-pt combo-section--full-pb js-austria-scene-g',
  left_col_mode: 'col-7 col-md-12',
  right_col_mode: 'col-5 col-md-12',
  article_mode: 'combo-article--g',
  content: {
    left_side:{
      quote:{
        text: '
        We can see what’s happening in the machine in real time and protect our products against defects, because they don’t arise in the first place.
       ',
        author: 'FRANCISCO ALMAGRO,',
        position: 'Software and automation engineer at MAHLE in Montblanc/Spain'
      },
      first_img:{
        src: 'story-austria/story-g/g-img-1.jpg',
        alt: 'story 1'
      },
      caption: '
      Robots, software, and people work in harmony. Tasks are reorganized and employees assigned to positions in which they will create new added value.
      ',
      second_img:{
        src: 'story-austria/story-g/g-img-2.jpg',
        alt: 'story 2'
      },
      caption_2: '
      As experts in production and IT, Francisco Almagro (right) and Joan Andreu Boque are driving forward the process of networking all the machines in the Montblanc plant.
      ',
      quote_2:{
        text: '
        Our main job is to communicate digital knowledge to the team. And at the same time, we ourselves also need to keep on learning on a daily basis.
        ',
        author: 'JOAN ANDREU BOQUE,',
        position: 'Computer specialist at MAHLE in Montblanc/Spain'
      },
    },
    right_side:{
      head_1: 'Perfect delivery every time with 4.0',
      head_2: '
      “It’s thinking about it.” Around 1,600 kilometers south of St. Michael, a box of components rolls along the production line and stops under a smart camera. Roger Gombau, manager of the MAHLE plant in the Spanish town of Montblanc, stands next to the production line and taps his index finger several times against his temple. “That’s what it looks like when people think—but we don’t see what’s going on with the software,” says Gombau. The box rolls off to the left shortly afterwards. The next box stops. At first, and second, glance, it contains exactly the same components, but the camera sees more.
      ',
      text_1: '
      The box rolls off to the right. Left, right, right, left, right. The production operation continues, all under the watchful eyes of MES, a system to optimize production introduced globally at MAHLE. The software monitors every single process step, saving all the data. All this takes place in conjunction with data matrix codes, which are attached to every single component. To the touch, the code feels like a simple label, but it’s actually a means of storing information and saves all the key data about the individual component.
      ',
      text_big_1: '
      MES satisfies our curiosity. We’re able to see what’s going on in the machine and with the products whenever we want.
      ',
      text_2: '
      Francisco Almagro, software and automation engineer at MAHLE in Montblanc, is enthusiastic about the development. „MES satisfies our curiosity. We’re able to see what’s going on in the machine and with the products whenever we want.“ That means we can ensure in real time that we’re always delivering top quality.” Before MES was introduced, the team in Montblanc had already independently developed its own solutions to improve production. “We realized that there were some obvious things on the production line that we could make use of already. Certain maneuvers like the pause between a braking operation and the next movement. Does the pause need to be that long? How many top-quality components can we make in a certain time?” Francisco and his team used the data to reprogram the machines. The solution is regarded internally as a precursor to MES. Pride over this proactive step is palpable here in Montblanc. Anyone who talks about MES today is also always talking about Francisco and his team.
      ',
    },
  }
}

dropdown_2: {
  mode: 'dropdown--list',
  text_col_mode: 'col-8 col-lg-10 col-sm-12 col-push-2 col-lg-push-1 col-sm-push-0',
  head_text: 'Sidefacts',
  title: 'All data added to the flow',
  btn_text: 'Digital infrastructure',
  contentList: [
    {
      title: 'MATERIAL DATA',
      text: '
      Management of the entire product life cycle by means of a globally accessible system using One PLM.
      '
    },
    {
      title: 'OPERATING DATA',
      text: '
      Production optimization, a high degree of transparency with regard to material and value flows using MES.
      '
    },
    {
      title: 'PERSONNEL DATA',
      text: '
      HR excellence is key to MAHLE’s success—personnel management based on skills and strategy.
      '
    },
    {
      title: 'SYSTEM DATA',
      text: '
      Increasing efficiency by means of process standardization through the creation of a global, digital platform for real-time data and processes.
      '
    },
    {
      title: 'FINANCIAL DATA',
      text: '
      The administration of our complex corporate structure and the consolidation of our business results.
      '
    },
    {
      title: 'SUPPLIER DATA',
      text: '
      Making use of our global procurement strategy for production and nonproduction materials.
      '
    }
  ],
  content: '
  No data without data managers. As well as providing digital infrastructure, it’s essential that we nurture the digital culture. This means keeping all employees informed, training them, and exciting them about the possibilities opened up by digitalization.
  '
}

combo_section_h: {
  mode: 'combo-section--h combo-section--full-pt js-austria-scene-h',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12',
  article_mode: 'combo-article--h',
  content: {
    left_side:{
      first_img:{
        src: 'story-austria/story-h/h-img-1.jpg',
        alt: 'story 1'
      },
      caption: '
      Over the years, Jared Sowa has learned many different measurement methods. Radiography is the latest technique and provides more data than ever before.
      ',
      quote:{
        text: '
        The component has gone to the customer, but we have the production data. This allows us to check everything, measure it again, and learn more about the component than ever before.
        ',
        author: 'JARED SOWA,',
        position: 'Head of Measurement Technology at MAHLE in St. Michael/Austria'
      },
    },
    right_side:{
      head_1: 'Discovering new worlds with 4.0',
      head_2: '
      Jared Sowa manages the Metrology department and has worked at MAHLE for 15 years. We find him standing in a brightly lit, white room. Delicate rods move on five heavy machines, measuring individual components by touch. In between them, a small number of employees sit behind a few isolated screens. The real “superstar” among all the machinery stands inconspicuously in the far corner: a CT scanner. “When it comes to taking measurements, this machine is absolutely state-of-the-art,” Jared Sowa proudly explains. “By using radiography techniques, we can test components without destroying them. Instead of cutting into them, we X-ray them and look inside. This allows us to take many more measurements than before.” And he adds straightaway: “And when we’ve measured a component, we can store the data and even just take measurements from that data if necessary. The component itself is no longer needed.”
      ',
      text_1: '
      More space, more information, and customers who are even more satisfied. Using radiographic measurement methods, problems with components can be understood— in some cases, understood properly for the first time—and resolved faster. As Jared Sowa opens the CT scanner’s door and reveals its interior, our gaze falls on the warning notice about radiation protection. This gives rise to the question of how much a profession can change through digitalization. “I’m now learning about radiography techniques. The metrologist role I now hold is actually 90 percent different from the standard metrologist role I started out in.” He smiles. And what this means needs no analysis. Digitalization offers employees the opportunity to learn more about their own processes and materials than they knew before—giving them the chance to feel like digital Columbuses, entering a new world in the search for innovative solutions to benefit themselves and their customers.
      ',
      text_big_1: '',
      text_2: ''
    },
  }
}

combo_section_i: {
  mode: 'combo-section--i js-austria-scene-i',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-12',
  article_mode: 'combo-article--i',
  content: {
    left_side:{
      first_img:{
        src: 'story-austria/story-i/i-img-1.jpg',
        alt: 'story 1'
      },
      caption: '
      Cristina Barco was the first female engineer in the Maintenance department at MAHLE in Montblanc and has been helping to shape change at the location for 20 years.
      ',
      quote:{
        text: '
        We need to learn new things every day. A high degree of flexibility and creativity are key to the digitalization process.
        ',
        author: 'CRISTINA BARCO,',
        position: 'Engineer at MAHLE in Montblanc/Spain'
      },
      second_img:{
        src: 'story-austria/story-i/i-img-2.jpg',
        alt: 'story 1'
      },
      caption_2: '
      Digitalization is a team task: the team in St. Michael/Austria talks about the latest issues, discusses proposed solutions, and exchanges ideas on a daily basis.
      ',
      third_img:{
        src: 'story-austria/story-i/i-img-3.jpg',
        alt: 'story 1'
      },
    },
    right_side:{
      head_1: 'Specializing in new ways of thinking with 4.0',
      head_2: '
      Twenty years ago, Cristina Barco was the first female engineer at the Maintenance department at MAHLE in Montblanc. To her, digitalization means one thing above all: never stopping learning, thinking in new ways, being creative. In digital as well as analog forms. “Digitalization supports us, but we can’t rely on it completely. Every solution counts when you’re striving to improve.”
      ',
      text_1: '
      She points to a bay right next to her. Alongside the implementation of MES, the entire production line was redesigned, with the result that several employees within a production line are now pushing trolleys on which they are assembling a component. While at the other bays, the components are brought to the employees, here the employees go to the components. Cristina grimaces as she says the word “trolley”— then she laughs. Those were the exact same reactions when the idea was first put forward. It sounded like a backward step. “But if you ask the employees today, they’re happier, because moving is physically good for you and keeps your mind alert,” she adds. “They make far fewer mistakes as a result. The data from MES backs this up.”
      ',
      text_big_1: '
      It’s the opportunity to use digitalization as a new team member, who works side by side with the employees to drive MAHLE forward.
      ',
      text_2: '
      Just then, a robot arm stops next to us. It’s a collaborative robot, which is helping an employee with her work. When she touches it, it stands still. “The employee has the last word,” notes Cristina. The team jointly developed the robot with Francisco. A screen above the bay now displays the number four. So, what does Industry 4.0 mean for MAHLE? It’s the opportunity to use digitalization as a new team member, who works side by side with the employees to drive MAHLE forward. To be a young, dynamic company, offering its customers an even more effective partnership and the best possible products for mobility applications. After all, everyone benefits from the best products and solutions. And when quitting time comes around, and the employees get into their cars and drive home, digitalization continues working at MAHLE. Just the way people want it to.
      '
    },
    middle_content: {
      quote:{
        text: '
        The process is bringing together highly experienced employees with incredible expertise and young engineers with a whole new mind-set. As a company, we make sure that they have access to all the resources they need to put their ideas and solutions forward. And by working together, we’re not simply digitalizing production, we’re making it more successful.
        ',
        author: 'ROGER GOMBAU,',
        position: 'Plant manager at MAHLE in Montblanc/Spain'
      },
    },
    md_content: {
      text_block: {
        text: 'Learn more about <br/> MAHLE′s digital transformation?',
        text_2: 'Reading time 6 minutes',
      },
      modal_link:{
        scroll_block_number: '5',
        text: 'Read more'
      }
    }
  }
}

teaser: {
  head:{
    title: '
    MAHLE uses digitization to become better every day and thus generate added value for its customers.
    ',
    sub_title: 'MORE STORIES'
  },
  slider: [
    {
      url: 'protecting-the-climate-with-greener-fuels',
      img: 'teaser/e-fuel.jpg',
      alt: 'Protecting the climate with greener fuels',
      title: 'Protecting the climate with greener fuels',
      text: 'A look at the chance to make an important contribution to climate protection using the combustion engine.'
    },
    {
      url: 'from-proven-to-improved-technology',
      img: 'teaser/powertrain.jpg',
      alt: 'From proven to improved technology',
      title: 'From proven to improved technology',
      text: 'How MAHLE is seizing the chance to apply tried-and-tested technology to a new drive.'
    },
    {
      url: 'digital-workshops-for-different-forms-of-mobility',
      img: 'teaser/italy.jpg',
      alt: 'Digital workshops for different forms of mobility',
      title: 'Digital workshops for different forms of mobility',
      text: 'The new world of mobility is diverse – and can pose a challenge when it comes to maintenance and repair. MAHLE’s first-class service equipment gives automobile garages the chance to operate more efficiently than ever.'
    },
    {
      url: 'electric-driving-for-everyone',
      img: 'teaser/india.jpg',
      alt: 'Electric driving for everyone',
      title: 'Electric driving for everyone',
      text: 'Different countries, different perspectives, new chances. MAHLE is paving the way for the electrification of the most popular means of transportation in India: two- and three-wheelers.'
    },
    {
      url: 'no-action-without-change',
      img: 'teaser/interview.jpg',
      alt: 'No action without change',
      title: 'No action without change',
      text: 'Dr. Jörg Stratmann and Nathalie Cyrys discuss change, innovation, chances and the future.'
    },

  ]
}

---

{% import "data/"+lang+"/header.html" as header %}
{% import "data/"+lang+"/menu.html" as menu %}
{% import "data/"+lang+"/footer.html" as footer %}
{% import "data/"+lang+"/cookie.html" as cookie %}
{% import "data/"+lang+"/banner.html" as banner %}

{% extends "layouts/_layout.html" %}

{% block content %}


{% include "page-templates/_story-austria.html" %}


{% endblock %}

{% block modals %}
{% include "modals/_austria-story-modal.html" %}
{% endblock %}
