---
styles: ['powertrain']
scripts: ['powertrain']
stop_scroll_on_init: true
lang: 'en'
page_name_de: 'aus-bekannt-wird-besser'
page_name_en: 'from-proven-to-improved-technology'

is_story_page: true
sections: [
{id: 'combo-section-1'},
{id: 'combo-section-2'},
]

title: '
From proven to improved technology - MAHLE Annual Report 2019'
description: 'How MAHLE is seizing the chance to apply tried-and-tested technology to a new drive.
'

og_title: false
og_description: false
og_img: 'social/mahle_gb2019_aus_bekannt_wird_besser.jpg'


hero_block: {
  title: 'From <br/> proven to<span class="md-text"> improved <br/> technology</span>',
  sub_title: 'How MAHLE is seizing the chance to apply tried-and-tested technology to a new drive.',
  right_text: 'improved <br/> technology',
  img:{
    src: 'powertrain/hero.png',
  },
}

combo_section_r: {
  mode: 'combo-section--r js-simple-left-side-scene',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12 col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--r',
  content: {
    left_side:{
      quote:{
        text: '
        All technologies will need to make an effective contribution if we’re to achieve the 2030 <span class="no-wrap">CO&#8205;<sub>2</sub></span> emissions targets.
        ',
        author: 'DR. MIKE BASSETT,',
        position: 'Chief engineer, Research & Advanced Engineering, at MAHLE Powertrain'
      },
    },
    right_side:{
      head_1: '
      Driving to work, making a quick stop at the supermarket on the way home, and collecting the kids from sports practice – using only electric power. Then hitting the freeway at the weekend to visit the grandparents, without worrying about the cruising range of your car.
 ',
      text_1: '
      A hybrid vehicle combines two drive concepts and enables the use of the most appropriate option for a particular driving situation. Whereas the energy for short distances comes from the battery, drivers can rely on the proven practical advantages of conventional or even synthetic fuels for longer journeys. Through its recently developed Modular Hybrid Powertrain (MMHP), MAHLE has given proven hybrid technology a decisive advantage. The Modular Hybrid Powertrain is a cost-efficient, compact, and low weight plug-in hybrid drive, which can be tailored to suit a wide range of vehicle applications. As a result, hybrid vehicles can play an even greater role in achieving climate goals in the future.
      ',
    },
  }
}

dropdown_1: {
  head_text: 'Sidefacts',
  title: 'European Union’s legislative target',
  btn_text: 'ON THE ROAD FOR 2030 – AND BEYOND',
  content: '
  Vehicle manufacturers in the EU must comply with much stricter fleet-wide <span class="no-wrap">CO&#8205;<sub>2</sub></span> emissions targets by 2030. The targets adopted in 2019 prescribe a further reduction of 37.5 percent on average for the vehicle fleet – an ambitious target that trends suggest is unlikely to be achievable with conventional drives in this tight time horizon and under the current regulatory approach. Moreover, the emissions at the vehicle tail pipe are considered one-sidedly, without, for example, taking mileage or power generation into account for fossil fuels, or even for electricity and regenerative fuels. Effective climate protection requires a holistic approach that enables all technology options to contribute.
'
}

ingine_section: {
  img:{
    src: 'powertrain/engine-section-img.png',
    src_tablet: 'powertrain/engine-section-img-tablet.png',
    src_mob: 'powertrain/engine-section-img-mob.png'
  },
  right_list: [
  {
    head: '<span>1</span>',
    text: '
    Dedicated Hybrid Engine (DHE) designed in-house by MAHLE. Twin cylinder, turbocharged with passive MAHLE Jet Ignition&#174; (MJI) for high fuel efficiency.
    '
  },
  {
    head: '<span>2</span>',
    text: '
    MAHLE high voltage inverter integrated directly into generator housing. Direct drive traction motor (at rear of engine) also has integrated inverter.
    '
  },
  {
    head: '<span>3</span>',
    text: '
    Compact transmission with one, two, or four gears. Direct drive from traction motor, without a clutch, provides full vehicle dynamic performance.
    '
  },
  ]
}

combo_section_s: {
  mode: 'combo-section--s combo-section--full-pt combo-section--full-pb js-simple-left-side-scene',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12 col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--s',
  content: {
    left_side:{
      quote:{
        text: '
        With the MAHLE Modular Hybrid Powertrain, we’ve radically rethought the concept of the hybrid drive. This technology will enable us to leverage areas of potential that previously seemed unattainable.
        ',
        author: 'DR. MARTIN BERGER,',
        position: 'Vice President Corporate Research and Advanced Engineering at MAHLE'
      },
    },
    right_side:{
      head_1: '
      A classic combustion engine and an electric motor in one vehicle – these are the characteristics of a hybrid car.
      ',
      text_1: '
      However, existing hybrid units still leave room for improvement. MAHLE quickly recognized that this process could be taken a step further, developing its own solution for this important future technology: <strong>MAHLE Modular Hybrid Powertrain (MMHP)</strong>. Its combustion engine can follow a very simplified design since vehicle pull away and acceleration are covered by the electric motor. The MMHP combines the dedicated hybrid engine (DHE), generator, traction motor transmission, and power electronics in a fully integrated assembly. MAHLE also added its pre-chamber combustion system, known as MAHLE Jet Ignition&#174;, or MJI, to the DHE to enable extremely efficient operation.
      ',
      text_2: '
      The advantages of the system are that all of the necessary elements are integrated into a single compact, lightweight electric drive unit, making the wholesystem more efficient, smaller, lighter, lower-cost, and scalable for different vehicle sizes—from small city cars through heavy SUVs. This means that the powertrain technology is less expensive and therefore more attractive to the end customer. With its Modular Hybrid Powertrain, MAHLE is making another important contribution to narrowing the gap between conventional and purely electric mobility – as well as playing a timely and therefore valuable role in increasing the efficiency of mobility by striking a balance with its hybrid concept.
      ',
    },
    md_content: {
      text_block: {
        text: 'Learn more about <br/> MAHLE′s hybrid technology?',
        text_2: 'Reading time 2 minutes',
      },
      modal_link:{
        scroll_block_number: '5',
        text: 'Read more'
      }
    }
  }
}

scheme: {
  head:{
    title: 'The world of hybrid vehicles',
    sub_title: '
    MILD, FULL, OR PLUG-IN? DIFFERENT TYPES OF HYBRID, DIFFERENT CHARACTERISTICS.
    '
  },
  img: {
    src: 'powertrain/scheme.svg'
  },
  list: [
  {
    btn: {
      text: 'Mild hybrid'
    },
    content: {
      title: 'ELECTRIFIED DRIVING',
      sub_title: 'Mild hybrid',
      text: '
      Small amount of electric power. The electric motor aids acceleration but is not powerful enough to drive the vehicle by itself. When driving, the combustion engine is always running.
      '
    }
  },
  {
    btn: {
      text: 'Full hybrid'
    },
    content: {
      title: 'ELECTRIFIED DRIVING',
      sub_title: 'Full hybrid',
      text: '
      Full power using two forms of technology. The electric motor and the combustion engine work independently, or combined with each other. This means that full hybrids can run entirely on electric power over short distances.
      '
    }
  },
  {
    btn: {
      text: 'Plug-in hybrid'
    },
    content: {
      title: 'EXTERNAL CHARGING',
      sub_title: 'Plug-in hybrid',
      text: '
      A full hybrid concept with one advantage: the battery can be recharged via a plug from an external electricity source while the car is parked.
      '
    }
  },
  {
    btn: {
      text: 'MAHLE Modular Hybrid <br/> Powertrain (MMHP)',
      mob_text: 'MMHP'
    },
    content: {
      title: 'NEW HYBRID ELECTRIC DRIVE',
      sub_title: 'MAHLE Modular Hybrid <br/> Powertrain (MMHP)',
      text: '
     MAHLE Modular Hybrid Powertrain (MMHP)
The MAHLE Modular Hybrid Powertrain includes an engine, generator, traction motor, transmission, and power electronics – all in one fully integrated assembly. The heart of the system is the MAHLE Dedicated Hybrid Engine, a combustion engine for use in hybrids developed in-house by MAHLE using a compact, twin-cylinder design with high fuel efficiency thanks to MAHLE’s Jet Ignition&#174; Technology. This new hybrid electric drive with optimized cooling is low-cost, lightweight, compact, and adaptable for full vehicle dynamic performance. The benefits of the system at a glance: lower fuel consumption, reduced emissions, minimized package space, and easy to adapt to multiple vehicle applications.
'
    }
  }
  ]
}

teaser: {
  head:{
    title: '
    With its Modular Hybrid Powertrain, MAHLE is making another important contribution to narrowing the gap between conventional and electric mobility.
    ',
    sub_title: 'MORE STORIES'
  },
  slider: [
    {
      url: 'protecting-the-climate-with-greener-fuels',
      img: 'teaser/e-fuel.jpg',
      alt: 'Protecting the climate with greener fuels',
      title: 'Protecting the climate with greener fuels',
      text: 'A look at the chance to make an important contribution to climate protection using the combustion engine.'
    },
    {
      url: 'from-industry-4-0-to-mahle-4-0',
      img: 'teaser/austria.jpg',
      alt: 'From industry 4.0 to MAHLE 4.0',
      title: 'From industry 4.0 to MAHLE 4.0',
      text: 'How MAHLE is turning digitalization to its advantage – and what chances this opens up for employees and customers.'
    },
    {
      url: 'digital-workshops-for-different-forms-of-mobility',
      img: 'teaser/italy.jpg',
      alt: 'Digital workshops for different forms of mobility',
      title: 'Digital workshops for different forms of mobility',
      text: 'The new world of mobility is diverse – and can pose a challenge when it comes to maintenance and repair. MAHLE’s first-class service equipment gives automobile garages the chance to operate more efficiently than ever.'
    },
    {
      url: 'electric-driving-for-everyone',
      img: 'teaser/india.jpg',
      alt: 'Electric driving for everyone',
      title: 'Electric driving for everyone',
      text: 'Different countries, different perspectives, new chances. MAHLE is paving the way for the electrification of the most popular means of transportation in India: two- and three-wheelers.'
    },
    {
      url: 'no-action-without-change',
      img: 'teaser/interview.jpg',
      alt: 'No action without change',
      title: 'No action without change',
      text: 'Dr. Jörg Stratmann and Nathalie Cyrys discuss change, innovation, chances and the future.'
    },

  ]
}

---

{% import "data/"+lang+"/header.html" as header %}
{% import "data/"+lang+"/menu.html" as menu %}
{% import "data/"+lang+"/footer.html" as footer %}
{% import "data/"+lang+"/cookie.html" as cookie %}
{% import "data/"+lang+"/banner.html" as banner %}

{% extends "layouts/_layout.html" %}

{% block content %}


{% include "page-templates/_powertrain.html" %}


{% endblock %}

{% block modals %}
{% include "modals/_powertrain-modal.html" %}
{% endblock %}
