---
styles: ['text-page']
scripts: ['textPage']
stop_scroll_on_init: false
lang: 'en'
page_name_de: 'impressum'
page_name_en: 'imprint'

hide_banner: true

title: 'Imprint - MAHLE Annual Report 2019'
description: 'Imprint - MAHLE Annual Report 2019'

og_title: false
og_description: false
og_img: 'social/mahle_gb2019_home.jpg'


article: {
  title: 'Imprint',
  content: '
    <h2>Provider</h2>
    <p>
      MAHLE GmbH <br/>
      Pragstraße 26 – 46 <br/>
      70376 Stuttgart/Germany <br/> 
      Phone +49 711 501-0 <br/> 
      Mail: <a href="mailto:info@mahle.com">info@mahle.com</a>
    </p>
    <p>Represented by the Board of Management: Dr. Jörg Stratmann (Chairman and CEO), Georg Dietz, Bernd Eckl, Wilhelm Emperhoff, Anke Felder, Michael Frick, Martin Weidlich</p>
    <p>Commercial Register Stuttgart HRB 638 <br/>
    VAT registration number: DE147848147</p>
    <h2>Links to third-party websites</h2>
    <p>The web pages of MAHLE GmbH contain links to third-party websites. MAHLE GmbH does not acquire ownership of the third-party sites accessed via links and is not responsible for their contents.</p>
    <p>The brand names followed by the &#174; symbol are registered in Germany and many other countries.</p>
  '
}


---

{% import "data/"+lang+"/header.html" as header %}
{% import "data/"+lang+"/menu.html" as menu %}
{% import "data/"+lang+"/footer.html" as footer %}
{% import "data/"+lang+"/cookie.html" as cookie %}

{% extends "layouts/_layout.html" %}

{% block content %}


{% include "page-templates/_text-page.html" %}


{% endblock %}


