---
styles: ['text-page']
scripts: ['textPage']
stop_scroll_on_init: false
lang: 'en'
page_name_de: 'datenschutz'
page_name_en: 'privacy-statement'

hide_banner: true

title: 'Data protection notice - MAHLE Annual Report 2019'
description: 'Data protection notice - MAHLE Annual Report 2019'

og_title: false
og_description: false
og_img: 'social/mahle_gb2019_home.jpg'


article: {
  title: 'Privacy Statement',
  content: '
  <h2>Responsible according the general data protection regulation („GDPR“) is:</h2>
    <p>
      MAHLE GmbH („We“) <br/> 
      Pragstraße 26-46 <br/> 
      70376 Stuttgart <br/> 
      Germany <br/>
      email: <a href="mailto:info@mahle.com">info@mahle.com</a>
    </p>
    <h2>Data protection officer:</h2>
    <p>
      MAHLE GmbH <br/> 
      Corporate officer for data protection <br/> 
      Dr. Alexander Deicke <br/> 
      70376 Stuttgart <br/> 
      Germany <br/> 
      email: <a href="mailto:cdpo@mahle.com">cdpo@mahle.com</a>
    </p>
    <h2>Statutory requirements</h2>
    <p>MAHLE has pledged to strictly comply with all national and international laws and regulations in order to preserve the right to informational self-determination.</p>
    <p>When collecting, storing and processing personal information, we observe European regulations on data privacy and all relevant national laws derived from these regulations. As a company headquartered in Germany, we are primarily subject to the General Data Protection Regulation (GDPR), the New German Federal Data Protection Act (BDSG New), the German Telecommunications Act (TKG), and the German Telemedia Act (TMG).</p>
    <h2>Collecting and processing your personally identifiable information</h2>
    <p>During your visit to our website, we automatically anonymize and store the name of your Internet service providers, the website from which you are visiting us, the pages of our website you are visiting, the websites that you go on to visit from our website, as well as the date and duration of your visit. We can evaluate this information anonymously. Other personally identifiable information is then collected and stored only if you give us express permission to do so. Our data protection notice applies only when you are visiting our website and does not apply to your activities on social networking websites or those of other providers that you access via links on our website. Please refer to the websites of these providers for information about their data protection policies.</p>
    <p>We exclude, as long as legally possible, the liability for damages caused by the usage of linked websites.</p>
    <p>We store other personally identifiable information only if you provide this information to us in the context of a contact form, survey, contest, registration, or for the execution of a contract, and in these cases only insofar as we are permitted to do so on the basis of consent given by you or under relevant legislation (see “Legal basis for processing”).</p>
    <p>There is no legal or contractual obligation for you to provide your personally identifiable information. However, certain functions on our website may depend on the transfer of personally identifiable information. If you do not transfer personally identifiable information in these cases, these functions may be restricted or unavailable.</p>
    <h2>Purpose of personally identifiable information</h2>
    <p>Your personally identifiable information will be used only for the purpose for which you have voluntarily provided this information to us and to protect our IT systems against attacks and other unlawful activity. Should you transfer other personally identifiable information, for example, in the context of a contact form, survey, contest, registration, or for the execution of a contract, we will use this information for the purposes mentioned, for the purposes of customer administration, and, if necessary, for the purposes of processing and invoicing any business transactions, to the extent necessary in each case. Our employees and service providers are contractually bound to the strictest confidentiality.</p>
    <h2>Statement on cookies</h2>
    <p>Information on the use of cookies, the evaluation of usage data, and the use of analysis tools:</p>
    <p>We use cookies to identify your user interests and preferred areas of our website. We then use this information to improve the design of our website and make it even user-friendlier. We also employ the Google Analytics analysis tool for the same purpose, which may also implement cookies.</p>
    <h5>Function and use of cookies</h5>
    <ul>
      <li>
        <p>Cookies are small files that are stored on your desktop, notebook, or mobile device by a website that you have visited. We can use them to tell whether there is already a link between your device and our website, or which language and other settings you prefer, for example. Cookies may also contain personally identifiable information.</p>
      </li>
      <li>
        <p>When you use our website, you agree to the use of cookies. You can also visit our website without agreeing to the use of cookies. In this case, you can refuse the use of cookies and delete them at any time by selecting the appropriate settings on your device. You can do this as follows:</p>
        <p>The default setting for most browsers is to accept cookies. You can change this setting by activating the “do not accept cookies” option in your browser.</p>
        <p>You can delete existing cookies at any time. For more detailed information about this process, refer to the manufacturer’s instructions for your browser or device.</p>
        <p>Just like the use of cookies, the rejection or deletion of cookies is linked to the device and the browser that are being used. You must therefore reject and delete cookies separately for each of your devices and, if you use more than one, for each browser.</p>
        <p>If you decide against the use of cookies, some functions on our website may not be available to you and others may be restricted.</p>
      </li>
    </ul>
    <h2>Evaluation of usage data; use of analysis tools</h2>
    <ul>
      <li>
        <p>We would like to tailor the content of our website as precisely as possible to your interests and thus improve the service we offer you. To identify usage preferences and preferred areas of the website, we use the analysis tool Google Analytics.</p>
      </li>
      <li>
        <p>When using this analysis tool, data may be transferred to and processed on servers located in the USA. Please note that the European Union considers that there is no “adequate level of protection” that complies with EU standards for the processing of personally identifiable information in the USA. However, for some companies, this level of protection may be replaced by certification under the “EU–U.S. Privacy Shield.”</p>
      </li>
      <li>
        <p>If you do not wish us to collect and evaluate information about your visit to our website using the abovementioned analysis tools, you may object to this at any time for the future (opt out).</p>
        <p>We take account of your objection by placing an opt-out cookie in your browser. This cookie serves only to identify your objection. Please note that for technical reasons an opt-out cookie is only effective in the browser in which it was placed. If you delete all of your cookies or use another browser or end device, you will need to opt out again.</p>
        <p>You will find information on the providers of the analysis tools we use and the respective opt-out options below:</p>
        <p>Google Inc. (“Google”) <br/> 
        Google is certified under the EU–U.S. Privacy Shield. You can prevent the transfer of your data and its collection and processing by Google. Google provides information about this in the following link: <a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">https://tools.google.com/dlpage/gaoptout?hl=en</a></p>
      </li>
    </ul>
    <h2>Transfer of personally identifiable information to third parties</h2>
    <p>Some MAHLE websites incorporate content and services from other providers which, in turn, may use cookies and active components. If you click on such an offer, we transfer data to the respective provider to the necessary extent (e.g., information stating that you found this offer on our website and, if necessary, other information that you have already provided on our website for this purpose). MAHLE has no influence on the processing of personally identifiable information by these providers. Please refer to the respective provider’s website for information about how your information is handled.</p>
    <h2>Social Media Plugins und Video Streaming</h2>
    <ul>
      <li>
          <p><strong>Facebook</strong> <br/> 
          MAHLE websites use social plugins (“plugins”) from the social network Facebook.com, which is operated by Facebook Inc., Palo Alto, CA, USA (“Facebook”). The plugins are identified with the Facebook logo or the suffix “Facebook”, “like”, or “share”.</p>
          <p>If you visit a page on our website that contains such plugins, they are initially disabled. The plugins are not enabled until you click the button that is provided. By enabling the plugins, you establish the connection to Facebook and declare your consent to the transmission of data to Facebook. If you are logged into Facebook, Facebook can associate the visit with your Facebook account. If you press the respective button, the corresponding information is transmitted directly to Facebook by your browser and stored there.</p>
          <p>For information about the scope and purpose of data collection, the further processing and use of the data by Facebook, and your rights and the settings you can configure to protect your privacy, please refer to the Facebook Data Protection Notice.</p>
          <p>If you do not want Facebook to collect data about you via our website, you have to log out of Facebook before visiting our site.</p>
      </li>
      <li>
          <p><strong>YouTube</strong> <br/> 
          MAHLE websites use the YouTube video platform operated by YouTube LLC, 901 Cherry Ave. San Bruno, CA 94066 USA. YouTube is a platform that enables playback of audio and video files.</p>
          <p>When you load a page on our website, the integrated YouTube player establishes a connection to YouTube in order to ensure the technical transmission of the video or audio file. When the connection to YouTube is established, data is transferred to YouTube.</p>
          <p>For information about the scope and purpose of data collection, the further processing and use of the data by YouTube, and your rights and the settings you can configure to protect your privacy, please refer to the YouTube Data Protection Notice.</p>
      </li>
      <li>
        <p><strong>Google Maps</strong> <br/> 
        This site uses the Google Maps map service via an API. It is operated by Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.</p>
        <p>To use Google Maps, it is necessary to save your IP address. This information is generally transmitted to a Google server in the USA and stored there. The provider of this site has no influence on this data transfer.</p>
        <p>The use of Google Maps is in the interest of making our website appealing and to facilitate the location of places specified by us on the website. This constitutes a justified interest pursuant to Art. 6 (1) (f) GDPR.</p>
        <p>Further information about handling user data, can be found in the data protection declaration of Google.</p>
      </li>
    </ul>
    <p>The social plugin remains active until you deactivate it or delete your cookies.</p>
    <p>When you click on a link to an offer or activate a social plugin, personally identifiable information may reach providers in countries outside the European Economic Area that from the perspective of the European Union (EU) do not guarantee an “adequate level of protection” for the processing of personally identifiable information that complies with EU standards. Please remember this before clicking on a link or activating a social plugin and triggering the transfer of your information.</p>
    <h2>Online presence on social media</h2>
    <p>We maintain an online presence on social networks and platforms so that we can communicate with customers, users, and other interested parties that are active on these platforms and provide them with information about our services.</p>
    <p>Please be aware that user data may also be processed outside the European Union. This may present risks for users—making it more difficult for them to exercise their rights, for example. We would like to point out that US suppliers that are certified under the Privacy Shield are obligated to comply with the data protection standards of the EU.</p>
    <p>Furthermore, user data is predominantly processed for the purposes of market research and advertising. For example, usage profiles can be created on the basis of user behavior and the user interests deduced from this behavior. Usage profiles can in turn be used, for instance, to place within and outside of these platforms advertisements that are likely to be of interest to users. For these purposes, cookies containing details of users’ behavior and interests are generally stored on users’ computers. Usage profiles may also be used to store data independently of users’ devices (particularly if users are members of the relevant platforms and are logged into them).</p>
    <p>Users’ personally identifiable information is processed in line with our legitimate interests in providing information to users and communicating with them effectively, in accordance with Art. 6(1)(f) GDPR. If users are asked for consent to the aforementioned data processing by the relevant platform providers, the legal basis for processing is Art. 6(1)(a) and Art. 7 GDPR.</p>
    <p>For a detailed description of the relevant processing and ways of objecting (opt-out), please refer to the following links to information from the providers.</p>
    <p>Please be advised that requests for information and the exercising of user rights can also be handled most effectively by the providers. Only the provider has access to users’ data and can take any appropriate action directly as well as offer information. If you still require assistance, however, please get in touch with us.</p>
    <ul>
      <li><p>Facebook, Facebook pages, Facebook groups (Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Ireland), on the basis of an agreement on joint processing of personally identifiable information — <a href="https://www.facebook.com/about/privacy/" target="_blank">privacy statement</a>, <a href="https://www.facebook.com/legal/terms/information_about_page_insights_data" target="_blank">specifically for pages</a>, opt-out: <a href="https://www.facebook.com/settings?tab=ads" target="_blank">https://www.facebook.com/settings?tab=ads</a> and <a href="http://www.youronlinechoices.com" target="_blank">http://www.youronlinechoices.com</a>, <a href="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active" target="_blank">Privacy Shield</a></p></li>
      <li><p>Google/YouTube (Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA) — <a href="https://policies.google.com/privacy" target="_blank">privacy statement</a>, <a href="https://adssettings.google.com/authenticated" target="_blank">opt-out</a>, <a href="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active" target="_blank">Privacy Shield</a></p></li>
      <li><p>Instagram (Instagram Inc., 1601 Willow Road, Menlo Park, CA, 94025, USA) — <a href="http://instagram.com/about/legal/privacy/" target="_blank">privacy statement/opt-out</a></p></li>
      <li><p>LinkedIn (LinkedIn Ireland Unlimited Company Wilton Place, Dublin 2, Ireland) — <a href="https://www.linkedin.com/legal/privacy-policy" target="_blank">privacy statement</a>, <a href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out" target="_blank">opt-out</a>, <a href="https://www.privacyshield.gov/participant?id=a2zt0000000L0UZAA0&status=Active" target="_blank">Privacy Shield</a></p></li>
      <li><p>Xing (XING AG, Dammtorstraße 29–32, 20354 Hamburg, Germany) — <a href="https://privacy.xing.com/en/privacy-policy" target="_blank">privacy statement/opt-out</a></p></li>
    </ul>
    <h2>Anonymous data collection by Google Analytics</h2>
    <p>This website uses Google Analytics, a web analysis service of the Google Inc Google Analytics uses so-called "Cookies", text files which are stored on your computer and which allows an analysis of the use of the website by you. The information generated by the Cookie about your use of this website (including your IP address) is transferred to a server by Google in the USA and is stored there. When using this analysis tool, data may be transferred to and processed on servers located in the USA. Please note that the European Union considers that there is no “adequate level of protection” that complies with EU standards for the processing of personally identifiable information in the USA. However, for some companies, this level of protection may be replaced by certification under the EU–U.S. Privacy Shield. Google is certified under the EU–U.S. Privacy Shield. If you do not wish us to collect and evaluate information about your visit to our website using the abovementioned analysis tools, you may object to this at any time for the future (opt out).</p>
    <p>We take account of your objection by placing an opt-out cookie in your browser. This cookie serves only to identify your objection. Please note that for technical reasons an opt-out cookie is only effective in the browser in which it was placed. If you delete all of your cookies or use another browser or end device, you will need to opt out again.</p>
    <h2>Browser add-on to deactivate Google Analytics (beta) –deactivate Google Analytics</h2>
    <p>Should IP anonymization be activated on this website, your IP address will first be truncated by Google within the Member States of the European Union or in other countries party to the European Economic Area Agreement. Only in exceptional cases will your full IP address be transmitted to a Google server in the USA and truncated there. On behalf of the website operator, Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for the website operator, and providing other services to the website operator relating to website activity and Internet usage. The IP address transmitted by your browser within the scope of Google Analytics will not be merged with any other data held by Google.</p>
    <p><strong>You can always visit any websites of MAHLE GmbH anonymously, i.e., without telling us who you are.</strong></p>
    <h2>Security</h2>
    <p>We use organizational and technical measures to ensure that your information that we process is protected against manipulation, loss, destruction, and access by unauthorized persons. Our security measures in this respect are continuously upgraded in line with state-of-the-art technology.</p>
    <h2>Newsletter</h2>
    <p>WIf you subscribe to a newsletter offered on our website, the data provided for the newsletter subscription will be used only for sending the newsletter, unless you agree to further use. You may terminate the subscription at any time via the unsubscribe option provided in the newsletter.</p>
    <h2>Consent</h2>
    <p>By using this internet site, you are authorising us to store and use your data as described in this statement. We reserve the right to revise and supplement the data protection statement. The current version of the published data protection statement applies.</p>
    <h2>Legal basis for processing</h2>
    <p>If you have given us your consent for the processing of your personally identifiable information, this represents the legal basis for processing (Art. 6(1)(a) GDPR).</p>
    <p>For the processing of personally identifiable information for the purposes of initiating or fulfilling a contract with you, the legal basis is Art. 6(1)(b) GDPR.</p>
    <p>Insofar as the processing of your personally identifiable information is necessary to meet our legal obligations (e.g., for the storage of data), we are authorized for this purpose under Art. 6(1)(c) GDPR.</p>
    <p>In addition, we process personally identifiable information for the purposes of safeguarding our legitimate interests and the legitimate interests of third parties in accordance with Art. 6(1)(f) GDPR. The maintenance of the functionality of our IT systems, the marketing of our own and third-party products and services, as well as the legally required documentation of business contacts are such legitimate interests.</p>
    <h2>Deletion of your personally identifiable information</h2>
    <p>We delete the IP address stored for security reasons and the name of your Internet service provider after seven days. We also delete your personally identifiable information as soon as the purpose for which we have collected and processed this information no longer applies. Beyond this point in time, information is stored only if this is required by the laws, regulations, or other legislation of the European Union or a Member State of the European Union to which we are subject.</p>
    <h2>The data subject’s rights</h2>
    <p>Please note that, as a data subject, pursuant to the EU General Data Protection Regulation (EU GDPR), you have the following rights in connection with the processing of your personal data:</p>
    <ul>
      <li><p>Right of access under Article 15 EU GDPR</p></li>
      <li><p>Right to rectification under Article 16 EU GDPR</p></li>
      <li><p>Right to erasure under Article 17 EU GDPR</p></li>
      <li><p>Right to restriction of processing under Article 18 EU GDPR</p></li>
      <li><p>Right to data portability under 20 EU GDPR</p></li>
    </ul>
    <p>If you have consented to the processing of your personally identifiable information by us, you have the right in accordance with Art. 21 GDPR to withdraw your consent to the collection, processing/storage, and use of your personally identifiable information at any time.</p>
    <p>The lawfulness of the processing of your personally identifiable information until the withdrawal of consent is not affected by the withdrawal of consent. The further processing of this information owing to another legal basis, such as for the fulfilment of legal obligations (see “Legal basis for processing”), remains equally unaffected.</p>
    <h2>Right to object</h2>
    <p><strong>You have the right to object at any time on account of reasons arising from your own specific situation to processing on the basis of Art. 6(1)(e) GDPR (data processing in the public interest) or Art. 6(1)(f) GDPR (data processing on the basis of a balance of interests) of personally identifiable information that concerns you. If you object, we will process your personally identifiable information only if we can prove compelling legitimate reasons that outweigh your interests, rights, and freedoms or if the processing serves to establish, exercise, or defend legal claims.</strong></p>
    <p>If you consider that the processing of your personally identifiable information infringes legal requirements, you have the right to lodge a complaint with a competent data protection supervisory authority in accordance with Art. 77 GDPR.</p>
    <h2>Contacts</h2>
    <p>If you have any queries relating to data protection at MAHLE or you would like to make use of your right of access or statements as a data subject, please contact the data protection officer at our company. The data protection officer can be contacted via the official MAHLE GmbH address or via e-mail: <a href="mailto:dataprivacy@mahle.com">dataprivacy@mahle.com</a></p>
    '
}


---

{% import "data/"+lang+"/header.html" as header %}
{% import "data/"+lang+"/menu.html" as menu %}
{% import "data/"+lang+"/footer.html" as footer %}
{% import "data/"+lang+"/cookie.html" as cookie %}

{% extends "layouts/_layout.html" %}

{% block content %}


{% include "page-templates/_text-page.html" %}


{% endblock %}


