---
styles: ['story-e-fuel']
scripts: ['storyEFuel']
stop_scroll_on_init: true
lang: 'en'
page_name_de: 'gruener-tanken-effizienter-fahren'
page_name_en: 'protecting-the-climate-with-greener-fuels'

is_story_page: true
sections: [
{id: 'combo-section-1'},
{id: 'combo-section-2'},
{id: 'combo-section-3'},
{id: 'combo-section-4'},
]

title: 'Protecting the climate with greener fuels - MAHLE Annual Report 2019'
description: 'A look at the chance to make an important contribution to climate protection using the combustion engine.'

og_title: false
og_description: false
og_img: 'social/mahle_gb2019_klima_schuetzen_gruener_tanken.jpg'


hero_block: {
  title: 'Protecting the climate <br/> with greener fuels',
  sub_title: '
  A look at the chance to make an important contribution to climate protection using the combustion engine.
  ',
  img:{
    src: 'story-e-fuel/hero-landscape.jpg',
    src_vertical: 'story-e-fuel/hero-vertical.jpg',
  },
}

combo_section_n: {
  mode: 'combo-section--n combo-section--full-pb js-austria-scene-n',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12 col-md-push-1 col-sm-push-0',
  article_mode: 'combo-article--n',
  content: {
    left_side:{
      caption: '
      One MAHLE: a group-wide, interdisciplinary team of experts has been testing the influence of synthetic fuels on filter media and engine components currently offered by MAHLE. As a result, MAHLE is e&#8209;fuel ready. Pictured from left to right: André Marhofer, Cornelius Dosch, Dr. Peter Wieske, Michael Dohms, and Tobias Neubrand.
      ',
      first_img:{
        src: 'story-e-fuel/story-n/n-img.jpg',
        alt: 'story 1'
      },
    },
    right_side:{
      head_1: '
      A yellow sticky note bearing the question “E&#8209;fuel?” lay on Cornelius Dosch’s desk when the automotive engineer took up his post in MAHLE’s Advanced Engineering department in 2017. Now the question has evolved into a powerful response: MAHLE’s components are e&#8209;fuel ready. A brief message with a big impact. E&#8209;fuels – that is to say, synthetically produced fuels—are added to conventional fuels to cut <span class="no-wrap">CO<sub>2</sub></span>.
      ',
      text: '
      And they can be used in the existing fleet, which is precisely where it really matters at the moment: the majority of those vehicles with a combustion engine that are on the roads today, and will be tomorrow too. But how can e&#8209;fuels make the combustion engine more environmentally friendly, starting today? And what is the potential of these fuels for the future? A group-wide, interdisciplinary team from MAHLE set about discovering the answers. Let’s take a look at the key findings.
      ',

    },
  }
}

scheme_first: {
  title: 'The e&#8209;fuel cycle',
  sub_title: 'VIRTUALLY CARBON NEUTRAL',
  sub_text: '
  Synthetic fuels can make the combustion engine virtually carbon neutral, providing a major contribution to limiting global warming. For this to happen, a perfect cycle is needed.
  ',

  left_block: {
    img: {
      src: 'story-e-fuel/scheme-1-img.svg',
      src_vertical: 'story-e-fuel/scheme-1-img-vertical.svg'
    }
  },
  right_list: [
  {
    head: '<span>1</span> Step',
    text: '
    Hydrogen is obtained through the process of electrolysis using electricity from renewable sources.
    '
  },
  {
    head: '<span>2</span> Step',
    text: '
    This hydrogen is converted to a synthetic liquid fuel by adding <span class="no-wrap">CO<sub>2</sub></span> obtained from the cement industry, for example, or, in the future, from the atmosphere.
    '
  },
  {
    head: '<span>3</span> Step',
    text: '
    The <span class="no-wrap">CO<sub>2</sub></span> produced when driving is equal to the amount of <span class="no-wrap">CO<sub>2</sub></span> that was previously captured from the atmosphere in the fuel’s production.
    '
  }
  ],
}

combo_section_o: {
  mode: 'combo-section--o combo-section--full-pt combo-section--full-pb js-austria-scene-o',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12',
  article_mode: 'combo-article--o',
  content: {
    left_side:{
      number: '1',
      quote:{
        text: '
        E&#8209;fuels are the most effective means of cutting <span class="no-wrap">CO<sub>2</sub></span> in the existing fleet too. This makes them an important complement to e&#8209;mobility when it comes to meeting the <span class="no-wrap">CO<sub>2</sub></span> targets in the transport sector.
        ',
        author: 'DR. PETER WIESKE,',
        position: 'MAHLE Advanced Engineering, Stuttgart/Germany'
      },
    },
    right_side:{
      head_1: 'New focus',
      head_2: '
      Are cars with a combustion engine automatically outmoded? Is driving an electric car automatically better and cleaner? How do the carbon footprints stack up when taking vehicle life cycles into account? There are many questions, and to answer them properly involves a great deal of technical complexity.
      ',
      text_1: '
      But the fact is that the debate over which is the best powertrain type has led to uncertainty in recent years, especially among consumers. It’s also clear that the proportion of electric vehicles will rise steadily in many regions of the world. At the same time, vehicles with a combustion engine will continue to be the right choice for numerous applications and still take large numbers of people and products to their destinations reliably, efficiently, and cleanly.
      ',
      text_big_1: '
      Whether conventional or alternative drives, MAHLE is equally dedicated to them both.
      ',
      text_2: '
      For 100 years now, the company has followed a simple maxim: don’t rush to offer answers to complex questions, don’t accept the seemingly obvious too hastily – instead, get to the bottom of things and consider the issues from a systemic perspective. After all, it’s only by remaining open to all forms of technology in an approach based on scientific facts that we can exploit all possibilities for effectively reducing the emissions from road transport. Today, this philosophy is more valid than ever. Consequently, MAHLE remains convinced of the potential offered by the combustion engine and will continue to exploit this potential in the future too. The developers are not simply looking at the exhaust, but instead focusing on a much earlier stage. That’s why a cross-functional team at MAHLE has been testing the influence of synthetic fuels on filter media and engine components currently offered by MAHLE. First on the engine test bench, and second in the field – that is, on the roads themselves and in cooperation with a German automobile manufacturer in the premium segment. The results are highly promising, since the engine components and filter media subjected to testing work just as efficiently and effectively with an admixture of certain e&#8209;fuels as with pure conventional fuels. It’s simply a matter of getting the blend right. This is good news for the climate, for every motorist, and for Germany as a center for the automobile industry.
      '
    },
  }
}

scheme_second: {
  title: 'Synthetic fuel vs. fossil fuel',
  sub_title: 'A complement to electrification',
  sub_text: '
  With the help of e&#8209;fuels produced using renewables, fossil fuels can be phased out of the transport sector twice as quickly as a complement to electrification.
  ',

  left_block: {
    img: {
      src: 'story-e-fuel/scheme-2-left-img.svg',
    },
    text: '
    100% fossil fuel: <br/> 336 g <span class="no-wrap">CO<sub>2</sub></span> / kWh&#8205;<sub>th</sub> <br/> (kilowatt hour thermal energy)
    '
  },
  right_block: {
    img: {
      src: 'story-e-fuel/scheme-2-right-img.svg',
    },
    text: '
    100% synthetic fuel: <br/> 75 g <span class="no-wrap">CO<sub>2</sub></span> / kWh&#8205;<sub>th</sub> <br/> (kilowatt hour thermal energy)
    '
  },
}

combo_section_p: {
  mode: 'combo-section--p combo-section--full-pt js-austria-scene-p',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12',
  article_mode: 'combo-article--p',
  content: {
    left_side:{
      number: '2',
      quote:{
        text: '
        E&#8209;fuels are ideally suited as replacements for products based on crude oil – in the automotive industry in the short and medium term, and in other areas like the chemical industry in the long term.
        ',
        author: 'CORNELIUS DOSCH,',
        position: 'MAHLE Advanced Engineering, Stuttgart/Germany'
      },
    },
    right_side:{
      head_1: 'New fuels',
      head_2: '
      Most vehicles in the current fleet on the roads today are powered by fossil fuels—products based on crude oil that are extracted from the ground. Synthetic fuels are based on the following idea: First, renewable energies like wind or solar are used to produce hydrogen from water. Next, these are converted into synthetic, liquid fuels through the addition of <span class="no-wrap">CO<sub>2</sub></span>. The amount of <span class="no-wrap">CO<sub>2</sub></span> captured in this process is equal to the amount emitted by the vehicle when this fuel is used in combustion. This cycle means that the e&#8209;fuel is carbon neutral.
      ',

      text_big_1: '
      The good news for all drivers: MAHLE is e&#8209;fuel ready.
      ',
      text_1: '
      There are many different types of alternative fuels from regenerative sources and, in principle, they offer great potential for reducing <span class="no-wrap">CO<sub>2</sub></span> emissions. MAHLE believes that the first generation of e&#8209;fuels will not cause any problem because they are assumed to comply with the standards of today&#8242;s fuels. Two potential second-generation e&#8209;fuels tested by MAHLE that show promise are oxymethylene ether (OME) for diesel fuels and dimethyl carbonate (DMC) as an admixture for gasoline fuels. The MAHLE team investigated how the effectiveness and durability of the components and materials are affected when these e&#8209;fuels are admixed with conventional fuels. The results speak for themselves – MAHLE engine components and filters continue to function properly even when up to 20 percent of the tested synthetic fuels are mixed with the usual fuel. This means that a higher proportion than the fuel standard allows is technically possible today. And the good news for motorists is that <strong>MAHLE is e&#8209;fuel ready</strong>.
      '
    },
    md_content: {
      text_block: {
        text: 'Learn more about <br/> MAHLE e&#8209;fuels?',
        text_2: 'Reading time 2 minutes',
      },
      modal_link:{
        text: 'Read more'
      }
    }
  }
}

combo_section_q: {
  mode: 'combo-section--q combo-section--full-pb js-austria-scene-q',
  left_col_mode: 'col-7 col-md-11 col-sm-12 col-md-push-1 col-sm-push-0',
  right_col_mode: 'col-5 col-md-8 col-sm-12',
  article_mode: 'combo-article--q',
  content: {
    left_side:{
      number: '3',
    },
    right_side:{
      head_1: 'Standing ready',
      head_2: '
      MAHLE’s tests have shown that e&#8209;fuels are a powerful Complement to e&#8209;mobility and another milestone on the road toward environmentally friendly mobility for all.
      ',
      text_1: '
      But it will be some time yet before motorists can buy these new fuels at the pump. That is because there are many issues to take into account, including profitability considerations, investments in production facilities, the regulation of fuel standards, and legislation regarding <span class="no-wrap">CO<sub>2</sub></span>. Until then, MAHLE is focusing on its strengths: using its expertise, engineering skill, perseverance, and patience to continuously optimize ist products. MAHLE has demonstrated that, thanks to e&#8209;fuels, there is potential for further optimization of the combustion engine and therefore for further reductions in <span class="no-wrap">CO<sub>2</sub></span> emissions from road transport. It’s high time this potential is leveraged! As in many cases before, MAHLE has shown the way forward. Now it’s time for others to get involved.
      '
    },
  }
}

teaser: {
  head:{
    title: '
    MAHLE remains convinced of the potential offered by the combustion engine and will continue to exploit this potential in the future too.
    ',
    sub_title: 'MORE STORIES'
  },
  slider: [
    {
      url: 'from-proven-to-improved-technology',
      img: 'teaser/powertrain.jpg',
      alt: 'From proven to improved technology',
      title: 'From proven to improved technology',
      text: 'How MAHLE is seizing the chance to apply tried-and-tested technology to a new drive.'
    },
    {
      url: 'from-industry-4-0-to-mahle-4-0',
      img: 'teaser/austria.jpg',
      alt: 'From industry 4.0 to MAHLE 4.0',
      title: 'From industry 4.0 to MAHLE 4.0',
      text: 'How MAHLE is turning digitalization to its advantage – and what chances this opens up for employees and customers.'
    },
    {
      url: 'digital-workshops-for-different-forms-of-mobility',
      img: 'teaser/italy.jpg',
      alt: 'Digital workshops for different forms of mobility',
      title: 'Digital workshops for different forms of mobility',
      text: 'The new world of mobility is diverse – and can pose a challenge when it comes to maintenance and repair. MAHLE’s first-class service equipment gives automobile garages the chance to operate more efficiently than ever.'
    },
    {
      url: 'electric-driving-for-everyone',
      img: 'teaser/india.jpg',
      alt: 'Electric driving for everyone',
      title: 'Electric driving for everyone',
      text: 'Different countries, different perspectives, new chances. MAHLE is paving the way for the electrification of the most popular means of transportation in India: two- and three-wheelers.'
    },
    {
      url: 'no-action-without-change',
      img: 'teaser/interview.jpg',
      alt: 'No action without change',
      title: 'No action without change',
      text: 'Dr. Jörg Stratmann and Nathalie Cyrys discuss change, innovation, chances and the future.'
    },

  ]
}

---

{% import "data/"+lang+"/header.html" as header %}
{% import "data/"+lang+"/menu.html" as menu %}
{% import "data/"+lang+"/footer.html" as footer %}
{% import "data/"+lang+"/cookie.html" as cookie %}
{% import "data/"+lang+"/banner.html" as banner %}

{% extends "layouts/_layout.html" %}

{% block content %}


{% include "page-templates/_story-e-fuel.html" %}


{% endblock %}

{% block modals %}
{% include "modals/_e-fuel-story-modal.html" %}
{% endblock %}
