.icon-arrow-down {
  width: 0.73em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-burger {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close-modal {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close-small {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cookie-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cta {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-download {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-marker-number {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-quote {
  width: 1.05em;
  height: 1em;
  fill: none;
}
.icon-slider-cool {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-slider-hand {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-slider-leaves {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-slider-lightning {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-slider-magnifier {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-slider-mechanism {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-slider-roller {
  width: 1em;
  height: 1em;
  fill: initial;
}
